.content_padding_setting_class_detail{
    padding: 39px 106px 20px 106px;
}
.content_setting_second_class_detail {
    width: 45%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    position: relative;
}
.classes1_class_detail{
    background: #7e0063;
    color: white;
    margin: 18px 0 0 0!important;
    padding: 8px 5px;
    text-align:center;
    font-size:28px;
    position: ABSOLUTE;
    width: 100%;;
    float: right;
    right: 0px;
}
.div_setting_second1 {
    padding-left: 5%;
}
.span_size_class_detail {
    font-size: 21px;
}
.span_size_class_detail div{
    display: inline-block;
    vertical-align: top;
}
.div_setting_second1 .content_setting{
    padding-top: 4%;
}
@media only screen and (max-width: 1140px) and (min-width: 765px){
.div_setting_second1 .content_setting{
    padding-top: 3%;
}
.content_setting2_inline {
    padding-top: 4% !important;
}
.top_content .total_review p:first-child {
    font-size: 25px;
}
.p_setting {
    font-size: 16px !important;
}
}
