/*for blue border*/
.toggle, .switch-green:focus{
    outline: none;
    border: none;
}
/*end*/
.content_set{
    padding: 39px 106px 20px 106px;
    height:auto;

}
.image_setting{
    height:auto;
    margin:0 auto;
    text-align:center;
    width:100%;
}
.image_setting1 {
    height: 100%;
    display: inline-block;
    text-align: center;
    width: 54%;
}
.image_setting2{
    height:auto;
    text-align:center;
    width:100%;
}
.text_design{
    text-decoration:underline;
}
.heading_set{
    padding:0px 12px 5px 0;
    color:black;
}

.content_setting{
    width:100%;
    padding-top:3px;
    clear:both;
}
.content_setting2{
    width:100%;
    padding-top:15px;
    clear:both;
}
.content_setting3{
    width:100%;
    padding-top:15px;
    clear:both;
}
.content_setting1{
    width:100%;
    padding-top:8px;
    clear:both;
}
.body_setting{
    height:auto;
    width:100%;
    clear:both;
}
.div_setting{
    width:208px;
    float:left;
    border:1px solid black;
    padding:3px;
    background:white;
}
.blog_image{
    width:50%;
    float:left;
}
.div_setting1{
    width:100%;
    height: 100%;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    padding:9px 20px 9px 9px;
    background:white;
}
.content_setting_second{
    width:80%;
    float:left;
}
.blog_detail{
    width:48%;
    float:right;
}
.content_setting_second1{
    width: 418px;
    float:right;
    padding: 0px 45px 0 0;
}
.div_setting_second{
    padding-left:50px;
    /*width:625px;*/
    text-align:left;
}
.middle_section{
    height:auto;

}
.title_set{
    float:left;
    margin-bottom: 0px !important;
    font-size: 29px;

}
.viewall_set{
    float:right;
}
.head_set{
    display:inline-block;
    font-size:16px;
    color: #808080;
    font-family: 'Gotham Rounded Book';

}
.imagesection{
    width: 100%;
    margin: 0 auto;

}
.imagesections{
    width: 100%;
    margin: 0 20px;

}
.mid_content{
    height:auto;
}
.box_Setting1{
    width:31%;
    margin-right:3%;
    height:auto;
    background-color:white;
    padding:6px 12px;
    float:left;
    margin-top: 25px;
}
.box_Setting2{
    width:31%;
    margin-right:3%;
    height:auto;
    background-color:white;
    padding:6px 12px;
    float:left;
    margin-top: 25px;
}
.box_Setting4{
    width:31%;
    margin-right:3%;
    height:auto;
    background-color:white;
    padding:6px 12px;
    float:left;
    margin-top: 25px;
}
.box_Setting5{
    width:31%;
    margin-right:3%;
    height:auto;
    background-color:white;
    padding:6px 12px;
    float:left;
    margin-top: 25px;
}
.images_setting{
    height:174px;
    width:100%;
    padding:4px 0;
}

.box_Setting3{
    width:31%;
    height:auto;
    background-color:white;
    padding:7px 12px;
    float:left;
    margin-top: 25px;
    margin-right:0px;
}
.box_Setting6{
    width:31%;
    height:auto;
    background-color:white;
    padding:7px 12px;
    float:left;
    margin-top: 25px;
    margin-right:0px;
}
.para_set{
    padding: 5px 0;
}
.texting{
    font-size:12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.buttonstar_set{
    float:left;width:48%;font-size:12px !important;padding: 3px 0;
}
.buttonstar{
    float:right;
    width:48%;
    text-align: right;
    min-width: 168px;
}
.texting{
    font-size:12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.calendar_summary
{
    font-size: 18px;
    max-height: 81px;
    overflow-y: auto;
    padding-top: 4px;
    word-wrap: break-word;
    color: #dcdcdc;
}
.total_review{
    height:auto;
    width:100%;
    margin-bottom: 15px;
    text-align:left;
    padding-left: 0px;
}
.review_detail{
    height:auto;
    width:100%;
    margin:5px 0px;
}
.profile_set1{
    width: 90px;
    float:left;
}
.profile_set{
    width: 90px;
    float:left;
    margin-right:10px;
}
.profile_setting{
    width:80px;
    height:80px;
}
.profile_detail{
    width:calc( 100% - 100px);
    float:left;
    text-align:left;
}
.name_set{
    font-size:18px;
    color:#fcb040;
    font-weight:600;
    margin-bottom:7px;
}
.time_detail{
    font-size:16px;
    font-weight:600;
    margin-bottom:6px;
}
.time_detail1{
    font-size:15px;
    font-weight:600;
    margin-bottom:7px;
}
.right_view{
    width:58%;
    float:left
}
.spacing_set{
    width:80%;
}
.text_style{
    width:69%;
    float:left;
}
.text_style_set{
    width:69%;
    float:left;
}
.li_set{
    width:30%;
    float:left;
    padding: 15px 0;
    font-size: 21px;
    text-align: left;
}
.li_set_btn{
    width:30%;
    float:left;
    padding: 15px 0;
    font-size: 21px;
    text-align: left;
}
.li_setting{
    width:25%;
    float:left;
    padding: 15px 0;
    font-size: 21px;
    text-align: left;
}
.icon_set{
    width:5%;
    float:left;
    height: 40px !important;
    background-position: -274px 9px;
}
.btn_set{
    float: right;
    width: 17%;
}
.icon_setting{
    width:5%;
    float:left;
    height: 40px !important;
    background-position:-268px -111px;
}
.profile_info{
    text-align:left;
    width:80%;
    padding-bottom:30px;
}
.box_set{
    background:#f3f3f3;
    padding: 52px 65px 0px 68px;
}
.form_div_set{
    height:55px;
}
.image_wrap{
    width:33%;
    margin:0px;
}
.button_padding{
    padding: 10px 38px;

}
.p_setting{
    font-size:18px !important;
}
.text_float{
    text-align: left;
    padding: 20px 0px;
}
.document_set{
    padding:10px 0 20px 0;
}
.tooltip {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    border: 1px solid #fcb040;
    float: right;
    top: -97px;
    left:0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 2%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #fcb040 transparent transparent transparent;
}
.review_detail .left_view{
    display: inline-block;
    width: 325px;
    float: none;
}
.review_detail .left_view .time_detail, .review_detail .left_view .time_detail1{
    font-weight: 400;
}
.review_detail .right_view{
    width: calc(100% - 330px);
    display: inline-block;
    float: none;
    vertical-align: top;
}
.top_content .total_review p:first-child{
    font-size: 30px;
}
table {
    background:rgba(255,255,255,0.6);
    border-collapse: collapse;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 100%;
}
.calender12
{
    background:rgba(255,255,255,0.6);
    border-collapse: collapse;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 100%;
}
.cells{
    float: left;
    padding: 10px 0 0 10px;
    height: 122px;
    width: 14.28%;
    display: inline-block;
    text-align: left;
    background: rgba(255,255,255,0.6);
    margin: 0;
    border: 2px solid rgba(204, 204, 204, 0.22) !important;
    vertical-align: top;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    position:relative;
}
.cells1{
    text-align: center;
    font-size: 19px;
    height: 54px;
    display: inline-block;
    width: 14.28%;
    float: left;
    padding: 17px 0;
    background: #ddd;
    font-family: 'PT Sans', sans-serif;
    color: #9c92a3;
    border-bottom: 2px solid #fcb040!important;
    background: #ddd;
}
thead {
    border-color: #ddd;
}
td {
    border: 3px solid rgba(204, 204, 204, 0.22) !important;
    color: black;
    line-height: 22px;
    width: 14.28%;
}
th {
    border-bottom: 2px solid #fcb040!important;
    border-top:0px !important;
    color: #9c92a3;
    line-height: 22px;
    text-align: center !important;
    width: 14.28%;
    vertical-align: middle;
}
tr:first-child td {
    color: #222;
    font-weight: 700;
}
.selected {
    background:rgba(252, 176, 64, 0.39);
    border: 0;
    color:white;
    position:relative;
}
.selected1 {
    color: #fcb040;
    border: 0;
    border-bottom: 6px solid #fcb040!important;
}
.clander_header {
    background-color: rgb(239, 91, 78);
    height: 50px;
    width: 31%;
    margin: 0 auto;
    border: 1px solid rgb(239, 91, 78);

    border-radius: 64px;
}
.btn_class_set {
    float: left;
    width:12%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.btn_class_set1 {
    float: right;
    width:12%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.tr_set{
    text-align:center;
    font-size:18px;
    height: 122px;
}
.tr_set1 {
    text-align: center;
    font-size: 19px;
    height: 14px;

    background: #ddd;
}
.today {
     background:#E3F2FF;
 }

.different-month {
     color:#C0C0C0;
 }


.writereview{
    height:auto;
    width:100%;
    margin-top:45px;
}
.write_review_image{
    width:12%;
    float:left;
    text-align:center;
}
.write_a_review{
    width:88%;
    float:left;

}
.name_setting{
    font-size: 18px;
    color: #fcb040;
    font-weight: 600;
    text-align: left;
}
.textarea_Set{
    border: 1px solid #ddd; !important;
    background-color:#F4F4F4;
    resize:none;
    height:auto;
}
.btnn{
    margin:0 !important;
    float:right !important;
}
.img_width{
    width: 100%;
    height:100%;
}
.detail_class{
    font-size:15px ;
}
.span_size{
    font-size: 21px;
}
.span_size3{
    font-size: 17px;
}
.sm-btn {
    font-size: 14px;
    min-width: 86px;
    padding: 4px 10px 4px;
    margin-bottom: 12px !important;
}
.calender_width{
    width:100%;
    background: rgba(255,255,255,0.2);
    padding:11px 0;
}
.not_selected{
    color:#ccc;
}
.calender-wrap1 {
    background: url(../images/cal-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    padding:30px 20px 54px 20px;

}
.create_class-button{
    width: 32%;
    border-radius: 7px;
    font-size: 29px;
    color: #ffffff;
    font-family: 'Gotham Rounded Book';
    background-color: #fcb040;
    display: inline-block;
    padding: 9px;
}
.images_setting1 {
    height: 100%;
    width: 35%;
    padding: 4px 0;
    float: left;
}
.class_title {
    float: right;
    padding: 4px 8px 10px 6px;
    width: 63%;
    cursor: default;
    position: relative;
}
.box_Setting11{
    width:31.83%;
    margin-right:1.5%;
    max-height:172px;
    background-color:white;
    padding:6px 3px 6px 9px;
    float:left;
    margin-top: 25px;
    border: 0;
    border-radius: 10px;
    /*box-shadow: 0px 0px 12px 2px #c6ccd2;*/
    box-shadow:0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    height:172px;
    text-transform: capitalize;
}
.box_Setting21{
    width:32%;
    margin-right:1.5%;
    max-height: 172px;
    background-color:white;
    padding:6px 3px 6px 9px;
    float:left;
    margin-top: 25px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
    height:172px;
}
.box_Setting41{
    width:32%;
    margin-right:1.5%;
    max-height: 172px;
    background-color:white;
    padding:6px 3px 6px 9px;
    float:left;
    margin-top: 25px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
    height:172px;
}
.box_Setting51{
    width:32%;
    margin-right:1.5%;
    max-height: 172px;
    background-color:white;
    padding:6px 3px 6px 9px;
    float:left;
    margin-top: 25px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
    height:172px;
}
.box_Setting31{
    width:32%;
    max-height: 172px;
    background-color:white;
    padding:6px 3px 6px 9px;
    float:left;
    margin-top: 25px;
    margin-right:0px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
    height:172px;
}
.box_Setting61{
    width:32%;
    max-height: 172px;
    background-color:white;
    padding:6px 3px 6px 9px;
    float:left;
    margin-top: 25px;
    margin-right:0px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
    height:172px;
}
.texting1 {
    font-size: 15px !important;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 2px;
}
.btn_width_Set{
    margin:0 !important;
    width: 111px;
}
.btn_edit_set{
    margin:0 !important;
    width:inherit;
}
.texting2 {
    font-size: 15px !important;
    font-weight:800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 2px;
}
.classes{
    background: #669934;
    color: white;
    margin: 18px 0 0 0!important;
    padding: 8px 5px;
    text-align:center;
    font-size:28px;
    position: ABSOLUTE;
    width: 100%;
    float: right;
    right: 0px;
}
.font_weight{
    font-size:32px;
    font-weight:800;
}
.classes1{
    background: #7e0063;
    color: white;
    margin: 18px 0 0 0!important;
    padding: 8px 5px;
    text-align:center;
    font-size:28px;
    position: ABSOLUTE;
    width: 100%;;
    float: right;
    right: 0px;
    cursor: pointer;
}
.classes2{
    background:#00b4cb;
    color: white;
    margin: 18px 0 0 0!important;
    padding: 8px 5px;
    text-align:center;
    font-size:28px;
    position: ABSOLUTE;
    width: 100%;
    float: right;
    right: 0px;
}
.calender_hover{
    background-color: #fcb040;
    height: auto;
    width: 415px;
    max-height: 382px;
    position: absolute;
    z-index: 1;
    float: right;
    top: 0px;
    right: -412px;
    padding: 21px 17px 4px;
    border: 0;
    border-radius: 19px;
    box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);
    display: block;
    overflow-y: auto;
    text-transform: capitalize;

}

.calendar_triangle
{
    content: "";
    position: absolute;
    top: 60px;
    right: -13px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent #fcb040 transparent transparent;
    z-index: 1;
}
.calender_hover_right {
    background-color: #fcb040;
    height: auto;
    max-height: 382px;
    width: 415px;
    position: absolute;
    z-index: 1;
    float: left;
    top: 0px;
    left: -413px;
    padding: 21px 17px 4px;
    border: 0;
    border-radius: 19px;
    box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);
    display: block;
    overflow: hidden;
    text-transform: capitalize;
    overflow-y: auto;
}
.calendar_triangle_right {
    content: "";
    position: absolute;
    top: 60px;
    left: -13px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent transparent #fcb040;
    z-index: 1;
}
.class1{

    width: 100%;
    height: auto;
    background-color: white;
    padding: 6px 12px;
    float: left;
    margin-top: 2px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px #c6ccd2;
}
.class2{
    width:100%;
    height:auto;
    background-color:white;
    padding:6px 12px;
    float:left;
    margin-top: px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px #c6ccd2;
    margin-bottom: 15px;
}
.class3{
    width:100%;
    height:auto;
    background-color:white;
    padding:6px 12px;
    float:left;
    margin-top: 2px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px #c6ccd2;
}
.hover_image{
    height: 135px;
    width: 120px;
    padding: 4px 0;
    float: left;
}
.hover_class_title{
    width: 64%;
    float: left;
    padding: 2px 0 2px 15px;
}
/*.calender_hover {*/
    /*display:block;*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 28%;*/
    /*right: 100%;*/

    /*border-width: 13px;*/
    /*border-style: solid;*/
    /*border-color: transparent #fcb040 transparent transparent;*/
/*}*/


.btn_width_Setting{
    margin:0 !important;
    width: 105px;
}
.btn_edit_setting{
    margin:0 !important;
    width:inherit;
}
.edithover{
    background-color: rgba(36, 170, 152, 0.88);
    height: auto;
    width: 217px;
    position: absolute;
    z-index: 1;
    float: right;
    top: 164px;
    left: -22px;
    padding: 10px 11px 2px;
    border: 0;
    border-radius: 19px;
    box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);
    display: block;

}
.edithoverOne{
    /*background-color: rgba(36, 170, 152, 0.88);*/
    /*height: auto;*/
    /*width: 217px;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*float: right;*/
    /*top: 164px;*/
    /*left: -22px;*/
    /*padding: 10px 11px 2px;*/
    /*border: 0;*/
    /*border-radius: 19px;*/
    /*box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);*/
    /*display: block;*/

    background-color: rgb(50, 50, 50);
    height: 82px;
    width: 207px;
    position: absolute;
    z-index: 1;
    float: right;
    top: 164px;
    left: 6px;
    padding: 4px 1px -2px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);
    display: block;
}
.search-box .ui-menu .ui-menu-item{
    border-bottom:1px solid #ddd;
    padding: 0px;
    list-style-image:none;
}
.search-box .ui-menu .ui-menu-item-wrapper{
    padding: 10px 7px;
}
.edithover_calendar{
    background-color: rgba(36, 170, 152, 0.82);
    height: auto;
    width: 212px;
    position: absolute;
    z-index: 1;
    float: right;
    top: -18px;
    left: 126px;
    padding: 10px 11px 2px;
    border: 0;
    border-radius: 19px;
    box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);
    display: block;

}
.search-text_set{
    width:100%;
    border: none;
    /*border-radius: 12px;*/
    /*padding: 2px 12px;*/
    padding: 5px 12px;
    position:relative;
    border: 2px solid #bcbcbc;
}
.search-btn_set{
    position: absolute;
    float: right;
    z-index: 1;
    top: 22%;
    right: 3%;
    width: 40px !important;
    min-width: 0px !important;
    padding: 0px 12px !important;
    border: none;
    background: transparent;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.close_set{
    float: right;
}
.edithover::after {
    content: "";
    position: absolute;
    top: -15%;
    right: 80%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(36, 170, 152, 0.82) transparent;
}

.edithoverOne::after {
    content: "";
    position: absolute;
    /*top: -15%;*/
    top: -25%;
    right: 80%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(50, 50, 50)transparent;
}
.edithover_calendar::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 79%;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(36, 170, 152, 0.82) transparent transparent transparent;
}

/*.btn_edit_set:hover .edithover{*/
    /*display:block;*/
/*}*/
.radio_icon{
    margin: 10px 0;
    height: 43px;
}
.form_setting{
    height:auto;
    background-color:white;
    margin:70px 0;

}
.content_padding_setting{
    padding:39px 146px 20px 146px;
}
.learn_wrap_set{width:100%;}
.learn_wrap_set h1{margin: 5px 0 20px;color:#808080;}
.learn_wrap_set p{font-size: 18px;width: 86%;}
.width_set{
    width:48%;
}
.width_25{
    width: 18%;
    padding: 16px 0;
}
.width_75{
    width: 81%;
}
.width_40{
    width: 24%;

}
.width_401{
    width: 30%;

}
.width_60{
    width: 70%;
}
.width_601{
    width: 70%;
}

.mt-15{
    margin-top:15px;
}
.resize_text{
    resize:none;
}
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 14px;
    width: 50%;
    top: 84%;
    max-width: 518px;
    background: #ccc;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 34px 13px 3px #ccc;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 14px;
    left: auto;
}
.location_map{
    font-size: 46px;
    height: 66px;
    width: 66px;
    background-color: #fcb040;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 11px;
    text-align: center;
}
.message_map{
    font-size: 36px;
    height: 66px;
    width: 66px;
    background-color: #fcb040;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 13px;
    text-align: center;
}
.mail_font_size{
    font-size:19px;
}
.form-padding{
    padding:20px 29px !important;
}
.read-more-state {
    display: none;
}
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
    content: 'Read More';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read Less';
}

.read-more-trigger {
    cursor: pointer;
    display:block;
    text-align: left;
    font-size: 14px;
    text-transform: none;
    color: #fcb040;
    text-decoration: underline;
    padding: 0;

}
.blog_head{
    width: 100%;
    text-align: left;
    float: left;
    font-size:32px;
}
.blog1{
    width: 363px;
    margin-right:15px;
    height:auto;
    padding:6px 12px;
    float:left;
    margin-top: 25px;
}
.blog2{
    width: 363px;
    margin-right:15px;
    height:auto;

    padding:6px 12px;
    float:left;
    margin-top: 25px;
}
/*.blog4{
	width: 363px;
	margin-right:3%;
	height:auto;

	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.blog5{
	width: 363px;
	margin-right:3%;
	height:auto;

	padding:6px 12px;
	float:left;
	margin-top: 25px;
}*/

.blog3{
    width: 363px;
    height:auto;

    padding:7px 12px;
    float:left;
    margin-top: 25px;
    margin-right:0px;
}
/*.blog6{
	width: 363px;
	height:auto;

	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
}*/
.left_scroll{
    background: rgba(0, 0, 0, 0.37);
    color: white;
    width: 44px;
    height: 44px;
    padding: 14px;
    text-align: center;
}
.left_scroll_position{
    position: absolute;
    z-index: 1;
    float: left;
    top: 141px;
    left: 0px;
}
.right_scroll_position{
    position: absolute;
    z-index: 1;
    float: right;
    top: 141px;
    right: 0px;
}
.left_scroll_position1{
    position: absolute;
    z-index: 1;
    float: left;
    bottom: 223px;
    left: 0px;
}
.right_scroll_position1{
    position: absolute;
    z-index: 1;
    float: right;
    bottom: 223px;
    right: 0px;
}
.overflow_div{
    height:auto;
    margin-top: 25px;
    width:200%;
    overflow-x: hidden;
}
.sm-btn1 {
    font-size: 21px;
    min-width: 86px;
    padding: 4px 10px 4px;
    margin-bottom: 12px !important;
}
.fb_btn{
    padding: 4px 9px;
    width: 42px;
    margin-right: 12px;
}
.fb_btn1{
    padding: 4px;
    width: 42px;
    margin-right: 12px;
}
.onoff_btn{
    width:69%;
    text-align:left;
    vertical-align:middle;
    padding: 15px 0;
    float:left;
}
.noti_line{
    width: 70%;
    float: none;
    display: inline-block;
    padding: 8px 0;
    font-size: 17px;
    text-align: left;
}
.noti_onoff_btn{
    width: 27%;
    text-align: right;
    vertical-align: middle;
    padding: 8px 0;
    display: inline-block;
    float: none;
}
.div_set_center1{
    width: 100%;
    height: auto;
}
.star_float{
    float:right !important;
}
.star{
    float:left;
    margin: 7px 0;
    font-size: 16px;
}
.texting_inline{
    font-size: 13px !important;
    position: relative;
    top: 22px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.texting_inline_top{
    top:3px;
}
.box_Setting1_width{
    width:31.83%;
    margin-right:1.5%;
}
.content_set_style{
    background: #f3f3f3;
    margin-top: 10px;
}
.buttonstar_set_width{
    width: 50% !important;
    padding:11px 0px !important;
}
.close_icon{

    text-align: right;
    color: rgba(94, 94, 94, 0.52);
    font-size: 18px;
}
.toggle, .switch-green:focus{
    outline: none;
    border: none;
}
.close_icon:hover{
    color:rgba(213, 11, 11, 0.95);
    font-size: 20px;
}
.crdtn_file{
    font-size: 18px;
    color: rgba(94, 94, 94, 0.52);
}
.crdtn_file:hover{
    text-decoration:underline;
    color: rgba(94, 94, 94, 4.52);
}
.head-title-tag{
    font-size: 22px;
    background-color: #24aa98;
    color: #ffffff;
    font-family: 'Gotham Rounded';
    font-weight: 300;
    position: relative;

    margin-bottom: 0;
    padding: 9px 0 10px 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 4px 4px 0px rgba(136, 136, 136, 0.66);
}
.head-title-tag a {
    position: absolute;
    width: 37px;
    height: 22px;
    display: block;
    right: 5px;
    top: 8px;
    color: white;
}
.form-cont-wrappers{
    padding: 14px 20px 5px;
    background: #f3f3f3;
    /*border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}
.form-cont-wrappers p{
    font-size: 13px;
    line-height: 1.5;
    color: black;
    font-family: 'Gotham Rounded Book';
    text-align: left;
    text-decoration: underline;
}
.p_weight{
    font-weight:800;
    font-size:14px;
}
.login-block-tag{
    /*max-width: 695px;*/
    /*width: 100%;*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*float: right;*/
    /*left: right;*/
    /*top: 24px;*/
    /*right: 260px;*/
    margin: 20px auto;
    width: 695px;
    overflow-y: auto;
    max-height: 656px;
    min-height: 0px;
    height:100%;
}
.width_100{
    width:100%;
}
.mt-3{
    margin-top:3px;
}
.mb-3{
    margin-bottom: 3px;
}
.pt-16{
    padding-top: 18px;
}
.pd-7{
    padding:0;;
}
.mt-5{
    margin-top:5px;
}
.label_set{
    font-size: 16px;
    font-family: 'Gotham Rounded';
    text-transform: capitalize;
    color: #808080;
    /*font-style: italic;*/
}
.file-upload-button-tag{
    background: #fcb040 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    color: #ffffff;
    font-size: 15px;
    height: 36px;
    margin: 5px auto;
    padding: 8px 0;
    width: 118px;
    font-weight: 800;
}
.div_height{
    height:49px;
    border-top:2px solid rgba(198, 204, 210, 0.5);
    background: #f3f3f3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-float{
    float:right;
    font-family: "Gotham Rounded Book";
}
.file-upload-button-tags{
    background: #fcb040 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    color: #ffffff;
    font-size: 15px;
    height: 36px;
    margin: 5px 20px;
    padding: 8px 0;
    width: 118px;
    font-weight: 800;
    float:right;
}
.file-upload-button-tags1{
    background: rgba(128, 128, 128, 0.67) none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    color: #ffffff;
    font-size: 15px;
    height: 36px;
    margin: 15px 13px 15px 0;
    padding: 8px 0;
    width: 118px;
    font-weight: 800;
    float:right;
}
.file-upload-button-tags2{
    background: #fcb040 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    color: #ffffff;
    font-size: 15px;
    height: 36px;
    margin: 15px 13px 15px 0;
    padding: 8px 0;
    width: 118px;
    font-weight: 800;
    float:right;
}
.login-block-tags{
    max-width: 517px;
    width: 100%;
    max-height: 638px;
    min-height: 0px;
    overflow-y: auto;
    height: 100%;
}
.width_65{
    width:65%;
}
.pd-21{padding-top: 21px;}
.week_tag{
    color: rgba(94, 94, 94, 0.52) !important;
    font-family: 'Cabin', sans-serif;
    padding: 0;
    display: inline-block;
    text-transform: capitalize;
}
.checkbox_tag{
    width:16px;
    margin-right:11px;
}
.width_30{
    width:30%;
    margin-right:20px;
    padding:21px 0;
}
.width_64{
    width:64%;
}
.width_sett{
    width:56%;
}
.width_35{
    width:35%;
}
.h5_tag{
    margin-top: 21px;
    font-size: 16px;
    color: rgba(94, 94, 94, 0.52);
    text-transform: capitalize;
}
.h5_tags{
    font-size: 16px;
    color: rgba(94, 94, 94, 0.52);
    text-transform: capitalize;
}
.width_30-tag{
    width:30%;
}
.ptb-16{
    padding:16px 0;
}
.mg-tp-21{
    margin-top: 21px;
}
.text_tag{
    font-size: 16px !important;
    text-transform: capitalize;
    color: #a6a6a6 !important;
    font-weight: 600;
    font-family: 'Gotham Rounded' !important;
    color: rgba(94, 94, 94, 0.52);
}
.pd-0{
    padding:0;
}
.border_radius_tag{    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.login-block-tags1 {
    max-width: 300px;
    width: 100%;
}
.head-title-tag1 {
    font-size: 18px;
    background-color: #24aa98;
    color: #ffffff;
    font-family: 'Gotham Rounded';
    font-weight: 300;
    position: relative;
    margin-bottom: 0;
    padding: 6px 0 10px 0;
    height: 35px;
    transition: height .45s;
    transition-timing-function: ease-out;

}
.head-title-tag1:hover{
    background-color:rgb(12, 191, 166);
    height: 40px;
    padding:10px;
}
.arrow_tag_left{position: absolute;
    width: 37px;
    height: 22px;
    display: block;
    left: 10px;
    top: 8px;
    color: white;
    font-size:15px;
}
.arrow_tag_right{position: absolute;
    width: 37px;
    height: 22px;
    display: block;
    right: 0px;
    top: 8px;
    color: white;
    font-size:15px;
}
.i_hover{
    font-size:15px;
    transition: height .45s;
    transition-timing-function: ease-out;
}
.selects{
    color:white;
    background-color:#24aa98;
}
.i_hover:hover{
    font-size:19px;
    color:rgba(198, 204, 210, 0.91);
    padding: 3px 0;
}
.tab-row {
    float: left;
    width: 100%;
    background:#f6f6f6;
    color:rgba(0, 0, 0, 0.57);
}

.cell {
    float: left;
    padding: 14px;
    width: 14.28%;
}
.cell:hover{
    background:#24aa98;
}
.unvalid{
    color:#b4bbc2;
    pointer-events:none;
}
.border_radius_tag{    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;}

.login-block-tags1 {
    max-width: 300px;
    width: 100%;
    position: absolute;
    box-shadow: 0px 3px 26px 3px #c6ccd2;
    border: 0;
    border-radius: 5px;
    bottom:10px;
    z-index: 99;
}
.head-title-tag1 {
    font-size: 18px;
    background-color: #24aa98;
    color: #ffffff;
    font-family: 'Gotham Rounded';
    font-weight: 300;
    position: relative;
    margin-bottom: 0;
    padding: 6px 0 10px 0;
    height: 35px;
    transition: height .45s;
    transition-timing-function: ease-out;

}

.head-title-tag1:hover{
    background-color:rgb(12, 191, 166);
    height: 40px;
    padding:10px;
}
.arrow_tag_left{position: absolute;
    width: 37px;
    height: 22px;
    display: block;
    left: 10px;
    top: 8px;
    color: white;
    font-size:15px;
}
.arrow_tag_right{position: absolute;
    width: 37px;
    height: 22px;
    display: block;
    right: 0px;
    top: 8px;
    color: white;
    font-size:15px;
}
.i_hover{
    font-size:15px;
    transition: height .45s;
    transition-timing-function: ease-out;
}
.selects{
    color:white;
    background-color:#24aa98;
}
.i_hover:hover{
    font-size:19px;
    color:rgba(198, 204, 210, 0.91);
    padding: 3px 0;
}
.pwd_section{
    background-color:white;
    margin:9% auto 9%;
    text-align:center;
    max-width:500px;
    min-width:500px;
    border:none;
    border-radius:6px;
    height:auto;
    padding:15px;
}
.pwd_heading{
    color: #fcb040;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    padding: 4px 0 10px;
    border-bottom: 2px solid rgba(252, 176, 64, 0.47);
}
.label_setting {
    font-size: 14px;
    font-family: 'Gotham Rounded';
    text-transform: capitalize;
    color: #383737;
    font-style: italic;
}
.continue_button{
    background: #fcb040;
    border-radius: 5px;
    bottom: 0;
    color: #ffffff;
    font-size: 15px;
    height: 36px;
    margin: 15px 0px 0px 8px;
    padding: 8px 0;
    width: 118px;
    font-weight: 800;
    float: right;
    border-color: #fcb040;
}
.cancel_button{
    background: #ffffff;
    border-radius: 5px;
    bottom: 0;
    color: #fcb040;
    font-size: 15px;
    height: 36px;
    margin: 15px 0px 0px 8px;
    padding: 8px 0;
    width: 118px;
    font-weight: 800;
    float: right;
    border-color: #fcb040;
}
.pwd_logo{
    float: left;
    margin-right:10 px;
}
.width_30_tag{
    width:30%;
    margin-right:20px;
    padding:21px 0;
}
.width_30_tag_set{
    width:30%;
    margin-right:20px;
    padding:21px 0;
}
.width_65_tag{
    width:65%;
}
.pwd_div_height{
    height:55px;
    border-top:1.5px solid rgba(198, 204, 210, 0.5);
    text-tranform:capitalize;
}
.select_section{
    width: 52%;
    float: left;
    margin-top: 18px;
}
.getRepeatShadow{
    bottom:13px;
}
.category_set{
    font-family: 'Gotham Rounded Book';
    color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.search-list{
    background-color:white;
    color:black;
    font-size:18px;
    height:auto;
    position:absolute;
    z-index: 1;
    height: 100%;
    min-height: 130px;
    overflow-y: auto;
    top: 48px;
    left: 246px;
    width: 280px;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 4px 9px 2px #c6ccd2;
}
.search-list>ul{
    width:100%;
}
.mg-0{
    margin-bottom: 0 !important;
}
.search-list>ul>li{
    width: 100%;
    padding: 8px 17px;
    text-align: left;
    background: white;
    color: #929292;
}
.search-list>ul>li:hover{
    background:black;
    color:white;
}
.active{
    background:black;
    color:white;
}
.chat_box:focus{
    border: 1px solid #cccccc;
}