.custom-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    height: auto;
    width:31.75%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-select.small {
    width: 104px;
}
.custom-select.medium {
    width: 164px;
}
.custom-select.large {
    width: 300px;
}
.custom-select.xlarge {
    width: 380px;
}
.custom-select > select {
    display: none !important;
}
.custom-select > a.dropdown-toggle {
    border-radius: 4px;
    line-height: 28px;
    box-shadow: none;
    background: #ffffff;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 8px;
    border: 2px solid #bcbcbc;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #888;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 43px;
}
.custom-select > a.dropdown-toggle.disabled,
.custom-select > a.dropdown-toggle.disabled:hover {
    cursor: not-allowed;
    color: #aaa;
    background: #eee;
}
.custom-select > a.dropdown-toggle:hover,
.custom-select.open > a.dropdown-toggle {
    color: #333;
}
.custom-select.open > a.dropdown-toggle {
    border-bottom: 0;
    line-height: 29px;
}
.control-group.error .custom-select > a.dropdown-toggle {
    border-color: #f09784;
    color: #d68273;
}
.custom-select > a.dropdown-toggle > span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 1px solid #fdd18f;
}
.custom-select > a.dropdown-toggle > b {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.custom-select > a.dropdown-toggle > b:before {
    /*content: "\f0d7";*/
    /*display: inline-block;*/
    /*font-family: FontAwesome;*/
    /*font-size: 12px;*/
    /*position: relative;*/
    /*top: -1px;*/
    /*left: 1px;*/
    content: url(../images/arrow-down.png);
    display: inline-block;
    font-family: FontAwesome;
    font-size: 12px;
    position: relative;
    top: 8px;
    left: -9px;
}
.custom-select > a.dropdown-toggle > b:after {
    background: url(../images/arrow-down.png) no-repeat;
    background-position: center center;
    width: 38px;
    height: 32px;
    position: absolute;
    left: 5px;
    top: 5px;
    border-right: 1px solid #fdd18f;
}
.custom-select.open > a.dropdown-toggle > b:before {
    content: "\f0d8";
    color: #fcb040;
    font-size: 20px;
}
.custom-select > .dropdown-menu {
    margin-top: 0;
    border: 1px solid #aaa;
    padding-bottom: 0;
    width: auto;
    min-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 0 4px;
    white-space: nowrap;
}
.custom-select > .dropdown-menu > .custom-select-search > input {
    width: 100%;
    height: 30px;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 20px 4px 5px;
    border-radius: 0;
    display: none;
}
.custom-select > .dropdown-menu > .custom-select-search:after {
    content: "\f002";
    display: inline-block;
    color: #888;
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 10px;
    display: none;
}
.custom-select > .dropdown-menu > ul {
    border-color: #aaa;
    border-top: 0;
    margin: 4px 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;

}
.custom-select > .dropdown-menu > ul > li > a {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: block;
    padding: 3px 8px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    cursor: pointer;
    width: 100%;
}
.custom-select > .dropdown-menu > ul > li > a:hover,
.custom-select > .dropdown-menu > ul > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-repeat: repeat-x;
}
.custom-select > .dropdown-menu > ul > li > a:hover {
    background: #fcb040;
}
.custom-select > .dropdown-menu > ul > li > a:focus {
    background: #fcb040;
}
.custom-select > .dropdown-menu > ul > li.empty-result > em {
    text-align: center;
    padding: 4px 8px;
    display: block;
}
.custom-select > .dropdown-menu > .custom-select-action > button {
    border-radius: 0;
    background-image: none;
}
.custom-select > .dropdown-menu:before {
    border: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dropdown-toggle {
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0;
}
/*a:hover, a:focus {*/
    /*color: #005580;*/
    /*text-decoration: underline;*/
/*}*/

a:hover, a:active {
    outline: 0;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}