@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 1940px) {
  .content_set {
      padding: 39px 50px 20px 50px;
  }
  .head-title {
    font-size: 26px;
  }
  .header_ul_menu{
    margin: 2px 14px 0 -26px;
  }
  .search_box_margin{
    margin-top: 6px;
    margin-left: -5px;
  }
  .header_btn_margin{
    margin-top: 9px;
  }
  .profile_edit_heading{
    margin: 40px 0 40px 0px;
    color: #fcb040;
    position: relative;

  }
  .grid-sm {
    margin: 0 10px 6px 0;
    width: 419px;
  }
  .buttonstar{
    width:52%;
  }
  .buttonstar_ul_li_width{
    width: 48%;
  }
  .buttonstar_ul_li_width a{
    width: 100%;
  }
  .form-cont-wrapper {
    padding: 15px 20px;
  }
  /*.btn_width_Set{
    width:51%;
  }
  .cool-btn-gr
  {
    width:100%;
  }
  .btn_edit_set{
    width:46%;
  }
  .sure-btn-gr
  {
    width:100%;
  }
  .invite_class_et{
    width:46%;
  }*/
}
/*@media only screen and (max-width: 1175px) {
  .btn_width_Set{
    width:51%;
  }
  .cool-btn-gr
  {
    width:100%;
  }
  .btn_edit_set{
    width:46%;
  }
  .sure-btn-gr
  {
    width:100%;
  }
  .invite_class_et{
    width:46%;
  }
}*/
@media only screen and (max-width: 1600px){
  .popup-btn .btn_edit_set{
    width:40% !important;
  }
  .btn_width_Set{
    width: 53% !important;
  }
  .invite_class_et{
    width:40% !important;
  }
}
/*@media only screen and (max-width: 1500px){*/
  /*.btn_width_Set{*/
    /*width:51% !important;*/
  /*}*/
  /*.popup-btn .btn_edit_set{*/
    /*width:46%;*/
  /*}*/

/*}*/
  @media only screen and (max-width: 1175px) {
    .content_set {
        padding: 39px 5px 20px 5px;
    }
    .buttonstar{
      width:48%;
    }
    
    .header_ul_menu{
      margin: 10px 14px 0 -26px;
    }
    .search_box_margin{
      margin-top: 13px;
      margin-left: -5px;
    }
    .btn_width_Set{
      width: 57%;
    }
    .cool-btn-gr
    {
      width:100%;
    }
    .btn_edit_set{
      width:40%;
    }
    .sure-btn-gr
    {
      width:100%;
    }
    .invite_class_et{
      width:46%;
    }
    .profile_pic_div{
      margin-left: 50px;
      width:208px;
    }
  }

  @media only screen and (max-width: 1085px)
  {
    .content_set {
        padding: 39px 5px 20px 30px;
    }
    .box_Setting11{
        width:47.83%;
  }
    .btn_width_Set{
      width:50%;
    }
    .cool-btn-gr
    {
      width:100%;
    }
    .btn_edit_set{
      width:47%;
    }
    .sure-btn-gr
    {
      width:100%;
    }
    .invite_class_et{
      width:47%;
    }
    .search-box{
      width:40%;
    }
    .search-btn{
      width:26%;
    }
    .header_ul_menu{
      margin: 10px 14px 0 -26px;
    }
    .search_box_margin{
      margin-top: 13px;
      margin-left: -5px;
    }
    .navigation {
    float: left;
    margin: 0px 0px 0 0;
    width: 45%;
  }
  .header-left
  {
    width:56%;
  }
  .header-right{
    width:40%;
  }
    .profile_edit_heading{
      margin: 40px 0 20px 0px;
      color: #fcb040;
      position: relative;
    }
    .box_Setting1_width{
      width:31.83%;
      margin-right:1.5%;
    }

}
@media only screen and (max-width: 1400px){
  .btn_width_Set{
    width:57%;
  }
  .cool-btn-gr
  {
    width:100%;
  }
  .btn_edit_set{
    width:40%;
  }
  .sure-btn-gr
  {
    width:100%;
  }
  .invite_class_et{
    width:40%;
  }
  .div_setting_second{
    padding-left:50px;
  }
  .content_setting_second{
    width: 40%;
  }
  .box_Setting1_width{
    width:31.83%;
    margin-right:1.5%;
  }
}
@media only screen and (max-width: 1020px){
  .star_float{
    float: none !important;
    margin: 5px 0px 15px;
  }
  .buttonstar_set_float{
    width: 100%;
    padding: 11px 0px;
    display: block;
    float: none;
    height: 70px;
  }
  .texting_inline{
    top:7px;
  }
  .buttonstar_float{
    margin-top: -14px;
    float: left;
    width: 100%;
    display: block;
    text-align: left;
  }
  .buttonstar_ul_width{
    width:100%;
  }
  .buttonstar_ul_li_width{
    width:48%
  }
  .box_Setting1_width{
    width:31.83%;
    margin-right:1.5%;
  }
  .buttonstar_set_width{
    width: 100% !important;
    padding:11px 0px !important;
  }
}
@media only screen and (max-width: 828px){
  .btn_width_Set {
      width: 100%;
      margin-bottom: 4px !important;
  }
  .class_wrp{
    width:65%;
  }
   .btn_edit_set {
    width: 100%;
    padding: 0 0 0 4px;
    margin: 0 0px 0 0 !important;
  }
   .class_title{
     width:63%;
     padding: 0 0 0 4px;
  }
   .box_Setting11{
     padding: 6px 6px;
     min-height: 150px;
   }
   .invite_class_et{
     width: 100%;
   }
   .header-right {
   float: left;
   width: 100%;
   margin-top: 10px;
  }

  .header-left{
    float: left;
    width: 100%;
  }
  .menu{
    margin: 10px 14px 0 0px;
    width: 100%;
  }
  .logo{
    margin-left: 50%;
    width: 20%; 
    transform: translateX(-50%);
  }
  .search-box{
    margin-top: 13px;
   margin-left: 0px;
   width: 100%;
  }
  .search-btn{
    width:17%;
  }
  .header_ul_menu{
    margin: 10px 14px 0 0px;
  }
  .search_box_margin{
    margin-top: 13px;
    margin-left: 0px;
  }
  .profile_edit_heading{
    margin: 40px 0 20px 28px;
    color: #fcb040;
    position: relative;
    left: 21%;
  }
  .lbl_font{
    margin-bottom: 0px;
  }
  .divAlignment {
    width: 68%;
  }

  .exp_res{
    width:45%;
  }
  .choose_inline{
    padding: 5px 12px;

  }
  .customCredential{
    right: 0px;
  }
  .star_float{
    float: none !important;
    margin: 5px 0px 15px;
  }
  .buttonstar_set_float{
    width: 100%;
    padding: 11px 0px;
    display: block;
    float: none;
    height: 89px;
  }
  .buttonstar_float{
    margin-top: -14px;
    float: none !important;
    width: 100%;
    display: block;
    text-align: left;
  }
  .box_Setting1_width{
    width:31.83%;
    margin-right:1.5%;
  }


}
@media only screen and (max-width: 900px) {
  .calender_hover {
    background-color: #fcb040;
    height: auto;
    width: 400px;
    max-height: 382px;
    position: absolute;
    z-index: 1;
    float: right;
    top: 133px;
    right: -236px;
    padding: 21px 17px 4px;
    border: 0;
    border-radius: 19px;
    box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);
    display: block;
    overflow: scroll;
    text-transform: capitalize;
  }
  .calendar_triangle {
    content: "";
    position: absolute;
    top: 107px;
    right: 80px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent #fcb040 transparent;
    z-index: 1;
  }
}

  @media only screen and (max-width: 768px)
  {
    .header-right {
    float: left;
    width: 99%;
    margin-top: 10px;
   }

   .header-left{
     float: left;
     width: 99%;
   }
   .menu{
     margin: 10px 14px 0 0px;
     width: 100%;
   }
   .logo{
    margin-left: 50%;
    width: 20%; 
   transform: translateX(-50%);
   }
   .search-box{
     margin-top: 13px;
    margin-left: 0px;
    width: 100%;
   }
   .search-btn{
     width:17%;
   }
   .header_ul_menu{
     margin: 10px 14px 0 0px;
   }
   .search_box_margin{
     margin-top: 13px;
     margin-left: 0px;
   }
   .navigation li {
    float: left;
    padding: 0 7px;
    border-right: 1px solid #479fcd;
}
    .content_setting_second{
      width:50%;
    }
    .star_margin{
      margin: 15px 0;
    }
    .box_Setting1_width{
      width:31.83%;
      margin-right:1.5%;
    }
    .calendar_triangle {
      content: "";
      position: absolute;
      top: 107px;
      right: -14px;
      border-width: 13px;
      border-style: solid;
      border-color: transparent transparent #fcb040 transparent;
      z-index: 1;
    }
      .content_setting_second_class_detail{
          width: 100%;
      }
      .title_set{
          font-size: 25px;
      }
      .content_padding_setting_class_detail{
          padding: 39px 56px 20px 56px;
      }
}
@media only screen and (max-width: 640px){
  .content_set{
    padding: 39px 15px 20px 30px;
  }
  .box_Setting11 {
    width: 96.83%;
}
  .time_inline{
    display: block;
  }
  .class_top{
    top:15px !important;
  }
  .browse_custom{
    width:24%;
  }
.header_ul_menu{
  margin: 10px 14px 0 0px;
}
.search_box_margin{
  margin-top: 13px;
  margin-left: 0px;
}
/*
.logo {
    margin-left: 168px;
}
*/
.lev-menu ul {
    margin: 0px 0 0 3px;
}
  .custom-select{
    width:100%;
    margin-bottom: 4px;
  }
  .dob_top{
top:48px;
  }
  .profile_edit_heading{
    left:0%;
    margin:40px 0 20px 0px;
  }
  .margin_setting{
    margin-top: 50px;
  }
  .content_setting_second{
    width:100%;
  }
  .li_set_btn {
    width: 100%;
  }
  .onoff_btn {
    width: 100%;
  }
  .box_Setting1_width{
    width:47.83%;
    margin-right:1.5%;

  }
  .content_set_style{
    margin-left: 10px;
  }
  .save_prof{
    width:90%;
    margin-top: 20px;
  }
}
/*@media only screen and (max-width: 697px){

  .box_Setting11{
      width:100%;
}
.class_title{
  width:64%;
}
.popup-btn li a{
  width:98%;
}
.btn_edit_set{
  width:35%;
}
}*/
@media only screen and (max-width: 470px){
.profile-info {

  width: 100%;
  padding-left: 122px;
  float: none;
}
  .class_wrp {
    width: 90%;
  }
.navigation{
  width: 100%;
  padding-left: 169px;
}
.header_ul_menu{
  min-width: 90%;
  width: 0px;
}
.search-box{
  min-width: 90%;
  width: 0px;
}
.logo {
    margin-left: 114px;
}
.lev-menu ul a {
    padding: 12px 9px;

}
  .header-btn
  {
    width: 100%;
    padding-left: 142px;
    float: none;

  }
  .header_btn_margin{
    margin-top: 54px;
  }
  body{
    width: 100%;
  }
  .box_Setting1_width {
    width: 97.83%;
    margin-right: 1.5%;
  }
  .prof_mar{
    margin:0px 40px;
  }
  .divAlignment{
    left:55%;
  }
  .choose_inline{
    padding: 5px 3px;
  }
  .buttonstar_set_float{
    height: 70px;
  }
}

@media only screen and (max-width: 390px){
  .content_set {
    width: 100%;
  }
  .profile-info {
    padding-left: 91px;

  }
  .navigation{
    padding-left: 100px;
  }
  .logo {
    margin-left: 112px;
}
.lev-menu ul a {
    padding: 12px 9px;
 }
  .header-btn{
    padding-left: 91px;
  }

}
@media only screen and (max-width: 360px) {
  /*.header_ul_menu{*/

    /*width: 100%;*/
  /*}*/
  /*.search-box{*/

    /*width: 100%;*/
  /*}*/
  .header-btn{
    padding-left: 63px;
  }
  .navigation{
    padding-left: 74px;
  }
  .profile-info {
    padding-left: 66px;

  }
  .logo {
    margin-left: 82px;
  }
  .class_wrp {
    width: 95%;
  }
}
@media only screen and (max-width: 320px){
  .profile-info {
    padding-left: 50px;

  }
  .class_wrp {
    width: 98%;
  }
  .navigation{
    padding-left: 70px;
  }
  .logo {
    margin-left: 77px;
    width: 150px;
  }
  .lev-menu ul{
  width:320px;
  }
  .header-btn{
    padding-left: 50px;
  }


}

