/*
 Table Of Contents
 1.) Eric Meyer's Reset
 2.) Global Typography
 2.0.1) Font Face
 2.0.2) Global Headings
 2.0.3) Form Elements
 2.0.4) List styles
 2.0.5) General Text Formatting
 2.0.6) Link elements
 2.0.7) Table Elements
 2.0.8) Button Styles
 2.0.9) Sprite Icons
 3.) Site Wide Content
 4.) Header Style
 5.) Footer Style
 ===============================================*/

/*
 1.) Eric Meyer's Reset
 ----------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	outline: none;
}
/*
 1.) Global Typography
 ----------------------------------------*/
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	font-family: 'Gotham Rounded';
	color: #646464;
	font-weight: 500;
	background-color: #f3f3f3;
	/*background: url(../images/body.jpg) no-repeat center 0;
	 opacity:0.7;*/
}
/*
 2.0.1) Font Face
 -----------------------------*/
/*Put Your font face Styles here*/

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../fonts/GothamRounded-Bold.eot');
	src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../fonts/GothamRounded-Medium.eot');
	src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('../fonts/GothamRounded-BookItalic.eot');
	src: url('../fonts/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-BookItalic.woff') format('woff'), url('../fonts/GothamRounded-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../fonts/GothamRounded-BoldItalic.eot');
	src: url('../fonts/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-BoldItalic.woff') format('woff'), url('../fonts/GothamRounded-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('../fonts/GothamRounded-Book.eot');
	src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 35 Th';
	src: url('../fonts/HelveticaNeueLTCom-Th.eot');
	src: url('../fonts/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTCom-Th.woff') format('woff'), url('../fonts/HelveticaNeueLTCom-Th.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	src: url('../fonts/HelveticaNeueLTCom-BdCn.eot');
	src: url('../fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-MdExO.eot');
	src: url('../fonts/HelveticaNeueLTStd-MdExO.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-MdExO.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-MdExO.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-BdEx.eot');
	src: url('../fonts/HelveticaNeueLTStd-BdEx.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-BdEx.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-BdEx.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-BlkCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-BlkCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-BlkCn.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-LtCnO.eot');
	src: url('../fonts/HelveticaNeueLTStd-LtCnO.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-LtCnO.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-LtCnO.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-MdEx.eot');
	src: url('../fonts/HelveticaNeueLTStd-MdEx.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-MdEx.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-MdEx.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-MdCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-BlkExO.eot');
	src: url('../fonts/HelveticaNeueLTStd-BlkExO.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-BlkExO.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-BlkExO.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-ExO.eot');
	src: url('../fonts/HelveticaNeueLTStd-ExO.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-ExO.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-ExO.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-Th.eot');
	src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Th.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-Cn.eot');
	src: url('../fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-Ex.eot');
	src: url('../fonts/HelveticaNeueLTStd-Ex.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Ex.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Ex.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-ThCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-ThCn.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-MdCnO.eot');
	src: url('../fonts/HelveticaNeueLTStd-MdCnO.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-MdCnO.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-MdCnO.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-UltLtExO.eot');
	src: url('../fonts/HelveticaNeueLTStd-UltLtExO.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-UltLtExO.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-UltLtExO.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-XBlkCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-XBlkCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-XBlkCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-XBlkCn.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
	src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-UltLtCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-UltLtCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-UltLtCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-UltLtCn.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 77 BdCn';
	src: url('../fonts/HelveticaNeueLTCom-BdCn.eot');
	src: url('../fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue.otf') format('opentype'),
	url('../fonts/HelveticaNeue.woff') format('woff'),
	url('../fonts/HelveticaNeue.ttf') format('truetype'),
	url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}


/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #808080;
	font-family: 'Gotham Rounded';
}
h1 {
	font-size: 48px;
	line-height: 1.2;
	color: #ffffff;
	font-weight: bold;
	width: 85%;
	margin-bottom: 11px;
}
h2 {
	font-size: 36px;
	color: #808080;
	font-family: 'Gotham Rounded Book';
	margin-bottom: 50px;
	line-height: 1.1;
	text-align: center;
}
h3 {
	font-size: 24px;
	color: #404041;
	line-height: 1.1;
	font-family: 'Gotham Rounded Book';
	margin-bottom: 16px;
}

h4 {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}
h5 {
	font-size: 14px;
	color: #000;
	font-weight: 700;
	/*text-transform: uppercase;*/
}
h6 {
	font-size: 14px;
	color: #1aabbf;
	font-weight: 600;
	line-height: 16px;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
/*
 2.0.3) Form Elements
 -----------------------------*/
button, input, optgroup, select, textarea {
	margin: 0;
	padding: 0;
	background: #fff;
	border: 1px solid #cccccc;
	width: 100%;
	font-family: 'HelveticaNeueLT Com 57 Cn';
	padding: 5px 12px;
	color: #5e5e5e;
	font-size: 18px;
	line-height: 1.2;
	width:100%;
}
input {
	line-height: normal;
}
input:focus, select:focus, textarea:focus, button:focus ,li a em:focus,.icon_sprite:focus,.chats:focus{
	outline: 0;
	border: none;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	border: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"] {
	-webkit-appearance: none;
	cursor: pointer;
	line-height: normal;
	overflow: visible;
}

button[disabled], input[disabled] {
	cursor: not-allowed !important;
	color: white;
	/*border-color: none;*/
	background-color: #d8d8d8;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/*
 2.0.4) List Styles
 ---------------------------------*/
ul, ol, dl {
	font-size: 18px;
	line-height: 1.5;
}
li, dt {
	line-height: 1em;
	list-style: none;
}
dl {
	margin: 0 0 1em 0;
}
dd {
	margin: 0 0 1em 0.8em;
}
ul {
	list-style-type: none;
	margin: 0 0 1em 0;
}
ol {
	list-style-type: none;
	margin: 0 0 1em 0;
}
ul ul, ol ul {
	list-style-type: none;
	margin-top: 0;
}
ol ol {
	list-style-type: lower-latin;
	margin-top: 0;
}

/*
 2.0.5) General Text Formatting
 -----------------------------------*/
p {
	font-size: 14px;
	line-height: 1.2;
	color: #646464;
	font-family: 'Gotham Rounded Book';
}
blockquote, cite, q, var, dfn {
	font-style: italic;
}
blockquote {
	background: transparent;
	color: #666666;
}
small {
	/* font-size: 12px; */
	font-size: 85.71429%;
	line-height: 1.75;
}
pre, code, kbd, tt, samp, var {
	font-size: 100%;
}
pre {
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 1.5em 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre, code {
	color: #646464;
	font-family: "Gotham Rounded Book";
}
kbd, samp, var {
	color: #666666;
	font-weight: bold;
}
acronym, abbr {
	border-bottom: 1px #aaa dotted;
	font-variant: small-caps;
	cursor: help;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	max-width: 100%;
	height: auto;
}
b {
	font-weight: bold;
}
/*
 2.0.6) Link style
 -------------------------*/
a {
	color: #fcb040;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a:active {
	outline: none;
}
/*
 2.0.7) Table Elements
 --------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
	color: #444444;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	margin: 0 0 1.35714em 0;
}
caption {
	font-variant: small-caps;
}
th, td {
	line-height: 1.5em;
	vertical-align: top;
	padding: 0.71429em 0.5em;
}
th *:first-child, td *:first-child {
	margin-top: 0;
}
thead th {
	text-align: left;
	color: #000;
	border-bottom: 2px #000 solid;
}
tbody th {
	text-align: left;
	border-top: 1px solid #ccc;
}
tbody td {
	text-align: left;
	border-top: 1px solid #ccc;
	position: relative;
	vertical-align: top;
}
/*
 2.0.8) Button Styles
 -------------------------*/
.btn, input.btn, button.btn {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	text-transform: capitalize;
}
.btn:hover, .btn:focus, input.btn:hover, input.btn:focus, button.btn:hover, button.btn:focus {
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease  0s;
	-ms-transition: all 0.5s ease  0s;
	-o-transition: all 0.5s ease  0s;
	transition: all 0.5s ease  0s;

}


/*
 2.0.9) Sprite Icons
 -------------------------*/

[class^="icon-"], [class*="icon-"] {
	background-image: url(../images/sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 15px;
	line-height: 14px;
	vertical-align: text-top;
	width: 28px;
}

.sp-icon, .social-icon {
	background-image: url('../images/sprite.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 28px;
	width: 28px;
}
.arrow-down-icon,.arrow-down-right{
	height: 10px;
	width: 10px;
	right:15px;
	position: absolute;
	top:16px;
	background-position: -79px -119px;
}
.arrow-down-icon{
	background-position: -79px -119px;
}
.arrow-down-right{
	background-position:-79px -131px;
	top:10px;
}
.like-icon {
	background-position: 0 0;
	vertical-align: middle;
	margin-right: 8px;
}
.tw-icon {
	background-position: 0 -23px;
}
.social-icon {
	height: 41px;
	width: 41px;
}
.st-custom-button[data-network] {
	background-image: url('../images/sprite.png');
	background-position: -2px -93px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 41px;
	width: 41px;
	cursor: pointer;

}
.p-link {
	background-position: -2px -52px;
}
.tw-link {
	background-position: -2px -93px;
}
.fb-link {
	background-position: -2px -134px;
}
.ln-link {
	background-position: -2px -174px;
}
.user-icon {
	background-position: 0 -216px;
}
.date-icon {
	background-position: 0 -244px;
}
.search-icon {
	background-position: 5px -269px;
}
.desc-block .sp-icon{
	height: 64px;
	width: 74px;
}
.live-icon {
	background-position: 9px -295px;
}
.free-icon {
	background-position: 2px -365px;
}
.learn-icon {
	background-position: 11px -425px;
}
.meet-icon {
	background-position: -1px -486px;
}
.class-icon {
	background-position: 13px -553px;
}
.paid-icon {
	background-position: 18px -611px;
}
.grey-like {
	background-position: -76px -27px;
}
.grey-like.active {
	background-position: -76px 1px;
}
.sp-icon.view-icon {
	width: 42px;
	background-position: -76px -55px;
}
.red-like {
	background-position: -76px -85px;
}
.icon-fb{
	background-position: -76px -226px;
}
.icon-gplus{
	background-position: -76px -260px;
	width:37px;
	height:32px;
}
.cross-icon{
	background-position: -76px -171px;
	width:42px;
	height:42px;
}
.multi-icon{
	background-position: -188px 0px;
	width:18px;
	height:18px;
}
.add-icon{
	background-position: -188px -21px;
	width:18px;
	height:18px;
}
.sub-icon{
	background-position: -188px -41px;
	width:18px;
	height:18px;
}
.cir-operate-btn.active .multi-icon{
	background-position: -186px -59px;
}
.cir-operate-btn.active .add-icon{
	background-position: -187px -81px;
}
.cir-operate-btn.active .sub-icon{
	background-position: -185px -99px;
}
.squre-operate-btn.active .multi-icon{
	background-position: -186px -59px;
}
.squre-operate-btn.active .add-icon{
	background-position: -187px -81px;
}
.squre-operate-btn.active .sub-icon{
	background-position: -185px -99px;
}
.icon-yeah{
	background-position: -221px 2px;
}
.icon-liking{
	background-position: -221px -38px;
}
.icon-remove{
	background-position: -221px -79px;
}
.icon-warn{
	background-position: -218px -120px;
}
.yeah-icon-bl{
	background-position: -267px 3px;
}
.liking-icon-gr{
	background-position: -267px -37px;
}
.remove-icon-red{
	background-position: -267px -80px;
}
.warn-icon-yel{
	background-position: -267px -119px;
}
.icon-next-btn{
	background-position: -186px -122px;
}
.icon-menu{
	background-position: -187px -144px;
}
.icon-prev-btn{
	background-position: -180px -176px;
}
.icon-menu-sm{
	background-position: -187px -144px;
}
.icon-close-white{
	background-position: -176px -221px;
}
.icon-close-black{
	background-position: -176px -202px;
}

/* Containers
 ----------------------------------------------------------------------------------------------------*/
.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

/* Clear Floated Elements
 ----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/*
 3.) Site Wide Content
 ------------------------------*/
#wrapper {
	width: 100%;
}
.scroll-top{
	position: fixed;
	width:50px;
	height:50px;
	background: #363636;
	border-bottom: 3px solid #1d1d1d;
	border-radius:3px;
	bottom:70px;
	right:35px;
	opacity: 0;
	z-index: -99;
	-webkit-transition: all .5s ease ;
	-moz-transition: all .5s ease ;
	-ms-transition: all .5s ease ;
	-o-transition: all .5s ease ;
	transition: all .5s ease ;
}
.scroll-top.min
{
	opacity: 1;
	z-index: 99;
}
.arrow-top-icon{
	background-position: -70px  -141px;
	position: absolute;
	left:0;
	right:0;
	margin: 0 auto;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

}
.mb-75{
	margin-bottom: -178px;
}
.mr-44{
	margin-right: 44px;
}
.fl-left{
	float: left;
}
.lbl_font
{
	font-family: "Gotham Rounded Book";
	color: #808080;
	clear: both;
	min-height: 50px;
	margin-bottom: 15px;
	display: block;
}
/*
 4.) Header Styles
 ------------------------------*/

.header-wrap {
	padding:6px 0px 4px 10px;
	background-color: #eeeeee;
}
.header-left {
	float: left;
	width:50%;
}
.logo {
	float: left;
	margin-right: 32px;
	/*cursor: pointer !important;*/
}
.menu {
	float: left;
	margin: 5px 14px 0 0;
	list-style-type: none;
	width:138px;
}
.search-box {
	float: left;
	min-width: 400px;
	border-top: 1px solid #464646;
	border-bottom: 1px solid #464646;
	border-left: 1px solid #464646;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background: #ffffff;
	margin-top: 6px;
}
.search-text {
	float: left;
	width: 83%;
	height: 31px;
	border: none;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	color:#929292;
	font-family: "Gotham Rounded Book";
}
.search-btn {
	float: right;
	width: 67px;
	height: 31px;
	border: none;
	background: #464646;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
#searchText::-webkit-input-placeholder{
	font-size: 13px;
	font-family: 'Gotham Rounded Book';
}
#emailText::-webkit-input-placeholder{
	/*font-size: 13px;*/
	font-family: 'Gotham Rounded Book';
}
#searchText::-moz-placeholder{
	font-size: 13px;
	font-family: 'Gotham Rounded Book';
}
#emailText::-moz-placeholder{
	/*font-size: 13px;*/
	font-family: 'Gotham Rounded Book';
}
.navigation {
	float: left;
	margin: 13px 40px 0 0;
}
.navigation li {
	float: left;
	padding: 0 22px;
	border-right: 1px solid #479fcd;
}
.navigation li:last-child {
	border-right: 0;
}
.navigation li a {
	font-size: 14px;
	color: #479fcd;
	font-family: 'Gotham Rounded Book';
	transition: .2s font-size;
}
.navigation li a:hover{
	/*font-size: 20px;*/
	text-decoration: underline;
}
.header-right {
	float: right;
}
.header-btn {
	float: right;
	margin: 5px 0 0 0;
}
.header-btn li {
	float: left;
	margin-right: 10px;
}
.header-btn li:last-child {
	margin-right: 0;
}
.header-btn li a {
	font-size: 14px;
	font-family: 'Gotham Rounded Book';
	border-radius: 3px;
	display: block;
}
.login-btn {
	color: #464646;
	padding: 8px 26px;
	border: 1px solid #464646;
	cursor:pointer;
}
.sign-btn {
	color: #ffffff;
	padding: 8px 20px;
	background-color: #ef5b4e;
	cursor:pointer;
}
.lev-menu{
	background: url('../images/lev-menu-bg.png') no-repeat;
	background-position: 0 -1px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 0px 0;
}
.lev-menu ul{
	text-align: left;
	margin: 0px 0 0 103px;
	height: 43px;
	padding: 0px 0;
}
.lev-menu ul li{
	display: inline-block;
	border-right: 1px solid #ebebeb;
	cursor:pointer;
	float: left;
}
.lev-menu ul li:hover{
	background-color:rgba(255, 87, 34, 0.29) ;
}
.lev-menu ul li:active{
	background-color:rgba(255, 87, 34, 0.38) ;
}
.lev-menu ul li:last-child{
	border-right:0;
}
.lev-menu ul a{
	color: #ffffff;
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Gotham Rounded Book';
	padding: 12px 26px;
	width: 100%;
	display: block;
}
.br-0{
	border-right:none !important;
}
.menu-link{
	font-family: Gotham Rounded Book;
	padding: 10px 16px;
	background: #fcb040;
	display: block;
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	font-weight: 500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}
.menu_li_hover{
	display: block;
}
.ul_menu{
	position: relative;
}
.menu_li_hover_background
{
	background-color: #464646;
}
/*.menu li:hover .mega-menu-wrap{*/
	/*display: block;*/
/*}*/
.mega_display{
	display:block;
}
.sub-menu-block{
	background-color: #464646;
	position: absolute;
	width:auto;
	min-height: 543px;
	z-index: 999;
	display: none;
}
.mega-menu-wrap{
	list-style-type: none;
	/*width:180px;*/
	width:235px;
	background-color: #e2992c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	top:64px;
	z-index: 99;
	display: block;
	cursor: pointer;
}
.mega-menu-wrap li:first-child a i{
	display: none;
}
/*.mega-menu-wrap > li{*/
	/*position: relative;*/
/*}*/
.mega-menu-wrap li:hover{
	background-color: #464646;
}
.mega-menu-wrap li:hover .sub-menu-block{
	left:234px;
	visibility: visible;
	display: block;
	top:0;
}
.mega-menu-wrap li:hover .sub-menu-block.sub-menu-sci{
	left:178px;
	top:-44px;
}
.mega-menu-wrap li:hover .sub-menu-block.sub-menu-art{
	top:-88px;
}
.mega-menu-wrap > li > a{
	font-family: 'Gotham Rounded Book';
	color:#ffffff;
	font-size: 16px;
	line-height: 1.2;
	display: block;
	/*padding: 15px 10px 10px 19px;*/
	padding:10px 10px 5px 19px;
	position: relative;
}
.mega-grid-item{
	position: relative;
}
.mega-grid-item figure img{
	vertical-align:top;
}
.sub-menu-item{
	float: left;
	width: 177px;
	/*width:33.33%;*/
	padding: 10px 20px;
}
.sub-menu-item.sub-menu-grid{
	width:36%;
}
.sub-menu-grid .mega-grid-item{
	width:100%;
	float: none;
}
.mega-menu-cat{
	list-style-type: none;
	padding: 10px 0 20px 0;
	margin: 0;
}
.mega-menu-cat li{
	margin: 0 0 5px 0;
}
.mega-menu-cat li h3{
	font-family: 'Gotham Rounded Book';
	color:#ffffff;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 10px 0;
}
.mega-menu-cat li a{
	color:#b6b6b6;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}
.mega-menu-cat li a:hover{
	color:#e2992c;
}
/*.sub-menu-item{*/
	/*border-right: 1px solid #636363;*/
/*}*/
.sub-menu-item.sub-menu-grid{
	border-right:none;
}
.sub-menu-item .grid-sm-details{
	padding: 0 5px;
}
.sub-menu-item .grid-sm-details span a{
	font-size: 12px;
}
.sub-menu-item .like-icon{
	 margin-right: 4px;
}
.sub-menu-sci{
	width:780px;
}
.sub-menu-block.sub-menu-sci .sub-menu-item{
	width:23.3%;
}
.sub-menu-block.sub-menu-sci .sub-menu-item.sub-menu-grid{
	width:30%;
}



/*
 5.) Footer Styles
 ------------------------------*/

.pri-footer {
	background: #ebebeb;
	padding: 24px 0 20px;
}
.tweet-box {
	float: left;
	padding-right: 55px;
	width: 34.5%;
}
.tweet-box h3 {
	margin-bottom: 0;
}
.tw-icon {
	float: left;
}
.latest-tweet {
	padding: 15px 0 18px;
	border-bottom: 1px solid #e1e1e1;
}
.latest-tweet:last-child {
	border-bottom: none;
}
.tweet-details {
	float: left;
	width: 90%;
}
.tweet-details p {
	color: #8a8a8a;
	font-size: 12px;
	line-height: 1.3;
	margin-bottom: 10px;
}
.tweet-details p strong {
	color: #29c5f6;
}
.tweet-time {
	font-family: 'Gotham Rounded Book';
	font-size: 12px;
	color: #aaaaaa;
}
.quick-link {
	width: 34%;
	float: left;
}
.quick-link ul {
	list-style-type: none;
}
.quick-link li {
	margin-bottom: 20px;
}
.quick-link li a {
	font-family: 'Gotham Rounded Book';
	font-size: 14px;
	line-height: 1.2;
	color: #767676;
	position: relative;
	padding-left: 10px;
	display: inline-block;
}
.quick-link li a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.quick-link li a:before {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	left: 0;
	top: 8px;
	background-color: #fcb040;
	border-radius: 50%;
}
.cont-info {
	float: left;
	width: 30%;
	padding-right: 10px;
}
.display-set{
	display: block;
}
.send-email {
	background: #ffffff;
	overflow: hidden;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.email-text {
	color: #5e5e5e;
	font-size: 14px;
	border: medium none;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	float: left;
	height: 40px;
	width: 72%;
}
.send-btn {
	float: right;
	width: 86px;
	font-size: 18px;
	color: #ffffff;
	background-color: #f26436;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border: none;
	height: 40px;
	font-family: 'Gotham Rounded Book';
}
.news-letter {
	margin-bottom: 22px;
}
.news-letter h3 {
	margin-bottom: 22px;
}
.social-links li {
	display: inline-block;
	margin: 0 4px 0 0;
	vertical-align:top;
}
.social-links li a{
	display: inline-block;
}
.social-links .sp-icon{
	vertical-align:top;
}
.sec-footer {
	background-color: #898989;
	padding: 7px 0 11px;
}
.sec-footer span {
	font-size: 12px;
	color: #ffffff;
	font-family: 'Gotham Rounded Book';
	float: left;
	line-height: 1.2;
	margin-top: 4px;
}
.sec-footer small {
	font-size: 12px;
	color: #cbcbcb;
	float: right;
}

.btn-align{
	text-align: center;
}

.learn_wrap{width:100%;padding-left: 62px;}
.learn_wrap h1{margin: 50px 0 30px;color:#808080;}
.learn_wrap p{font-size: 24px;width: 86%;}
.learn_wrap img{margin: 50px 0;}
.learn_small_wrap{width: 70%;padding-left: 62px;}
.learn_small_wrap p{font-size:18px;}
.abc{
	background: red;
	height: 200px;
	width: 200px;
}
.documentClass {
	position: relative;
	top: 77px;
}
@-moz-document url-prefix() {
	.documentClass {
		position: relative;
		top: 100px;
	}
}


/*...................................chat module css.....................................................................*/

.chat_container {
	margin: 0 auto;
	width: 100%;
}

.chat_padding_min{
	padding: 0 30px;
}
.chat_padding_max{
	padding: 0 0px;
}
.chat_header-wrap {
	width: 100%;
	margin: 5px auto;
}
.chatBox_top{
	top:36%;
	left:36%;
}
.chat_left_panel{
	display: inline-block;
}
.chat_right_panel{
	width:310px;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
}
.chatBox_top_minimize{
	top:80%;
	left: 75%;
}
.grp_chatBox_top{
	top:36%;
	left:15px;
}
.grp_chatBox_top_minimize{
	top:74%;
	left: 75%;
}
.prt_chatBox_top{
	top:36%;
	left:75%;
}
.prt_chatBox_top_minimize{
	top:68%;
	left: 75%;
}
.chat_header-wrap ul {
	background: #4c4b4b;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding: 7px 10px;
    text-align: center;
}
.chat_header-wrap li {
    display: inline-block;
    vertical-align: top;
	margin-right: 11px;
	cursor:pointer;
}
.chat_header-wrap li:last-child {
	margin-right: 0;
}
.chat_header-wrap li a, .header-wrap li a span {
	display: block;
	text-align: center;
	font-size: 10px;
	color: #fff;
}
.chat_header-wrap li a {
	/*padding: 15px 0;*/
}
.chat_header-wrap li a em {
	height: 30px;
	width: 30px;
	background: #fff;
	border-radius: 50%;
	border: 2px solid #f8ae40;
	display: block;
	padding: 0px 0;
    margin: 0 auto;
}
.chat_header-wrap li a.selected_icon {
	padding: 0;
}
.chat_header-wrap li a.selected_icon em {
	height: 30px;
	width: 30px;
	background: #fcb040;
}
.chat_header-wrap li a.selected_icon span {
	font-size: 10px;
}
.icon_sprite {
	background-image: url(../images/chatImages/sprite1.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border: medium none;
	display: inline-block;
	height: 33px;
	width: 30px;
}
.icon-mic {
	background-position: -6px -16px;
}
.icon-web {
	background-position: -8px -47px;
}
.icon-screen {
	height: 40px;
	background-position: -246px -39px;
	width: 40px;}

.icon-screen-disabled{
    background-position: -219px -154px;
    height: 30px;
    width: 30px;
	margin-left: 3px;
	margin-top: 1px;
}
.icon-take {
	background-position: -4px -129px;
}
.icon-participants {
	background-position: -8px -180px;
}
.icon-participants-enabled{
	background-position: -250px -90px;
	height: 30px;
	width: 30px;
	margin: 3px 0px 0px 2px;
}
.icon-groupchats {
	background-position: -8px -217px;
}
.icon-groupchats_enabled{
	background-position: -253px -167px;
	height: 29px;
	width: 33px;
}
.icon-close {
	background-position: 0 -268px;
	height: 30px;
	width: 38px;
	cursor: pointer;
}
.icon-minimize {
	background-position: 0 -240px;
	height: 30px;
	width: 25px;
	cursor: pointer;
}
.icon-mic2 {
	background-position: -32px -3px;
	width: 30px;
	height: 32px;
}
.icon-webcam2 {
	background-position: -40px -33px;
	height: 32px;
	width: 20px;
}
.icon-prsn {
	background-position: -69px -3px;
}
.icon-prsn2 {
	background-position: -69px -43px;
}
.icon-attach {
	background-position: -72px -92px;
	height: 27px;
	position: absolute;
	top: 8px;
	left: 0;
	cursor: pointer;
}
.maximize-icon{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	z-index: 99999;
	right: 42px;
}

.icon-send {
	background-position: -73px -119px;
	position: absolute;
	top: 1px;
	right: 5px;
	cursor: pointer;
}
.icon-send2{
	background-position: -74px -161px;
	cursor: pointer;
}
.icon-srh {
	background-position: -82px -236px;
	height: 20px;
	left: 20px;
	position: absolute;
	top: 15px;
	width: 20px;
}
.icon-webcam3 {
	background-position: -118px 1px;
	width: 22px;
}
.icon-mic3 {
	background-position: -71px -255px;
	height: 32px;
	width: 30px;
}
.icon-clock {
	background-position: -118px -39px;
	height: 16px;
	width: 18px;
	vertical-align: middle;
}
.icon-pause {
	background-position: -108px -60px;
	width: 44px;
	cursor: pointer;
}
.icon-on {
	background-position: -110px -103px;
	height: 30px;
}
.icon-hand {
	background-position: -111px -143px;
}
.icon-join {
	background-position: -106px -201px;
	border-right: 1px solid hsl(0, 0%, 100%);
	height: 36px;
	vertical-align: middle;
	width: 44px;
}
.icon-close2{
	background-position: -121px -185px;
	height: 16px;
	width: 16px;
}
.icon-drop {
	background-position: -74px -206px;
	height: 25px;
}
.icon-point {
	background-position: -118px -237px;
	display: block;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	width: 25px;
}
.icon-draw {
	background-position: -110px -262px;
	height: 22px;
	width: 28px;
}
.icon-erase {
	background-position: -140px -4px;
	height: 23px;
}
.icon-text {
	background-position: -138px -28px;
	height: 24px;
}
.icon-color {
	background-position: -148px -59px;
	height: 26px;
}
.minimize_vdoscreen{
	background-position: -174px -54px;
	height: 60px;
	width: 60px;
}
.mic_disabled{
	background-position: -260px -210px;
	height: 51px;
	width: 51px;
	margin: 3px 0px 7px 3px;
}
.raise_hand{
	background-position: -115px -150px;
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.chat-blog-wrap {
	width: 100%;
}
.chat-blog {
	width: 300px;
	border: 1px solid #e1e1e1;
	margin: 0 auto;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
}
.chat-blog:last-child {
	margin-right: 0;
}
.blog-tittle {
	font-size: 16px;
	color: #ffffff;
	padding: 10px 10px 14px 21px;
	font-weight: 600;
	background: #04ce9b;
	position: relative;
}
.clode-sym {
	position: absolute;
	right: 0;
	top: 0;
}
.mic-webcam {
	background: #ebebeb;
	padding-bottom: 7px;
	position: relative;
}
.chats-wrp {
	padding: 17px 35px 13px 0;
}
.opp-reply span {
	word-wrap: break-word;
	color: #161616;
	display: inline-block;
	font-size: 12px;
	padding: 7px 21px;
	width: 126px;
	position: relative;
	background: #93ffe4;
}
.opp-reply span:after {
	border-bottom: 5px solid hsla(0, 0%, 0%, 0);
	border-left: 10px solid #93ffe4;
	border-top: 5px solid hsla(0, 0%, 0%, 0);
	content: "";
	position: absolute;
	right: -6px;
	top: 7px;
}
.opp-reply {
	margin-right: -5px;
	overflow: hidden;
	padding: 5px 5px 0 0;
	text-align: right;
}
.opp-reply em {
	font-size: 10px;
	color: #999999;
	display: block;
	margin-top: 2px;
}
.chats-wrp2 .pers-comm span {
	background: #fff6ea;
}
.type-comment {
	position: relative;
}
.pers-img {
	border-radius: 100%;
	float: left;
	height: 51px;
	overflow: hidden;
	text-align: center;
	width: 51px;
	margin-top: 3px;
	margin-left: 3px;
 }
.pers-comm {
	float: right;
	width: 173px;
}
.pers-comm span {
	word-wrap: break-word;
	color: #333333;
	font-size: 12px;
	line-height: 17px;
	padding: 7px 10px;
	background: #f4f4f4;
	display: block;
	position: relative;
}
.pers-comm span:after {
	left: -7px;
	position: absolute;
	top: 15px;
	border-top: 5px solid transparent;
	border-right: 10px solid #f4f4f4;
	border-bottom: 5px solid transparent;
	content: "";
}
.pers-comm em {
	font-size: 10px;
	color: #999999;
}
.chat-blog2 .blog-tittle {
	background: #fcb040;
}
.chat-blog2 .opp-reply span {
	background: #ffd18d;
}
.chat-blog2 .opp-reply span::after {
	border-left: 10px solid #ffd18d;
}
.chat-blog2 .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
	background: #fcb040;
}
.share-btn {
	position: absolute;
	top: 7px;
	right: 10px;
}
.drp-wrap {
	position: relative;
	display: none;
}
.chats-wrp {
	padding: 15px 35px 0px 0;
}
.chat-blog3 .blog-tittle {
	background: #5b5b53;
}
.search-inp {
	padding: 10px 15px;
	background: #ebebeb;
	position: relative;
}
.search-inp input {
	padding: 5px 30px;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	background: #fff;
	border: 0;
	height: 30px;
	border-radius: 6px;
}
.chat-blog3 .chats:nth-child(even) {
	background: #f3f3f3;
}
.chat-blog3 .chats:nth-child(odd) {
	background: #f7f7f7;
}
.chat-blog3 .ngsb-wrap {
	height: 390px;
}
.pers-name {
	float: right;
	width: 185px;
	padding: 12px 0;
	position: relative;
}
.pers-name .mic-webcam {
	position: absolute;
	right: 0;
	background: none;
	top: 8px;
}
.pers-name span {
	font-size: 14px;
	color: #333333;
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}
.pers-name em {
	display: block;
	font-size: 14px;
	color: #fcb040;
	font-weight: 500;
}
.pers-img.groups {
	border-radius: 0;
	width: 62px;
	height: 65px;
}
.pers-name em.add-in-gp {
	font-size: 10px;
	color: #999999;
	display: block;
}
.people-sec {
	padding: 126px 0 40px 14px;
}
.connecting-peo {
	float: left;
	width: 349px;
	min-height: 197px;
	background: url(../images/chatImages/img-07.png) no-repeat 0;
	margin-top: 18px;
	position: relative;
}
.inner-sym {
	text-align: right;
}
.opp-person {
	bottom: 2px;
	position: absolute;
	right: 10px;
}
.online-sym {
	position: absolute;
	bottom: 0;
	left: 0;
}
.chat-doubt-wrap {
	float: right;
	width: 362px;
}
.attend-doubt {
	background: white;
	margin: 0px auto;
	padding: 31px 15px 0;
	top:150px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	width: 30%;
}
.btn_yes{
	background: hsl(151, 64%, 42%);
	border-radius: 4px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 12px;
	margin-right: 7px;
	padding: 9px 0;
	text-align: center;
	width: 65px;
	cursor: pointer;
}
.icon-close-black2 {
	background-position: -182px -202px;
}
.btn_yes.secondary {
	background: #fcb040;
}
.attend-doubt span.close-it {
	position: absolute;
	right: -20px;
	top: 5px;
	cursor: pointer;
}
.attend-doubt span {
	display: block;
	font-size: 14px;
	color: #000000;
	position: relative;
	padding-left: 46px;
	line-height: 16px;
}
.attend-doubt span i {
	position: absolute;
	top: 0;
	left: 0;
}
.btn-sec {
	padding: 27px 0 17px;
}
.chat_btn {
	background: hsl(151, 64%, 42%);
	border-radius: 4px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 12px;
	margin-right: 7px;
	padding: 9px 0;
	text-align: center;
	width: 65px;
}
.chat_btn.secondary {
	background: #fcb040;
}
.chat_btn-sec {
	padding: 27px 0 17px;
}
.join-chat {
	background: #04ce9b;
	border-radius: 5px;
}
.join-chat span {
	color: #ffffff;
	padding-left: 30px;
	font-size: 14px;
}
.drp-wrap.visible {
	display: block;
}
.aside-wrp {
	left: 40px;
	position: fixed;
	top: 111px;
	width: 62px;
	z-index: 99;

}
.fixed-menu {
	border: 1px solid #ebebeb;
	border-top: 11px solid #5b5b53;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 13px;
	background: #fff;
}
.fixed-menu li {
	margin-bottom: 12px;
	padding: 8px 0;
	text-align: center;
	position: relative;
}
.fixed-menu li span {
	display: block;
	font-size: 10px;
	color: #616159;
	line-height: 1;
}
.fixed-menu li a {
	display: block;
}
.fixed-menu li.active span {
	color: #fcb040;
}
.fixed-menu li:after{
	position: absolute;
	bottom:2px;
	right:5px;
	height: 7px;
	width: 7px;
	content: "";
	background: url(../img/corn.png) no-repeat;
}
.fixed-menu li.active:after{
	display: none;
}
.group-img li {
	display: inline-block;
	width: 45%;
}
#chat_wrapper {
	min-width: 1124px;
	background: url(../images/chatImages/bg.png)no-repeat center center;
}
.stop_button{
	float: right;
	position: fixed;
	width: 8%;
	top: 9px;
	right: 16px;
	color: rgb(250,250,250);
	background: rgba(255, 0, 0, 0.68);
}
.btn-wrap li{
	cursor: pointer;
}
.btnDisable{
	background-color:  #d8d8d8 !important;
}
.trix-content ul, .trix-content ol{
	display: list-item;
	margin-left: 18px !important;
	color: transparent;
}
.trix-content ul{
	list-style-type: disc !important;
}
.trix-content ol{
	list-style-type: decimal !important;
}
.trix-content li{
	margin-left: 5px !important;
	display: list-item;
	color: #808080;
	list-style: inherit;
}
.trix-content h1{
	color: #000000;
}
.trix-content blockquote{
	font-style: normal;
	border: none !important;
}
.trix-content{
	height: 140px;
	overflow-y: auto;
	background: #ffffff;
}
.button_row .button_group{
	margin-bottom: 0px !important;
	border-bottom: none;
}
trix-toolbar .button_group button.icon, trix-toolbar .button_group input[type=button].icon{
	width:31px !important;
}
.descSet{
	font-family: 'Gotham Rounded Book';
}
.descSet h1{
	color: #000000;
}
.descSet ol{
	list-style-type: decimal !important;
}
.descSet li{
	margin-left: 5px !important;
	display: list-item;
	color: #808080;
	list-style: inherit;
}
.descSet ul{
	list-style-type: disc !important;
}
/*.button_row s	pan button.icon.redo {*/
	/*display: none;*/
/*}*/
/*.button_row span button.icon.undo{*/
	/*display: none;*/
/*}*/
/*...............................................end of chat module.....................................................*/