/*
 Table Of Contents
 1.) Media Query for Handheld Devices
 2.) Media Query for Tablet
 3.) Media Query for mobile
 ===============================================*/
/*
 1.) Media Query for Handheld Devices

 ===============================*/
@media only screen and (min-width: 1025px) and (max-width: 1400px) {

	h1 {
		font-size: 38px;
		width: 90%;
	}
	h2 {
		font-size: 28px;
		margin-bottom: 25px;
	}
	h3 {
		font-size: 21px;
	}
	.mega-menu-wrap {
		top: 64px;
	}
	.container {
		padding: 0 10px;
	}
	.header-wrap {
		padding: 20px 10px;
	}
	.logo {
		margin-right: 10px;
	}
	.search-box {
		min-width: 290px;
	}
	.search-text {
		width: 69%;
	}
	.header-left {
		width: 62.5%;
	}
	.navigation {
		margin: 9px 6px 0 0;
	}
	.navigation li {
		padding: 0 6px;
	}
	.login-btn {
		padding: 5px 12px;
	}
	.sign-btn {
		padding: 6px 12px;
	}
	.banner-content {
		padding: 0 10px;
	}
	.banner-content p {
		font-size: 17px;
		margin-bottom: 15px;
		width: 90%;
	}
	.hero-banner-info {
		margin: 0 0 20px;
	}
	.hero-banner-info li {
		margin-right: 15px;
	}
	.hero-banner-info strong {
		font-size: 35px;
		margin: 6px 0 0 0;
	}
	.hero-banner-info span {
		font-size: 14px;
		margin: 2px 0 0 6px;
	}
	.hero-banner-info span small {
		font-size: 14px;
	}
	.btn-wrap li {
		margin-right: 15px;
	}
	.join-btn {
		font-size: 22px;
		padding: 7px 22px;
	}
	.learn-btn {
		font-size: 22px;
		padding: 7px 10px;
	}
	.live-video-wrap {
		padding: 35px 10px;
	}
	.live-video-item  figure {
		overflow: hidden;
	}
	.live-video-item  figure img {
		height: 100%;
		max-width: none;
		width: auto;
	}
	.live-video-row {
		margin: 0 -5px 16px;
	}
	.live-video-item {
		padding: 0 5px;
	}
	.grid-sm {
		margin: 0 10px 0 0;
		width: 48.6%;
	}
	.description-wrap {
		padding: 35px 10px 70px;
	}
	.desc-block {
		padding: 0 15px 40px;
	}
	.desc-block strong {
		font-size: 20px;
	}
	.blog-box {
		margin-right: 10px;
		padding: 10px 12px;
		width: 32.4%;
	}
	.blog-sec h2 {
		margin-bottom: 35px;
	}
	.author li a {
		font-size: 11px;
	}
	.tweet-box {
		padding-right: 10px;
	}
	.tweet-details {
		width: 87%;
	}
	.quick-link {
		width: 30%;
	}
	.cont-info {
		width: 35%;
	}
	.email-text {
		width: 64%;
	}
	.send-btn {
		font-size: 16px;
	}
	.grid-sm-details {
		padding: 0 8px;
	}
	.grid-sm-info strong {
		font-size: 13px;
	}
	.grid-sm-info small {
		font-size: 11px;
	}
	.like-icon {
		margin-right: 3px;
	}
	.grid-sm-details span {
		margin: 3px 0 0;
	}
	.grid-sm-details span a {
		font-size: 11px;
	}
	.video-cat strong {
		font-size: 18px
	}
	.video-cat span {
		font-size: 14px;
	}
	.total-view li {
		margin-right: 10px;
	}

}
/*
 2.) Media Query for tablet
 ===============================*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	h1 {
		font-size: 28px;
		width: 90%;
	}
	h2 {
		font-size: 28px;
		margin-bottom: 25px;
	}
	h3 {
		font-size: 21px;
	}
	.container {
		padding: 0 10px;
	}
	.menu {
		width: 95px;
		margin: 5px 5px 0 0;
	}
	.menu-link {
		font-size: 14px;
	}
	.arrow-down-icon {
		right: 6px;
		top: 15px;
	}
	.mega-menu-wrap {
		top: 61px;
		width: 140px;
	}
	.mega-menu-wrap > li > a {
		font-size: 14px;
		padding: 10px;
	}
	.arrow-down-right {
		top: 12px;
	}
	.sub-menu-block {
		width: 195px;
	}
	.mega-menu-wrap li:hover .sub-menu-block {
		left: 139px;
	}
	.sub-menu-item {
		padding-left: 6px;
		width: 31%;
	}
	.mega-menu-cat li h3 {
		font-size: 14px;
	}

	.sub-menu-item.sub-menu-grid {
		width: 38%;
	}
	.sub-menu-block.sub-menu-sci .sub-menu-item {
		width: 22%;
	}
	.sub-menu-block.sub-menu-sci .sub-menu-item.sub-menu-grid {
		width: 34%;
	}
	.sub-menu-block  .grid-sm-info strong {
		font-size: 12px;
	}
	.header-wrap {
		padding: 20px 10px;
	}
	/*.logo {
		margin-right: 10px;
	}*/
	.search-box {
		min-width: inherit;
		width: 200px;
	}
	.profile-info > li {
		margin: 0 8px 0 0;
	}
	.search-text {
		width: 67%;
	}
	.search-btn {
		width: 58px;
	}
	.header-left {
		width: 63%;
	}
	.navigation {
		margin: 9px 6px 0 0;
	}
	.navigation li {
		padding: 0 6px;
	}
	.navigation li a {
		font-size: 12px;
	}
	.header-btn li a {
		font-size: 12px;
	}
	.header-btn li {
		margin-right: 5px;
	}
	.login-btn {
		padding: 5px 12px;
	}
	.sign-btn {
		padding: 6px 12px;
	}
	.banner-content {
		padding: 0 10px;
	}
	.banner-content p {
		font-size: 14px;
		margin-bottom: 15px;
		width: 98%;
        text-align: left;
	}
	.hero-banner-info {
		margin: 0 0 20px;
	}
	.hero-banner-info li {
		margin-right: 9px;
	}
	.hero-banner-info strong {
		font-size: 22px;
		margin: 6px 0 0 0;
	}
	.hero-banner-info span {
		font-size: 13px;course
		margin: 2px 0 0 6px;
	}
	.hero-banner-info span small {
		font-size: 13px;
	}
	.btn-wrap li {
		margin-right: 10px;
	}
	.join-btn {
		font-size: 17px;
		padding: 7px 22px;
	}
	.learn-btn {
		font-size: 17px;
		padding: 4px 22px 7px;
	}
	.live-video-wrap {
		padding: 35px 10px;
	}
	.live-video-item  figure {
		overflow: hidden;
	}
	.live-video-item  figure img {
		height: 100%;
		max-width: none;
		width: auto;
	}
	.live-video-row {
		margin: 0 -5px 16px;
	}
	.live-video-item {
		padding: 0 5px;
	}
	.grid-sm {
		margin: 0 10px 0 0;
		width: 48.6%;
	}
	.description-wrap {
		padding: 35px 10px 80px;
	}
	.desc-block {
		padding: 0 15px 40px;
	}
	.desc-block strong {
		font-size: 20px;
	}
	.blog-box {
		margin-right: 10px;
		padding: 10px 12px;
		width: 32.4%;
	}
	.blog-sec h2 {
		margin-bottom: 35px;
	}
	.author li a {
		font-size: 11px;
	}
	.tweet-box {
		padding-right: 10px;
	}
	.tweet-details {
		width: 87%;
	}
	.quick-link {
		width: 30%;
	}
	.cont-info {
		width: 35%;
	}
	.email-text {
		width: 64%;
	}
	.send-btn {
		font-size: 16px;
	}
	.grid-sm-details {
		padding: 0 8px;
	}
	.grid-sm-info strong {
		font-size: 13px;
	}
	.grid-sm-info small {
		font-size: 11px;
	}
	.like-icon {
		margin-right: 3px;
	}
	.grid-sm-details span {
		margin: 3px 0 0;
	}
	.grid-sm-details span a {
		font-size: 11px;
	}
	.video-cat strong {
		font-size: 18px
	}
	.video-cat span {
		font-size: 14px;
	}
	.total-view li {
		margin-right: 10px;
	}
	#calendar {
		max-width: 700px;
		width: 100%;
	}
	.fc-day-header {
		padding: 10px 2px !important;
		font-size: 14px;
	}
	.description-wrap .join-btn {
		bottom: 25px;
	}
	.grid-play-video
	{
		top:40%;
	}
}

/*
 3.) Media Query for mobile
 ===============================*/
@media only screen and (max-width: 767px) {
	.event-a span, .event-b span, .event-c span {
		display: block;
		font-size: 9px;
		padding: 0;
	}
	#calendar {
		width: 100%;
	}
	.inner-content, .live-video-row, .ngscroll-content-container {
		width: 100%;
	}
	simple-calendar .weekday {
		padding: 10px !important;
	}
	simple-calendar .current-month {
		width: 100%;
	}
	simple-calendar .day {
		height: 75px !important;
	}
	.event-a, .event-b, .event-c {
		padding: 3px;
	}
	.container {
		padding: 0 15px;
	}
	h1 {
		font-size: 28px;
		width: 100%;
	}
	h2 {
		font-size: 26px;
		margin-bottom: 30px;
	}
	h3 {
		font-size: 22px;
		text-align: center;
	}
	/*.logo {
		width: 100%;
		margin: 0 0 30px 0;
		text-align: center;
	}*/
	/*.search-box {
		min-width: 100%;
	}
	.search-text {
		width: 76%;
	}*/
	.header-wrap {
		padding: 15px;
	}
	/*.header-left, .header-right {
		float: left;
		width: 100%;
	}
	.header-right {
		padding: 25px 0 5px;
	}*/
	.navigation, .header-btn {
		/*width: 100%;*/
		margin: 0 0 25px 0;
		text-align: center;
	}
	/*.navigation li, .header-btn li {
		float: none;
		display: inline-block;
	}*/
	.banner {
		overflow: hidden;
	}
	.banner img {
		max-width: none;
		width: auto;
		height: 100%;
	}
	.banner-content {
		width: 100%;
		padding: 0 15px;
		top: 2%;
	}
	.banner-content p {
		font-size: 13px;
		width: 100%;
		margin-bottom: 20px;
	}
	.hero-banner-info {
		margin: 0 0 25px 0;
	}
	.hero-banner-info li {
		margin-right: 5px;
	}
	.hero-banner-info strong {
		font-size: 21px;
		margin-top: 5px;
	}
	.hero-banner-info span {
		margin: 2px 0 0 5px;
	}
	.hero-banner-info span, .hero-banner-info span small {
		font-size: 13px;
	}
	.view-wrap {
		padding: 10px 8px;
	}
	.total-view li {
		margin-right: 5px;
	}
	.total-view li a {
		font-size: 10px;
	}
	.likes-check li {
		float: left;
	}
	.video-cat strong {
		font-size: 16px;
	}
	.video-cat span {
		font-size: 13px;
	}
	.btn-wrap {
		margin: 0 0 20px 0;
	}
	.join-btn {
		font-size: 17px;
		padding: 12px 20px 10px;
	}
	.learn-btn {
		font-size: 17px;
		padding: 9px 20px;
	}
	.btn-wrap li {
		margin-right: 10px;
	}
	.live-video-row {
		margin: 0 0 15px;
	}
	.live-video-item {
		margin: 0 auto 15px;
		max-width: 368px;
		padding: 0;
		width: 100%;
		float: none;
		overflow: hidden;
	}
	.live-video-wrap {
		padding: 20px 15px;
	}
	.grid-sm {
		width: 100%;
		margin: 0 0 15px 0;
	}
	.grid-lg figure {
		overflow: hidden;
	}
	.grid-lg figure img {
		max-width: none;
		width: auto;
		height: 100%;
	}
	.description-wrap {
		padding: 20px 15px;
	}
	.description-wrap h2 {
		margin-bottom: 30px;
	}
	.desc-block {
		float: none;
		padding: 0 0 30px 0;
		width: 100%;
	}
	.desc-block strong {
		font-size: 20px;
	}
	.blog-sec {

	}
	.blog-box {
		float: none;
		margin: 0 0 25px;
		padding: 10px 15px 20px 30px;
		width: 100%;
	}
	.cont-info {
		float: none;
		width: 100%;
		padding: 20px 0;
	}
    .tweet-box {
    width: 68%;
        float: none;
        display: inline-block;
}
    .tweet-box h3{
        text-align: left;
    }
    .quick-link {
    width: 30%;
    float: none;
    display: inline-block;
    vertical-align: top;
}
    .quick-link h3{
        text-align: left;
    }
    .quick-link ul li{
        text-align: left;
    }
	.pri-footer h3 {
		margin-bottom: 20px;
	}
	.email-text {
		width: 70%;
	}
	.social-links ul {
		text-align: center;
	}
	#calendar {
		max-width: 300px;
		width: 100%;
	}
	.fc-toolbar .fc-center {
		width: 230px;
	}

	.profile-info {


		margin: 0 auto 25px;

	}
	.fc-state-default.fc-corner-right {
		right: 0;
	}
	.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right {
		left: 34px;
	}
	.fc-state-default.fc-corner-right {
		right: 34px;
		left: auto;
	}
	.fc-title span {
		display: block;
		font-size: 9px;
		padding-left: 0;
	}
	/*.lev-menu ul li {
		display: inline-block;
    padding: 0px 15px;
	}*/
	/*.lev-menu {
		padding: 20px 0;
		background: #f0b35c;
	}*/

	.form-cont-wrapper {
		padding: 15px 20px;
	}
	.head-title {
		font-size: 26px;
	}
	.head-title a {
		right: 10px;
		top: 13px;
	}
	.login-fb, .login-gmail {
		font-size: 18px;
	}
	/*.form-cont-wrapper li {*/
		/*margin: 6px 0;*/
	/*}*/
	.create-acc {
		font-size: 13px;
	}

	/*Menu*/

	/*.menu {
		width: 100%;
		padding: 0;
		margin: 0 0 30px 0;
	}*/
	.mega-menu-wrap {
		position: static;
		top: 0;
		width: 100%;
	}
	.arrow-down-right {
		background-position: -79px -119px;
		top: 19px;
	}
	.menu li:hover .mega-menu-wrap {
		display: block;
	}
	.sub-menu-item {
		float: none;
		padding-left: 20px;
		width: 100%;
	}
	.mega-menu-wrap li:hover .sub-menu-block {
		display: block;
	}
	.sub-menu-block {
		position: static;
		width: 100%;
	}
	.sub-menu-item {
		border-right: 0;
	}
	.menu h3 {
		text-align: left;
	}
	.sub-menu-item {
		padding-left: 10px;
	}
	.sub-menu-block.sub-menu-sci .sub-menu-item, .sub-menu-item.sub-menu-grid, .sub-menu-block.sub-menu-sci .sub-menu-item.sub-menu-grid {
		width: 100%;
	}
	.mega-menu-wrap li:hover {
		background-color: inherit;
	}
	.mega-menu-cat li a {
		display: block;
	}
	.sub-menu-item .mega-grid-item figure img {
		width: 100%;
	}
	.fc-day-header {
		font-size: 7px;
		padding: 10px 1px !important;
	}
	.login-fb, .login-gmail {
		font-size: 15px;
	}
	.login-fb i {
		margin-right: 5px;
	}
	.login-gmail i {
		margin-right: 5px;
	}
	.sec-check-block {
		padding: 15px 10px 0;
	}
	.check-btn-block {
		padding-left: 0px;
	}
	.cust-check label {
		font-size: 16px;
	}
	.radio-btn-block {
		width: 100%;
	}
	.pri-check-block .radio-block, .pri-check-block .checkbox-block, .pri-check-block .operate-icons, .pri-check-block .operate-icons.active {
		margin: 0 0 15px;
		width: 50%;
		min-height: 70px;
	}
	.file-upload-block {
		padding: 50px 54px 53px;
	}
	.progress-circle {
		padding: 46px 27px 56px !important;
	}
	.notice-block {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.notice-box i {
		margin: 9px;
	}
	.notice-box span {
		padding: 20px 0 18px 12px;
	}
	.notice-box span, .notice-msg span {
		font-size: 14px;
	}
	.table-block {
		padding: 30px 10px;
	}
	.table-data tr td {
		font-size: 12px;
	}
	.table-data tr td span, .table-data tr th span {
		padding: 0 10px 0 0;
	}
	.radio-btn-block, .check-btn-block {
		padding: 10px 0;
	}
	.pri-check-block {
		padding: 20px 10px 10px;
	}
	.description-wrap .join-btn
	{
		position: static;
	}
	/*.content_set {
		height: auto;
		padding: 45px 10px !important;
	}*/
	.div_setting {
		border: 1px solid #000;
		padding: 3px;
		background: #FFF none repeat scroll 0% 0%;
		float: left;
		text-align: center;
		margin: 0px 65px;
	}
	/*.content_set {
		padding: 45px 25px 20px;
		height: auto;
	}*/
	.spacing_set {
		width: 80%;
	}
	.learn_wrap {
		width: 100%;
		padding-left: 14px;
	}
}
