@charset "utf-8";
/* CSS Document */
@media only screen and (min-width: 1400px) and (max-width: 1940px) {
.img_width{
	width: 1126px;
	height: 100%;
}
    .fav_inline{

        left: 0px !important;
    }
.image_setting1 {
    height: 430px;
    float: left;
    text-align: center;
    width: 55%;
}
    .editHover_class_detail{
        top: 381px !important;
        left: 21px !important;
    }
    .start_class_width{
        width:100% !important;
    }
    .buttonstar_set {
        float: left;
        width: 100%;
        font-size: 12px !important;
        padding: 3px 0;
    }
.content_setting_second1 {
    width: 45%;
    float: left;
    padding: 0px 52px 0 33px;
}
h2 {
    font-size: 46px;
    color: #808080;
    font-family: 'Gotham Rounded Book';
    margin-bottom: 50px;
    line-height: 1.1;
    text-align: center;
}
.p_setting {
    font-size: 25px !important;
}
.span_size{
	font-size: 28px;
}
.sm-btn2 {
    font-size: 20px;
    min-width: 160px;
    padding: 13px 30px 13px;
    width: 35%;
}
.sm-btn1 {
    font-size: 36px;
    min-width: 160px;
    padding: 13px 61px 13px;
}
    .content_setting2_inline{
        padding-top: 37px !important;
    }
    .div_padding_star{
        padding-top: 8px !important;
    }
.sm_second_btn{

        width: 57%;
}
.content_setting2 {
    width: 100%;
    padding-top: 44px;
    clear: both;
}
.content_setting1 {
    width: 100%;
    padding-top: 14px;
    clear: both;
}
.detail_class{
	font-size:21px;
}
.write_review_image {
    width: 151px;
    float: left;
    text-align: center;
}
.class_title {
    float: right;
    padding: 4px 8px 10px 6px;
    width: 63%;
}
.class_title p{
    margin-top: 10px;
}
    .class_title .texting2{
        margin-top: 0px;
    }
    .class_title span{
    margin-top: 15px;
}
.texting2 {
    font-size: 23px !important;
}
.btn_width_Set {
    margin: 0 !important;
    width: 48%;
 }
    .popup-btn li a{
        padding: 7px 24px;
    }
    .popup-btn .btn_edit_set{
        width: 48%;
    }
    .popup-btn .invite_class_et{
        width: 48%;
    }
    .popup-btn{
        width: 100%;
    }
    .btn_edit_setting {
        margin: 0 !important;
        width: 46%;
    }
    .hover_image{
        height: 147px;
    }
    .edithover_calendar{
        top: -4px;
    }
    .edithover{
        top: 222px;
    }
.images_setting1 {
    height: 100%;
    width: 35%;
    padding: 4px 0;
    float: left;
}
/*.calender_hover {*/
    /*background-color: #fcb040;*/
    /*height: auto;*/
    /*width: 400px;*/
    /*max-height: 382px;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*float: left;*/
    /*top: 0px;*/
    /*left: 218px;*/
    /*padding: 21px 17px 4px;*/
    /*border: 0;*/
    /*border-radius: 19px;*/
    /*box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);*/
    /*display: block;*/
    /*overflow: scroll;*/
    /*text-transform: capitalize;*/

/*}*/
    /*.calender_hover_right {*/
        /*background-color: #fcb040;*/
        /*height: auto;*/
        /*max-height: 382px;*/
        /*width: 400px;*/
        /*position: absolute;*/
        /*z-index: 1;*/
        /*float: left;*/
        /*top: 0px;*/
        /*left: -413px;*/
        /*padding: 21px 17px 4px;*/
        /*border: 0;*/
        /*border-radius: 19px;*/
        /*box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);*/
        /*display: block;*/
        /*overflow: scroll;*/
        /*text-transform: capitalize;*/
    /*}*/
    /*.calendar_triangle_right {*/
        /*content: "";*/
        /*position: absolute;*/
        /*top: 60px;*/
        /*left: -13px;*/
        /*border-width: 13px;*/
        /*border-style: solid;*/
        /*border-color: transparent transparent transparent #fcb040;*/
        /*z-index: 1;*/
    /*}*/
    /*.calendar_triangle {*/
        /*content: "";*/
        /*position: absolute;*/
        /*top: 60px;*/
        /*right: -13px;*/
        /*border-width: 13px;*/
        /*border-style: solid;*/
        /*border-color: transparent #fcb040 transparent transparent;*/
        /*z-index: 1;*/
    /*}*/
.btn_class_set {
    float: left;
    width: 9%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.btn_class_set1 {
    float: right;
    width: 9%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.location_map {
    font-size: 49px;
    height: 70px;
    width: 70px;
    background-color: #fcb040;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 11px;
    text-align: center;
}
.message_map {
    font-size: 39px;
    height: 70px;
    width: 70px;
    background-color: #fcb040;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 13px;
    text-align: center;
}
.mail_font_size{
	font-size:24px;
}
.learn_wrap_set p {
    font-size: 23px;
    width: 86%;
}
.texting1 {
    font-size: 17px !important;
}
.div_set_center1 {
    width: 100%;
    max-height: 598px;
}
.content_padding_setting {
    padding: 39px 154px 20px 154px;
}
.star {
    float: left;
    margin: 10px 0px 15px;
    font-size: 23px;
}
.star_margin{
    margin:  0px;
}
.box_Setting11{
	width:31.83%;
	margin-right:1.5%;
	max-height: 231px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 231px;
}
.box_Setting21{
	width:32%;
	margin-right:1.5%;
	max-height: 231px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 231px;
}
.box_Setting41{
	width:32%;
	margin-right:1.5%;
	max-height: 231px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 231px;
}
.box_Setting51{
	width:32%;
	margin-right:1.5%;
	max-height: 231px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 231px;
}
.box_Setting31{
	width:32%;
	max-height: 231px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 231px;
}
.box_Setting61{
	width:32%;
	max-height: 231px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 231px;
}
}
@media only screen and (min-width: 1023px) and (max-width: 1400px) {

h1{
	font-size: 38px;
	width: 90%;
}
h2 {
    font-size: 29px;
    margin-bottom: 15px;
}
h3{
	font-size: 21px;
}
.mega-menu-wrap{
	top: 61px;
}
.container{
	padding: 0 10px;
    cursor: default;
}
.header-wrap{
	padding: 20px 10px;
}
.logo {
    margin-right: 10px;
    cursor:default;
}
.search-box{
	min-width: 290px;
}
.search-text{
	 width: 69%;
}
.header-left{
	width: 62.5%;
}
.navigation{
	margin: 9px 6px 0 0;
}
.navigation li{
	padding: 0 6px;
}
.login-btn{
	padding: 5px 12px;
}
.sign-btn{
	padding: 6px 12px;
}
.banner-content{
	padding: 0 10px;
}
.banner-content p{
	font-size: 17px;
	margin-bottom: 15px;
    width: 90%;
}
.hero-banner-info{
	margin: 0 0 20px;
}
.hero-banner-info li{
	margin-right: 15px;
}
.hero-banner-info strong{
	font-size: 35px;
	margin: 6px 0 0 0;
}
.hero-banner-info span{
	font-size: 14px;
	margin: 2px 0 0 6px;
}
.star_float{
	float:right;
    margin: 0px;
}
.hero-banner-info span small{
	font-size: 14px;
}
.btn-wrap li{
	margin-right: 15px;
}
.join-btn{
	font-size: 22px;
	padding: 7px 22px;
}
.learn-btn{
	font-size: 22px;
	padding: 7px 10px;
}
.live-video-wrap{
	padding: 35px 10px;
    cursor: default;
}
.live-video-item  figure {
    overflow: hidden;
}
.live-video-item  figure img {
    height: 100%;
    max-width: none;
    width: auto;
}
.live-video-row{
	margin: 0 -5px 16px;
}
.live-video-item{
	padding: 0 5px;
}
.grid-sm{
	margin: 0 10px 6px 0;
    width: 419px;
}
.description-wrap{
	padding: 35px 10px;
    cursor: default;
}
.desc-block{
	padding: 0 15px 40px;
}
.desc-block strong{
	font-size: 20px;
}
.blog-box{
	margin-right: 10px;
    padding: 10px 12px;
    width: 32.4%;
}
.blog-sec h2{
	margin-bottom: 35px;
}
.author li a{
	font-size: 11px;
}
.tweet-box{
	padding-right: 10px;
}
.tweet-details {
    width: 87%;
}
.quick-link{
	width: 30%;
}
.cont-info{
	width: 35%;
}
.email-text{
	 width: 64%;
}
.send-btn{
	font-size: 16px;
}
.grid-sm-details{
	padding: 0 8px;
}
.grid-sm-info strong{
	font-size: 13px;
}
.grid-sm-info small{
	font-size: 11px;
}
.like-icon{
	margin-right: 3px;
}
.grid-sm-details span{
	margin: 3px 0 0;
}
.grid-sm-details span a{
	font-size: 11px;
}
.video-cat strong{
	font-size: 18px
}
.video-cat span{
	 font-size: 14px;
}
.total-view li{
	margin-right: 10px;
}
.content_set {
    padding: 39px 50px 20px 50px;
    height: auto;
}
.content_setting_second1 {
    width: 40%;
    float: left;
    padding: 0px 45px 0 0;
    height: 100%;
}
.div_setting_second1 {
    padding-left: 5%;
    text-align: left;
    text-transform: capitalize;
}
.content_padding_setting {
    padding: 39px 106px 20px 106px;
}
.mail_font_size {
    font-size: 16px;
}
.learn_wrap_set h1 {
    margin: 5px 0 20px;
    color: #808080;
    font-size: 37px;
}
.learn_wrap_set p {
    font-size: 19px;
    width: 86%;
}

/*.buttonstar {*/
    /*float: left;*/
    /*width: 100%;*/
    /*text-align: left;*/
    /*min-width: 168px;*/
/*}*/
.texting {
    font-size: 15px !important;
}
.buttonstar_set {
    float: none;
    width: 100%;
    font-size: 12px !important;
    padding: 3px 0;
}
.btn_width_Set {
    margin: 0 !important;
    width: inherit;
}
.content_setting_second {
    width: 65%;
    float: left;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.content_set {
    padding: 45px 32px;
    height: auto;
}
.content_setting_second {
    width: 70%;
    float: left;
}
.div_setting_second {
    padding-left: 32px;
    width: 475px;
    text-align: left;
}
.box_Setting1{
	width:47%;
	margin-right:6%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting2{
	width:47%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting4{
	width:47%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting5{
	width:47%;
	margin-right:6%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}

.box_Setting3{
	width:47%;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:6%;
}
.box_Setting6{
	width:47%;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
}
.box_Setting1{
	width:44%;
	margin-right:6%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting2{
	width:47%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting4{
	width:47%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting5{
	width:47%;
	margin-right:6%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}

.box_Setting3{
	width:47%;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:6%;
}
.box_Setting6{
	width:47%;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
}
.buttonstar_set {
    float: left;
    width: 100%;
    font-size: 12px !important;
    padding: 3px 0px;
}
.texting{
	font-size:11px !important;
}
.right_view {
    width: 46%;
    float: left;
}
.box_set{
	background: #F3F3F3 none repeat scroll 0% 0%;
	padding: 52px 30px 0px;
}
.spacing_set {
    width: 100%;
}
.profile_info {
    text-align: left;
    width: 90%;
    padding-bottom: 30px;
}
.image_wrap{
	width:33%;
	margin:73px 0;;
}
h2 {
    font-size: 27px;
    margin-bottom: 18px;
}
.p_setting {
    font-size: 16px !important;
}
/*
.sm-btn2 {
    font-size: 13px;
    min-width: 64px;
    padding: 3px 4px 3px;
	margin-bottom: 8px !important;
}
*/
.div_setting1 {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    padding: 9px 9px;
    background: white;
}
.content_setting_second1 {
    width: 32%;
    float: right;
    padding: 0px 0px 0 0;
}
h2 {
    font-size: 23px;
    margin-bottom: 3px;
}
.content_setting {
    width: 100%;
    padding-top: 3px;
    clear: both;
}
.content_setting2 {
    width: 100%;
    padding-top: 10px;
    clear: both;
}
p {
    font-size: 13px;
    line-height: 1.2;
    color: #646464;
    font-family: 'Gotham Rounded Book';
    text-align: left;
}
    .descrip-row p{
        text-align: center;
    }
.content_setting1 {
    width: 100%;
    padding-top: 2px;
    clear: both;
}
.content_setting3 {
    width: 100%;
    padding-top: 9px;
    clear: both;
}
.write_a_review {
    width: 82%;
    float: right;
}
.write_review_image {
    width: 14%;
    float: left;
    text-align: center;
}
/*.box_Setting11{
	width:49%;
	margin-right:1.5%;
	max-height:172px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height:172px;
}*/
.box_Setting21{
	width:49%;
	margin-right:0px;
	max-height:172px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height:172px;
}
.box_Setting41{
	width:49%;
	margin-right:0px;
	max-height:172px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height:172px;
}
.box_Setting51{
	width:49%;
	margin-right: 1.5%;
	max-height:172px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height:172px;
}
.box_Setting31{
	width:49%;
	margin-right: 1.5%;
	max-height:172px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height:172px;
}
.box_Setting61{
	width:49%;
	margin-right:0px;
	max-height:172px;
	background-color:white;
	padding:6px 3px 6px 9px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height:172px;
}
.content_set {
    /*padding: 45px 10px;*/
    height: auto;
}
.create_class-button {
    width: 48%;
    border-radius: 7px;
    font-size: 29px;
    color: #ffffff;
    font-family: 'Gotham Rounded Book';
    background-color: #fcb040;
    display: inline-block;
    padding: 9px;
}
.classes1 {
    background: #7e0063;
    color: white;
    margin: 6px 0 0 0 !important;
    padding: 8px 5px;
    text-align: center;
    font-size: 12px;
}
.classes2 {
    background: #00b4cb;
    color: white;
    margin: 18px 0 0 0 !important;
    padding: 8px 5px;
    text-align: center;
    font-size: 12px;
}
.classes {
    background: #669934;
    color: white;
    margin: 18px 0 0 0 !important;
    padding: 8px 5px;
    text-align: center;
    font-size: 12px;
}

/*.calender_hover {*/
    /*background-color: #fcb040;*/
    /*height: auto;*/
    /*width: 400px;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*float: left;*/
    /*top: -134px;*/
    /*left: 116px;*/
    /*padding: 32px 17px 23px;*/
    /*border: 0;*/
    /*border-radius: 19px;*/
    /*box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);*/
    /*display: block;*/
/*}*/
.btn_class_set {
    float: left;
    width: 17%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 3px;
}
.btn_class_set1 {
    float: right;
    width: 17%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 3px;
}
.content_padding_setting {
    padding: 39px 26px 20px 26px;
}
.width_75 {
    width: 77%;
}
.width_25 {
    width: 22%;
    padding: 16px 0;
}
.message_map {
    font-size: 31px;
    height: 60px;
    width: 60px;
    background-color: #fcb040;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 13px;
    text-align: center;
}
.location_map {
    font-size: 40px;
    height: 60px;
    width: 60px;
    background-color: #fcb040;
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 11px;
    text-align: center;
}
.mail_font_size {
    font-size: 16px;
}
.div_set_center1 {
    width: 100%;
    max-height: 266px;
}
}
@media only screen and (max-width: 768px) {


.content_set {
    height: auto;
    padding: 45px 10px !important;
}
.div_setting {
    border: 1px solid #000;
    padding: 3px;
    background: #FFF none repeat scroll 0% 0%;
    float: left;
    text-align: center;
    width:100%;
}
.content_setting_second {
    float: left;
    width: 100%;
}
.div_setting_second {
    text-align: left;
    /*width: 100%;*/
	padding:0;
}
.div_set_center{
	margin:0 auto;
	width:65%;
}
.div_set_center{
	margin:0 auto;
	width:100%;
}
.review_set{
	font-size: 11px !important;
}
.box_Setting1{
	width:48%;
	margin-right:11px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting2{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting4{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting5{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}

.box_Setting3{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;

}
.box_Setting6{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;

}
.buttonstar_set {
    float: left;
    width: 100%;
    font-size: 17px !important;
    padding: 3px 0px;
}
.texting {
    font-size: 16px !important;
}
.profile_detail {
    float: left;
    text-align: left;
    width: 70%;
}
.left_view {
    float: left;
    width: 100%;
}
.profile_set {
    float: left;
    margin-right: 10px;
    width: 25%;
}
.right_view {
    width: 100%;
    float: left;
}
.div_setting1 {
    width: 100%;
    float: left;
    border: 1px solid black;
    padding: 2px 9px;
    background: white;
}
.image_setting1 {
    height: auto;
    float: left;
    text-align: center;
    width: 100%;
}
.div_setting_second1 {
    padding-left: 12px;
    text-align: left;
    padding-top: 12px;
}
.tr_set1 {
    text-align: center;
    font-size: 14px;
    height: 50px;
    border-bottom: 2px solid rgba(252, 176, 64, 0.42);
}
th, td {
    line-height: 1.5em;
    vertical-align: middle;
    padding: 0;
}
.tr_set {
    text-align: center;
    font-size: 18px;
	height: 100px;
}
.write_a_review {
    width:83%;
    float: left;
    padding: 3px;
}
.write_review_image {
    width: 17%;
    float: left;
    text-align: left;
}
.name_setting {
    font-size: 25px;
    color: #fcb040;
    font-weight: 600;
    text-align: left;
}
.content_setting_second1 {
    width: 100%;
    float: right;
    padding: 0px 45px 0 0;
}
.calender-wrap1 {
    background: url(../images/cal-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 15px 5px 23px 5px;
}
.clander_header {
    background-color: rgb(239, 91, 78);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(239, 91, 78);
    border-radius: 64px;
}
.box_Setting11{
	/*width:100%;
	margin-right:0;
	max-height:205px;*/
	/*background-color:white;
	padding:6px 4px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 205px;*/
}
.box_Setting21{
	width:100%;
	margin-right:0px;
	max-height:205px;
	background-color:white;
	padding:6px 4px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 205px;
}
.box_Setting41{
	width:100%;
	margin-right:0px;
	max-height:205px;
	background-color:white;
	padding:6px 4px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 205px;
}
.box_Setting51{
	width:100%;
	margin-right:0px;
	max-height:205px;
	background-color:white;
	padding:6px 4px;
	float:left;
	margin-top: 25px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 205px;
}
.box_Setting31{
	width:100%;
	max-height:205px;
	background-color:white;
	padding:7px 4px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	margin-right: 0px;
	height: 205px;
}
.box_Setting61{
	width:100%;
	margin-right:0px;
	max-height:205px;
	background-color:white;
	padding:7px 4px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
	border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #c6ccd2;
	height: 207px;
}
/*.class_title {
    float: left;
    padding: 10px 0 10px 16px;
    width: 58%;
}*/
.create_class-button {
    width: 95%;
    border-radius: 7px;
    font-size: 29px;
    color: #ffffff;
    font-family: 'Gotham Rounded Book';
    background-color: #fcb040;
    display: inline-block;
    padding: 9px;

}

.texting1 {
    font-size: 14px !important;
}
.texting2 {
    font-size: 14px !important;
    font-weight: 800;
}

.images_setting1 {
    height: 100%;
    width: 35%;
    padding: 4px 0;
    float: left;
}
.invite_class_et{
	width:30%;
}
.btn_width_Set {
    /*margin: 4px 0 !important;*/
    width: 65%;
    float: none;
    vertical-align: top;
    margin: 0 3px 0 0px !important
}
    .popup-btn li a{
        font-size: 12px;
        min-width: 58px;
    }
    .btn_width_Set {
     width: 53% !important; 
}
.btn_edit_set{
	margin:0 !important;
	width:30%;
	float:none;
}
.font_weight {
    font-size: 21px;
    font-weight: 800;
}
.classes1 {
    background: #7e0063;
    color: white;
    margin: 3px 0 0 0 !important;
	padding: 17px 5px;
    text-align: center;
    font-size: 9px;
	position: ABSOLUTE;
width: 100%;
float: right;
right: 0px;
}
.classes2 {
    background: #00b4cb;
    color: white;
  	 margin: 3px 0 0 0 !important;
	padding: 17px 5px;
    text-align: center;
    font-size: 9px;
	position: ABSOLUTE;
width: 100%;
float: right;
right: 0px;
}
.classes {
    background: #669934;
    color: white;
    margin: 3px 0 0 0 !important;
	padding: 17px 5px;
    text-align: center;
    font-size: 9px;
	position: ABSOLUTE;
width: 100%;
float: right;
right: 0px;
}
/*.calender_hover {*/
    /*background-color: #fcb040;*/
    /*height: auto;*/
    /*width: 400px;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*float: left;*/
    /*top: -168px;*/
    /*left: 58px;*/
    /*padding: 32px 17px 23px;*/
    /*border: 0;*/
    /*border-radius: 19px;*/
    /*box-shadow: 1px -1px 5px 3px rgba(204, 204, 204, 0.38);*/
    /*display: block;*/
/*}*/
.btn_class_set {
    float: left;
    width: 7%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 2px;
}
.btn_class_set1 {
    float: right;
    width: 7%;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 2px;
}
.div_setting {
    border: 1px solid #000;
    padding: 3px;
    background: #FFF none repeat scroll 0% 0%;
    float: left;
    text-align: center;
    margin: 0px 5px;
}
.spacing_set {
    width: 80%;
}
.learn_wrap {
    width: 100%;
    padding-left: 14px;
	padding-right: 14px;
}
.learn_wrap p {
    font-size: 20px;
    width: 100%;
}
.learn_small_wrap {
    width: 100%;
    padding-left: 14px;
}
.image_wrap {
    width: 100%;
    margin: 10px;
}
.box_set {
    background: #F3F3F3 none repeat scroll 0% 0%;
    padding: 32px 25px 0px 25px;
}
.li_set {
    width: 100%;
    float: left;
    padding: 15px 0px;
    font-size: 21px;
    text-align: left;
}
.li_setting {
    width: 100%;
    float: left;
    padding: 15px 0px;
    font-size: 21px;
    text-align: left;
}
.spacing_set {
    width: 100%;
	margin-top:15px;
}
.icon_set {
    width: 10%;
    float: right;
    height: 40px !important;
    background-position: -274px 9px;
}
.text_style {
    float: left;
    width: 85%;
}
.icon_setting {
    width: 10%;
    float: right;
    height: 40px !important;
    background-position: -268px -111px;
}
.btn_set {
    float: left;
    width: 17%;
}
.form_div_set{
	height:110px;
}
.text_style_set {
    width: 84%;
    float: left;
}
.profile_info {
    text-align: left;
    width: 100%;
    padding-bottom: 30px;
}
.content_padding_setting {
    padding: 39px 20px 20px 20px;
}
.learn_wrap_set p {
    font-size: 17px;
    width: 86%;
}
.learn_wrap_set h1 {
    margin: 5px 0 20px;
    color: #808080;
    font-size: 35px;
}
.form-padding{
	padding:20px 15px !important;
}
.width_set {
    width: 100%;
}
.width_25 {
    width: 100%;
    padding: 7px 0;
}
.width_75 {
    width: 100%;
}
.width_401 {
    width: 100%;
}
.width_601 {
    width: 100%;
	margin-top:20px;
}
.onoff_btn {
    width: 40%;
    vertical-align: middle;
    padding: 15px 0;
    float: right;
}
.li_set_btn {
    width: 47%;
    float: left;
    padding: 15px 0;
    font-size: 21px;
    text-align: left;
}
.noti_line {
    width: 68%;
    float: none;
    vertical-align: super;
    padding: 8px 0;
    font-size: 13px;
    text-align: left;
}
.buttonstar {
    float: left;
    width: 100%;
    text-align: left;
    min-width: 168px;
}
.p_setting {
    font-size: 16px !important;
}
h2 {
    font-size: 26px;
    margin-bottom: 18px;
}
.star_float{
	float:left;
}
.width_40 {
    width: 25%;

}

    .pwd_section {
        background-color: #FFF;
        margin: 31% auto;
        text-align: center;
        max-width: 99%;
        min-width: 99%;
        border: medium none;
        border-radius: 6px;
        height: auto;
        padding: 15px;
    }
    .width_30_tag_set {
        margin-right: 20px;
        padding: 12px 0px;
        width: 135px;
        text-align: left;
        float: left;
    }
    .width_30_tag {
        margin-right: 20px;
        padding: 12px 0px;
        width: 111px;
        text-align: left;
        float: left;
    }

    .width_65_tag{
        width:100%;
    }

    .redio_text ul li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
    }
    .login-block-tag {
        /* max-width: 695px; */
        /* width: 100%; */
        /* z-index: 10; */
        /* position: absolute; */
        /* float: right; */
        /* top: 24px; */
        /* right: 260px; */
        margin: 20px auto;
        width: 313px;
        overflow-y: auto;
        max-height: 656px;
        min-height: 0px;
        height: 100%;
    }
    .form-cont-wrapperss {
        padding: 20px 5px 20px 5px;
        background: #f3f3f3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .dropdwon_text ul li {
        list-style: none;
        display: inline-block;
        width: 31.75%;
        font-size: 18px;
        color: rgba(94, 94, 94, 0.52);
        text-transform: uppercase;
    }
    .redio_text ul li {
        list-style: none;
        display: inline-block;
        margin-right: 3%;
    }
}
@media only screen and (max-width: 915px) and (min-width: 0px){
    .calendar_summary{
        max-height: 59px;
        font-size: 14px;
    }
     .clander_header{
        width: 100%;
    }
    .cells{
        height: 88px;
    }
}
@media only screen and (max-width: 915px) and (min-width: 769px){
    .p_setting {
    font-size: 13px !important;
}
    .top_content .total_review p:first-child {
    font-size: 17px;
}
    .detail_class {
    font-size: 13px;
}
  
    .btn_class_set, .btn_class_set1{
        width: 7%;
    }
    .calendar_summary{
        max-height: 59px;
        font-size: 14px;
    }
    .content_padding_setting_class_detail {
    padding: 39px 56px 20px 56px;
}
}
@media only screen and (max-width: 768px) and (min-width: 0px){
    .p_setting {
    font-size: 20px !important;
    }
    .review_set {
    font-size: 19px !important;
    margin-bottom: 20px;
    }
    .top_content .total_review p:first-child {
    font-size: 25px;
}
}
@media only screen and (max-width: 1230px) and (min-width: 1086px){
    .popup-btn li a{
        font-size: 13px;
    }
}