/*
 Table Of Contents

 1.) Homepage
 2.) Subpage
 3.) UI Page
 ===============================================*/

/*
 1.) Homepage
 ----------------------------------------*/

.banner {
	position: relative;
	cursor:default;
}
.banner > img {
	width: 100%;
	vertical-align: top;
}
.banner-content {
	position: absolute;
	width: 45%;
	top: 19%;
	padding: 0 10px 0 30px;
}
.banner-content p {
	color: #ffffff;
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 42px;
	width: 90%;
}
.play-video, .grid-play-video {
	position: absolute;
	width: 104px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
}
.play-video a strong {
	display: block;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	background: rgba(0,0,0,0.6);
	padding: 7px 25px;
	margin-top: 10px;
	border-radius: 3px;
	font-family: 'Gotham Rounded Book';
}
.grid-play-video {
	width: 56px;
	height: 56px;
}
.grid-play-video img {
	width: 100%;
	height: 100%;
}
.gr-text {
	color: #11b340;
}
.blue-text {
	color: #65abd0;
}
.yellow-text {
	color: #d9c26c;
}
.hero-banner-info {
	margin: 0 0 36px 5px;
}
.hero-banner-info li {
	display: inline-block;
	margin-right: 45px;
}
.hero-banner-info strong {
	font-size: 50px;
	line-height: 1;
	font-family: 'Gotham Rounded';
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}
.hero-banner-info span {
	display: inline-block;
	vertical-align: top;
	margin: 2px 0 0 10px;
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	font-family: 'Gotham Rounded Book';
}
.hero-banner-info span small {
	display: block;
	font-size: 16px;
}
.btn-wrap {
	margin: 0 0 20px 10px;
}
.btn-wrap li {
	display: inline-block;
	margin-right: 13px;
	vertical-align: top;
}
.join-btn {
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	font-family: 'Gotham Rounded';
	font-weight: bold;
	background: #fcb040;
	padding: 8px 35px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	border-bottom: 2px solid #b57517;
}
.learn-btn {
	color: #ffffff;
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Gotham Rounded Book';
	border: 2px solid #f26436;
	padding: 13px 36px 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
}
.live-video-wrap {
	background-color: #f4f4f4;
	padding: 50px 28px 99px;
	-webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1) inset;
}
.live-video-item {
	float: left;
	padding: 0 8px;
	width: 100%;
}
.live-video-item figure {
	position: relative;
}
.live-video-item figure:before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
}
.grid-sm {
	float: left;
	width: 48.9%;
	margin: 0 16px 0 0;
	position: relative;
}
.grid-sm-details {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	display: inline-block;
	padding: 0 20px 0 14px;
}
.grid-sm-info {
	float: left;
}
.grid-sm-info strong {
	font-size: 16px;
	display: block;
	font-weight: bold;
	color: #ffffff;
}
.grid-sm-info small {
	font-weight: 300;
	color: #ffffff;
	font-size: 12px;
}
.grid-sm-details span {
	float: right;
	margin: 7px 0 0 0;
}
.grid-sm-details span a {
	font-weight: 300;
	color: #ffffff;
	font-size: 12px;
}
.live-video-item img {
	vertical-align: top;
}
.grid-sm:last-child {
	margin: 0;
}
.live-video-row {
	margin: 0 -8px 16px;
}
.grid-lg {
	position: relative;
}
.grid-lg-details {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.team-info {
	padding: 20px 28px 6px;
}
.likes-check {
	float: left;
	margin: 0;
}
.likes-check li {
	display: inline-block;
}
.likes-check li a {
	display: inline-block;
}
.total-view {
	float: right;
	margin: 0;
}
.total-view li {
	display: inline-block;
	margin-right: 30px;
}
.total-view li:last-child {
	margin-right: 0;
}
.total-view li a {
	color: #3c3c3c;
	font-size: 12px;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
}
.total-view li a i {
	margin: 0 2px 0 0;
}
.team-img {
	float: left;
	margin-right: 10px;
}
.team-descript {
	float: left;
	margin-top: 10px;
}
.team-descript strong {
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}
.team-descript span {
	font-size: 12px;
	color: #ffffff;
	font-weight: 300;
}
.video-cat {
	padding: 0 18px 18px 16px;
}
.video-cat strong {
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}
.video-cat span {
	font-size: 18px;
	color: #ffffff;
	font-weight: 300;
}
.view-wrap {
	background: #ffffff;
	bottom: 0;
	position: absolute;
	width: 100%;
	display: inline-block;
	padding: 24px 24px 16px 17px;
}
.description-wrap {
	padding: 40px 63px 62px;
	position: relative;
}
.description-wrap h2 {
	margin-bottom: 54px;
}
.desc-block {
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 0 70px 62px;
}
.desc-item {
	width: 99px;
	height: 99px;
	margin: 0 auto 20px;
	background-color: #5a862d;
	border-radius: 2px;
	position: relative;
}
.desc-item i {
	top: 50%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
}
.desc-block strong {
	font-size: 24px;
	color: #5a862d;
	line-height: 1.2;
	margin: 0 auto 10px;
	display: block;
	font-family: 'Gotham Rounded Book';
	max-width: 240px;
}
.description-wrap .join-btn {
	bottom: 19px;
	font-size: 24px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 210px;
}
.dark-green .desc-item {
	background-color: #5a862d;
}
.dark-yellow .desc-item {
	background-color: #df972c;
}
.dark-yellow strong {
	color: #df972c;
}
.light-red .desc-item {
	background-color: #f26436;
}
.light-red strong {
	color: #f26436;
}
.light-blue .desc-item {
	background-color: #00b4cb;
}
.light-blue strong {
	color: #00b4cb;
}
.light-green .desc-item {
	background-color: #b6dc04;
}
.light-green strong {
	color: #b6dc04;
}
.purple .desc-item {
	background-color: #7e0063;
}
.purple strong {
	color: #7e0063;
}
.blog-sec {
	background: url('../images/blog-bg.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 36px 0 58px;
	cursor: default;
}
.blog-sec h2 {
	color: #ffffff;
	margin-bottom: 74px;
}
.blog-box {
	width: 27.6%;
	float: left;
	padding: 10px 15px 20px 30px;
	margin-right: 97px;
	background-color: #f26436;
}
.blog-two {
	background-color: #b8791c;
}
.blog-three {
	background: #5a862d;
}
.blog-box:last-child {
	margin-right: 0px;
}
.blog-box p {
	color: #ffffff;
	font-size: 12px;
	line-height: 2;
	margin-bottom: 35px;
}
.author {
	margin: 0 0 25px 0;
}
.author li a {
	font-size: 12px;
	color: #ffffff;
	font-family: 'Gotham Rounded Book';
	display: inline-block;
	vertical-align: middle;
}
.author li:first-child {
	float: left;
}
.author li:last-child {
	float: right;
}
.read-more {
	font-size: 14px;
	color: #ffffff;
	font-family: 'Gotham Rounded';
	font-weight: bold;
	font-style: italic;
	display: block;
}

/*
 2.) Subpagee
 ----------------------------------------*/

.calender-wrap {
	background: url('../images/cal-bg.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.live-video-wrap.top-jedi {
	background-color: #ffffff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.profile-info {
	float: right;
}
.profile-info > li {
	display: inline-block;
	margin: 0 20px 0 0;
	position: relative;
}
.profile-info li a {
	font-family: 'Gotham Rounded Book';
	color: #646464;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.profile-info li img {
	border-radius: 50%;
	display: block;
}
.profile-dropdown {
	background-color: #d13325;
	list-style-type: none;
	padding: 0 0px;
	border-radius: 5px;
	width: 120px;
	visibility: visible;
	position: absolute;
	opacity: 1;
	-webkit-transition: visibility 0.2s ease 0s, opacity 0.2s ease 0s;
	-moz-transition: visibility 0.2s ease 0s, opacity 0.2s ease 0s;
	-ms-transition: visibility 0.2s ease 0s, opacity 0.2s ease 0s;
	-o-transition: visibility 0.2s ease 0s, opacity 0.2s ease 0s;
	transition: visibility 0.2s ease 0s, opacity 0.2s ease 0s;
	z-index: 99;
	right: -15px;
	top: 57px;
}
/*.profile-img:hover .profile-dropdown {*/
	/*visibility: visible;*/
	/*opacity: 1;*/
/*}*/
.profile-dropdown li {
	border-bottom: 1px solid #d74c40;
	position: relative;
	cursor:pointer;
}
.profile-dropdown li a {
	color: #ffffff;
	font-size: 13px;
	width:100%;
	padding: 10px 8px;
	cursor:pointer;
	transition: .5s font-size;
}
.profile-dropdown li a:hover{
	font-size: 15px;
}
.profile-dropdown:before {
	content: "";
	right: 30px;
	top: -5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #d13325;
	position: absolute;
}

/*scroll-css*/

.live-video-wrap.scroll-streams {
	position: relative;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	height: 5px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	height: 5px !important;
	background: #fcb040 !important;
	width: 100% !important;
	bottom: -1px !important;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background-color: red;
}
.ps-container > .ps-scrollbar-x-rail {
	opacity: 1 !important;
}
.pac-content {
	width: 100%;
}
.inner-content {
	width: 2590px;
	margin-bottom: 30px;
}
.live-video-item img {
	width: 100%;
}
.mb-15 {
	margin-bottom: 15px;
}
.live-video-row {
	float: left;
	width: 100%;
}
.ml-8 {
	margin-left: 8px;
}

/*calendar*/

.fc-toolbar .fc-center {
	background: #ef5b4e;
	max-width: 960px;
	width: 329px;
	border-radius: 30px;
}
.fc-toolbar h2 {
	font-size: 18px;
	color: #fff;
	font-family: 'Gotham Rounded Book';
	padding: 15px 0;
	display: block;
	text-align: center;
	float: none !important;
}
.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right {
	background: url(../images/sprite.png) no-repeat;
	height: 37px;
	width: 37px;
	display: block;
	background-position: -137px -54px;
	border: none;
	box-shadow: none;
	position: absolute;
	left: 427px;
	top: 18px;
}
.fc button .fc-icon {
	display: none;
}
.fc-toolbar {
	position: relative;
	background: rgba(255,255,255,0.2);
	padding: 11px 0;
	margin-bottom: 0;
}
.fc-state-default.fc-corner-right {
	background-position: -138px 0px;
	left: auto;
	right: 427px;
}
#calendar {
	max-width: 1176px;
	margin: 0 auto;
}
.fc-day-header {
	font-size: 16px;
	color: #939292;
	padding: 10px 24px !important;
	background: #e2e1e1;
	font-family: 'Gotham Rounded Book';
	text-align: left !important;
}
.fc table {
	margin-bottom: 0;
}
.fc-day.fc-widget-content {
	background: rgba(255,255,255,0.6);
}
.fc-other-month {
	font-size: 16px;
	color: #b1afad;
	font-family: 'Gotham Rounded Book';
}
.fc-day-number {
	color: #464646;
	font-family: 'Gotham Rounded Book';
}
.fc-ltr .fc-basic-view .fc-day-number {
	text-align: left;
	padding: 13px 13px 2px;
}
.calender-wrap {
	padding-bottom: 54px;
	padding-top: 30px;
}
.fc-day-grid-event .fc-content {
	padding: 10px 0;
}
.fc-day-grid-event {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
}
.event-a, .event-b, .event-c {
	font-size: 24px;
	color: #fff;
	display: block;
	text-align: center;
	font-weight: 700;
	font-family: 'Gotham Rounded';
	padding: 10px;
	position: relative;
	bottom: 15px;
}
.event-a span, .event-b span, .event-c span {
	font-size: 14px;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	display: inline-block;
	padding-left: 7px;
}
.fc-basic-view .fc-body .fc-row {
	height: 105px !important;
}
.fc-day-grid-container {
	height: 603px !important;
}
.fc-row.fc-widget-header {
	margin-right: 0 !important;
}
.fc-scroller {
	overflow: hidden !important;
}
.fc-toolbar .fc-right {
	display: none;
}
.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
	font-size: 0;
}

/*
 3.) UI Page
 ----------------------------------------*/

#wrapper.ui-page {
	background-color: #2f2f2f;
	padding: 77px 75px 0 85px;
	width: 2111px;
}
.login-overlay {
	position: absolute;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	z-index: 9999;
}

.login-wrap {
	max-width: 500px;
	border-radius: 5px;
	margin: 35px auto 20px;
	top: 10%;
	position: absolute;
	left: 0;
	right: 0;
	/*-webkit-transform: translateY(-50%);*/
	/*-moz-transform: translateY(-50%);*/
	/*-ms-transform: translateY(-50%);*/
	/*-o-transform: translateY(-50%);*/

}
.head-title {
	font-size: 48px;
	background-color: #555555;
	color: #ffffff;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	position: relative;
	margin-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 20px 0 10px 0;
	cursor: default;
}
.head-title a {
	position: absolute;
	width: 42px;
	height: 42px;
	display: block;
	right: 45px;
	top: 15px;
}
.form-cont-wrapper {
	padding: 52px 65px 40px 68px;
	background: #f3f3f3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form-content {
	/*padding: 52px 65px 40px 68px;*/
	background: #f3f3f3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form-cont-wrapperss {
	padding: 20px 65px 20px 68px;
	background: #f3f3f3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form-cont-wrapper li {
	margin: 12px 0;
}
.form-cont-wrapperss li {
	margin: 3px 0 20px;
	font-family: Gotham Rounded Book;
}
.form-cont-wrapperss li  ul{
	margin-bottom: 0px;
}
.text-box {
	display: block;
	padding: 12px 18px;
	border: 2px solid #bcbcbc;
	border-radius: 3px;
	color: #5e5e5e;
	font-size: 18px;
	/*text-transform: uppercase;*/
	font-family: 'Gotham Rounded Book';
	margin-bottom: 5px;
	box-shadow: none;
}
.text-box:focus {
	border: 2px solid #bcbcbc;
}
.Modal_text-box {
	padding: 8px 18px;
	font-size: 15px;
}
.forgot-pass {
	text-align: center;
}
.forgot-pass a {
	display: inline-block;
	color: #e5392f;
	font-family: 'Gotham Rounded Book';
	font-size: 15px;
	text-decoration: underline;
	margin: 2px 0 4px;
}
.form_ul{
	width: 90%;
	margin-left: 25.5px;
}
.login-button {
	color: #ffffff;
	font-family: 'Gotham Rounded Book';
	font-size: 20px;
	line-height: 1.2;
	background-color: #fcb040;
	border: 0;
	border-radius: 3px;
	display: block;
	padding: 8px 0;
}
.divider {
	color: #000000;
	font-size: 15px;
	line-height: 1.2;
	font-family: 'Gotham Rounded Book';
	display: block;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 24px 0 24px;
	cursor: default;
}
.divider:before, .divider:after {
	content: "";
	position: absolute;
	background-color: #e5b42f;
	height: 1px;
	width: 35%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.divider:before {
	left: 10%;
}
.divider:after {
	right: 10%;
}
.login-fb {
	color: #ffffff;
	font-size: 20px;
	line-height: 1.2;
	font-family: 'Gotham Rounded Book';
	background-color: #2553b4;
	border: 0;
	border-radius: 3px;
	text-align: left;
	padding: 8px 12px;
}
.login-fb i {
	margin-right: 22px;
}
.login-gmail i {
	margin-right: 14px;
}

.login-fb span {
	text-transform: uppercase;
	font-weight: bold;
}
.login-gmail {
	color: #ffffff;
	font-size: 20px;
	line-height: 1.2;
	font-family: 'Gotham Rounded Book';
	background-color: rgb(221,44,0);
	border: 0;
	border-radius: 3px;
	text-align: left;
	padding: 8px 12px;
}
.login-gmail span {
	text-transform: uppercase;
	font-weight: bold;
}
.create-acc {
	font-family: 'Gotham Rounded Book';
	color: #303030;
	font-size: 14px;
	line-height: 1.2;
}
.create-acc a {
	color: #e5392f;
	text-decoration: underline;
}
.login-block, .sign-block, .reset-pass {
	max-width: 613px;
	width: 100%;
}
.form-block {
	float: left;
	margin-right: 45px;
}
.form-block:last-child {
	margin-right: 0;
}
.view-row-two {
	margin-bottom: 32px;
}
.view-row-two .popup-white {
	margin-right: 20px;
	position: relative;
}
.view-row-two .popup-black {
	margin-right: 37px;
}
.popup-block {
	max-width: 460px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 22px 10px 10px 24px;
	position: relative;
}
.popup-white {
	background-color: #ffffff;
	padding: 20px 10px 6px 23px;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
	z-index:9999;
}
.popup-block h2 {
	font-size: 24px;
	color: #383737;
	text-align: left;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	margin-bottom: 15px;
}
.popup-block p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	margin-bottom: 10px;
}
.popup-white h2 {
	color: #383737;
}
.popup-white p {
	color: #383737;
}
.popup-black {
	background-color: #373636;
}
.popup-black h2 {
	color: #ffffff;
}
.popup-black p {
	color: #ffffff;
}
.popup-btn li {
	display: inline-block;
	margin: 0 12px 0 0;
}
.popup-btn li a {
	font-size: 14px;
	font-family: 'Gotham Rounded Book';
	text-transform: capitalize;
	line-height: 1.3;
	display: inline-block;
	min-width: 80px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 12px;
	border: 2px solid transparent;
	cursor:pointer;
}
.popup-btn li button {
	font-size: 14px;
	font-family: 'Gotham Rounded Book';
	text-transform: capitalize;
	line-height: 1.3;
	display: inline-block;
	min-width: 80px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 12px;
	border: 2px solid transparent;
	cursor:pointer;
}
.fav_button{
	background: #fcb040;
	font-size: 14px;
	font-family: 'Gotham Rounded Book';
	text-transform: capitalize;
	line-height: 1.3;
	display: inline-block;
	min-width: 80px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 12px;
	border: 2px solid transparent;
	cursor: pointer;
	color: white;
}
.cool-btn-gr {
	color: #ffffff;
	background-color: #24aa98;
}
.sure-btn-gr {
	color: #ffffff;
	background-color: #fcb040;
}
.cool-btn-black {
	color: #24aa98;
	border: 2px solid #24aa98 !important;
}
.sure-btn-black {
	color: #fcb040;
	border: 2px solid #fcb040 !important;
}
.close-btn {
	position: absolute;
	top: 8px;
	right: 9px;
	cursor:pointer;
}
.close-btn1 {
	position: absolute;
	top: 6px;
	right: 9px;
	cursor: pointer;
	width: 13px;
	font-size: 13px;
	height: auto;
	color: #383737;
}

/*Button Start*/

.btn {
	font-size: 18px;
	color: #ffffff;
	font-family: 'Gotham Rounded Book';
	line-height: normal;
	vertical-align: middle;
	margin-bottom: 25px;
	background: #fcb040;
	border: 2px solid transparent;
	width: auto;
}
.btn:hover, .btn:focus, button.btn:hover, button.btn:focus ,.texting2:focus{
	border: 2px solid transparent;
	outline:none;
}
button.white-btn:hover, button.white-btn:focus, button.white-btn:hover, button.white-btn:focus {
	border: 2px solid #fcb040;
}
.std-btn {
	min-width: 192px;
	padding: 16px 8px 17px;
}
.primary-btn {
	margin-right: 12px;
}
.primary-btn2 {
	margin-right: 46px;
}
.btn-two {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.btn-three {
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}
.white-btn {
	border: 2px solid #fcb040;
	background: #ffffff;
	color: #fcb040;
	border-radius: 50px;
}
.circle-btn {
	width: 60px;
	height: 60px;
	border-radius: 100%;
}
.med-btn {
	font-size: 16px;
	padding: 13px 15px 11px;
	min-width: 140px;
}
.circle-med-btn {
	width: 48px;
	height: 48px;
	border-radius: 100%;
}
.menu-btn {
	width: 48px;
	height: 48px;
	border-radius: 5px;
}
.sm-btn {
	font-size: 14px;
	min-width: 120px;
	padding: 8px 15px 8px;
}
.menu-sm-btn {
	width: 36px;
	height: 36px;
	padding: 3px 5px 4px 6px;
}
.circle-sm-btn {
	width: 36px;
	height: 36px;
	padding: 0;
}

.view-row-three {
	padding-bottom: 100px;
}
.switcher-sec {
	width: 72px;
}
.pri-check-block {
	padding: 5px 10px 10px;
	background: #2f2f2f;
}
.pri-check-block .radio-block {
	margin: 0 65px 0 13px;
}
.radio-block .cust-radio {
	margin: 0 0 7px 0;
}
.pri-check-block .checkbox-block {
	margin: 0 20px 0 0;
}
.view-row-three .select-block {
	margin: 0 20px 0 0;
}
.view-row-three .check-block {
	margin: 0 25px 0 0;
}
.next-prev-wrap {
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0px 2px;
}
.next-prev-wrap:after {
	content: "";
	background: #e8a43f;
	width: 2px;
	height: 100%;
	position: absolute;
	left: 0;
	margin: 0 auto;
	right: 0;
}
.next-btn {
	margin-bottom: 0;
	padding: 0px 2px;
}
.prev-btn {
	margin-bottom: 0;
	padding: 0px 2px;
}
.next-button {
	position: relative;
	padding: 13px 20px 14px 25px;
	border-radius: 5px;
	position: relative;
	font-size: 16px;
}
.next-button:after {
	content: "";
	background-image: url('../images/next-btn-bg.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 48px;
	position: absolute;
	left: 100%;
	top: 0;
}
.forward-btn {
	font-size: 14px;
	border-radius: 3px;
	position: relative;
	padding: 7px 15px 7px;
}
.forward-btn:after {
	content: "";
	background-image: url('../images/forward-btn-bg.png');
	background-repeat: no-repeat;
	width: 23px;
	height: 36px;
	position: absolute;
	left: 99%;
	top: -2px;
}

/*Button Start*/

/*switcher Start*/

/*------------------------------------------------*/
/* switch SECTION START*/
/*------------------------------------------------*/
.switch {
	position: relative;
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	color: #ccc;
	width: 72px;
	height: 36px;
	padding: 2px 6px 5px 6px;
	border-radius: 50px;
	background: #ececec;
	cursor: pointer;
	margin-bottom: 17px;
}
body.IE7 .switch {
	width: 72px;
}
.switch span {
	display: inline-block;
	font-size: 14px;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	text-transform: capitalize !important;
	vertical-align: middle;
	width: 24px;
}
.switch span.on {
	color: #13cdb5;
}
.switch .toggle {
	position: absolute;
	top: 3px;
	left: 4px;
	width: 32px;
	height: 28px;
	border-radius: 100%;
	background: #c6ccd2;
	/*z-index: 999;*/
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
textarea:focus{
	border: 2px solid #bcbcbc;
}
.switch.on .toggle {
	left: 2%;
}
.switch.off .toggle {
	left: 52%;
}
.switch-gray {
	border: 2px solid #c6ccd2;
}
.switch-gray .off {
	color: #c6ccd2;
}
.switch-gray .on {
	color: #13cdb5;
}
.switch-gray.on.off {
	border: 2px solid #24aa98;
}
.switch-gray.on.off .toggle {
	background-color: #24aa98;
}
.switch-green {
	padding: 4px 6px 5px;
}
.switch-green .toggle {
	background-color: #fcb040;
	top: 4px;
	left: 6px;
}
.switch-green span.on, .switch-green span.off {
	color: #ffffff;
	padding-top: 8px;
}
.switch-green {
	background: #c6ccd2;
}
.switch-green.on.off {
	background-color: #24aa98;
	background-color: #c6ccd2;
}

/*switcher Start*/

/*File Upload*/

.select-block {
	max-width: 283px;
	width: 100%;
}
.custom-file-upload-hidden {
	display: none;
	visibility: hidden;
	position: absolute;
	left: -9999px;
}

.custom-file-upload {
	display: block;
	width: auto;
	font-size: 12px;
	position: relative;
}
.custom-file-upload label {
	display: block;
	margin-bottom: 5px;
}

.file-upload-wrapper {
	position: relative;
	margin-bottom: 5px;
	width: 100%;
	display: inline-block;
	margin-left:24px;
}

.file-upload-input {
	width:100%;
	font-family: 'Gotham Rounded Book';
	font-size: 16px;
	padding: 6px;
	border: none;
	background-color: #ffffff;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	float: left;
	/* IE 9 Fix */
	height:42px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #c6ccd2;
}
.file-upload-input:hover, .file-upload-input:focus {
	background-color: #ffffff;
	outline: none;
}

.file-upload-button {
	cursor: pointer;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	padding: 5px 8px;
	border: none;
	margin-left: -1px;
	background-color: #fcb040;
	float: left;
	/* IE 9 Fix */
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	width: 138px;
	position: absolute;
	right: 25px;
	border-radius: 4px;
	top: 2px;
	height: 38px;
	padding: 11px;
	text-align: center;
}
.file-upload-button:hover {
	background-color: #fcb040;
}

/*File Upload*/

/* custom select style */

.sbHolder{
	background: #ffffff;
	width:100%;
	height:42px;
	line-height: 42px;
	border:1px solid #c6ccd2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.sbSelector{
	font-size: 12px;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	display: block;
	padding: 0 10px;
	color:#656464;
}
.sbOptions{
	background-color: #ffffff;
	top:47px !important;
	border:1px solid #fcb040;
	position: absolute;
	z-index: 1;
	width: 100%;
	display: inline-grid;
	max-height: 209px !important;
	overflow: auto;
}
.sbOptions li{
	width:100% !important;
}
.sbOptions:before{
	content:"";
	background: url('../images/arrow-top-img.png') no-repeat;
	width:14px;
	height:8px;
	position: absolute;
	right: 19px;
	top: -8px;
}
.sbOptions li a{
	font-size: 12px;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	color:#9c9b9b;
}
.sbOptions li:first-child{
	display: none;
}
.sbOptions li a{
	padding: 10px;
	display: block;
}
.sbOptions li a:hover{
	background-color: #fdd08c;
	color:#ffffff;
	display: block;
}
.sbToggle{
	background: url('../images/arrow-down.png') no-repeat;
	background-position: center center;
	width:38px;
	height:32px;
	position: absolute;
	right:5px;
	top:5px;
	border-left:1px solid #fdd18f;
}
/*.sbHolder {*/
	/*background: #ffffff;*/
	/*width: 100%;*/
	/*height: 42px;*/
	/*line-height: 42px;*/
	/*border: 1px solid #c6ccd2;*/
	/*-webkit-border-radius: 5px;*/
	/*-moz-border-radius: 5px;*/
	/*border-radius: 5px;*/
	/*position: relative;*/
/*}*/
/*.sbSelector {*/
	/*font-size: 12px;*/
	/*font-family: 'Gotham Rounded Book';*/
	/*font-weight: 300;*/
	/*!*display: block;*!*/
	/*padding: 0 0px;*/
	/*color: #656464;*/
/*}*/
/*.sbOptions {*/
	/*background-color: #ffffff;*/
	/*top: 7px !important;*/
	/*border: 1px solid #fcb040;*/
	/*overflow: auto;*/
	/*width: 100%;*/
	/*max-height: 189px;*/
	/*position: absolute;*/
	/*z-index: 9999;*/
	/*line-height:.3;*/
/*}*/

/*.adc{*/
	/*position: relative;*/
/*}*/
/*.adc:after {*/
	/*content: "";*/
	/*background: url('../images/arrow-top-img.png') no-repeat;*/
	/*width: 14px;*/
	/*height: 8px;*/
	/*position: absolute;*/
	/*right: 19px;*/
	/*top: 0px;*/
/*}*/
/*.sbOptions li a {*/
	/*font-size: 12px;*/
	/*font-family: 'Gotham Rounded Book';*/
	/*font-weight: 300;*/
	/*color: #9c9b9b;*/
/*}*/
/*!*.sbOptions li:first-child {*!*/
	/*!*display: none;*!*/
/*!*}*!*/
/*.sbOptions li a {*/
	/*padding: 8px 10px;*/
	/*display: block;*/
	/*line-height: .4256;*/
/*}*/
/*.sbOptions li a:hover {*/
	/*background-color: #fdd08c;*/
	/*color: #ffffff;*/
/*}*/
/*.sbToggle {*/
	/*background: url('../images/arrow-down.png') no-repeat;*/
	/*background-position: center center;*/
	/*width: 27px;*/
	/*height: 32px;*/
	/*position: absolute;*/
	/*right: 5px;*/
	/*top: 5px;*/
	/*border-left: 1px solid #fdd18f;*/
/*}*/

/*Custom Select*/

.text-area {
	width: 100%;
	font-family: 'Gotham Rounded';
	font-weight: 300;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px 5px 0px 5px;
	resize: none;
	border: 1px solid #c6ccd2;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #292321;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 23px;
	height: 23px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #f4ab3f;
}

input[type="radio"] + label span small {
	width: 15px;
	height: 15px;
	border: 1px solid #fcb751;
	background-color: #f9f6ec;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 3px 0 0 3px;
}
input[type="radio"] + label span {
	background-color: #ffffff;
}
input[type="radio"]:checked + label span {
	border: 1px solid #f76d05;
}
input[type="radio"]:checked + label span small {
	background-color: #ffa202;
}

input[type="radio"] + label span, input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.4s linear;
	-o-transition: background-color 0.4s linear;
	-moz-transition: background-color 0.4s linear;
	transition: background-color 0.4s linear;
}

/*Check-Box*/

.check-box {
	opacity: 0;
}
.cust-check label {
	position: relative;
	padding-left: 24px;
	font-size: 16px;
	color: #383737;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
}
.check-btn-block .cust-check {
	position: relative;
	margin: 0 0 30px !important;
}

.cust-check label:before, .check-box {
	height: 21px;
	width: 21px;
	left: 0;
	position: absolute;
	top: 0px;
	background: #fff;
	content: "";
	border: 1px solid #ff7003;
}
.check-btn-block .cust-check label:before, .check-btn-block .check-box {
	top: 3px;
}
.check-box {
	z-index: 9;
}
.cust-check {
	margin: 0 0 12px 0;
}
.cust-check label:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: transparent none repeat scroll 0 0;
	border-color: -moz-use-text-color -moz-use-text-color #ffa202 #ffa202;
	border-color: -webkit-use-text-color -webkit-use-text-color #ffa202 #ffa202;
	border-color: #ffa202 #ffa202;
	border-image: none;
	border-style: none none solid solid;
	border-width: medium medium 2px 2px;
	content: "";
	height: 6px;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 6px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	width: 12px;
}
.check-box:checked + label:after {
	opacity: 1;
}

/*Operators*/

.squre-operate-btn, .cir-operate-btn {
	padding: 6px 7px 18px;
	display: inline-block;
}
.squre-operate-btn a, .cir-operate-btn a {
	width: 22px;
	height: 22px;
	background-color: #fff;
	border: 1px solid #ff7003;
	display: block;
}
.cir-operate-btn a {
	border-radius: 50%;
}
.squre-operate-btn.active a, .cir-operate-btn.active a {
	background-color: #fcb040;
	border: none;
}

.pri-check-block .operate-icons {
	margin: 0 50px;
}
.sec-check-block {
	padding: 31px 31px 0 31px;
	background-color: #ffffff;
}
.pri-check-block  .operate-icons.active {
	margin: 0 33px 0 7px;
}

/*Radio Button block*/

.radio-btn-block{
	width:50%;
}
.cust-radio-blue span{
	font-size: 18px;
	color:#383737;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
}
.cust-radio-blue input[type="radio"] + label span{
	background: #dee2e7;
	border:none;
	width:24px;
	height:25px;
}
.cust-radio-blue input[type="radio"] + label span small{
	width:12px;
	height:12px;
	border:none;
	background-color: transparent;
	margin: 6px;
}
.cust-radio-blue input[type="radio"]:checked + label span small{
	background-color: #fcb040;
}
.cust-radio-blue input[type="radio"]:checked + label span{
	border:1px solid #dfe3e8;
}
.radio-btn-disable span{
	color:#c6ccd2;
}
.cust-radio-blue{
	margin: 0 0 0px;
}

/*Check Button block*/

.cust-check.check-disable label{
	color:#c6ccd2;
}
.check-btn-block{
	padding-left: 36px;
}
/*Date Picker*/

.view-row-three .calendar-block {
	margin-right: 15px;
}
.ui-datepicker {
	width: 300px;
}
.calendar-block .hasDatepicker {
	width: 300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.calendar-block .hasDatepicker .ui-datepicker-title {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0;
	line-height: 1;
}
.calendar-block .hasDatepicker .ui-datepicker-calendar {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
}
.calendar-block .ui-datepicker-calendar {
	background-color: #f2f5f8;
}
.calendar-block .ui-datepicker-header {
	position: relative;
	padding: 0;
}
.ui-datepicker {
	padding: 0;
	border: 0;
}
.ui-widget.ui-widget-content {
	border: 0px;
}
.calendar-block .ui-datepicker-title, .calendar-block .hasDatepicker .ui-datepicker-title {
	background-color: #24aa98;
	padding: 18px 0 12px 0;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	color: #ffffff;
	font-weight: 600;
}
.calendar-block .ui-datepicker-calendar thead {
	display: none;
}
.calendar-block .ui-datepicker-prev {
	left: 3px;
	position: absolute;
	top: 6px;
}
.calendar-block .ui-datepicker-prev span {
	background: url('../images/cal-prev.png') no-repeat;
	width: 6px;
	height: 10px;
	font-size: 0;
}
.calendar-block .ui-datepicker-next span {
	background: url('../images/cal-next.png') no-repeat;
	width: 6px;
	height: 10px;
	font-size: 0;
}
.calendar-block .ui-datepicker-next {
	right: 11px;
	top: 6px;
	position: absolute;
}
.ui-datepicker-calendar tbody tr:first-child td {
	padding-top: 5px;
}
.ui-datepicker-calendar tbody tr:last-child td {
	padding-bottom: 5px;
}
.ui-state-default {
	padding: 12px 7px 8px 12px;;
	display: block;
}
.ui-datepicker-calendar tbody td {
	border: none;
	line-height: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
}
.ui-datepicker-calendar tbody td a, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color: #383737;
	font-size: 14px;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	line-height: 1;
	display: block;
	padding: 16px 10px 16px 12px;
	border: 2px solid transparent;
	background-color: #24aa98;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	color: #383737;
	font-size: 14px;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	line-height: 1;
	border-radius: 5px;
}
.ui-datepicker td span {
	padding: 16px 0 0 0;
}
.ui-widget-header {
	background-color: #24aa98;
}
.ui-datepicker table {
	margin: 0;
}
.ui-state-active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 2px solid transparent;
}
.ui-datepicker-calendar .ui-state-disabled {
	color: #b4bbc2;
	font-size: 14px;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	line-height: 1;
}
.ui-datepicker-today {
	background-color: #24aa98;
	color: #ffffff;
}
.ui-datepicker-today a {
	border: none !important;
}
.ui-datepicker-today a {
	color: #ffffff !important;
}
.ui-state-active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: transparent;
}
.ui-state-active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	color: #383737;
	border: 2px solid #c6ccd2;
}
.ui-datepicker-today a.ui-state-active {
	border: none;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	margin-left: 0px;
	margin-top: 0px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	border: 0;
	background: inherit;
	font-weight: normal;
	color: inherit;
}

/*Notice Box*/

.notice-block .notice-wrapper {
	margin-right: 50px;
}
.notice-wrapper {
	max-width: 589px;
	width: 100%;
	margin-bottom: 10px;
}
.notice-msg-wrap {
	max-width: 450px;
	width: 100%;
	margin-bottom: 10px;
}
.notice-block {
	width: 58%;
	margin-right: 10px;
}
.notice-box {
	max-width: 100%;
	padding-right: 19px;
	min-width: 42%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.notice-msg {
	margin-bottom: 35px;
	padding: 10px 0 20px;
}
.notice-box span, .notice-msg span {
	color: #ffffff;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	vertical-align: middle;
}
.notice-box span {
	padding: 20px 0 18px 19px;
	border-left: 1px solid #a6ebee;
}
.yeah-box {
	background: #04c7ce;
}
.liking-box {
	background: #04ce9b;
}
.remove-box {
	background: #ff6766;
}
.warn-box {
	background: #ffb527;
}
.notice-box i, .notice-msg i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
}
.notice-msg i {
	margin-right: 20px;
}
.notice-box i {
	margin: 15px;
}
.yeah-msg span {
	color: #04c7ce;
}
.liking-msg span {
	color: #04ce9b;
}
.remove-msg span {
	color: #ff6766;
}
.warn-msg span {
	color: #ffb527;
}

/*Table */

.table-block {
	max-width: 806px;
	background-color: #ffffff;
	padding: 30px 45px;
	width: 100%;
}
.table-data {
	width: 100%;
}
.table-data td span.active, .table-data td.active {
	color: #24aa98;
}
.table-data td span.active {
	padding: 0;
}
.table-data {
	border: none;
}
.table-data th {
	font-size: 14px;
	color: #b4bbc2;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	border: none;
}
.table-data tr {
	border-bottom: 2px solid #dee2e7;
	border-top: 0;
}
.table-data tr td {
	font-size: 16px;
	color: #383737;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
}
.table-data tr td span, .table-data tr th span {
	color: #b4bbc2;
	padding: 0 20px 0 10px;
}
.table-data tr:last-child {
	border-bottom: 0;
}

/* Selected Row */

.cust-check.check-gr {
	margin: 0;
}
.check-gr.cust-check label::before, .check-gr.check-box {
	border: none;
	background: #dee2e7;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.check-gr.cust-check label::after {
	height: 5px;
	left: 3px;
	top: 7px;
	width: 9px;
	border-color: -moz-use-text-color -moz-use-text-color #ffffff #ffffff;
	border-color: -webkit-use-text-color -webkit-use-text-color #ffffff #ffffff;
	border-color: #ffffff #ffffff;
}
.cust-check.check-gr .check-box:checked + label:before {
	background: #24aa98;
}

/*Sec-- 5*/

.five-column-one {
	float: left;
	max-width: 300px;
}
.mrb-8 {
	margin-right: 8px;
	margin-bottom: 8px;
}
.mb-36 {
	margin-bottom: 36px;
}
.mr-38 {
	margin-right: 38px;
}
.mr-30 {
	margin-right: 30px;
}
.add-tags-box {
	background: #f2f5f8;
	padding: 19px 12px 12px;
	border-radius: 5px;
}
.box-heading {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	color: #393635;
	text-transform: uppercase;
	padding-left: 9px;
	font-weight: 600;
}
.tags-block {
	background: #fff;
	border: 2px solid #c6ccd2;
	border-radius: 5px;
	font-size: 0;
	padding: 8px 8px 0 8px;
}
.tag {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding: 8px 9px 8px 10px;
	border-radius: 5px;
}
.green-tag {
	background: #24aa98;
}
.blue-tag {
	background: #65abd0;
}
.maroon-tag {
	background: #db7560;
}
.yellow-tag {
	background: #d9c26c;
}
.tag-title {
	display: inline-block;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 600;
	vertical-align: middle;
	color: #fff;
}
.new-tag .tag-title {
	color: #383737;
}
.icon-tag-close {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	background-position: -323px -7px;
	margin-left: 10px;
	cursor: pointer;
}
.price-box {
	background: #f2f5f8;
	padding: 19px 20px 12px 14px;
	border-radius: 5px;
}
.price-range .ui-slider-horizontal {
	height: 4px;
	background: #dee2e7;
	border: 0;
}
.price-range .ui-slider-horizontal .ui-slider-handle {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.price-range .ui-slider .ui-slider-handle {
	width: 19px;
	height: 19px;
	border-radius: 50%;
	border: 2px solid #f2f5f8;
	background: #65abd0;
}
.price-range .ui-slider .ui-slider-handle:focus {
	outline: none;
}
.price-range .ui-widget-header {
	background: #65abd0;
}
.ui-widget-header {
	border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: none;
	text-align: center;
}
.price-range #amount {
	display: none;
}
.range--value {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #383737;
	border: 2px solid #c6ccd2;
	padding: 10px 12px;
	border-radius: 5px;
	margin-top: 25px;
	background: #fff;
}
.left--value {
	float: left;
}
.right--value {
	float: right;
}
.five-column-two {
	float: left;
	width: 100%;
	max-width: 380px;
}
.tab-box {
	background: #f2f5f8 !important;
	border-radius: 5px;
	overflow: hidden;
}
.tab-box .ui-tabs {
	padding: 0;
	background: transparent;
}
.tab-box .ui-tabs .ui-tabs-nav {
	padding: 0;
}
.tab-box .ui-widget-header {
	background: transparent;
	border: none;
}
.tab-box .ui-tabs .ui-tabs-nav li {
	margin: 0;
	background: #24aa98;
	border: none;
	border-radius: 0;
	width: 33.33333%;
	text-align: center;
}
.tab-box .ui-corner-all, .tab-box .ui-corner-top, .tab-box .ui-corner-right, .tab-box .ui-corner-tr {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.tab-box .ui-widget.ui-widget-content {
	border: 0;
}
.tab-box .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	float: none;
	display: block;
	padding: 16px 0px;
}
.tab-box .ui-state-active {
	background: transparent !important;
	border: 0 !important;
}
.tab-box .ui-state-active a, .tab-box .ui-state-active a:link, .tab-box .ui-state-active a:visited {
	color: #393635 !important;
}
.tab-box .ui-tabs .ui-tabs-panel {
	padding: 18px 12px;
}
.tab-left-content {
	float: left;
	width: 50%;
}
.tab-content-title {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #b4bbc2;
	padding-left: 10px;
}

.left-content-list {
	padding: 0 23px 0 0;
	margin: 0;
}
.left-content-list li a {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #383737;
	display: block;
	padding: 12px 10px;
	border-radius: 5px;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
}
.left-content-list li a:hover {
	background: #65abd0;
	color: #fff;
}
.tab-right-content {
	float: left;
	width: 50%;
	padding: 16px 0px 0 17px;
	background: #fff;
	height: 342px;
	border-radius: 5px;
}
.right-content-list li {
	padding: 0 0 10px;
}
.right-content-list li a {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #383737;
}
.tab-right-content .tab-content-title {
	padding-left: 0;
	margin: 0 0 10px;
}
.tab-box .mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.tab-box .mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
}
.tab-box .mCSB_scrollTools .mCSB_draggerRail {
	background-color: transparent;
}
.tab-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #c6ccd2;
	opacity: 1;
}
.five-column-three {
	float: left;
	max-width: 333px;
	width: 100%;
}
.accordian-title {
	font-family: 'Gotham Rounded Book';
	font-size: 18px;
	color: #fff;
	padding: 15px 23px;
	background: #24aa98;
	border: none;
	margin: 0;
	border-radius: 0;
	border-bottom: 1px solid #16897a;
	position: relative;
}
.accordian-title i {
	position: absolute;
	top: 0;
	right: 0;
}
.accordian-box .ui-state-active {
	border: none !important;
}
.accordian-list {
	padding: 0 8px;
	margin: 0;
}
.accordian-list li {
	padding: 17px 18px 18px;
	border-bottom: 1px solid #d7d7d7;
}
.accordian-list li a {
	font-family: 'Gotham Rounded Book';
	font-size: 16px;
	color: #383737;
}
.accordian-box .ui-accordion .ui-accordion-content {
	padding: 0;
	overflow: inherit;
}
.accordian-box .ui-state-default .ui-icon {
	position: absolute;
	width: 14px;
	height: 8px;
	background: url("../images/sprite.png");
	background-position: -356px -9px;
	right: 19px;
	top: 50%;
}
.accordian-box .ui-state-active .ui-icon {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

/*Loader*/

.perc {
	background: url("..images/loader-img.png") no-repeat center center !important;
	font-size: 26px !important;
	color: #242424 !important;
}
.ab {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dee3e9+0,266d62+6,698fbe+8,e0d94e+15,f78a62+23,5569ed+31,39a39f+38,727f30+46,37ed00+54,09f487+62,00d2f7+69,0086ed+77,6200ed+85,f21549+92,dfe4e8+100 */
	background: rgb(222,227,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(222,227,233,1) 0%, rgba(38,109,98,1) 6%, rgba(105,143,190,1) 8%, rgba(224,217,78,1) 15%, rgba(247,138,98,1) 23%, rgba(85,105,237,1) 31%, rgba(57,163,159,1) 38%, rgba(114,127,48,1) 46%, rgba(55,237,0,1) 54%, rgba(9,244,135,1) 62%, rgba(0,210,247,1) 69%, rgba(0,134,237,1) 77%, rgba(98,0,237,1) 85%, rgba(242,21,73,1) 92%, rgba(223,228,232,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(222,227,233,1) 0%,rgba(38,109,98,1) 6%,rgba(105,143,190,1) 8%,rgba(224,217,78,1) 15%,rgba(247,138,98,1) 23%,rgba(85,105,237,1) 31%,rgba(57,163,159,1) 38%,rgba(114,127,48,1) 46%,rgba(55,237,0,1) 54%,rgba(9,244,135,1) 62%,rgba(0,210,247,1) 69%,rgba(0,134,237,1) 77%,rgba(98,0,237,1) 85%,rgba(242,21,73,1) 92%,rgba(223,228,232,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(222,227,233,1) 0%,rgba(38,109,98,1) 6%,rgba(105,143,190,1) 8%,rgba(224,217,78,1) 15%,rgba(247,138,98,1) 23%,rgba(85,105,237,1) 31%,rgba(57,163,159,1) 38%,rgba(114,127,48,1) 46%,rgba(55,237,0,1) 54%,rgba(9,244,135,1) 62%,rgba(0,210,247,1) 69%,rgba(0,134,237,1) 77%,rgba(98,0,237,1) 85%,rgba(242,21,73,1) 92%,rgba(223,228,232,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee3e9', endColorstr='#dfe4e8',GradientType=0 ) !important; /* IE6-9 */
}
.cir {
	box-shadow: 0 0 5px 0 #000 inset;
}

/*File Uploader*/

.file-upload-block {
	background-color: #f2f2f2;
	padding: 34px 62px 35px;
	position: relative;
}
.file-upload-block .file-upload-button {
	background: #00ce9b none repeat scroll 0 0;
	border-radius: 5px;
	bottom: 0;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	height: 36px;
	left: 0;
	margin: 0 auto;
	padding: 10px 0;
	position: absolute;
	right: 0;
	top: inherit;
	width: 145px;
}
#reset1 {
	display: none;
}
#preview1 {
	border: none;
	background-image: url('../images/upload-img.png') !important;
	background-repeat: no-repeat;
	border-radius: 0px;
	max-height: inherit;
	min-height: 193px;
	width: 192px;
	position: relative;
	background-color: inherit;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	margin-top: 30px;
}
.file-upload-block .file-upload-input {
	display: none;
}

/*Progress Bar*/

.file-name {
	display: block;
	position: absolute;
	left: 5px;
	top: 3px;
}
.progress-circle {
	position: relative;
	background: #ffffff;
	padding: 46px 41px 56px !important;
}
.circle-cont {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.circle-cont span, .circle-cont strong {
	display: block;
	text-align: center;
	color: #242424;
	font-family: 'Montserrat', sans-serif;
	padding: 0 25px;
}
.circle-cont span {
	font-size: 14px;
}
.circle-cont strong {
	font-size: 26px;
	margin: 13px 0 10px 0;
}
.circle-cont img {
	margin: 0 auto;
	display: block;
}
.circle {
	border-radius: 50%;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #6b6666, 0 0 9px rgba(0, 0, 0, 0.5) inset, 0 4px 1px rgba(255, 255, 255, 0.8) inset;
	height: 247px;
	position: relative;
	width: 247px;
}
.view-row-four {
	padding: 0 0 62px;
}
.save-block {
	text-align: right;
	margin: 11px 0 0 0;
}
.save-btn {
	padding: 10px 15px 10px;
}

/*angular tabbing*/
.tab-title li {
	background: #24aa98 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	margin: 0;
	text-align: center;
	width: 33.3333%;
	float: left;
	color: #fff;
	padding: 16px 0;
	cursor: pointer;
}
.tab-title {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	margin: 0;
}
.tab-cont-wrapper {
	padding: 18px 12px;
	overflow: hidden;
}

/*angular-circle-progress*/
.progress-wrapper {
	position: relative;
}
.progress {
	position: absolute;
	text-align: center;
}
.progress img {
	display: block;
	margin: 10px auto;
}
.progress span {
	font-size: 14px;
	display: block;
	margin-top: 10px;
	color: hsl(0, 0%, 14%);
}
.progress strong {
	font-size: 26px;
	font-weight: normal;
	color: hsl(0, 0%, 14%);
}

/*angular-accordian*/
.accordian-list {
	background: #fff;
}
.pane-header {
	padding: 0;
}
.angular-accordion-pane-content {
	border: 0;
	padding: 0;
}
.icon-up {
	background-position: -355px 0;
	height: 20px;
	width: 20px;
}
.accordian-title i {
	position: absolute;
	right: 20px;
	top: 15px;
}
.angularaccordionheaderselected .accordian-title i {
	top: 19px;
	transform: rotate(-180deg);
}
.angular-accordion-header:hover {
	text-decoration: none !important;
}

/*Angular-Datepicker*/
.angularjs-datetime-picker {
	border: 0;
}
.calendar-block, .angularjs-datetime-picker {
	width: 300px;
}
.calendar-block input {
	font-size: 20px;
	color: #000;
	height: 44px;
	padding: 10px;
}
.angularjs-datetime-picker > .adp-days {
	width: 280px;
}
.angularjs-datetime-picker > .adp-month > button {
	width: 50px;
	font-size: 45px;
	top: -13px;
	color: #fff;
}
.angularjs-datetime-picker > .adp-month {
	background-color: hsl(172, 65%, 40%);
	color: #fff;
}
.angularjs-datetime-picker > .adp-days > .adp-day-of-week, .angularjs-datetime-picker > .adp-days > .adp-day {
	width: 40px;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selectable:hover {
	background: hsl(172, 66%, 40%);
}
.angularjs-datetime-picker > .adp-days > .adp-day.selected {
	background: hsl(172, 66%, 40%);
}
.adp-day {
	font-size: 14px;
	padding: 7px 10px;
	border-radius: 5px;
	font-family: "Cabin", sans-serif;
}

/*Angular range slider*/
.fl-right {
	float: right;
}
.price-range p {
	background: hsl(0, 0%, 100%) none repeat scroll 0 0;
	border: 2px solid hsl(210, 12%, 80%);
	border-radius: 5px;
	color: hsl(0, 1%, 22%);
	font-family: "Cabin", sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 12px;
}
slider span.pointer::after {
	background-color: hsl(201, 53%, 61%);
	height: 90%;
	left: 1px;
	top: 1px;
	width: 90%;
}
slider span.pointer {
	border: 1px solid hsl(201, 53%, 61%);
	background: #fff;
}
slider span.bar.selection {
	background: hsl(201, 53%, 61%);
}

/*Angular scroll bar*/

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
	background-color: hsl(210, 12%, 80%);
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track {
	background: none;
	box-shadow: 0;
}

/*Angular select box*/

.wrap-dd-select {
	width: 100%;
}
.wrap-dd-select .dropdown li a {
	color: hsl(0, 1%, 61%);
	font-family: "Gotham Rounded";
	font-size: 12px;
	font-weight: 300;
	display: block;
	padding: 10px;
}
.selected.ng-binding {
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}
.wrap-dd-select .dropdown li:hover a {
	background: hsl(36, 97%, 77%);
	color: #fff;
}
.upload-files {
	opacity: 0;
	position: relative;
	z-index: 9
}
.button-up {
	background: hsl(0, 0%, 100%);
	font-size: 16px;
	height: 100%;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 100%;
}
.button-up:after {
	background: hsl(36, 97%, 62%);
	color: hsl(0, 0%, 100%);
	content: "Chose Files";
	font-size: 12px;
	height: 85%;
	padding: 10px 0;
	position: absolute;
	right: 3px;
	text-align: center;
	top: 3px;
	width: 110px;
	cursor: pointer;
}
.ngscrollbar-y {
	background-color: hsl(208, 13%, 80%) !important;
}
.ngscrollbar-container-x {
	background-color: hsla(0, 0%, 0%, 0.4) !important;
	height: 5px !important;
}
.ngscrollbar-x {
	background: hsl(36, 97%, 62%) !important;
	opacity: 1 !important;
	height: 8px !important;
	top: -2px !important;
	border-radius: 6px !important;
	display: block !important;
}
.width-100 {
	width: 100px;
}
.browse-fl.ng-binding {
	font-size: 16px;
	height: 100%;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 70%;
	background: red;
	right: 0;
	margin: 0 auto;
	border-radius: 8px;
}
.browse-fl:after {
	background: hsl(165, 100%, 40%);
	color: hsl(0, 0%, 100%);
	content: "Chose Files";
	cursor: pointer;
	font-size: 13px;
	height: 100%;
	padding: 13px 0;
	position: absolute;
	left: 0;
	text-align: center;
	top: 0;
	width: 100%;
	border-radius: 5px;
}
simple-calendar .weekday {
	background: hsl(0, 2%, 88%) none repeat scroll 0 0;
	color: hsl(0, 0%, 57%);
	font-family: "Gotham Rounded Book";
	font-size: 16px;
	padding: 10px 24px !important;
	text-align: left !important;
}

simple-calendar .day {
	height: 105px !important;
	background: hsla(0, 0%, 100%, 0.6) none repeat scroll 0 0;
	border: 1px solid hsl(0, 0%, 87%);
	float: left;
	overflow: hidden;
	width: 14.28%;
	border-bottom: 0;
}
.day-number {
	padding: 10%;
	float: left;
	width: 100%;
}
#calendar {
	border-bottom: 1px solid hsl(0, 0%, 87%);
}
.event-title {
	float: left;
	width: 100%;
}
.event-a {
	background-color: hsl(90, 49%, 40%);
}
.event-b {
	background-color: hsl(187, 100%, 40%);
}
.event-c {
	background-color: hsl(313, 100%, 25%);
}
simple-calendar .current-month {
	background: hsl(5, 83%, 62%);
	border-radius: 30px;
	max-width: 960px;
	width: 329px;
	margin: 0 auto;
}
simple-calendar .current-month {
	padding: 15px 8px;
	margin-bottom: 10px;
	text-align: center;
}
.current-month {
	position: relative;
}
.current-month span {
	color: #fff;
	font-size: 18px;
	font-family: "Gotham Rounded Book";
}
simple-calendar > div+ div {
	display: table;
	width: 100%;
}
simple-calendar .week {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

simple-calendar .weekday {
	display: table-cell;
}
.move-month {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	right: 0;
}
.move-month span {
	height: 50px;
	width: 50px;
	font-size: 0;
	display: block;
}
.move-month.prev-month span {
	float: left;
	background-image: url(../images/sprite.png);
	background-position: -127px -48px;
}
.move-month.next-month span {
	float: right;
	background-image: url(../images/sprite.png);
	background-position: -135px 7px;
}

.login-overlay.overlay-open
{
	display: block;
}
.custom_select{ /*font-size: 12px;
    font-family: 'Gotham Rounded';
    font-weight: 300;*/
	color: rgb(94, 94, 94);;
	font-size: 18px;
	height: 52px;
	font-family: 'Gotham Rounded Book';
	/*display: block;*/

	padding: 0px 0px;
	border-radius: 4px;

	/*border: 2px solid #cccccc;*/
	height: 49px;
	}
.dropdwon_text ul li{
	list-style:none;
	display: inline-block;
	width:100%;
	font-size:18px;
	color: rgba(94, 94, 94, 0.52);
	/*text-transform: uppercase;*/
}
.dropdwon_text{font-family: 'Gotham Rounded Book';}
.redio_text ul li{list-style:none; display: inline-block;margin-right:0px;padding-right: 14px;}

.redio_text{font-family: 'Gotham Rounded Book';}
label{font-size: 18px;font-family: 'Gotham Rounded Book';color: rgba(94, 94, 94, 0.52);
	}
textarea{font-family: 'Gotham Rounded Book';border-radius:3px;font-size: 18px;color: #5e5e5e;border: 2px solid #bcbcbc;    margin-top: 7px;resize: none;}
.btnDefault, .btnUpload {
	background-color: #fcb040;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: 300;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width:145px;
}
.btnDefault:focus, .btnDefault:hover, .btnUpload:focus, .btnUpload:hover {
	background-color: #fcb040;
}
.btnM {
	border-radius: 5px;
	font-size: 15px;
	padding: 13px 12px;
}
.customUpload {
	overflow: hidden;
	position: relative;
	display: block;
}

.customCredential{
	position:absolute;
	right:24px;
	border-radius:0 5px 5px 0;
	height:42px;
	/*margin: 1px 20px;*/
}
.customUpload input.upload {
	cursor: pointer;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0;
	position: absolute;
	right: 0;
	left:0;
	top: inherit;
}
.file-upload-margin
{
	margin-left: -23px;
}


.div_setting {
	border: 1px solid #000;
	padding: 3px;
	background: #FFF none repeat scroll 0% 0%;
	float: left;
	text-align: center;
	width:100%;
}
.content_setting_second {
	float: left;
	width: 100%;
}
.div_setting_second {
	text-align: left;
	/*width: 100%;*/
	padding:0;
}
.div_set_center{
	margin:0 auto;
	width:100%;
}
.review_set{
	font-size: 15px !important;
}
.box_Setting1{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting2{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting4{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting5{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}

.box_Setting3{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;

}
.box_Setting6{
	width:100%;
	margin-right:0px;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;

}
.buttonstar_set {
	float: left;
	width: 43%;
	font-size: 12px !important;
	padding: 3px 0px;
}
.texting{
	font-size:11px !important;
}
.profile_set {
	float: left;
	margin-right: 10px;
	width: 25%;
}
.right_view {
	width: 100%;
	float: left;
}

.spinner {
	width: 139px;
	z-index: 1;
	border-radius: 4px;
	position: relative;
	height: 46px;
	left: 1px;
	bottom: 160px;
	text-align: center;
	background: rgba(96, 125, 139, 0.14);
}

.spinner > div {
	background-color: #ffffff;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}
.content_set{
	padding: 45px 70px 20px 70px;
	height:auto;

}
.image_setting{
	height:auto;
	margin:0 auto;
	text-align:center;
}
.text_design{
	text-decoration:underline;
}
.heading_set{
	padding:0px 12px 5px 0;
	color:#808080;
	font-family: Gotham Rounded Book;
}

.content_setting{
	width:100%;
	padding-top:13px;
	clear:both;
}
.body_setting{
	height:auto;
	width:100%;
	clear:both;
}
.div_setting{
	width:208px;
	float:left;
	border:1px solid black;
	padding:3px;
	background:white;
}
.profilePic_width{
	width:217px;
}
.content_setting_second{
	width:80%;
	float:left;
}
.div_setting_second{
	padding-left:50px;
	/*width:625px;*/
	text-align:left;
}

.middle_section{
	height:auto;
}
.title_set{
	float:left;
	margin-bottom: 0px !important;
}
.viewall_set{
	float:right;
}
.head_set{
	display:inline-block;
	font-size:18px;
	color: #808080;
	font-family: 'Gotham Rounded Book';
	font-weight: inherit;
}
.imagesection{
	width: 100%;
	margin: 0 auto;

}
.mid_content{
	height:auto;
}
.box_Setting1{
	/*width:31%;*/
	width:29%;
	margin-right:3.4%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
	text-transform: capitalize;
	position: relative;
}
.box_Setting2{
	width:31%;
	margin-right:3.4%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting4{
	width:31%;
	margin-right:3.4%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.box_Setting5{
	width:31%;
	margin-right:3.4%;
	height:auto;
	background-color:white;
	padding:6px 12px;
	float:left;
	margin-top: 25px;
}
.images_setting{
	height:174px;
	width:100%;
	padding:4px 0;
}
.box_Setting3{
	width:31%;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
}
.box_Setting6{
	width:31%;
	height:auto;
	background-color:white;
	padding:7px 12px;
	float:left;
	margin-top: 25px;
	margin-right:0px;
}
.para_set{
	padding: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 98%;
	white-space: nowrap;
	text-decoration: underline;
}
.texting{
	font-size:12px !important;
}
.buttonstar_set{
	float:none;
    width:48%;
    font-size:12px !important;
    padding: 3px 0;
}
.buttonstar{
	float:right;
	width:48%;
	text-align: right;
	min-width: 168px;
}
.texting{
	font-size:12px !important;
}
.total_review{
	height:auto;
	width:100%;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.review_detail{
	height:auto;
	width:100%;
	margin:5px 0px;
}
.left_view{
	width: 100%;
	float:left;
	text-transform: capitalize;
}
.profile_set{
	width: 90px;
	float:left;
	margin-right:10px;
}
.profile_setting{
	width:80px;
	height:80px;
    border: 1px solid #eee;
}
.name_set{
	font-size:18px;
	color:#fcb040;
	font-weight:600;
	margin-bottom:7px;
}
.time_detail{
	font-size:16px;
	font-weight:600;
	margin-bottom:6px;
}
.time_detail1{
	font-size:15px;
	font-weight:600;
	margin-bottom:7px;
}
.right_view{
	width:58%;
	float:left
}
.spacing_set{
	width:80%;
}
.text_style{
	width:69%;
	float:left;
}
.text_style_set{
	width:69%;
	float:left;
}
.li_set{
	width:30%;
	float:left;
	padding: 15px 0;
	font-size: 21px;
	text-align: left;
}
.li_setting{
	width:25%;
	float:left;
	padding: 15px 0;
	font-size: 21px;
	text-align: left;
}
.icon_set{
	width:5%;
	float:left;
	height: 40px !important;
	background-position: -274px 9px;
}
.btn_set{
	float: right;
	width: 17%;
}
.icon_setting{
	width:5%;
	float:left;
	height: 40px !important;
	background-position:-268px -111px;
}
.profile_info{
	text-align:left;
	width:80%;
	padding-bottom:30px;
}
.box_set{
	background:#f3f3f3;
	padding: 52px 65px 0px 68px;
}
.box_set2{
	background:#f3f3f3;
	padding: 0px 65px 0px 68px;
}
.form_div_set{
	height:55px;
}
.image_wrap{
	width:33%;
	margin:0px;
}
.confirm-popup{
	left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
.custom_list li{margin: 0 0 20px 0;}
.custom_list{margin-top: 20px;}
.reoccuring {
	padding-left: 0px;
}
.custom_list li {
	margin: 0 0 20px 0;
    outline:none;
}
.reoccuring li {
	display: inline-block;
	list-style: none;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Gotham Rounded Book';
	width: 257px;
	color: rgba(94, 94, 94, 0.57);
}
.profile-dropdown li:hover{
	background-color: rgba(0, 0, 0, 0.08);
	width:100%;
	/*z-index: 99;*/
	/*right: -15px;*/
	/*top: 50px;*/
}

.li-pointer{
	cursor: pointer;
}
/*.li-pointer a:hover{*/
	/*font-size: 20px;*/
/*}*/
.pass-reset{
	z-index: 9999;
	position: fixed;
	left: 325px;
	top: 128px;
}
/*btn hover shadow*/
.header-btn li a:hover,.login-fb:hover,.login-gmail:hover,.popup-btn li a:hover,.popup-btn li button:hover{
	box-shadow: 0 6px 9px 0px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.button_disabled{
	pointer-events: none;
	color: rgb(255,255,255);
	background: rgb(189,189,189);
}
.repeat-class {
	z-index: 9999;
	margin:20px auto;
	box-shadow: 0 6px 9px 0px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.my_classes_active,.dashboard_active{
	background-color: rgba(255, 87, 34, 0.38);
}
.hr_class{
	margin: 30px 0 40px 0;
	border-bottom: 2px solid rgba(198, 210, 207, 0.48);
	width: 98.6%;
}

.hr_class_second {
	margin: 15px 0;
	border-bottom: 2px solid rgba(198, 210, 207, 0.48);
	width: 100%;
}
.hr_class_third {
	margin: 30px 0 40px 0;
	border-bottom: 2px solid rgba(198, 210, 207, 0.48);
	width: 94%;
}
.hr_class_one{
	margin: 0px 0 17px 0;
	border-bottom: 2px solid rgba(198, 210, 207, 0.48);
	width: 98%;

}
.when_hover
{
	max-width : 184px;
	white-space : nowrap;
	overflow : hidden;
}
.when_hover:hover {
	max-width : initial;
}
.circle-operate-icons
{
	color: #808080;
	font-family: Gotham Rounded Book;
}
.file-upload-block {
	 background-color: #f2f2f2;
	 padding: 49px 62px 35px;
	 position: relative;
 }
.box_shadow
{
	border: 0;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
	position:relative;
}
.images_setting_padding
{
	padding: 0px 0;
}
.buttonstar_set_padding
{
	padding: 11px 0;
}
.when_hover1
{
	Z-INDEX: 1;
	POSITION: absolute;
	bottom: 114px;
	left: 46px;
	border: 1px solid #fcb040;
	border-radius: 6px;
	background: white;
	width: auto;
	height: auto;
	padding:8px 7px 7px 12px;
	color: #646464;
	font-family: Gotham Rounded Book;
}
.when_hover1::before{
	content: "";
	position: absolute;
	bottom: -17px;
	left: 4px;
	border-width: 8px;
	border-style: solid;
	border-color: #fcb040 transparent transparent transparent;


}
.when_hover2::before{
	content: "";
	position: absolute;
	bottom: -17px;
	left: 4px;
	border-width: 8px;
	border-style: solid;
	border-color: #fcb040 transparent transparent transparent;

}
.when_hover2
{
	Z-INDEX: 1;
	POSITION: absolute;
	bottom: 275px;
	left: 104px;
	border: 1px solid #fcb040;
	border-radius: 6px;
	background: white;
	width: 230px;
	height: auto;
	padding: 8px 7px 7px 12px;
	color: #646464;
	font-family: Gotham Rounded Book;
}
.divAlignment{
	position: relative;
	width: 69%;
	display: inline-block;
	box-sizing: inherit;
}
.tagAlignment{
	text-align: left;
	width: 30%;
	display: inline-block;
	min-height: 1px;
	float: none;
	vertical-align: top;
	padding-top: 14px;
	color: #808080;
}
input.submitted.ng-invalid
{
	border:2px solid #f00;
}

textarea.submitted.ng-invalid
{
	border:2px solid #f00;
}
.trim
{
	position: relative;left: 324px;bottom: 91px;
}
@-moz-document url-prefix() {
	.trim {
		position: relative;left: 324px;bottom: 103px;
	}
}
.dropdownAlignment{
	position: relative;
   top: -1px;
}
@-moz-document url-prefix() {
	.dropdownAlignment {
		position: relative;
		top: 11px;
	}
}
#scrollArea {
	max-height: 560px;
	overflow: auto;

}
#scrollSelect{

	max-height: 200px;
	overflow: auto;
}
#scrollAr {
	height: 572px;
	overflow: auto;

}
#login{
	overflow: auto;
}
#signup{
	overflow: auto;
}
.star_margin{
	margin: 10px 0;
}
.full_heart
{
	color: #f26436;
}
.half_heart
{
	color: rgba(0, 0, 0, 0.13);
}
.aboutTag{
	position: relative;
	top: -200px;
}
.cool-btn-gr_padding{
	padding: 7px 12px;
}
@-moz-document url-prefix() {
	.aboutTag {
		position: relative;
		top: -221px;
	}
}
.videoBlur{
	background: rgba(0, 0, 0, 0.59);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#bg-video{
	position:relative;
	width: 100%;
}

/*youtube embed player*/
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(240, 240, 240, 0.4);
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.5%;
}

.embed-responsive-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
/*.video-wrapper {*/
	/*margin: 4.0rem 0 -22px;*/
/*}*/
.ytp-button{
	border: none;
	background-color: transparent;
	padding: 0;
	color: inherit;
	text-align: inherit;
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
	display: none;
}

/*loader css*/
.sk-circle {
	position: fixed;
	z-index: 999;
	height: 4em;
	width: 4em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.sk-circle:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #333;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg); }
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg); }
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); }
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg); }
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg); }
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); }
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg); }
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg); }
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg); }
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg); }
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s; }
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}


.category_unSubmitted{
	border: 1px solid #f00;
}
.category_submitted{
	border: none;
}
.link_disabled{
	pointer-events: none;
}

/*map css*/
.ng-map-info-window {

	background-color: #fcb040;
	color: #fff;
}

.ng-map-info-window div:first-child > div:nth-child(1) {
	border-top-color: #fcb040 !important;
}
.ng-map-info-window div:first-child > div:nth-child(2) {
	background-color: rgba(0, 0, 0, 0) !important;
}
.ng-map-info-window div:first-child > div:nth-child(3) div {
	background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 6px !important;
}
.ng-map-info-window div:first-child > div:nth-child(4) {
	background-color: transparent !important;
}
.t_c{
	 cursor: pointer;

 }
.t_c:hover{
	text-decoration: underline;
}

/*for outline blue on focus*/
#login:focus,.head-title:focus,.sp-icon:focus,.tooltip:focus,
.div_setting:focus,.box_Setting1:focus,.latest-tweet:focus,
.tweet-box:focus,.quick-link:focus,.cont-info:focus,
.div_setting_second:focus,.box_Setting11:focus,li:focus,ul:focus,.cells:focus,.calender_hover:focus,.calender_hover_right:focus,.custom_select:focus{
	outline: none;
}

.modal.modal-slide-in-right .modal-dialog {
	opacity: 0;
	-webkit-transform: translate(0%, 20%);
	-ms-transform: translate(0%, 20%);
	-o-transform: translate(0%, 20%);
	transform: translate(0%, 20%);
	-webkit-transition: all .3s cubic-bezier(.25, .5, .5, .9) .1s;
	-o-transition: all .3s cubic-bezier(.25, .5, .5, .9) .1s;
	transition: all .3s cubic-bezier(0, 0.63, 0.57, 1.4) .1s;
}

.modal.modal-slide-in-right.in .modal-dialog {
	opacity: 2;
	-webkit-transform: translate(0px, 23px);
	-ms-transform: translate(0px, 23px);
	-o-transform: translate(0px, 23px);
	transform: translate(0px, 23px);
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: auto;
	outline: 0;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-open {
	overflow: hidden;
}
/*.modal-open .modal {*/
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
/*}*/
/*.modal-content {*/
	/*position: relative;*/
	/*display: -webkit-box;*/
	/*display: -webkit-flex;*/
	/*display: -ms-flexbox;*/
	/*display: flex;*/
	/*-webkit-box-orient: vertical;*/
	/*-webkit-box-direction: normal;*/
	/*-webkit-flex-direction: column;*/
	/*-ms-flex-direction: column;*/
	/*flex-direction: column;*/
	/*background-color: #fff;*/
	/*-webkit-background-clip: padding-box;*/
	/*background-clip: padding-box;*/
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
	/*border-radius: 0.3rem;*/
	/*outline: 0;*/
/*}*/
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background: rgb(0,0,0);
}

.modal-backdrop.fade {
	opacity: 0.6;
}

.modal-backdrop.show {
	opacity: 0.7;
}
/*for scrollbar*/
.scrollbar
{
    /*height: calc(100vh - -184px);*/
    overflow-x: scroll;
    overflow-y: hidden;

}

.force-overflow
{
    min-width: 100%;
}
/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: rgba(255, 255, 255, 0);
}

#style-2::-webkit-scrollbar
{
    width: 2px;
    height:4px;
    background-color: #f50e23;
}

#style-2::-webkit-scrollbar-thumb
{
    /*border-radius: 10px;*/
    width:2px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #fcb040;
}

/*end of scrollbar*/

.file_error_span
{
	position: relative;
	font-family: gotham rounded book;
	color: rgb(245,0,87);
	float: right;
}
.error-msg{
	clear: both;
	padding: 15px 0;
}
.user_img{
	position: relative;
	top: 0px;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	display: block;
	LEFT: 11px;
}
.sure-btn-gr_inline{
	width: 100% !important;
	padding: 4px 10px !important;
	margin-right: 13px !important;
}
.cool-btn-gr-inline{
	padding: 4px 10px !important;
	width: 100% !important;

}
.content_setting2_inline{
	padding-top: 7%;
}

.editHover_class_detail{
	top: 240px !important;
	left: 0px !important;
}
.box_Setting1_width{
	width: 29% ;

}
.popup-btn li img{
	vertical-align: middle;
}
.edithover ul{
	text-align: center;
}
.edithover span span i{

	cursor: pointer;
}
.fav_inline{
	float: right !important;
	position: relative !important;
	left: 235px !important;
}
.mar_20{
    margin-bottom: 20px !important;
}
.choose_inline{
	width: 40%;
	padding: 12px 12px;
}
.prof_mar{
	margin: 0px auto;
    width:75% !important;
}
.time_width{
	width:47.5%;
}
.time_inline{
	/*display: -webkit-inline-box;*/
	width: 70%;
}
.class_wrp{
	background:#f3f3f3;width:50%;margin: 0 auto;
}
.mr_rig_7{
	margin-right: 7px;
}
.menu_inline{
	width: 67% !important;
	margin: 10px 0px 0 0px !important;
	cursor: pointer !important;
	float: none !important;
    display: inline-block;
    vertical-align: middle;
}
.div_inline{
	width:67%;
	display: inline-block;
    vertical-align: middle;
}
.browse_custom{
	width: 20%;padding: 12px 12px;right:0px;
}
.browse_input{
	padding: 0px 0px 0px 6px;
	position: relative;
	width: 80%;
	color: #5e5e5e;
	border-radius: 5px 0 0 5px;
	border-right-color: transparent;
}
.dis_inline{
	display: -webkit-inline-box;
}
.star-avg-count{
	float: left;
	margin: 10px 12px auto 7px;
	font-size: 16px;
}
.star-avg-count-cal{
	float: left;
	margin: 4px 12px auto 7px;
	font-size: 16px;
	color: #646464;
}
.star-avg-count-pro{
	float: left;
	margin: 6px 12px auto 7px;
	font-size: 16px;
}
.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	color: rgba(250, 250, 250, 0.54);
}
.color_h1{
	color: #fcb040;
}
.repeat_class{
	margin: 15px 170px 10px 0px;
}

.crossIcon{
	border: 1px solid rgba(0,0,0,0.87);
	border-radius: 100%;
	height: 15px;
	width: 15px;
	color: rgba(0, 0, 0, 0.63);
	padding-left: 3px;
	padding-top: 1px;
	font-size: 9px;
	cursor: pointer;
}

.lodeMore{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	border-radius: 5px;
    padding: 7px 12px;
    border: 2px solid transparent;
}