<p ng-message="required" style="color:#e51e36">This field is required</p>
<p ng-message="minlength" style="color:#e51e36">This field is too short</p>
<p ng-message="maxlength" style="color:#e51e36">This field is too long</p>
<p ng-message="pattern" style="color:#e51e36">Password must be 8 characters including 1 uppercase letter,1 lowercase latter, 1 special character, alphanumeric characters</p>
<p ng-message="email" style="color:#e51e36">This needs to be a valid email</p>
<p ng-message="match" style="color:#e51e36">Must match the previous entry</p>