<div class="content_set" style="background:#f3f3f3;" >
    <div class="box_set2">
        <!--start confirm email commented-->
        <div class=" spacing_set" ng-if="loginFromSeeko=='loginFromSeeko'">
            <h2 style="color:#fcb040;text-align: left;width: 100%;">Confirm Email</h2>
            <form name="accountSetting"class="form-cont-wrapper " style="padding:0px !important;" novalidate>
            <ul>

            <li>
            <div class="form_div_set">
            <label for="usr" class="li_setting">New Email</label>

            <input type="email" class="text-box text_style" placeholder="Email id"  name="email" data-ng-pattern="/^[A-Za-z0-9._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{2,4}/" data-ng-model="changeEmail.emailId" required />
            <span  ng-show="accountSetting.email.$valid "> <i class="yeah-icon-bl icon_set"></i>
            </span>
            </span>
            <span style="color:#ff353b" ng-show="accountSetting.email.$error.pattern"><i class="warn-icon-yel icon_setting"></i>
            </span>
            </span>


            </div>
            </li>
            <li>
            <div class="form_div_set">
            <label for="usr" class="li_setting">Confirm Email</label>

            <input type="email" class="text-box text_style" placeholder="Email id" match="changeEmail.emailId"  name="confirmemail" data-ng-model="changeEmail.confirmEmail" required />
            <span data-ng-show="accountSetting.confirmemail.$error.match && accountSetting.confirmemail.$dirty">
            <i class="warn-icon-yel icon_setting"></i></span>

            <span  ng-show="accountSetting.confirmemail.$valid "> <i class="yeah-icon-bl icon_set"></i>
            </span>


            </div>
            <div class="clearfix"></div>
            </li>
            <li>
            <button  type="button" class="btn med-btn primary-btn2 btn-two btn_set" data-ng-disabled="accountSetting.$invalid" data-ng-click="Updatechange()">Save</button>
            </li>
             <div class="clearfix"></div>
        </ul>
        </form>
            <div class="hr_class_third" style="margin-top: -22px;"></div>
        <!--</div> -->
        <!--mb-75-->
        <div class="clearfix"></div>

        <!--end confirm email commented-->

        <!--<div class="spacing_set" ng-if="fbLoginStatus==false && googleLoginStatus==false">-->

            <h2 style="color:#fcb040;text-align: left;width: 100%;">Change Password</h2>
            <form class="form-cont-wrapper " name="passwordForm" style="padding:0px !important;">
                <ul>

                    <li>
                        <div class="form_div_set">
                            <label for="usr" class="li_setting">New Password</label>

                            <input type="password" class="text-box text_style" placeholder="********" name="passwordId" data-ng-model="changePassword.passwordId" data-ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@#-$_!%*?&])[A-Za-z\d$@$!%*?&]{8,10}/" required />
                            <span  ng-show="passwordForm.passwordId.$valid "> <i class="yeah-icon-bl icon_set"></i>
                                 </span>
                            </span>
                            <span style="color:#ff353b" ng-show="passwordForm.passwordId.$error.pattern"><i class="warn-icon-yel icon_setting"></i>
                                 </span>
                            </span>

                            <!--<span data-ng-messages-include="messages.html"></span>-->
                        </div>
                    </li>
                    <li>
                        <div class="form_div_set">
                            <label for="usr" class="li_setting">Confirm Password</label>

                            <input type="password" class="text-box text_style" placeholder="********"  name="confirmPassId" match="changePassword.passwordId"   data-ng-model="changePassword.confirmPassID" required/>
                            <span data-ng-show="passwordForm.confirmPassId.$error.match && passwordForm.confirmPassId.$dirty">
                   <i class="warn-icon-yel icon_setting"></i></span>

                            <span  ng-show="passwordForm.confirmPassId.$valid "> <i class="yeah-icon-bl icon_set"></i>
                                 </span>


                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <button  type="button" class="btn med-btn primary-btn2 btn-two btn_set" data-ng-disabled="passwordForm.$invalid" data-ng-click="UpdatechangePass()">Save</button>
                    </li>
                    <div class="clearfix"></div>
                    <div class="hr_class_third" style="margin-top: -6px;"></div>
                </ul>
            </form>
        </div> <!--mb-75-->
        <div class="clearfix"></div>




        <div class=" spacing_set">
            <h2 style="color:#fcb040;text-align: left;width: 100%;">Connected Account</h2>
            <form class="form-cont-wrapper " style="padding:0px !important;">
                <ul>

                    <li>
                        <div class="">
                            <label for="usr" class="li_set_btn" style="text-transform: capitalize;">
                                <button type="button" class="login-fb fb_btn">
                                    <i class="sp-icon icon-fb " style="margin-left: -4px;"></i>
                                </button>Facebook</label>
                            <div class="onoff_btn" style="position: relative;top: 6px;">
                                <div class="{{fbLoginClass}}" data-ng-click="fbLogin()">
                                    <div class="toggle" ></div>
                                    <span class="on">on</span>
                                    <span class="off">off</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div  class="clearfix"></div>
                    <li>
                        <div>
                            <label for="usr" class="li_set_btn" style="text-transform: capitalize;">
                                <button type="button" class="login-gmail fb_btn1">
                                    <i class="sp-icon icon-gplus" style="margin-left: -9px;"></i>
                                </button>Google+</label>

                            <div class="onoff_btn"  style="position: relative;top: 6px;" ng-show="!isGoogleLogin">
                                <google-plus-signin clientid="191894381063-1dgiiihcqe318f8gc4gtqvlb8u01aap8.apps.googleusercontent.com" autorender="false" customtargetid="googleSignup1">
                                    <div class="switch switch-green" data-ng-click="googleLoginOn()">
                                        <div class="toggle" ></div>
                                        <span class="on">on</span>
                                        <span class="off">off</span>
                                    </div>
                                </google-plus-signin>
                            </div>


                            <div class="onoff_btn"  style="position: relative;top: 6px;" ng-show="isGoogleLogin">
                                <div class="switch switch-green on off" data-ng-click="googleLoginOff()">
                                    <div class="toggle" ></div>
                                    <span class="on">on</span>
                                    <span class="off">off</span>
                                </div>
                            </div>
                        </div>


        <div class="clearfix"></div>
        </li>

        <div class="clearfix"></div>
        </ul>
        </form>


        <div style="margin-top: 45px;">
            <p class="profile_info"><strong style="color: red;font-weight: bold">Warning:</strong> If you delete your account, you will be unsubscribed from all your courses, and will lose access forever.</p>

        <button type="button" class="btn sm-btn primary-btn2 btn-two" style="float: left;background-color: rgb(221,44,0);" data-ng-click="deleteAccount()">
            Delete Account
        </button>
        </div>
        <div class="clearfix"></div>

    </div> <!--mb-75-->

</div><!---->

</div><!--content-->