<div class="content_set">
    <div style="background:#f3f3f3;">
        <div class="box_set">

            <h1 style="color:#fcb040;text-align: left;width: 100%;margin-bottom: 24px;margin-top: -54px;">My Notifications</h1>

            <ul class="lbl_font">

                <li>
                    <div style="height:auto;">
                        <div class="noti_line">
                            Recieve upcoming classes reminders.
                        </div>
                        <div class="noti_onoff_btn" >
                            <div class="{{reminderClass}}">
                                <div class="toggle" ng-click="classReminder()"></div>
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </div>
                        </div>
                    </div>

                </li>
                <div class="clearfix"></div>
                <div class="hr_class_one"></div>
                <li>
                    <div style="height:auto;">
                        <div class="noti_line">
                            Receive confirmations of classes you have joined.
                        </div>
                        <div class="noti_onoff_btn" >
                            <div class="{{emailNotificationClass}}">
                                <div class="toggle" ng-click="emailNotifications()"></div>
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </div>
                        </div>
                    </div>

                </li>
                <div class="clearfix"></div>
                <div class="hr_class_one"></div>
                <li>
                    <div style="height:auto;">
                        <div class="noti_line">
                            Get notified when your favorite teacher creates a new class.
                        </div>
                        <div class="noti_onoff_btn">
                            <div class="{{newClassesClass}}" >
                                <div class="toggle" ng-click="newClassesReminder()"></div>
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </div>
                        </div>
                    </div>

                </li>
                <div class="clearfix"></div>
                <div class="hr_class_one"></div>
                <li>
                    <div style="height:auto;">
                        <div class="noti_line">
                           Recieve updates for premium classes.
                        </div>
                        <div class="noti_onoff_btn" >
                            <div class="{{premiumClassesClass}}">
                                <div class="toggle" ng-click="premiumClassesReminder()"></div>
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </div>
                        </div>
                    </div>

                </li>
                <div class="clearfix" style="margin-bottom: -46px;"></div>
            </ul>


        </div><!--box-set-->
    </div>
</div><!--content_set-->
