<style>
    .modal-dialog{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>


    <!--<h2 class="head-title"style="background-color: transparent"><a  class="close" ><i class="sp-icon cross-icon" style="cursor: pointer" ng-click="removeClass()"></i></a></h2>-->

    <div>
        <iframe  width="800" height="450" align="middle" src="https://www.youtube.com/embed/WWQZCDegWHg?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>


