<div class="chat_container start-background">
	<div class="chat_header-wrap clearfix">
		<ul>			
		<li><a href="#"> <em><i class="icon_sprite icon-mic"> </i></em> <span>Mic</span>  </a></li>
		<li><a href="#"> <em><i class="icon_sprite icon-web"> </i></em> <span>Webcam</span>  </a></li>
		<li><a href="#" class="selected_icon"> <em><i class="icon_sprite icon-screen"> </i></em> <span>Screen Share</span>  </a></li>
		<li><a href="#"> <em><i class="icon_sprite icon-take"> </i></em> <span>Take Control</span>  </a></li>
		<li><a href="#"> <em><i class="icon_sprite icon-participants"> </i></em> <span>Participants</span>  </a></li>
		<li><a href="#"> <em><i class="icon_sprite icon-groupchats"> </i></em> <span>Group Chat</span>  </a></li>
		</ul>		
	</div>
</div>