<div>
    <div>
        <input type="text" ng-model="userName" placeholder="Enter your name" style="width:50%;border:ridge">
        <input type="button" ng-click="submit()" style="width:100px" value="Login">
    </div>

</div>