<style>

    .accordion-content.default {
        display: none;
    }
</style>

<div>
    <div class="chat_container start-background " ng-class="{videoMinimize,chat_padding_max:!videoMinimize}" ng-controller="callingCtrl">
        <div data-drag="false" class="chat_left_panel" jqyoui-draggable style="position:relative;width:calc(100% - 316px);padding:5px;height:100vh;float:{{videoFloat}};right:{{right}};top:{{top}};text-align: center;
    /*border: 8px solid #fcb040;
    padding: 10px;*/">
            <video  inline  width="100%" height="100%"  id="video" autoplay style="background-color: #000000;"></video>
            <!--<div class="inner-sym maximize-icon">-->
                <!--<i  ng-if="videoMinimize" class="icon_sprite icon-pause" ng-click="getVideoMaximize()"> </i>-->
                <!--<i ng-if="!videoMinimize" class="icon_sprite minimize_vdoscreen"  ng-click="getVideoMinimize()">&nbsp;</i>-->
            <!--</div>-->
        </div>
        <div class="chat_container clearfix chat_right_panel">
            <div  class="chat_header-wrap clearfix" style="display:inline-block;">
                <ul>
                    <li ng-init="mute=false;"><a ng-class="{'selected_icon':mute}" title="Mic"> <em><i class="icon_sprite icon-mic" ng-class="{'icon-mic':!mute,'mic_disabled':mute}"ng-click="muteVideo();mute=!mute"> </i></em>   </a></li>
                    <li ng-init="webEnabled=true" ng-click="switchToVideo();webEnabled=true;screenEnabled=false" ng-if="teacherId==userId"><a  title="Webcam"> <em><i class="icon_sprite" ng-class="{'icon-web':webEnabled}"> </i></em>  </a></li>
                    <!--<li><a ng-class="{'selected_icon':showGroupChatEnabled}" title="Class Chat"> <em><i class="icon_sprite " ng-class="{'icon-groupchats_enabled':showGroupChatEnabled,'icon-groupchats':!showGroupChatEnabled}" ng-click="toggleGroupChat()"> </i></em>   </a></li>-->
                    <li ng-init="screenEnabled=false;" ng-click="screenShare();screenEnabled=true;" ng-if="teacherId==userId"><a ng-class="{'selected_icon':screenEnabled}" title="Screen Share"> <em><i class="icon_sprite " ng-class="{'icon-screen':screenEnabled,'icon-screen-disabled':!screenEnabled}"> </i></em>   </a></li>
                    <!--<li><a > <em><i class="icon_sprite icon-take"> </i></em> <span>Take Control</span>  </a></li>-->
                    <!--<li><a ng-class="{'selected_icon':showParticipantEnabled}" title="Group Chat"> <em><i class="icon_sprite" ng-class="{'icon-participants-enabled':showParticipantEnabled,'icon-participants':!showParticipantEnabled}" ng-click="toggleParticipant();"> </i></em>   </a></li>-->
                    <li ng-if="teacherId!=userId"><a title="Raise Hand"> <em><i class="icon_sprite raise_hand"  ng-click="raiseHand()"> </i></em> </a></li>
                    <li ng-click="stopClass()" ng-if="teacherId==userId" ><a title="Stop Class"> <em><i class="fa fa-stop-circle-o" style="font-size: 3em;color: #fcb040;padding-top: 0px; margin-top: -2px;"aria-hidden="true"></i></em> </a></li>
                </ul>
            </div>
            <div id="accordion" simple-accordion toggle-speed="fast" toggle-easing="linear" slide-up-speed="fast" slide-up-easing="linear">
            <div class="chat-blog-wrap">
                    <div data-drag="false" is-open="firstOpenAccordian.isFirstOpen" jqyoui-draggable class="chat-blog chat-blog3" ng-show="particant" ng-init="Participantminimize=true;getPaticipantIconEnabled();">
                        <div class="blog-tittle" style="cursor: pointer;">
                            Class Participants
                            <!--<div class="clode-sym">-->
                                <!--<i class="icon_sprite icon-minimize" ng-click="Participantminimize=!Participantminimize">&nbsp;</i>-->
                                <!--<i class="icon_sprite icon-close" ng-click="getPaticipantIconDiasabled();">&nbsp;</i>-->
                            <!--</div>-->
                        </div>
                        <div class="accordion-content default" style="display: block;">
                        <div class="search-inp" ng-show="Participantminimize">
                            <input type="text" placeholder="Search" ng-model="searchString"/>
                            <i class="icon_sprite icon-srh"> </i>
                        </div>
                        <div class="scrollme" style="max-height: 172px;overflow: auto;cursor: pointer" ng-show="Participantminimize">
                            <div class="scroller" >
                                <div ng-class="{'link_disabled':teacherId==userId}"ng-click="openIndividualChat(teacherId,teacherMail,professorName)" class="chats clearfix">
                                    <div class="pers-img">
                                        <img data-ng-src={{professorImage}} alt="" alt="profile-img" />
                                    </div>
                                    <div class="pers-name">
                                        <span ng-bind="professorName">  </span>
                                        <em class="chat-time">Professor</em>
                                        <div class="mic-webcam">
                                            <i class="fa fa-commenting-o" aria-hidden="true" style="position: relative;right: 10px;top: 10px"></i>

                                        </div>
                                    </div>
                                </div>

                                <div ng-if="studentIds.length>0">
                                    <div  ng-click="openIndividualChat(student._id,student.data,student.name)" ng-repeat="student in studentIds|filter:searchString" class="chats clearfix">
                                        <div ng-if="userId!=student._id && student._id!=teacherId">
                                            <div class="pers-img">
                                                <img data-ng-src={{student.profilePic}} alt="" />
                                            </div>
                                            <div class="pers-name">
                                                <span> {{student.name}}</span><em class="add-in-gp"><i class="icon_sprite icon-clock"> </i>  1.15 hr</em>
                                                <div class="mic-webcam">
                                                    <i class="fa fa-commenting-o" aria-hidden="true" style="position: relative;right: 10px;top: 10px"></i>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div data-drag="false" jqyoui-draggable  data-ng-show="showGroupChat"  ng-init="minimize=true;getGroupIconEnabled()" style=""class="chat-blog" >
                        <div class="blog-tittle" style="cursor: pointer;">
                            Class Chat
                            <!--<div class="clode-sym">-->
                                <!--<i class="icon_sprite icon-minimize"  ng-click="minimize=!minimize;getScroll('group');">&nbsp;</i>-->
                                <!--<i ng-click="getGroupIconDisabled()" class="icon_sprite icon-close">&nbsp;</i>-->
                            <!--</div>-->
                        </div>
                        <div class="accordion-content default">
                        <div class="scrollme" style="max-height:266px;height:299px;overflow:auto;" ng-show="minimize" chat-scroll>

                            <div class="scroller">
                                <div class="chats-wrp" ng-repeat="message in messages track by $index">
                                    <div class="chats clearfix"  ng-if="message.id != userId">
                                        <div class="pers-img">
                                            <img class="user_img" data-ng-src="{{message.profilePic}}">
                                        </div>
                                        <div class="pers-comm">
                                            <span ng-if="message.type=='text'">{{message.text}}</span>
                                            <span ng-if="message.type=='file'"><a style="text-decoration:underline;color:#161616" href="" ng-click="getCredential(message.url)">{{message.text}}</a></span>
                                            <em class="chat-time"> {{message.time}}</em>
                                        </div>
                                    </div>

                                    <div class="opp-reply clearfix" ng-if="message.id == userId">
                                        <em ng-if="message.type=='file'"> {{message.fileStatus}}</em>
                                        <span ng-if="message.type=='text'">{{message.text}}</span>
                                        <span ng-if="message.type=='file'"><a style="text-decoration:underline;color:#161616" href="" ng-click="getCredential(message.url)">{{message.text}}</a></span>
                                        <em class="chat-time"> {{message.time}}</em>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="type-comment" ng-show="minimize">
                            <input type="text" class="chat_box" placeholder="Type here..." ng-model="user.chatVal" style="padding: 6px 34px;" ng-keyup="$event.keyCode == 13 ? sendMessage(user) : null"/>
                            <i class="icon_sprite icon-attach" ngf-select="uploadGroupFile($files,user)" ng-model="groupFiles"> </i>
                            <i class="icon_sprite icon-send" ng-click="sendMessage(user)"></i>
                        </div>
                        </div>
                    </div>

                <div data-drag="false"style=""class="chat-blog" >
                    <div class="blog-tittle" style="cursor: pointer;">
                        Class Documents
                    </div>
                    <div class="accordion-content default">
                        <div class="scrollme content_setting" style="max-height: 172px;overflow: auto;cursor: pointer;position: relative;top:-5px;left: 22px;" ng-repeat="x in classUploadedDocument track by $index" chat-scroll>
                                <div style="float:left;">
                                    <p class="detail_class">{{$index+1}}:&nbsp;</p>
                                </div>
                                <div style="float:left;">
                                    <p style="text-decoration:underline;" class="detail_class" ><a style="line-height:1.2;color: #646464;font-family:'Gotham Rounded Book';" href="" ng-click="getCredential(x.classDocUrl)">{{x.classDocName}}</a></p>
                                </div>


                        </div>

                    </div>
                </div>

                    <div data-drag="false" jqyoui-draggable data-ng-show="showIndividualChat" class="chat-blog chat-blog2" style="position: relative;left: 0px;right: 0px;top: 0px;" ng-class="{'chatBox_top':Privateminimize,'chatBox_top_minimize':!Privateminimize}" ng-init="Privateminimize=true">
                        <div class="blog-tittle" style="cursor: pointer;">
                            {{chatUser.studentName}}
                            <div class="clode-sym">
                                <!--<i class="icon_sprite icon-minimize" ng-click="Privateminimize=!Privateminimize;getScroll('private');">&nbsp;</i>-->
                                <i ng-click="closeIndividualChat()" class="icon_sprite icon-close">&nbsp;</i>
                            </div>
                        </div>
                        <div class="accordion-content default">
                        <div class="scrollme" chat-scroll-individual style="max-height:266px;height:299px;overflow:auto;cursor: pointer;" ng-show="Privateminimize">
                            <div class="scroller">
                                <div class="chats-wrp" ng-repeat="message in privateMessages track by $index">
                                    <div class="chats clearfix" ng-if="message.senderId != userId">
                                        <div class="pers-img">
                                            <img class="user_img" data-ng-src="{{message.profilePic}}">
                                        </div>
                                        <div class="pers-comm">
                                            <span ng-if="message.type=='text'"> {{message.text}}</span>
                                            <span ng-if="message.type=='file'"><a style="text-decoration:underline;color:#161616" href="" ng-click="getCredential(message.url)">{{message.text}}</a></span>
                                            <em class="chat-time"> {{message.time}}</em>
                                        </div>
                                    </div>
                                    <div class="opp-reply clearfix" ng-if="message.senderId == userId">
                                        <em ng-if="message.type=='file'"> {{message.fileStatus}}</em>
                                        <span ng-if="message.type=='text'"> {{message.text}}</span>
                                        <span ng-if="message.type=='file'"><a style="text-decoration:underline;color:#161616" href="" ng-click="getCredential(message.url)">{{message.text}}</a></span>
                                        <em class="chat-time">{{message.time}}</em>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="type-comment" ng-show="Privateminimize">
                            <input type="text" class="chat_box" placeholder="Type here..." class="chat_box"style="padding: 6px 34px;" ng-model="chatUser.message" ng-keyup="$event.keyCode == 13 ? sendPrivateMessage(chatUser) : null"/>
                            <i ngf-select="uploadFile($files,chatUser)" ng-model="files" class="icon_sprite icon-attach"> </i>
                            <i class="icon_sprite icon-send icon-send2" ng-click="sendPrivateMessage(chatUser)"> </i>
                        </div>
                        </div>
                    </div>

                    <div data-drag="false" jqyoui-draggable ng-show="loginAlertMessage" class="join-chat" style="position:fixed;float:right;right:50px;top:87%;width:23.4%">
                    <i class="icon_sprite icon-join"> </i> <span> <strong>{{addAttendee}} has</strong> joined the chat</span>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>
