<div class="container clearfix">
	<div class="chat-blog-wrap">

		<div class="chat-blog">
			<div class="blog-tittle">
				Group Chat
				<div class="clode-sym">
					<i class="icon-minimize">&nbsp;</i>
					<i class="icon-close">&nbsp;</i>
				</div>
			</div>
			<div class="mic-webcam">
				<i class="icon-mic2">&nbsp;</i>
				<i class="icon-webcam2">&nbsp;</i>
			</div>
			<div class="scrollme" style="max-height:340px;overflow-y: scroll;"ng-scrollbar is-bar-shown="barShown">

				<div class="scroller">
					<div class="chats-wrp" ng-repeat="message in messages track by $index">
						<div class="chats clearfix" ng-if="$index%2!=0">
							<div class="pers-img">
								<i class="icon-prsn"> </i>
							</div>
							<div class="pers-comm">
								<span>{{message.user}}</span>
								<span>{{message.text}}</span>
								<em class="chat-time"> {{message.time}}</em>
							</div>
						</div>

						<div class="opp-reply clearfix" ng-if="$index%2==0">
							<span>{{message.user}}</span>
							<span >{{message.text}}</span>
							<em class="chat-time"> {{message.time}}</em>
						</div>
					</div>



				</div>
			</div>

			<div class="type-comment">
				<input type="text" placeholder="Type here..." ng-model="chatVal" ng-keyup="$event.keyCode == 13 ? sendMessage(chatVal) : null"/>				<i class="icon-attach"> </i>
				<i class="icon-send" ng-click="sendMessage(chatVal)"></i>
			</div>
		</div>

		<!--<div class="chat-blog chat-blog2">-->
			<!--<div class="blog-tittle">-->
				<!--Arthur Curry-->
				<!--<div class="clode-sym">-->
					<!--<i class="icon-minimize">&nbsp;</i>-->
					<!--<i class="icon-close">&nbsp;</i>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="mic-webcam">-->
				<!--<i class="icon-mic2">&nbsp;</i>-->
				<!--<i class="icon-webcam2">&nbsp;</i>-->
				<!--<a href="#" class="share-btn" ng-click="isVisibled=(isVisibled==false)?true:false"><i class="icon-drop"> </i></a>-->
				<!--<div class="drp-wrap" ng-class='{"visible":isVisibled==true}'>-->
					<!--<ul class="dropdown">-->
					<!--<li><a href="#"> Share Screen </a> </li>-->
					<!--<li><a href="#"> Make Presenter </a> </li>-->
					<!--</ul>-->
					<!--<img class="drop-arrow" src="img/ar-up.png" alt="" />-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="scrollme" ng-scrollbar is-bar-shown="barShown">-->
				<!--<div class="scroller">-->
					<!--<div class="chats-wrp">-->
						<!--<div class="chats clearfix">-->
							<!--<div class="pers-img">-->
								<!--<i class="icon-prsn"> </i>-->
							<!--</div>-->
							<!--<div class="pers-comm">-->
								<!--<span>Reference site about Lorem Ipsum, giving information on its origins </span>-->
								<!--<em class="chat-time"> 5.30 pm</em>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="opp-reply clearfix">-->
							<!--<span> Ohh, It’s great</span>-->
							<!--<em class="chat-time"> 5.31 pm</em>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats-wrp">-->
						<!--<div class="chats clearfix">-->
							<!--<div class="pers-img">-->
								<!--<i class="icon-prsn"> </i>-->
							<!--</div>-->
							<!--<div class="pers-comm">-->
								<!--<span>Reference site about Lorem Ipsum, giving information on its origins </span>-->
								<!--<em class="chat-time"> 5.30 pm</em>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="opp-reply clearfix">-->
							<!--<span> Ohh, It’s great</span>-->
							<!--<em class="chat-time"> 5.31 pm</em>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats-wrp">-->
						<!--<div class="chats clearfix">-->
							<!--<div class="pers-img">-->
								<!--<i class="icon-prsn"> </i>-->
							<!--</div>-->
							<!--<div class="pers-comm">-->
								<!--<span>Reference site about Lorem Ipsum, giving information on its origins </span>-->
								<!--<em class="chat-time"> 5.30 pm</em>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="opp-reply clearfix">-->
							<!--<span> Ohh, It’s great</span>-->
							<!--<em class="chat-time"> 5.31 pm</em>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats-wrp">-->
						<!--<div class="chats clearfix">-->
							<!--<div class="pers-img">-->
								<!--<i class="icon-prsn"> </i>-->
							<!--</div>-->
							<!--<div class="pers-comm">-->
								<!--<span>Reference site about Lorem Ipsum, giving information on its origins </span>-->
								<!--<em class="chat-time"> 5.30 pm</em>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="opp-reply clearfix">-->
							<!--<span> Ohh, It’s great</span>-->
							<!--<em class="chat-time"> 5.31 pm</em>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats-wrp">-->
						<!--<div class="chats clearfix">-->
							<!--<div class="pers-img">-->
								<!--<i class="icon-prsn"> </i>-->
							<!--</div>-->
							<!--<div class="pers-comm">-->
								<!--<span>Reference site about Lorem Ipsum, giving information on its origins </span>-->
								<!--<em class="chat-time"> 5.30 pm</em>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="opp-reply clearfix">-->
							<!--<span> Ohh, It’s great</span>-->
							<!--<em class="chat-time"> 5.31 pm</em>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats-wrp">-->
						<!--<div class="chats clearfix">-->
							<!--<div class="pers-img">-->
								<!--<i class="icon-prsn"> </i>-->
							<!--</div>-->
							<!--<div class="pers-comm">-->
								<!--<span>Reference site about Lorem Ipsum, giving information on its origins </span>-->
								<!--<em class="chat-time"> 5.30 pm</em>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="opp-reply clearfix">-->
							<!--<span> Ohh, It’s great</span>-->
							<!--<em class="chat-time"> 5.31 pm</em>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->

			<!--<div class="type-comment">-->
				<!--<input type="text" placeholder="Type here..." />-->
				<!--<i class="icon-attach"> </i>-->
				<!--<i class="icon-send icon-send2"> </i>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="chat-blog chat-blog3">-->
			<!--<div class="blog-tittle">-->
				<!--Class Participants-->
				<!--<div class="clode-sym">-->
					<!--<i class="icon-minimize">&nbsp;</i>-->
					<!--<i class="icon-close">&nbsp;</i>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="search-inp">-->
				<!--<input type="text" placeholder="Search" />-->
				<!--<i class="icon-srh"> </i>-->
			<!--</div>-->
			<!--<div class="scrollme" ng-scrollbar is-bar-shown="barShown">-->
				<!--<div class="scroller">-->
					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/bruce.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Bruce Wayne </span>-->
							<!--<em class="chat-time">Professor</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic2">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img groups">-->
							<!--<ul class="group-img">-->
							<!--<li><img src="img/img-01.png" alt="" />	</li>-->
							<!--<li><img src="img/img-02.png" alt="" />	</li>-->
							<!--<li><img src="img/img-03.png" alt="" />	</li>-->
							<!--<li><img src="img/img-04.png" alt="" />	</li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Group Chat </span>-->
							<!--<em class="add-in-gp">Bruce Wayne, Barry Allen....</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->


					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-05.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Barry Allen</span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-06.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Arthur Curry </span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam2">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-05.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Diana Prince </span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-05.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Diana Prince </span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-05.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Diana Prince </span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->


					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-05.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Diana Prince </span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->


					<!--<div class="chats clearfix">-->
						<!--<div class="pers-img">-->
							<!--<img src="img/img-05.png" alt="" />-->
						<!--</div>-->
						<!--<div class="pers-name">-->
							<!--<span> Diana Prince </span>-->
							<!--<em class="add-in-gp"><i class="icon-clock"> </i>  1.15 hr</em>-->
							<!--<div class="mic-webcam">-->
								<!--<i class="icon-mic3">&nbsp;</i>-->
								<!--<i class="icon-webcam3">&nbsp;</i>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>
</div>