<div class="container">
	<div class="people-sec clearfix">
		<div class="connecting-peo">
			<div class="inner-sym">
				<i class="icon-pause"> </i>
			</div>

			<div class="opp-person">
				<img src="assets/images/chatImages/img-08.png" alt="" />
			</div>
			<span class="online-sym"> <i class="icon-on"> </i> </span>
		</div>

		<div class="chat-doubt-wrap">
			<div class="attend-doubt">
				<span> <strong>Barry</strong> has raised his hand.
					Do you want to attend his doubt? 
				<i class="icon-hand"> </i> 
				</span>				
				<div class="btn-sec"> 
					<a href="#" class="btn">Yes </a>
					<a href="#" class="btn secondary"> Later </a>					
				</div>	
				<span class="close-it"> <i class="icon-close2"> </i> </span>			
			</div>			
			<div class="join-chat"> <i class="icon-join"> </i> <span> <strong>Oliver has</strong> joined the chat</span> </div>			
		</div>
	</div>
</div>