<div class="container">
	<div class="aside-wrp">
		<ul class="fixed-menu"> 
		<li class="active"> <a href="#"> <i class="icon-point"></i> <span> Pointer</span> </a> </li>
		<li><a href="#"> <i class="icon-draw"></i> <span> Draw</span> </a> </li>
		<li> <a href="#"> <i class="icon-erase"></i> <span> Erase</span> </a> </li>
		<li> <a href="#"> <i class="icon-text"></i> <span> Text</span> </a> </li>
		<li> <a href="#"> <i class="icon-color"></i> <span> Color</span> </a> </li>	
		</ul>
	</div>
</div>