<div><div class="pri-footer" style="margin-top: 51px;">
    <div class="container clearfix">
        <div class="tweet-box">
            <h3>Latest Tweets</h3>
            <div class="latest-tweet clearfix" ng-repeat="statuses in status">
                <i class="sp-icon tw-icon"></i>
                <div class="tweet-details" >
                    <p>
                        <strong>@Seeko</strong><span ng-bind="statuses.status.text"></span>
                    </p>
                    <span class="tweet-time" ng-bind="statuses.time"></span>
                </div>
            </div>


        </div>
        <div class="quick-link">
            <h3>Quick Links</h3>
            <ul>
                <li ng-if="!isLogin">
                    <a ui-sref="home.learn" ng-class="{link_disabled:isLogin}" ng-click="gotoAnchor('header')">Learn</a>
                </li>
                <li ng-if="!isLogin">
                    <a ui-sref="home.teach" ng-class="{link_disabled:isLogin}" ng-click="gotoAnchor('header')">Teach</a>
                </li>
                <li ng-if="!isLogin">
                    <a ng-class="{link_disabled:isLogin}" ng-click="gotoAnchor('header');addSignUp()">Sign Up</a>
                </li>
                <li ng-if="!isLogin">
                    <a  ng-class="{link_disabled:isLogin}" ng-click="gotoAnchor('header');addLogin()">Login</a>
                </li>

                <!--<li>-->
                    <!--<a ng-click="gotoAnchor('header')">Blog</a>-->
                <!--</li>-->
                <li>
                    <a ng-click="getContactPage();gotoAnchor('header')" >Contact</a>
                </li>
            </ul>
        </div>
        <div class="cont-info">
            <div class="news-letter">
                <h3>Newsletter</h3>
                <form class="send-email">
                    <input type="text" name="search_text" value="" id="emailText" class="email-text"
                           placeholder="Enter Your Email Id" ng-model="email">
                    <button type="button" class="send-btn" ng-click="sendEmail(email)">
                        Send
                    </button>
                </form>
            </div>
            <div class="social-links">
                <h3>Connect</h3>
                <ul style="cursor: pointer;">
                    <!--<li>-->
                        <!--<a href="#" socialshare socialshare-provider="pinterest" socialshare-media="https://www.youtube.com/watch?v=a18py61_F_w" socialshare-text="720kb AngularJS Socialshare" socialshare-url="http://720kb.net"><i class="social-icon p-link"></i></a>-->
                    <!--</li>-->
                    <li>
                        <a ng-click="openTwitterPage()"><i class="social-icon tw-link"></i></a>
                    </li>
                    <li>
                        <a ng-click="openFbPage()" ><i class="social-icon fb-link"></i></a>
                    </li>
                    <li>
                        <a ng-click="openLinkedIn()"><i class="social-icon ln-link"></i></a>
                    </li>
                </ul>
                <!--<ul>-->
                    <!--<li>-->
                        <!--&lt;!&ndash;<div class="sharethis-inline-share-buttons"></div>&ndash;&gt;-->
                        <!--<div data-network="twitter" class="st-custom-button"></div>-->
                        <!--<div data-network="facebook" class="st-custom-button" style="background-position: -2px -134px;"></div>-->
                        <!--<div data-network="linkedin" class="st-custom-button" style="background-position: -2px -174px;"></div>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>

    </div>
</div>
<div class="sec-footer">
    <div class="container clearfix">
        <span>&copy; 2016 TechDharma LLC</span>
        <small class="t_c" ng-click="getTermsAndCondition()">Terms and Conditions</small>
    </div>
</div></div>
