

<div class="login-overlay">
    <div class="login-wrap">
    <h2 class="head-title">Sign Up <a href="javascript:;"  ng-click = "signup.closeSignUp()"><i class="sp-icon cross-icon"></i></a></h2>
    <form id="signup" name="signUpForm"class="sign-form form-cont-wrapper" style="padding: 20px 65px 20px 68px;overflow: auto;" ng-enter="signup.userSignUp()" novalidate>
        <ul>
            <li>
                <input type="text" class="text-box Modal_text-box" placeholder="First Name" name="userName" ng-change="onChange()" data-ng-model="signup.signUp.name" required/>
                <span style="color:#ff353b;font-size: 14px" ng-show="signUpForm.userName.$error.required && signUpForm.userName.$touched ">
                                 This Field Is Required.</span>
                </span>

            </li>

            <li>
                <input type="text" class="text-box Modal_text-box" placeholder="Email Id" name="email" ng-change="onChange()" data-ng-pattern="/^[A-Za-z0-9._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{2,4}/" data-ng-model="signup.signUp.emailId" required/>
                <span style="color:#ff353b;font-size: 14px" ng-show="signUpForm.email.$error.required && signUpForm.email.$touched ">
                                 This Field Is Required.</span>
                </span>
                <span style="color:#ff353b;font-size: 14px" ng-show="signUpForm.email.$error.pattern">
                                 Not Valid Email!</span>
                </span>

            </li>
            <li>
                <input type="password" class="text-box Modal_text-box" placeholder="Password" name="password" ng-change="onChange()" data-ng-model="signup.signUp.password" data-ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@#-$_!%*?&])[A-Za-z\d$@$!%*?&]{8,10}/" required/>
                <span  data-ng-show="signUpForm.password.$dirty && signUpForm.password.$error.pattern">
                          <!--<span data-ng-messages-include="messages.html"></span>-->
                    <span style="color:#ff353b;font-size: 14px">Password Must Be 8 Characters Including 1 Uppercase Letter, 1 Lowercase Letter & 1 Special Character.</span>
                </span>
            </li>
            <li>
                <input type="password" class="text-box Modal_text-box" placeholder="Confirm Password" match="signUpForm.password" name="confirmPassword" ng-change="onChange()" data-ng-model="signup.signUp.confirmPassword" required/>

               <span data-ng-show="signUpForm.confirmPassword.$error.match && signUpForm.confirmPassword.$dirty">
                   <span style="color:#ff353b;font-size: 14px">Must Match Previous Entry.</span>
                   </span>

                    <!--<span ng-show="signUpForm.confirmPassword.$error.match" style="color:#ff353b">Password and Confirm Password do not match.-->
                        <!--</span>-->




            </li>
            <li>
                <button type="button" class="sign-button login-button" data-ng-disabled="signUpForm.$invalid" data-ng-click="signup.userSignUp()" style="position: relative">
                     Sign In <div ng-show="buttonLoader" style="position: absolute;background: rgba(198, 204, 210, 0.6);width: 100%;height: 100%;z-index: 1;top: 0px;"><span class="fa fa-refresh fa-spin" style="float: left;margin-left: 125px;margin-top: 10px;"></span></div>
                </button>
                <span ng-show="errorMsg"
                      style="line-height: 20px;font-size: 14px;text-align: center;color: #e5392f;font-family: 'Gotham Rounded Book'; display: block;margin-top: 13px"><strong>Email Already Exists</strong>
                    </span>
            </li>
            <li>
                <span class="divider">or</span>
            </li>

            <button type="button" class="login-fb close" data-ng-click="signup.fbSignUp()">
                <i class="sp-icon icon-fb"></i> Login with <span>facebook</span>
            </button>
            </li>
            <li>
                <google-plus-signin clientid="191894381063-1dgiiihcqe318f8gc4gtqvlb8u01aap8.apps.googleusercontent.com" autorender="false" customtargetid="googleSignup1">
                <button type="button" class="login-gmail" id="googleSignup1">
                    <i class="sp-icon icon-gplus" ></i> Login with <span>gmail</span>
                </button>
                    </google-plus-signin>
            </li>
        </ul>
    </form>
    </div>
</div>
