<!--Header Section Start-->
<div class="pwd_section">
    <h2 class="pwd_heading">Change your Password</h2>
    <p>Please enter your new password.</p>
    <form name="passwordReset" novalidate>
    <ul>

        <li>
            <div class="form_name_set">
                <div class="width_30_tag fl-left">
                    <label for="usr" class="btn-float label_setting pd-0">new password:</label>
                </div>
                <div class="width_65_tag fl-left">
                    <input type="password" class="text-box width_100 header-right mt-5" name="password" data-ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@#-$_!%*?&])[A-Za-z\d$@$!%*?&]{8,10}/" data-ng-model="password" required/>
                    <span  data-ng-show="passwordReset.password.$dirty && passwordReset.password.$error.pattern">
                          <!--<span data-ng-messages-include="messages.html"></span>-->
                    <span style="color:#ff353b">Password must be 8 characters including 1 uppercase letter,1 lowercase letter, 1 special character, alphanumeric characters</span>
                </span>

                </div>
                <div class="clearfix"></div>
            </div>
        </li>
        <li>
            <div class="form_name_set">
                <div class="width_30_tag_set fl-left">
                    <label for="usr" class="btn-float label_setting pd-0">confirm password:</label>
                </div>
                <div class="width_65_tag fl-left ">
                    <input type="password" class="text-box width_100 header-right mt-5" name="confirmPassword" match="password" data-ng-model="confirmPassword" required/>
                    <span data-ng-show="passwordReset.confirmPassword.$error.match && passwordReset.confirmPassword.$dirty">
                   <span style="color:#ff353b">Must match previous entry.</span>
                   </span>
                   </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
        </form>
    <div class="pwd_div_height">

        <button type="cancel" class="cancel_button ">cancel</button>
        <button type="submit" class="continue_button" data-ng-disabled="passwordReset.$invalid" data-ng-click="changePassword()">continue</button>
    </div>
</div>
<!--main section end-->
