<div class="content_set" >
    <spinner-loader ng-show="showspin"></spinner-loader>
    <div class="mid_content">

        <section class="middle_section">
            <div class="clearfix">
                <!--<h2 class="title_set">FAVOURITES</h2>-->
                <!--<div class="clearfix" style="margin-bottom: -20px;"></div>-->
                <!--<div class="hr_class"></div>-->
                <h2 class="title_set">Teachers:</h2>
                <div class="viewall_set">
                    <h5 class="head_set">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
                        <button type="button" class="btn prev-btn" ng-click="getPrev('teachers')">
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button type="button" class="btn next-btn" ng-click="getNext('teachers')">
                            <i class="icon-next-btn"></i>
                        </button>

                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div ng-show="showTeacherMsg"><p style="position: relative; top: 21px;">Sorry you have no favourite
                teachers.</p></div>
            <div class="imagesection" ng-show="allTeacherFavourites.length>0">
                <div class="box_Setting11" ng-repeat="teacher in teacherFavourites">
                    <img ng-src="{{teacher.userData.profile.profilePic}}" alt="image" class="images_setting1">
                    <div class="class_title" >
                        <p class="texting2" style="margin-bottom: 12px;" ng-bind="teacher.userData.profile.firstName"><strong></strong></p>
                        <p class="texting1" style="margin-bottom: 6px;" >Teaching: {{teacher.userData.myTeachingClasses.classIds.length}} eClasses</p>
                        <p class="texting1" style="margin-bottom: 6px;" >Reviews: {{teacher.userData.reviews.length}} reviews</p>

                        <span class="star " style="margin-top: 2px;">
                            <star-rate count="teacher.userData.avgStarCount"></star-rate>
                       </span>
                        <span class="star-avg-count-pro">{{teacher.userData.avgStarCount}}</span>
                        <div class="clearfix"></div>
                        <ul class="popup-btn" style="margin:0 !important;">
                            <li class="btn_width_Set" style="width:100% !important;">
                                <a class="cool-btn-gr" style="width:100%;padding:7px 2px"
                                   ng-click="getTeacherClasses(teacher)">View Profile</a>
                            </li>

                        </ul>
                    </div><!--class_title-->
                </div><!--box_setting1-->


            </div><!--imagesection-->
        </section><!--middle_section-->
    </div><!--mid_content-->
    <div class="clearfix" style="margin-bottom: 25px;"></div>
    <div class="hr_class"></div>
    <!--<hr style="margin: 30px 0 45px 0;">-->
    <!--2nd mid content-->
    <div class="mid_content">

        <section class="middle_section">
            <div class="clearfix">
                <h2 class="title_set">Classes:</h2>
                <div class="viewall_set">
                    <h5 class="head_set">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
                        <button type="button" class="btn prev-btn" ng-click="getPrev('classes')"
                                >
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button type="button" class="btn next-btn" ng-click="getNext('classes')"
                                >
                            <i class="icon-next-btn"></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div ng-show="showClassMsg"><p style="position: relative; top: 21px;">Sorry you have no favourite classes.</p></div>
            <!--<div class="clearfix" style="margin-top: 100px;"></div>-->
            <div ng-show="showClassMsg" class="btn-align" style="margin-top: 50px;">
                <button type="button" class="create_class-button" ng-click="findFavClass()">Find a Class</button>
            </div>
            <div class="imagesection" ng-show="allClassesFavourites.length>0">
                <slick infinite="true" slides-to-show="6" slides-to-scroll="6">
                    <div class="box_Setting11" id="{{classes.data._id}}"
                         ng-repeat="classes in favoritesClasses">
                        <div class="images_setting1" style="background: url('{{classes.data.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;cursor: pointer;" ng-click="changeState(classes)"></div>
                        <!--<img ng-src="{{classes.data.classData.classImageVideo[0].classDocUrl}}" alt="image"-->
                             <!--class="images_setting1">-->
                        <div class="class_title" >
                            <p class="texting2">Title: {{classes.data.classData.className}}</p>
                            <p class="texting1">Jedi: {{classes.data.classData.teacherName}}</p>
                            <p class="texting1">Signed Up: {{classes.data.classData.studentId.length}}</p>
                            <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline;cursor: pointer">{{classes.data.classData.summary}}</span></p>
                            <div class="when_hover1" ng-show="hover">{{classes.data.classData.summary}}</div>
                            <div class="when_hover1" ng-show="hover && classes.data.classData.reoccuringClasses">{{classes.data.classData.summary}}</div>

                            <span class="star " >
                                <star-rate count="classes.data.classData.avgStarCount"></star-rate>
                            </span>
                            <span class="star-avg-count">{{classes.data.classData.avgStarCount}}</span>
                            <div class="clearfix"></div>
                            <ul class="popup-btn" style="margin:0 !important;">

                                <li class="invite_class_et" style="margin:0 !important;">
                                    <a class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit">Invite</a>
                                    <div class="edithoverOne" style="left:-23px;top:162px;"ng-show="showEdit" >

                                        <!--<i class="icon-close-black close_set" style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                        <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                        <div class="clearfix"></div>
                                        <!--<form >-->
                                            <!--<input type="text" style="font-size: 12px;font-family: 'Gotham Rounded Book'" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                            <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                                <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{classes.data.classData.className}}" socialshare-body="{{classes.data.classData.classYoutubeLink}}"></i>-->
                                            <!--</button>-->
                                        <!--</form>-->
                                        <div class="clearfix"></div>
                                        <div>
                                            <ul style="position: absolute;top: 15px;left: 12px;">
                                            <!--<li style="margin: 8px 1px 0 0;">-->
                                                    <!--<i href="#" socialshare socialshare-provider="pinterest" socialshare-media="{{classes.classData.classYoutubeLink}}" socialshare-text="{{classes.data.classData.className}}" socialshare-url="{{classes.data.classData.classYoutubeLink}}" class="social-icon p-link"></i>-->
                                                <!--</li>-->
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{classes.data.classData.className}}" socialshare-url="{{classes.data.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{classes.data.classData.className}}" socialshare-url="{{classes.data.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{classes.data.classData.className}}" socialshare-url="{{classes.data.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px"  socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{classes.data.classData.className}}" socialshare-body="{{classes.data.classData.classYoutubeLink}}" >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="btn_width_Set">
                                    <a ng-click="changeState(classes)" class="cool-btn-gr"
                                       style="width:100%;">Class Detail</a>
                                </li>
                            </ul>
                        </div><!--class_title-->
                    </div><!--box_setting1-->
                </slick>
            </div>

        </section>
    </div>
    <div class="clearfix" ></div>
    <!--<hr style="margin: 30px 0 45px 0;">-->
    <!--imagesection-->
    </section><!--middle_section-->
</div><!--mid_content-->
<!--/2nd mid content-->


<!--<hr style="margin: 30px 0 45px 0;">-->
<!--create class-->
<!--<div ng-show="isALearner" class="btn-align">-->
<!--<button type="button" class="create_class-button" ng-click="createClass()">Create class</button>-->
<!--</div>-->
<!--/createclass-->

<div class="clearfix"></div>


</div>
