<div ng-controller="DemoCtrl" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div layout-align="center center" >
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="editStudent.user.firstName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="editStudent.user.LastName">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row" >
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Address</label>
                    <input ng-model="editStudent.user.address">
                </md-input-container>
                    <md-input-container>
                        <label>D.O.B</label>
                        <md-datepicker ng-model="editStudent.user.submissionDate"></md-datepicker>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>About Me</label>
                    <textarea ng-model="editStudent.user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <md-radio-group ng-model="editStudent.user.gender">

                    <md-radio-button value="Male" class="md-primary" flex-gt-sm>Male</md-radio-button>
                    <md-radio-button value="Female" flex-gt-sm> Female</md-radio-button>
                    <!--<md-radio-button value="Mango" flex-gt-sm></md-radio-button>-->

                </md-radio-group>
                <section layout="row" layout-sm="column" layout-align="end end" layout-wrap>
                    <md-button md-no-ink class="md-primary" ng-click="editStudent.updateProfile()">Save</md-button>

                </section>
                <!--<div layout-md="row">-->
                    <!--<md-radio-group ng-model="data.group1">-->

                        <!--<md-radio-button value="Apple" class="md-primary" flex-offset-md>Apple</md-radio-button>-->
                        <!--<md-radio-button value="Banana" flex-offset-md> Banana </md-radio-button>-->
                        <!--<md-radio-button value="Mango" flex-offset-md>Mango</md-radio-button>-->

                    <!--</md-radio-group>-->
                    <!---->
                <!--</div>-->

            </form>
        </div>
    </md-content>



</div>