<div>
    <spinner-loader ng-show="showspin"></spinner-loader>
<div class="login-block-tag ">
    <h2 class="head-title">Apply To Teach <a  class="close" ng-click="closePopUp()" style="cursor:pointer;"><i class="sp-icon cross-icon" aria-hidden="true" style="cursor: pointer"></i></a></h2>
    <form id="scrollAr" class="form-cont-wrapperss " name="userForm" >
        <ul style="margin-bottom: 0;">
            <li ng-init="user.firstName=firstName" class="width_set fl-left"><span style="position: relative;bottom: 4px">First Name:</span>
                <input type="text" class="text-box" placeholder="First Name" name="firstName" ng-model="user.firstName" ng-class="{submitted:userForm.submitted}"required/>
                <span style="color:#ff353b" ng-show="userForm.firstName.$error.required && userForm.firstName.submitted ">
                                 This field is required.</span>
            </li>
            <li ng-init="user.lastName=lastName" class="width_set btn-float"><span style="position: relative;bottom: 4px">Last Name:</span>
                <input type="text" class="text-box" placeholder="Last Name" name="lastName" ng-model="user.lastName" ng-class="{submitted:userForm.submitted}" required/>
                <span style="color:#ff353b" ng-show="userForm.lastName.$error.required && userForm.lastName.submitted ">
                                 This field is required.</span>
            </li>
            <li ng-init="user.location=location"><span style="position: relative;bottom: 4px">Location:</span>
                <input type="text" class="text-box" placeholder="Location" name="location" ng-model="user.location" ng-class="{submitted:userForm.submitted}" required/>
                <span style="color:#ff353b" ng-show="userForm.location.$error.required && userForm.location.submitted ">
                                 This field is required.</span>

            </li>
            <li ng-init="user.aboutMe=aboutMe">
                <span style="position: relative;bottom: 4px;top: 2px;"> About Me:</span>
                <textarea rows="3" cols="50" ng-model="user.aboutMe" ng-class="{submitted:userForm.submitted}" required/></textarea>
                <span style="color:#ff353b" ng-show="userForm.location.$error.required && userForm.location.submitted "></span>
            </li>
            <li ng-init="user.WhatIWanttoTeach=WhatIWanttoTeach"><span style="position: relative;bottom: 4px">What I Want to Teach:</span>
                <input type="text" class="text-box" placeholder="Your Expertise" name="Expertise" ng-model="user.Expertise" ng-class="{submitted:userForm.submitted}" required/>
                <span style="color:#ff353b" ng-show="userForm.location.$error.required && userForm.location.submitted ">
                                 This field is required.</span>

            </li>

            <li ><span >My Experience Under that:</span>
                <div class="dropdwon_text">
                    <ul><li>
                        <div class="custom-select-box ">


                            <div class="custom_select" custom-select="x for x in experienceYears | filter: $searchTerm" ng-init="user.experienceYear= userExpYear" ng-model="user.experienceYear"></div>
                            <div class="custom_select" custom-select="x for x in experienceMonths | filter: $searchTerm" ng-init="user.experienceMonth= userExpMonth" ng-model="user.experienceMonth"></div>
                        </div>

                    </li>

                    </ul>
                </div>
            </li>
            <li ng-init="user.aboutPassionate=aboutPassionate">
                <span style="position: relative;bottom: 4px;top: 2px;"> Why I'm Passionate About This:</span>
                <textarea rows="3" cols="50" ng-model="user.aboutPassionate" ng-class="{submitted:userForm.submitted}" required/></textarea>
                <span style="color:#ff353b" ng-show="userForm.location.$error.required && userForm.location.submitted "></span>
            </li>

            <li>
                <span style="top: -1px;">Date of Birth:</span>
                <div class="dropdwon_text">
                    <ul  >
                        <li>
                            <div class="custom-select-box">


                                <div class="custom_select" custom-select="x for x in months | filter: $searchTerm" ng-init="user.month= userMonth" ng-model="user.month"></div>
                                <div class="custom_select" custom-select="x for x in days | filter: $searchTerm" ng-init="user.day=userDay" ng-model="user.day"></div>
                                <div class="custom_select" custom-select="x for x in years | filter: $searchTerm" ng-init="user.year=userYear" ng-model="user.year" >
                                </div>
                                </div>

                        </li>
                    </ul>

                </div>
            </li>
            <li style="margin-bottom: 15px;">
                <span >Gender:</span>
                <div class="redio_text" style="margin-top: 5px;" ng-init="user.gender=gender">
                    <ul style="margin: 0;padding-bottom: 1px;padding-top: 2px;">
                        <li>

                            <div class=" radio-btn-on">{{$scope.gender}}

                                <input type="radio" id="radio04" value="male" name="gender" ng-model="user.gender" />
                                <label for="radio04"><span><small></small></span>
                                </label>
                                <span>Male</span>
                            </div>

                        </li>
                        <li>
                            <div class=" radio-btn-off ">

                                <input type="radio" id="radio05" value="female" name="gender" checked="checked" ng-model="user.gender">
                                <label for="radio05"><span><small></small></span>
                                </label>
                                <span>Female</span>
                            </div>
                        </li>
                        <li>
                            <div class=" radio-btn-off ">
                                <input type="radio" id="radio06" value="ratherNotSay" name="gender" checked="checked" ng-model="user.gender">
                                <label for="radio06"><span><small></small></span>
                                </label>
                                <span>Rather Not Say</span>

                            </div>
                        </li>

                    </ul>
                </div>
            </li>
            <!--<li ><span >Experience:</span>-->
                <!--<div class="dropdwon_text">-->
                    <!--<ul><li>-->
                        <!--<div class="custom-select-box ">-->


                            <!--<div class="custom_select" custom-select="x for x in experienceYears | filter: $searchTerm" ng-init="user.experienceYear= userExpYear" ng-model="user.experienceYear"></div>-->
                            <!--<div class="custom_select" custom-select="x for x in experienceMonths | filter: $searchTerm" ng-init="user.experienceMonth= userExpMonth" ng-model="user.experienceMonth"></div>-->
                        <!--</div>-->

                    <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->
            <li style="margin-bottom: 15px;">
                <span style="position: relative;bottom: 4px;top: -1px;">Credentials(Any documents that support your experience):{{user.docName}}</span>
                <div class="file-upload-wrapper">
                    <label class=" customUpload btnUpload btnM customCredential"><span>Choose Files</span><input

                            type="file"
                            accept="application/pdf"
                            file-document="user.doc"

                            class="custom-file-upload-hidden"
                            tabindex="-1" style="position: absolute; left: -9999px;"/></label>

                    <input type="text" ng-model="user.DocName" class="file-upload-input file-upload-margin" disabled style="color:#808080;background-color: white" ng-class="{submitted:userForm.submitted}" />
                    <span ng-show="userForm.pdf.$error === 'pattern'">File must be PDF.</span>
                    <span style="color:#ff353b" ng-show="userForm.location.$error.required && userForm.location.submitted "></span>
                    <!--<button type="button" class="file-upload-button" tabindex="-1">Choose File</button>-->
                    </div></li>


            <li style="position:relative;">

                <div class="spinner" ng-show="isLoaded" style="left:1px;top:1px;position:absolute;">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <button  type="button" class="btn med-btn primary-btn btn-two" ng-click="updateProfile()"  style="margin-bottom: 0;">Apply</button>

            </li>
        </ul>

    </form>

</div><!--login block-->
    </div>
<!--box1end-->
