<div >
	<div style="background:#f3f3f3;">
		<div class="fl-left learn_wrap">
			<h1 style="color: #fcb040;">Learn from others around the world!</h1>
			<p>
				With Seeko's platform, you can learn from others or even teach them! As a student, you will gain access to learning all courses. As a teacher, you will gain access to creating classes, have the ability to provide material for study to students, and can even take live e-classes.
		</div>
		<div style="clear:both;"></div>
		<div class="fl-left learn_wrap">
			<img src="assets/images/seeko_image_three.png" alt="img"/>
		</div>
		<div class="fl-left learn_small_wrap">
			<h2 style="text-align: left;">Take live eclasses from social teachers</h2>
			<p>
				Seeko provides a classroom-like feeling for every class attended. Teachers and students can attend all classes from anywhere in the world while still getting the benefit of a classroom environment. This is thanks to our live conferencing module that provides chat functionality.
			</p>
		</div>
		<div class=" fl-left">
			<img src="assets/images/seeko_image_one.png" alt="" style="margin-top:44px;"/>
		</div>
		<div class="fl-left learn_small_wrap">
			<h2 style="text-align: left;margin: 40px 0;">Get paid for eclasses </h2>
			<p>
				Seeko pays YOU for every class you teach.Sharing your knowledge on Seeko really pays!
			</p>
		</div>
		<div class=" fl-left">
			<img src="assets/images/seeko_image_two.png" alt="" style="margin-top:92px;"/>
		</div>
		<!--second part-->


		<div style="text-align:center;"><button type="button" class="btn std-btn primary-btn btn-two" ng-click="addSignUp()">Learn with Us </button></div>
		<div style="clear:both;"></div>
	</div>
</div>