

<div class="content_set" style="background: #f3f3f3;">
    <spinner-loader ng-show="showspin"></spinner-loader>
    <div class="body_setting" >
        <div class="div_set_center">

            <div class="div_setting profile_pic_div" style="box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);border: 0px solid black;">
                <div class="image_setting">
                    <img ng-src="{{profilePic}}" alt="image" style="height: 200px;width: 200px;">

                </div><!--image_setting-->
            </div><!--div_setting-->
        </div><!--div_set_center-->

        <div class="content_setting_second">
            <div class="div_setting_second">

                <h1 style="color:#fcb040" ng-bind="name">Jenny Disusa</h1>
                <div style="width:100%;">
                    <div class="content_setting">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Date of Birth:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="dob">27 March 1947</p>
                        </div>
                    </div>
                    <div class="content_setting">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Gender:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="gender">Female</p>
                        </div>
                    </div>
                    <div class="content_setting">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Location:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="location">London, msectetur adipisicing elit,abx street 201639</p>
                        </div>
                    </div>
                    <div class="content_setting">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Detailed Description:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="aboutMe">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                        </div>
                    </div>


                </div>
            </div><!--div_setting_second-->
        </div><!--content_setting_second-->
    </div> <!--body_setting-->
    <div style="clear:both;"></div>
    <div class="hr_class"></div>
    <div class="mid_content">

        <section class="middle_section" ng-if="classes.length>0">
            <div class="clearfix">
                <h2 class="title_set">This Jedi's Classes</h2>
                <div class="viewall_set">
                    <h5 class="head_set">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
                        <button type="button" class="btn prev-btn" ng-click="getPrevClasses()">
                            <i class="icon-prev-btn" ></i>
                        </button>
                        <button type="button" class="btn next-btn" ng-click="getNextClasses()">
                            <i class="icon-next-btn" ></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div class="imagesection" ng-repeat="class in classes" >
                <div class="box_Setting1 box_shadow box_Setting1_width" >
                    <p class="para_set"  ng-mouseover="hover=true" ng-mouseleave="hover=false"> Happened On:<span style="text-decoration: underline;cursor: pointer;">{{class.classData.summary}}</span></p>
                    <div class="when_hover2" ng-show="hover">{{class.classData.summary}}</div>

                    <img ng-src="{{class.classData.classImageVideo[0].classDocUrl}}" alt="image" class="images_setting images_setting_padding" style="cursor: pointer;" ng-click="changeState(class)">
                    <div class="clearfix ">

                        <div class="buttonstar_set buttonstar_set_float" >
                            <span class="star star_float star_margin" >
                             <star-rate count="class.classData.avgStarCount"></star-rate>
                         </span>
                            <div style="float: left;width: 50%">
                            <p class="texting_inline texting_inline_top" >Title: {{class.classData.className}}</p>

                            <p class="texting_inline" style="font-size: 13px !important;position: relative;top: 22px;width: 136px;" >Signed Up: {{class.classData.studentId.length}}</p>
                            </div>
                        </div><!--text-->
                        <div class="buttonstar buttonstar_float"  style="position: relative">



                            <ul class="popup-btn buttonstar_ul_width" style="margin:0 !important;float: right;">
                                <li class="buttonstar_ul_li_width" style="margin:0 !important;">
                                    <a  class="sure-btn-gr" ng-init="showEdit" ng-click="showEdit=!showEdit">Invite</a>
                                    <div class="edithoverONne" style="top:47px;left:-25px;" ng-show="showEdit" >

                                        <!--<i class="icon-close-black close_set"style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                        <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                        <div class="clearfix"></div>
                                        <!--<form >-->
                                            <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                            <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                                <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                            <!--</button>-->
                                        <!--</form>-->
                                        <div class="clearfix"></div>
                                        <div>
                                            <ul style="position: absolute;top: 14px;left: 12px;">
                                                <li style="margin: 0px 3px 0 0;float: left;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                                </li>
                                                <li style="margin: 0px 3px 0 0;float: left;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                                </li>
                                                <li style="margin: 0px 3px 0 0;float: left;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;float: left;cursor: pointer">
                                                    <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="buttonstar_ul_li_width" style="margin:0 !important;">
                                    <a  class="cool-btn-gr" ng-click="getClassDetail(class)">Attend</a>
                                </li>

                            </ul>
                        </div><!--buttons-->
                    </div>
                </div>
                <!--box_setting1-->


            </div><!--imagesection-->
        </section><!--middle_section-->
    </div><!--mid_content-->
    <div class="clearfix" style="margin-bottom: 25px;"></div>
    <!--box shadow section-->
    <div style="width:100%;height:auto;">
        <img src="assets/images/shadow_image.png" alt="shadow" width="100%">
    </div><!--box-shadow-->
    <div class="clearfix" style="margin-bottom: 25px;"></div>

    <!--total review section-->
    <div class="mid_content" ng-if="reviews!=0">
        <div class="total_review" >
            <p style="font-size: 30px;display:block;">Reviews</p>
            <p style="font-size: 24px;display:block;">Total Reviews: {{reviews.length}}</p>
        </div><!--totlareview-->
        <div id="scrollArea">
            <div ng-repeat="review in reviews track by $index">
                <div class="review_detail">
                    <div class="left_view">
                        <div class="profile_set">
                            <img src="{{review.profilePic}}" alt="profile" class="profile_setting">
                        </div><!--profile_set-->
                        <div class="profile_detail">
                            <p class="name_set">{{review.userName}}</p>
                            <p class="time_detail">{{review.date | date : "EEEE,MMMM dd,yyyy" }}</p>
                            <span style="float:left; margin-right:8px;">
                                <star-rate count="review.starCount"></star-rate>
                            </span>
                            <p class="time_detail1" ng-init="getUserReviews(review)">{{review.count}} Reviews</p>
                        </div><!--"profile_detail-->
                    </div><!--left_view-->
                    <div class="right_view">
                        <p ng-bind="review.comment">
                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                            retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure
                            terr.Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure
                            terr.
                        </p>
                    </div><!--right_view-->
                </div><!--review_detail-->
                <div class="clearfix"></div>
                <div style="width:100%;margin-top:15px;">
                    <div class="hr_class ng-scope" ng-if="$index!=reviews.length-1">
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--first review complete-->
            </div>
        </div>

    </div><!--reviewsec-->

</div><!--content_set-->
        
        
            
   
