<div>
    <section class="banner">
        <img src="assets/images/1.jpg" alt="banner" />
        <!--<div class="video">-->
            <!--<video autoplay loop id="bg-video" muted>-->
                <!--<source src="https://s3-us-west-2.amazonaws.com/seeko/Same+Time+Same+Jagah.mp4">-->
            <!--</video>-->
        <!--</div>-->
        <div class="videoBlur">
        </div>
        <div class="banner-content">
            <h1>Seeko is the worlds first social learning community.</h1>
            <p>
                Teach what you know and learn from others in a live, interactive and social environment.
            </p>
            <ul class="hero-banner-info">
                <li>
                    <strong class="gr-text">123</strong><span><small>Plus</small> Live Classes</span>
                    <!--<strong class="gr-text">{{count.videoCount}}</strong><span><small>Plus</small> Videos</span>-->
                </li>
                <li>
                    <strong class="blue-text">{{count.teacherCount}}</strong><span><small> Plus</small> Jedi</span>
                </li>
                <li>
                    <strong class="yellow-text">{{count.studentCount}}</strong><span><small> Plus</small> Users</span>
                </li>
            </ul>
            <ul class="btn-wrap">
                <li>
                    <a ng-click="addSignUp()" class="join-btn">Join Now</a>
                </li>
                <li>
                    <a   class="join-btn" ui-sref="home.learn">Learn More</a>
                </li>
            </ul>
        </div>
        <div class="play-video">
            <a ng-click="demoVideo()" style="cursor: pointer"><img src="assets/images/play-video.png" alt="play-video" /><strong>Play</strong> </a>

        </div>
    </section>
    <section class="live-video-wrap" >
        <h2>Newest Classes</h2>

        <div class="scroll-streams pac-content" get-scroll style="overflow: auto">
            <div class="inner-content clearfix">
                <div class="live-video-row clearfix">
                    <div class="live-video-item grid-sm-wrap">
                        <div class="clearfix mb-15">
                            <div class="grid-sm" style="cursor: pointer;" ng-click="getClassDetail(class)" ng-repeat="class in classes track by $index">
                                <figure class="display-set" ng-if="$index<12">
                                    <img style="height: 280px;width:100%;"ng-src="{{class.classData.classImageVideo[0].classDocUrl}}" alt="live-vdo-sm-01" />

                                <div class="grid-sm-details">
                                    <div class="grid-sm-info">
                                        <strong>{{class.classData.className}}</strong>
                                        <small>{{class.classData.category.categoryName}}</small>
                                    </div>
                                    <span><a ><i class="sp-icon like-icon"></i>{{class.classData.reviews.length}}</a></span>
                                </div>
                                </figure>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="description-wrap">
        <h2>Why it’s Fantastic</h2>
        <div class="descrip-row clearfix">
            <div class="desc-block dark-green">
                <div class="desc-item">
                    <i class="sp-icon live-icon"></i>
                </div>
                <strong>Live Environment</strong>
                <p>
                    Seeko provides the feeling of learning in a live environment.
                </p>
            </div>

            <div class="desc-block dark-yellow">
                <div class="desc-item">
                    <i class="sp-icon free-icon"></i>
                </div>
                <strong>Free, No cost</strong>
                <p>
                   Seeko helps you learn new technology without breaking the bank.
                </p>
            </div>

            <div class="desc-block light-red">
                <div class="desc-item">
                    <i class="sp-icon learn-icon"></i>
                </div>
                <strong>Social Learning</strong>
                <p>
                    Seeko uses a class-like environment, including open discussions with your teacher and classmates.
                </p>
            </div>

            <div class="desc-block light-blue">
                <div class="desc-item">
                    <i class="sp-icon meet-icon"></i>
                </div>
                <strong>Meet others with shared interests</strong>
                <p>
                    In Seeko, meet others with shared interests in your class!
                </p>
            </div>

            <div class="desc-block light-green">
                <div class="desc-item">
                    <i class="sp-icon class-icon"></i>
                </div>
                <strong>Virtual Classroom Environment</strong>
                <p>
                    Seeko provides a virtual learning environment, classroom style.
                </p>
            </div>

            <div class="desc-block purple">
                <div class="desc-item">
                    <i class="sp-icon paid-icon"></i>
                </div>
                <strong>Get Paid to Teach </strong>
                <p>
                   Share your knowledge in a classroom setting with Seeko users to earn cash.
                </p>
            </div>

        </div>
        <a class="join-btn" ng-click="addSignUp()" style="cursor: pointer;bottom:0px;">Join Now</a>
    </section>

    <!--<section class="blog-sec">-->
        <!--<h2>What We’re Up To</h2>-->
        <!--<div class="container clearfix">-->
            <!--<div class="blog-box blog-one">-->
                <!--<ul class="author clearfix">-->
                    <!--<li>-->
                        <!--<a href="#"><i class="sp-icon user-icon"></i>Author Name</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="sp-icon date-icon"></i>24 - 10 - 2014</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p>-->
                    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...-->
                <!--</p>-->
                <!--<a href="#" class="read-more">Read more </a>-->
            <!--</div>-->
            <!--<div class="blog-box blog-two">-->
                <!--<ul class="author clearfix">-->
                    <!--<li>-->
                        <!--<a href="#"><i class="sp-icon user-icon"></i>Author Name</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="sp-icon date-icon"></i>24 - 10 - 2014</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p>-->
                    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...-->
                <!--</p>-->
                <!--<a href="#" class="read-more">Read more </a>-->
            <!--</div>-->
            <!--<div class="blog-box blog-three">-->
                <!--<ul class="author clearfix">-->
                    <!--<li>-->
                        <!--<a href="#"><i class="sp-icon user-icon"></i>Author Name</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="sp-icon date-icon"></i>24 - 10 - 2014</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p>-->
                    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...-->
                <!--</p>-->
                <!--<a href="#" class="read-more">Read more </a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
</div>