<div class="login-overlay">
<div class="attend-doubt">
				<span> <strong>{{doubtUser}}</strong> has raised his hand.
					Do you want to attend his doubt?
				<i class="icon_sprite raise_hand"> </i>
				</span>
    <div class="btn-sec">
        <a  class="btn_yes" ng-click="confirm()">Yes </a>
        <a class="btn_yes secondary" ng-click="cancel()"> Later </a>
    </div>
    <span class="close-it"> <i class="icon-close-black2"> </i> </span>
</div>
    </div>