<div class="login-overlay">
<div class=" popup-block popup-white fl-left confirm-popup" >
    <h2 ng-bind="header"></h2>
    <a  class="close-btn" ng-click="cancel()"><i class="icon-close-black"></i></a>
    <p ng-bind="classMessage">

    </p>

</div>
</div>