<div class="login-overlay">
    <div class=" popup-block popup-white fl-left confirm-popup" >
    <h2 ng-bind="header"></h2>
    <a  class="close-btn" ng-click="cancel()"><i class="icon-close-black"></i></a>
    <p ng-bind="message">

    </p>
    <ul class="popup-btn">
        <li>
            <a  class="cool-btn-gr" ng-click="confirm()">Ok</a>
        </li>
        <li>
            <a  class="sure-btn-gr" ng-click="cancel()">Cancel</a>
        </li>
    </ul>
</div>
</div>