
    <div class="ui-notification notice-wrapper fl-left">
        <div class=" message notice-box remove-box">
            <i class="icon-remove"></i><span ng-bind-html="message"></span>
        </div>

    </div>

