
    <div class=" ui-notification  notice-wrapper fl-left">
        <div class="message notice-box yeah-box">
            <i class="icon-yeah"></i><span ng-bind-html="message"> </span>
        </div>

    </div>

