<div class="ui-notification notice-wrapper fl-left">
        <div class="message notice-box warn-box">
            <i class="icon-warn"></i><span ng-bind-html="message"> </span>
        </div>

</div>

