<div class="content_set">
    <spinner-loader ng-show="showspin"></spinner-loader>
  <div style="background:#f3f3f3;">

<div class="mid_content" ng-show="showTeacherLiveSection">

<section class="middle_section">
  <div class="clearfix">
    <h2 class="title_set">Classes I Am Teaching:</h2>
              <div class="viewall_set">
                 <h5 class="head_set" style="cursor: pointer;" ng-click="viewAllClasses()" ng-style="textClr" ng-mouseover="changeCssOnHover()" ng-mouseleave="changeCssOnLeave()">View All</h5>
                   <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
          <button type="button" class="btn prev-btn" ng-click="getPrevClasses('teacher')" >
            <i class="icon-prev-btn"></i>
          </button>
          <button type="button" class="btn next-btn" ng-click="getNextClasses('teacher')" >
            <i class="icon-next-btn"></i>
          </button>
        </div>
               </div><!--viewall_set-->
        </div><!--clearfix-->
    <div ng-if="teacherClasses.length<=0"><p style="position: relative; top: 21px;">No classes attended.</p></div>
    <div class="imagesection">
      <div class="box_Setting11" style="padding:6px 0px 6px 10px" id="{{classes.data._id}}" ng-repeat="classes in teacherClasses">
          <div class="images_setting1" style="background: url('{{classes.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;"></div>
          <!--<img ng-src="{{classes.classData.classImageVideo[0].classDocUrl}}" alt="image" class="images_setting1">-->
                      <div class="class_title">
                          <p class="texting2" ng-bind="classes.classData.className" style="cursor:pointer;text-decoration: underline;" ng-click="getClassDetail(classes)"><strong></strong></p>
                          <p class="texting1" >Jedi: {{myName}}</p>
                          <p class="texting1">Attendees: {{classes.classData.studentId.length}}</p>
                          <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline">{{classes.classData.summary}}</span></p>
                          <div class="when_hover1" style="bottom: 108px;" ng-show="hover">{{classes.classData.summary}}</div>
                          <div class="when_hover1" style="bottom: 108px;" ng-show="hover && classes.classData.reoccuringClasses">{{"Occurs Every"+ classes.classData.summary}}</div>

                                <span  class="star" >
                                    <star-rate count="classes.classData.avgStarCount"></star-rate>
                                </span>
                          <span class="star-avg-count">{{classes.classData.avgStarCount}}</span>
                         <div class="clearfix"></div>
                          <ul class="popup-btn" style="margin:0 !important;">
            <li class="btn_width_Set">
              <button class="cool-btn-gr"  ng-click="cancelClass(classes)" ng-if="classes.classData.cancelClass==false">Cancel</button>
                <button class="cool-btn-gr"  ng-click="cancelClass(classes)" ng-class='{button_disabled:classes.classData.cancelClass}'data-ng-disabled="classes.classData.cancelClass==true" ng-if="classes.classData.cancelClass==true">Cancelled</button>
            </li>
            <li class="btn_edit_set" >
              <button  class="sure-btn-gr" style="width:100%;" ng-click="editClassDetail(classes)" ng-if="classes.classData.cancelClass==false">Edit</button>
                <button class="sure-btn-gr" style="width:100%;"  ng-click="editClassDetail(classes)" ng-class='{button_disabled:classes.classData.cancelClass}'data-ng-disabled="classes.classData.cancelClass==true" ng-if="classes.classData.cancelClass==true">Edit</button>
            </li>
          </ul>
                      </div><!--class_title-->
                  </div><!--box_setting1-->




    </div><!--imagesection-->
  </section><!--middle_section-->
  </div><!--mid_content-->

      <div ng-show="isALearner" class="btn-align" style="margin-top: 50px;" ng-if="teacherClasses.length<=0">
          <button type="button" class="create_class-button" ng-click="createClass()">Create Class</button>
      </div>

      <div class="clearfix" style="margin-bottom: 25px;" ng-if="showTeacherLiveSection"></div>
      <div class="hr_class" ng-if="showTeacherLiveSection"></div>
      <div class="mid_content" >

          <section class="middle_section">
              <div class="clearfix">
                  <h2 class="title_set">Classes I Have Joined:</h2>
                  <div class="viewall_set">
                      <h5 class="head_set" style="cursor: pointer;" ng-click="viewAllClasses1()" ng-style="textClr1" ng-mouseover="changeCssOnHover1()" ng-mouseleave="changeCssOnLeave1()">View All</h5>
                      <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
                          <button type="button" class="btn prev-btn" ng-click="getPrevClasses('joinedClass')" >
                              <i class="icon-prev-btn"></i>
                          </button>
                          <button type="button" class="btn next-btn" ng-click="getNextClasses('joinedClass')" >
                              <i class="icon-next-btn"></i>
                          </button>
                      </div>
                  </div><!--viewall_set-->
              </div><!--clearfix-->
              <div ng-show="myClasses.length<=0"><p style="position: relative; top: 21px;">No classes Joined.</p></div>
              <div class="imagesection">
                  <div class="box_Setting11" style="padding:6px 0px 6px 10px" id="{{classes._id}}" ng-repeat="classes in myClasses">
                      <div class="images_setting1" style="background: url('{{classes.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;"></div>
                      <!--<img ng-src="{{classes.classData.classImageVideo[0].classDocUrl}}" alt="image" class="images_setting1">-->
                      <div class="class_title">
                          <p class="texting2" ng-bind="classes.classData.className"><strong></strong></p>
                          <p class="texting1" >Jedi: {{classes.classData.teacherName}}</p>
                          <p class="texting1">Attendees: {{classes.classData.studentId.length}}</p>
                          <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline">{{classes.classData.summary}}</span></p>
                          <div class="when_hover1" style="bottom: 108px;" ng-show="hover">{{classes.classData.summary}}</div>
                          <div class="when_hover1" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>
                          <span  class="star " >
                              <star-rate count="classes.classData.avgStarCount"></star-rate>
                          </span>
                          <span class="star-avg-count">{{classes.classData.avgStarCount}}</span>
                          <div class="clearfix"></div>
                          <ul class="popup-btn" style="margin:0 !important;">

                              <li class="btn_edit_set" >
                                  <a  class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit">Invite</a>
                                  <div class="edithoverOne" ng-show="showEdit" >

                                      <!--<i class="icon-close-black close_set" style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                      <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                      <div class="clearfix"></div>
                                      <!--<form >-->
                                          <!--<input type="text" style="font-size: 12px;font-family: 'Gotham Rounded Book'" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                          <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                              <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{classes.classData.className}}" socialshare-body="{{classes.classData.classYoutubeLink}}"></i>-->
                                          <!--</button>-->
                                      <!--</form>-->
                                      <div class="clearfix"></div>
                                      <div>
                                          <ul style="position: absolute;top: 15px;left: 12px;">
                                              <!--<li style="margin: 8px 1px 0 0;">-->
                                                  <!--<i href="#" socialshare socialshare-provider="pinterest" socialshare-media="{{classes.classData.classYoutubeLink}}" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" class="social-icon p-link"></i>-->
                                              <!--</li>-->
                                              <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                  <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                              </li>
                                              <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                  <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                              </li>
                                              <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                  <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                              </li>
                                              <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                  <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{classes.classData.className}}" socialshare-body="{{classes.classData.classYoutubeLink}}" >
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </li>
                              <li class="btn_width_Set">
                                  <a class="cool-btn-gr" style="width: 100%;" ng-click="getClassDetail(classes)">Class Detail</a>
                              </li>
                          </ul>
                      </div><!--class_title-->
                  </div><!--box_setting1-->




              </div><!--imagesection-->
          </section><!--middle_section-->
      </div><!--mid_content-->
      <div class="btn-align" style="margin-top: 50px;" ng-if="myClasses.length<=0">
          <button type="button" class="create_class-button" ng-click="joinClass()">Find a Class</button>
      </div>
<div class="clearfix" style="margin-bottom: 25px;" ></div>
      <div class="hr_class" ></div>
<!--2nd mid content-->
    <div class="mid_content" >

<section class="middle_section">
  <div class="clearfix">
    <h2 class="title_set">Classes I Have Attended:</h2>
              <div class="viewall_set">
                 <h5 class="head_set" style="cursor: pointer;" ng-click="viewAllClasses2()" ng-style="textClr2" ng-mouseover="changeCssOnHover2()" ng-mouseleave="changeCssOnLeave2()">View All</h5>
                   <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
          <button type="button" class="btn prev-btn" ng-click="getPrevClasses('attendedClass')">
            <i class="icon-prev-btn"></i>
          </button>
          <button type="button" class="btn next-btn" ng-click="getNextClasses('attendedClass')">
            <i class="icon-next-btn"></i>
          </button>
        </div>
               </div><!--viewall_set-->
        </div><!--clearfix-->
    <div ng-show="myClasses.length<=0"><p style="position: relative; top: 21px;">No classes attended.</p></div>
    <div class="imagesection">
        <div class="box_Setting11" style="padding:6px 0px 6px 10px" id="{{classes._id}}" ng-repeat="classes in myClasses">
            <div class="images_setting1" style="background: url('{{classes.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;"></div>
            <!--<img ng-src="{{classes.classData.classImageVideo[0].classDocUrl}}" alt="image" class="images_setting1">-->
            <div class="class_title">
                <p class="texting2" ng-bind="classes.classData.className"><strong></strong></p>
                <p class="texting1" >Jedi: {{classes.classData.teacherName}}</p>
                <p class="texting1">Attendees: {{classes.classData.studentId.length}}</p>
                <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline">{{classes.classData.summary}}</span></p>
                <div class="when_hover1" style="bottom: 108px;" ng-show="hover">{{classes.classData.summary}}</div>
                <div class="when_hover1" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>
                <span  class="star " >
                    <star-rate count="classes.classData.avgStarCount"></star-rate>
                </span>
                <span class="star-avg-count">{{classes.classData.avgStarCount}}</span>
                <div class="clearfix"></div>
                <ul class="popup-btn" style="margin:0 !important;">

                    <li class="btn_edit_set" >
                        <a class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit">Share</a>
                        <div class="edithoverOne" ng-show="showEdit" >

                            <!--<i class="icon-close-black close_set" style="cursor: pointer" ng-click="showEdit=false"></i>-->
                            <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                            <div class="clearfix"></div>
                            <!--<form >-->
                                <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                    <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{classes.classData.className}}" socialshare-body="{{classes.classData.classYoutubeLink}}"></i>-->
                                <!--</button>-->
                            <!--</form>-->
                            <div class="clearfix"></div>
                            <div>
                                <ul style="position: absolute;top: 15px;left: 12px;">
                                <!--<li style="margin: 8px 1px 0 0;">-->
                                        <!--<i href="#" socialshare socialshare-provider="pinterest" socialshare-media="{{classes.classData.classYoutubeLink}}" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" class="social-icon p-link"></i>-->
                                    <!--</li>-->
                                    <li style="margin: 8px 1px 0 0;cursor: pointer">
                                        <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                    </li>
                                    <li style="margin: 8px 1px 0 0;cursor: pointer">
                                        <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                    </li>
                                    <li style="margin: 8px 1px 0 0;cursor: pointer">
                                        <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{classes.classData.className}}" socialshare-url="{{classes.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                    </li>
                                    <li style="margin: 8px 1px 0 0;cursor: pointer">
                                        <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{classes.classData.className}}" socialshare-body="{{classes.classData.classYoutubeLink}}" >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="btn_width_Set">
                        <a class="cool-btn-gr"  style="width: 100%;" ng-click="getClassDetail(classes)">Class Detail</a>
                    </li>
                </ul>
            </div><!--class_title-->
        </div><!--box_setting1-->


    </div><!--imagesection-->
  </section><!--middle_section-->
  </div><!--mid_content-->
      <!--<div class="clearfix" style="margin-top: 100px;"></div>-->

      <div class="btn-align" style="margin-top: 50px;" ng-if="myClasses.length<=0">
          <button type="button" class="create_class-button" ng-click="attendClass()">Find a Class</button>
      </div>
      <div class="clearfix" ></div>


    </div>
  </div><!--content_set-->
