<div class="header-wrap clearfix seeko-background" ng-cloak>
    <div class="header-left">
        <a ui-sref="home" class="logo"><img src="assets/images/logo.png" alt="logo" style="width: 80%;margin-top: 5px; cursor: pointer"/></a>
        <ul class="menu header_ul_menu"  ng-mouseleave="categoryFlag=false" >
            <li>
                <a  style="cursor:pointer !important" class="menu-link" ng-mouseover="categoryFlag=true" >Courses <i class="sp-icon arrow-down-icon"></i></a>

                <ul class="mega-menu-wrap" ng-show="categoryFlag" style=top:61px;>
                    <li ng-repeat="categories in Supercategories">
                        <a ng-click="hideMenu($event);getSearchCategory(categories,'grandParentCategoryName')">{{categories.name}}<i class="sp-icon arrow-down-right"></i></a>
                        <div class="sub-menu-block clearfix">
                            <div class="sub-menu-item" ng-repeat="subCategories in categories.categories">
                                <ul class="mega-menu-cat">
                                    <ul style="margin-bottom: 0;">
                                        <h3 class="category_set" ng-click="hideMenu($event);getSearchCategory(subCategories,'parentCategoryName')">{{subCategories.name}}</h3>

                                        <li ng-repeat="childCategories in subCategories.subcategories">
                                            <a ng-click="hideMenu($event);getSearchCategory(childCategories,'categoryName');">{{childCategories.name}}</a>
                                        </li>

                                    </ul>
                                </ul>

                            </div>

                        </div>
                    </li>


                </ul>

            </li>
        </ul>
        <div style="position:relative;height:auto;" >
            <form class="search-box search_box_margin" id="searchBox" >
            <input type="text" class="search-text" placeholder="Search" auto-complete-isolated ng-model="searchString" where="home"/>
                <!--<input type="text" aria-activedescendant="1" aria-readonly="true"-->
                       <!--aria-owns="cb1-list" aria-autocomplete="list"-->
                       <!--name="search_text" value="" id="searchText"-->
                       <!--autocomplete="off" class="search-text" ng-model="searchString"-->
                       <!--placeholder="Search: Classes" ng-change="getSearchResult(searchString)"/>-->
                <button type="button" class="search-btn">
                    <i class="sp-icon search-icon">&nbsp;</i>
                </button>
            </form>

            <!--<div class="search-list" ng-show="searchList" aria-expanded="true" id="cb1-list">-->
                <!--<ul ng-repeat="result in searchResult track by $index" ng-show="!searchMsgLi">-->
                    <!--<li ng-bind="result.name" id={{$index}} ng-click="getExactSearchResult(result)"></li>-->

                <!--</ul>-->
                <!--<ul ng-show="searchMsgLi">-->
                    <!--<li ng-bind="searchMsg"></li>-->

                <!--</ul>-->
            <!--</div>&lt;!&ndash;search list&ndash;&gt;-->
        </div>
    </div>
    <div class="header-right">

        <ul class="navigation" style=" margin-top: 13px;">
            <li>
                <a ui-sref="home.learn">Learn More</a>
            </li>
            <!--<li>-->
                <!--<a ui-sref="home.teach">Teach</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Blog</a>-->
            <!--</li>-->
        </ul>
        <ul class="header-btn header_btn_margin" >
            <li>
                <a   class="login-btn"  ng-click="addLogin()">Login</a>
            </li>
            <li>
                <a   class="sign-btn" ng-click="addSignUp()">Sign Up</a>
            </li>
        </ul>

    </div>



</div>