<div class="header-wrap clearfix seeko-background">
    <div class="header-left">
        <a  class="logo"><img src="assets/images/logo.png" alt="logo" style="width: 80%;margin-top: 10px;cursor: default;"/></a>
        <ul class="menu header_ul_menu" ng-mouseleave="categoryFlag=false">
            <li>
                <a ng-mouseover="categoryFlag=true" style="cursor: pointer !important;" class="menu-link">Courses <i  class="sp-icon arrow-down-icon"></i></a>
                <ul class="mega-menu-wrap" ng-show="categoryFlag">
                    <li ng-repeat="categories in Supercategories">
                        <a ng-click="hideMenu($event);getSearchCategory(categories,'grandParentCategoryName')">{{categories.name}}<i class="sp-icon arrow-down-right"></i></a>
                        <div class="sub-menu-block clearfix">
                            <div class="sub-menu-item" ng-repeat="subCategories in categories.categories">
                                <ul class="mega-menu-cat">
                                    <ul style="margin-bottom: 0;">
                                        <h3 class="category_set" ng-click="hideMenu($event);getSearchCategory(subCategories,'parentCategoryName');">{{subCategories.name}}</h3>

                                        <li ng-repeat="childCategories in subCategories.subcategories" style="width:138px;">
                                            <a data-ng-click="hideMenu($event);getSearchCategory(childCategories,'categoryName');" >{{childCategories.name}}</a>
                                        </li>

                                    </ul>
                                </ul>

                            </div>

                        </div>
                    </li>


                </ul>
            </li>
        </ul>
        <div style="position:relative;height:auto;">
            <form class="search-box search_box_margin" id="searchBox">
                <input type="text" class="search-text" placeholder="Search" auto-complete-isolated ng-model="searchString" where="dashboard"/>
                <button type="button" class="search-btn">
                    <i class="sp-icon search-icon">&nbsp;</i>
                </button>

            </form>

        </div>
    </div>
    <div class="header-right">

        <ul class="navigation" style=" margin-top: 20px;">


            <li class="li-pointer">
                <a ng-click="applyToTeach()">Become a Teacher</a>
            </li>
            <!--<li class="li-pointer">-->
                <!--<a>Blog</a>-->
            <!--</li>-->

        </ul>
        <!-- <ul class="header-btn">
        <li>
        <a href="#"  class="login-btn">Login</a>
        </li>
        <li>
        <a href="#"  class="sign-btn">Sign Up</a>
        </li>
        </ul> -->
        <ul class="profile-info">
            <!--<li>-->
                <!--<a style="margin-top: 22px;">Welcome </a>-->
            <!--</li>-->
            <li class="profile-img"  ng-mouseover="menulist=true" ng-mouseleave="menulist=false">
                <a  style="max-height:41px;max-width:41px;cursor: pointer"> <img data-ng-src="{{ImgSrc}}" alt="profile-img" style="position: relative;top:11px;width: 41px;height: 41px;"/></a>
                <ul class="profile-dropdown" ng-show="menulist">
                    <li data-ng-show="!isLearner"><a ng-click="getMyProfile()" ng-keydown="$event.which === 13 && getMyProfile()" >My Profile</a></li>
                    <li><a ng-click="menulist=false;getMyClassView()" ng-keydown="$event.which === 13 && getMyClassView()">My Classes</a></li>
                    <li ><a ng-click="menulist=false;getMyFavouriteClasses()" ng-keydown="$event.which === 13 && getMyFavouriteClasses()">Favourites</a></li>
                    <li ><a ng-click="menulist=false;getMyAccount()" ng-keydown="$event.which === 13 && getMyAccount()">My Account</a></li>
                    <li ><a ng-click="menulist=false;getMyNotifications()" ng-keydown="$event.which === 13 && getMyNotifications()">Notifications</a></li>

                    <li data-ng-show="!isLearner"><a ng-click="menulist=false;editMyProfile()" ng-keydown="$event.which === 13 && editMyProfile()" >Edit Profile</a></li>
                    <!--<li><a  ng-click="fetchRecordingUrl()" ng-keydown="$event.which === 13 && fetchRecordingUrl()">Recordings</a></li>-->
                    <li style="border-bottom: 0px;"><a href="#" data-ng-click="logout()" ng-keydown="$event.which === 13 && logout()">Log Out</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<div class="lev-menu">
    <ul>
        <li ng-class="{'dashboard_active':dashboardHover}"><a ng-click="goToDashboard()">Dashboard</a></li>
        <li ng-class="{'dashboard_active':calendarHover}"><a data-ng-click="getCalendar()">Calendar</a></li>
        <li ng-class="{'my_classes_active':classHover}"><a ng-click="getMyClassView()" >My Classes</a></li>

    </ul>
</div>
