<div class="login-overlay" >
    <div class="login-wrap">
        <h2 class="head-title">Recordings <a href="javascript:;"  ng-click = "recording.closeSignUp()"><i class="sp-icon cross-icon"></i></a></h2>
        <div class="form-cont-wrapper">
        <ul ng-repeat="records in recordings">
            <li><a href={{records}}>Download Link {{$index+1}}</a></li>
        </ul>
            </div>
    </div>
</div>