<div class="header-wrap clearfix seeko-background">
    <div class="header-left">
        <a  class="logo"><img src="assets/images/logo.png" alt="logo"  style="width: 80%;margin-top: 10px;cursor: default;"/></a>
        <ul class="menu header_ul_menu" >
            <li ng-mouseleave="categoryFlag=false;">
                <a ng-mouseover="categoryFlag=true;"  class="menu-link" style="cursor:pointer !important;">Courses <i  class="sp-icon arrow-down-icon"></i></a>
                <ul class="mega-menu-wrap" ng-if="categoryFlag">
                    <li ng-repeat="categories in Supercategories">
                        <a ng-click="getSearchCategory(categories,'grandParentCategoryName')">{{categories.name}}<i class="sp-icon arrow-down-right"></i></a>
                        <div class="sub-menu-block clearfix">
                            <div class="sub-menu-item" ng-repeat="subCategories in categories.categories">
                                <ul class="mega-menu-cat">
                                    <ul style="margin-bottom: 0;">
                                        <h3 class="category_set" ng-click="hideMenu($event);getSearchCategory(subCategories,'parentCategoryName');">{{subCategories.name}}</h3>

                                    <li ng-repeat="childCategories in subCategories.subcategories" style="width:138px;">
                                        <a data-ng-click="getSearchCategory(childCategories,'categoryName');">{{childCategories.name}}</a>
                                    </li>

                                        </ul>
                                </ul>

                            </div>

                        </div>
                    </li>


                </ul>
            </li>
        </ul>
        <div style="position:relative;height:auto;">
            <form class="search-box search_box_margin" id="searchBox">
                <input type="text" class="search-text" placeholder="Search" auto-complete-isolated ng-model="searchString" where="teacherDashboard"/>
                <button type="button" class="search-btn">
                    <i class="sp-icon search-icon">&nbsp;</i>
                </button>
            </form>


        </div>
    </div>
    <div class="header-right">

        <ul class="navigation" style=" margin-top: 20px;">

            <!--<li class="li-pointer">-->
                <!--<a>Blog</a>-->
            <!--</li>-->

        </ul>
        <!-- <ul class="header-btn">
        <li>
        <a href="#"  class="login-btn">Login</a>
        </li>
        <li>
        <a href="#"  class="sign-btn">Sign Up</a>
        </li>
        </ul> -->
        <ul class="profile-info">
            <!--<li>-->
                <!--<a style="margin-top: 22px;">Welcome </a>-->
            <!--</li>-->
            <li class="profile-img" ng-mouseover="menulist=true" ng-mouseleave="menulist=false">
                <a  style="max-height:41px;max-width:41px;cursor: pointer"> <img data-ng-src="{{ImgSrc}}" alt="profile-img" style="position: relative;top:11px;width: 41px;height: 41px;"/></a>
                <ul class="profile-dropdown" ng-show="menulist">
                    <li ><a ng-click="menulist=false;getMyProfile()">My Profile</a></li>
                    <li ><a   ng-click="menulist=false;getMyClassView()">My Classes</a></li>
                    <li ><a ng-click="menulist=false;getMyAccount()">My Account</a></li>
                    <li ><a  ng-click="menulist=false;getMyFavouriteClasses()">Favourites</a></li>
                    <li ><a ng-click="menulist=false;getMyNotifications()">Notifications</a></li>
                    <li ><a ng-click="menulist=false;editMyProfile()">Edit Profile</a></li>
                    <!--<li data-ng-show="!isLearner"><a  ng-click="joinClass()">Join</a></li>-->
                    <li ><a  ng-click="menulist=false;createNewClass()">Create Class</a></li>
                    <!-- <li data-ng-show="isLearner"><a  ui-sref="dashboard.classDetails">Class Details</a></li> -->
                    <!--<li><a  ng-click="fetchRecordingUrl()">Recordings</a></li>-->
                    <li style="border-bottom: 0px;"><a  data-ng-click="logout()">Log Out</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<div class="lev-menu">
    <ul>
        <li ng-class="{'dashboard_active':dashboardHover}"><a data-ng-click="goToDashboard()">Dashboard</a></li>
        <li ng-class="{'dashboard_active':calendarHover}"><a data-ng-click="getCalendar()">Calendar</a></li>
        <li ng-class="{'my_classes_active':classHover}"><a ng-click="getMyClassView()" >My Classes</a></li>

    </ul>
</div>
