<!--Content Area Start-->
<div class="content">
	<div class="profile-width prof_mar">
		<div>
			<spinner-loader ng-show="showspin"></spinner-loader>
            <h1 class="profile_edit_heading">
                <span ng-if="create">Create New Class</span> <span ng-if="user.edit">Edit Class
                </span>
            </h1>
			<form class="login-block fl-left " style="position: relative;margin: 0 auto;" name="addForm">
                <div class="lbl_font" style="margin-bottom: 22px;" for="usr" >
				    <label class="tagAlignment class_top">Category</label>
				    <ul class="menu_inline" ng-mouseleave="categoryFlag=false">
						<li style="position: relative;">
					       <a  ng-mouseover="categoryFlag=true" class="menu-link" ng-class="{category_unSubmitted:addForm.submitted,category_submitted:category!=undefined}" style="padding:15px;cursor:pointer !important;">{{categoryText}} <i class="sp-icon arrow-down-icon" style="cursor:pointer !important"></i>
                            </a>
                            <ul class="mega-menu-wrap" style="top:49px;" ng-show="categoryFlag">
								<li ng-repeat="categories in Supercategories"  class="mg-0">
									<a href="javascript:void(0)">{{categories.name}}<i class="sp-icon arrow-down-right"></i>
                                    </a>
									<div class="sub-menu-block clearfix">
								        <div class="sub-menu-item" ng-repeat="subCategories in categories.categories">
										      <ul class="mega-menu-cat">
												    <ul style="margin-bottom: 0;">
													   <h3 class="category_set">{{subCategories.name}}</h3>
														<li ng-repeat="childCategories in subCategories.subcategories">
															<a href="" ng-click="getCategories(childCategories.name,subCategories.name,categories.name);hideMenu($event);">{{childCategories.name}}</a>
														</li>
													</ul>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="lbl_font mar_20">
						<label for="usr" class="tagAlignment class_top" >Class Name</label>
						<div class="div_inline">
						  <input type="text" class="text-box" placeholder="Class Name" name="className" data-ng-model="user.className" ng-class="{submitted:addForm.submitted}" required  />
						  <span style="color:#ff353b" ng-show="addForm.className.$error.required && addForm.className.submitted">
                          This field is required.</span>
						</div>
					</div>
					<div class="lbl_font mar_20" style="margin-bottom: 18px;">
						<label class="tagAlignment class_top" for="usr" >Date of Class</label>
						<div class="div_inline" style="position: relative">
                            <input id="eventFromDate" type="text"  style="color:#5e5e5e" class="text-box" placeholder="mm/dd/yyyy" shift-focus name="fromDate" ng-model="user.createFromDate" ng-class="{submitted:addForm.submitted}" required ng-disabled="reoccuringDone"/>
									<date-picker for="eventFromDate"/>
						</div>
					</div>
				    <div  class="lbl_font mar_20">
                        <label class="tagAlignment class_top">
						Reoccuring
                        </label>
					   <li class="div_inline">
						  <div  class="{{toggleClass}}" ng-click="dataToggle()" role="button">
							 <div class="toggle"></div>
							 <span class="on">on</span>
							 <span class="off">off</span>
						  </div>
					   </li>
			     	</div>

				    <div  class="lbl_font mar_20" ng-if="reoccuringDone">
					   <label class="tagAlignment class_top"   for="usr" >Summary</label>
					   <li  style="padding-top: 14px;" class="div_inline" ng-if="reoccuringDone" > {{classSummaryDetail}}
						  <a ng-click="openEdit()" style="color:#fcb040;cursor: pointer;text-decoration: underline">Edit</a>
					   </li>
				    </div>
					<div class="lbl_font mar_20"  style="margin-bottom: 14px;">
					   <label class="tagAlignment class_top" for="usr" >Time</label>
				        <div class="div_inline" style="display:inline-block;">
							 <ul style="margin-bottom: 0px;">
								<li class="lbl_font1">
									<div class="custom-select-box time_inline" style="width:100%;">

										<div class="time_width custom_select mr_rig_7 " custom-select="x for x in fromHour | filter: $searchTerm" ng-init="user.classHour=startTime" ng-model="user.classHour"></div>
										<div class="time_width custom_select " custom-select="x for x in toTimes | filter: $searchTerm" ng-init="user.classMinute=startToTime" ng-model="user.classMinute"></div>
									</div>
								</li>
								<span style="margin-left: 33%;color: red;" ng-if="timeError">Max class duration is 2 hrs.</span>
							</ul>
						</div>
					</div>
					<div class="lbl_font mar_20">
						<label class="tagAlignment class_top"  for="usr" >Location</label>
						<div class="custom-select-box div_inline">
								<div class="custom-select-box" style="width: 100%;" custom-select="x.name as x.name for x in countries.countryOptions | filter: {name:$searchTerm} track by x.code"  ng-model="user.location"></div>

                        </div>
                    </div>
				<!--<trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content" ng-model="trix" angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Write something.."></trix-editor>-->

					<div class="lbl_font mar_20">
						<label class="tagAlignment class_top" for="usr">Description</label>
						<!--<textarea style="margin-top: 0px; margin-bottom: 10px;" rows="7" cols="40" name="description" data-ng-model="user.description" ng-class="{submitted:addForm.submitted}" class="div_inline"required></textarea>-->
						<div class="div_inline">
						<trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="false"  class="trix-content" data-ng-model="user.description" angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Write something.."></trix-editor>
						</div>
						</div>
					<div class="lbl_font mar_20">
                        <label for="usr" class="tagAlignment class_top" style="width: 30%">Class Document</label>
						<div class="div_inline" >
							<label class=" customUpload btnUpload btnM customCredential browse_custom">      <span>Upload</span><input
									type="file"
									accept="application/pdf"
									file-document="user.doc"
									class="custom-file-upload-hidden"
									tabindex="-1" style="position: absolute; left: -9999px;"/>
                            </label>
							<input type="text" name="classDocument" placeholder="Upload class Document" ng-model="user.DocName" class="file-upload-input browse_input " disabled="disabled" ng-class="{submitted:addForm.submitted}" style="color:#808080;background-color: white"  required>
							<div class="error-msg">
							     <span>eg: .pdf</span>
							     <span ng-show="addForm.pdf.$error === 'pattern'">File must be PDF.</span>
							</div>
						</div>
					</div>
					<div class="lbl_font mar_20">
						<label class="tagAlignment class_top" for="usr" style="width: 30%">Class Image</label>
						<div class="div_inline" >
							<label class="customUpload btnUpload btnM customCredential browse_custom"><span>Browse</span>
                            <input	type="file"	accept="image/*"image-document="user.image"
									class="custom-file-upload-hidden"
									tabindex="-1" style="position: absolute; left: -9999px;"/>
                            </label>
							<input type="text" class="file-upload-input browse_input"  name="classImage" placeholder="Upload class Image" ng-model="user.DocumentName" disabled="disabled" ng-class="{submitted:addForm.submitted}" style="color:#808080;background-color: white"  required>
							<div class="error-msg">
							<span>eg: .jpg, .png</span>
							<span ng-show="fileError" class="file_error_span">File size should be less 5MB.</span>
							</div>
						</div>
					</div>
					<div class="lbl_font mar_20">

						<label class="tagAlignment class_top" for="usr" >Youtube Link</label>
						  <input type="text"  class="text-box div_inline" style="font-size: 10px" placeholder="Please make a short video describing your class and post it on YouTube. " name="className" data-ng-model="user.youtubeVideo" ng-class="{submitted:addForm.submitted}" ng-change="anotherGoodOne=user.youtubeVideo;validUrl(user.youtubeVideo);" required  />
						<span style="margin-left: 30%;color: red;" ng-if="youtubeLinkError">Enter a valid url</span>
						<!--<img src="assets/images/seeko_image_three.png" alt="img"/>-->
						<div style="width:70%;top: 15px;left: 31%;padding-bottom: 50% !important"     class="embed-responsive embed-responsive-16by9 video-wrapper" ng-if="user.youtubeVideo.length && !youtubeLinkError">
						<youtube-video  class="embed-responsive-item" video-url="anotherGoodOne"></youtube-video>
						</div>
					</div>
					<div class="lbl_font mar_20" style="margin-top: 36px;">
						<div class="tagAlignment class_top"></div>
						<div class="div_inline">
						<button  type="button"  class="btn med-btn primary-btn btn-two" data-ng-click="addDetail()"  ng-if="create" ng-keydown="$event.which === 13 && addDetail()">Create</button>
						<button  type="button"  class="btn med-btn primary-btn btn-two" data-ng-click="editDetail()" ng-if="user.edit" ng-keydown="$event.which === 13 && editDetail()">Save</button>
						<!--<button  type="button" class="btn med-btn primary-btn btn-two" style="background: rgba(94, 94, 94, 0.52);">Discard</button>-->
                        </div>
					</div>
			</form>
	</div>
	<div style="clear:both;"></div>
</div>
<!--Content Area End-->
</div>