<!--Content Area Start-->
<div class="content">
	<div id="profile" class="profile-width prof_mar">
	<div style="background:#f3f3f3;">
		<spinner-loader ng-show="showspin"></spinner-loader>

		<div class="login-block  fl-left mr-44 mb-75" style="position: relative;margin: 0 auto;">
			<h1 class="profile_edit_heading">Edit Profile</h1>
			<form class="form-content " name="userForm" >
				<div class="lbl_font" ng-init="user.firstName=firstName">
					<label class="tagAlignment">First Name</label>
					<div class="divAlignment">
						<input type="text" class="text-box " placeholder="First Name" name="firstName" ng-model="user.firstName" ng-class="{submitted:userForm.submitted}" required/>
						<span style="color:#ff353b" ng-show="userForm.firstName.$error.required && userForm.firstName.submitted " class="divAlignment">
                                 This field is required.</span>
					</div>

					</div>
				<div class="lbl_font" ng-init="user.lastName=lastName">

					<label class="tagAlignment">Last Name</label>
					<div class="divAlignment">
						<input type="text" class="text-box " placeholder="Last Name" name="lastName" ng-model="user.lastName" ng-class="{submitted:userForm.submitted}" required/>
						<span style="color:#ff353b" ng-show="userForm.lastName.$error.required && userForm.lastName.submitted " class="divAlignment">
                                 This field is required.</span>
						</div>

				</div>
					<div  class="lbl_font" ng-init="user.location=location">
						<label class="tagAlignment">Location</label>
						<div class="divAlignment">
						<input type="text" class="text-box " placeholder="Location" name="location" ng-model="user.location" ng-class="{submitted:userForm.submitted}" required/>
						<span style="color:#ff353b" ng-show="userForm.location.$error.required && userForm.location.submitted " class="divAlignment">
                                 This field is required.</span>
</div>
					</div>
					<div  class="lbl_font" ng-init="user.description=description">
						<label class="tagAlignment">Describe Yourself </label>
						<div class="divAlignment">
						<input type="text" class="text-box" placeholder="Description" name="description" ng-model="user.description" ng-class="{submitted:userForm.submitted}" required/>
						<span style="color:#ff353b" ng-show="userForm.description.$error.required && userForm.description.submitted " class="divAlignment">
                                 This field is required.</span>
							<div style="color: #808080;" class="">ex.Angular Developer, Genetic expert</div>
							</div>

					</div>
					<div  class="lbl_font" ng-init="user.aboutMe=aboutMe">
						<label class="tagAlignment" >About Me</label>
						<div class="divAlignment">
						<textarea rows="10" cols="50" ng-model="user.aboutMe" class="" style="margin-top: 0px;"></textarea>
							</div>
					</div>
					<div  class="lbl_font">
						<label class="tagAlignment dob_top" >Date of Birth</label>
						<div class=" divAlignment" >
							<ul style="margin-bottom: 0px;">
								<li  class="lbl_font1">

									<div class="custom-select-box" style="margin-top: 2px;">


										<div class="custom_select" custom-select="x for x in months | filter: $searchTerm" ng-init="user.month= userMonth" ng-model="user.month"></div>
										<div class="custom_select" custom-select="x for x in days | filter: $searchTerm" ng-init="user.day=userDay" ng-model="user.day"></div>
										<div class="custom_select" custom-select="x for x in years | filter: $searchTerm" ng-init="user.year=userYear" ng-model="user.year" >
										</div>
									</div>

								</li>

							</ul>

						</div>
					</div>
					<div  class="lbl_font">
						<label class="tagAlignment">Gender</label>
						<div class="redio_text divAlignment" ng-init="user.gender=gender" style="display:inline-block;">
							<ul style="margin-bottom: 0px;">
                                
								<li  class="" style=" margin-bottom: 15px;">

									<div class="radio-btn-on" >


										<input type="radio" id="radio04" value="male" name="gender" ng-model="user.gender" />
										<label for="radio04"><span><small></small></span>
										</label>
										Male
									</div>

								</li>
								<li  class="" style="margin-right: 0px;">
									<div class="radio-btn-off ">

										<input type="radio" id="radio05" value="female" name="gender" checked="checked" ng-model="user.gender">
										<label for="radio05"><span><small></small></span>
										</label>
										Female
									</div>
								</li>
								<li  class="" style="margin-right: 0px;">
									<div class="radio-btn-off ">
										<input type="radio" id="radio06" value="ratherNotSay" name="gender" checked="checked" ng-model="user.gender">
										<label for="radio06"><span><small></small></span>
										</label>
										Rather Not Say

									</div>
								</li>

							</ul>
						</div>
					</div>
					<div  class="lbl_font" >
						<label class="tagAlignment" style="position:relative;">Experience</label>
						<div class="divAlignment">
							<ul style="margin-bottom: 0px;">

								<li  class="">
									<div class="custom-select-box ">


										<div class="exp_res custom_select " custom-select="x for x in experienceYears | filter: $searchTerm" ng-init="user.experienceYear= userExpYear" ng-model="user.experienceYear"></div>
										<div class="exp_res custom_select " custom-select="x for x in experienceMonths | filter: $searchTerm" ng-init="user.experienceMonth= userExpMonth" ng-model="user.experienceMonth"></div>
									</div>

								</li>

							</ul>
						</div>
					</div>
					<div  class="lbl_font"style="margin-bottom: 24px;">
						<label class="tagAlignment">Credentials</label><span>{{user.docName}}</span>
						<div class="divAlignment">



							<input type="text" ng-model="user.DocName" class="file-upload-input" style="position: relative;width: 60%;color:#5e5e5e;border-radius: 5px 0 0 5px;border-right-color: transparent" disabled>
							<label class=" customUpload btnUpload btnM customCredential choose_inline"><span>Choose Files</span><input

									type="file"
									accept="application/pdf"
									file-document="user.doc"

									class="custom-file-upload-hidden"
									tabindex="-1" style="position: absolute; left: -9999px;"/></label>
							<span ng-show="userForm.pdf.$error === 'pattern'">File must be PDF.</span>
							<!--<button type="button" class="file-upload-button" tabindex="-1">Choose File</button>-->
						</div></div>

						<!--<p class="text_design" ng-repeat="x in dedecodedUri track by $index "><a href="" ng-click="getCredential(x)">{{credentialUrl[$index]}}</a></p>-->
					<div  class="lbl_font">
					<div class="spinner" ng-show="isLoaded" style="position: relative;left: 242px;margin-top: -45px;top: 56px;">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					<div class="lbl_font" style="margin-bottom: 0px;">
						<div class="tagAlignment"></div>
						<div class="divAlignment">
						<button  type="button" class="btn med-btn primary-btn btn-two save_prof" ng-click="updateProfile()">Save</button>
						<a ng-click="getMyProfile()" style="text-decoration: underline !important;cursor:pointer">View My Profile</a>
</div>



				</div>
			</div>

			</form>

		</div>
		<!--second part-->
		<div class="file-upload-block fl-left" style="position: relative;float: right;padding: 0;right: 9%;margin-top: 95px;" ng-if="uploadImage">
			<div  id="preview1" file-drag="user.image"></div>

			<div class="file-upload-wrapper">
				<!--<input type="file" id="file" name="testimage1" class="custom-file-upload-hidden" tabindex="-1" style="position: absolute; left: -9999px;">-->
				<label class="customUpload btnUpload btnM"><span>Choose Files</span><input

						type="file"
						accept="image/*"
						file-model="user.image"

						class="custom-file-upload-hidden"
						tabindex="-1" style="margin-top: 194px;"/></label>

				<!--<button type="button" class="file-upload-button" tabindex="-1">Choose File</button></div>-->
				<!--<label for="file">Chose File</label>-->
				<!--<button type="button" >Choose file</button>-->
				<input type="button" id="reset1" value="reset1">


			</div>

			<!--second part-->
		</div>
		<div style="clear:both;"></div>
	</div>
	<!--Content Area End-->

	<a href="#" class="scroll-top"><i class="sp-icon arrow-top-icon"></i></a>


	<!--<div style="margin-top: 220px;"></div>-->
</div>
</div>
<!--container End-->

<!--Page Wrapper End-->
