<div class="content_set content_set_style" ng-cloak>
    <spinner-loader ng-show="showspin"></spinner-loader>
    <div class="body_setting">
        <div class="div_set_center">

            <div class="div_setting profile_pic_div profilePic_width" style="box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);border: 0px solid black;">
                <div class="image_setting">
                    <img ng-src="{{profilePic}}" alt="image" style="height: 200px;width: 200px;">

                    <div style="padding:4px;">
                        <p class="review_set" style="float:left"> {{reviews.length}} reviews </p>
                        <p style="float:left;margin-top: 1px;">&nbsp;{{starCount}} </p>
                        <span class="star" style="margin: 0px 0;float: right;font-size: 6px;">
                            <star-rate count="starCount"></star-rate>
                        </span>
                    </div>
                </div><!--image_setting-->
            </div><!--div_setting-->
        </div><!--div_set_center-->

        <div class="content_setting_second margin_setting">
            <div class="div_setting_second">

                <h1 style="color:#fcb040;margin-top: -5px;" ng-bind="name">Jenny Disusa</h1>
                <div style="width:100%;" >
                    <div class="content_setting" style="padding-top: 18px;">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Date of Birth:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="dob">27 March 1947</p>
                        </div>
                    </div>
                    <div class="content_setting" style="padding-top: 18px;">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Gender:</h4>
                        </div>
                        <div style="float:left;" >
                            <p ng-bind="gender">Female</p>
                        </div>
                    </div>
                    <div class="content_setting" style="padding-top: 18px;">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Experience:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="experience">5.2 years</p>
                        </div>
                    </div>
                    <div class="content_setting" style="padding-top: 18px;">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Location:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-bind="location">London, msectetur adipisicing elit,abx street 201639</p>
                        </div>
                    </div>
                    <div class="content_setting" style="padding-top: 18px;">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Detailed Description:</h4>
                        </div>
                        <div style="float:left;">

                            <p ng-bind="aboutMe" style="max-width: 100%;">Raw denim you probably haven't heard of them jean shorts Austin.
                                Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor,
                                williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                                synth. Cosby sweater eu banh mi, qui irure terr.Raw denim you probably haven't heard of
                                them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                                Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>

                        </div>
                    </div>
                    <div class="content_setting" style="padding-top: 18px;" ng-if="userType">
                        <div style="float:left;" class="profile_heading">
                            <h4 class="heading_set">Credentials:</h4>
                        </div>
                        <div style="float:left;">
                            <p ng-if="dedecodedUri.length>0" class="text_design" ng-repeat="x in dedecodedUri track by $index "  style="max-width: 100%;"><a href=""
                                                                                                     ng-click="getCredential(x)">{{credentialUrl[$index]}}</a>
                            </p>
                            <p ng-if="dedecodedUri.length==0" style="max-width: 100%;">
                            not mentioned
                            </p>
                        </div>
                        <div class="fav_inline">
                            <button  ng-if="!isMyProfile" data-ng-disabled="favouriteText=='Added to favourite'" ng-class="{button_disabled:favouriteText=='Added to favourite'}" type="button" class="fav_button"  ng-click="makeTeacherFavourite()">
                               {{favouriteText}}
                            </button>
                        </div>
                    </div>

                </div>
            </div><!--div_setting_second-->
        </div><!--content_setting_second-->
    </div> <!--body_setting-->
    <div style="clear:both;"></div>
    <div class="hr_class" style="width: 98.5%;" ng-if="classes.length>0"></div>
    <div class="mid_content" ng-if="classes.length>0">

        <section class="middle_section">
            <div class="clearfix">
                <h2 class="title_set">Classes They Are Teaching</h2>
                <div class="viewall_set">
                    <h5 class="head_set" style="cursor: pointer;" ng-click="viewAllClasses()" ng-style="textClr" ng-mouseover="changeCssOnHover()" ng-mouseleave="changeCssOnLeave()">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;">
                        <button type="button" class="btn prev-btn" ng-click="getPrevClasses()">
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button type="button" class="btn next-btn" ng-click="getNextClasses()">
                            <i class="icon-next-btn"></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div class="imagesection" ng-repeat="class in classes" >
                <div class="box_Setting1 box_shadow box_Setting1_width">
                    <p class="para_set" ng-mouseover="hover=true" ng-mouseleave="hover=false"> Happened On: <span style="text-decoration: underline;cursor: pointer;">{{class.classData.summary}}</span></p>
                    <div class="when_hover2" ng-show="hover">Title: {{class.classData.summary}}</div>
                    <div class="images_setting images_setting_padding" style="background: url('{{class.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;cursor: pointer" ng-click="changeState(class)"></div>
                    <!--<img ng-src="{{class.classData.classImageVideo[0].classDocUrl}}" alt="image" class="images_setting images_setting_padding">-->
                    <div class="clearfix ">

                        <div class="buttonstar_set buttonstar_set_float">
                            <span class="star star_float star_margin" >
                             <star-rate count="class.classData.avgStarCount"></star-rate>
                         </span>
                            <div style="float: left;width: 50%">
                            <p class="texting_inline texting_inline_top" >Title: {{class.classData.className}}</p>

                            <p class="texting_inline"  >Signed Up: {{class.classData.studentId.length}}</p>
                            </div>
                        </div><!--text-->
                        <div class="buttonstar buttonstar_float"  style="position: relative">



                            <ul class="popup-btn buttonstar_ul_width" style="margin:0 !important;float: right;">
                                <li class="buttonstar_ul_li_width" style="margin:0 !important;">
                                    <a class="sure-btn-gr" ng-init="showEdit" ng-click="showEdit=!showEdit">Invite</a>
                                    <div class="edithoverOne" style="top:47px;left:0px;" ng-show="showEdit" >

                                        <!--<i class="icon-close-black close_set" style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                        <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor:pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                        <div class="clearfix"></div>
                                        <!--<form >-->
                                            <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                            <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                                <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                            <!--</button>-->
                                        <!--</form>-->
                                        <div class="clearfix"></div>
                                        <div>
                                            <ul style="position: absolute;top: 15px;left: 10px;">
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                                </li>
                                                <li style="margin: 8px 3px 0 0;cursor: pointer">
                                                    <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px"  socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="buttonstar_ul_li_width" style="margin:0 !important;">
                                    <a class="cool-btn-gr" ng-click="getClassDetail(class)">Attend</a>
                                </li>
                            </ul>
                        </div><!--buttons-->
                    </div>
                </div>
                <!--box_setting1-->


            </div><!--imagesection-->
        </section><!--middle_section-->
    </div><!--mid_content-->
    <div class="clearfix" style="margin-bottom: 25px;"></div>

    <div class="clearfix" style="margin-bottom: 25px;"></div>

    <div ng-if="!isMyProfile">
    <div class="div_setting1" style="width: 98.7%">
        <div class="image_setting2">
            <div class="write_review_image">
                <img ng-src="{{userProfilePic}}" alt="image" style="margin: 6px;padding:10px 0 0 0;max-width: 75%">
            </div>
            <div class="write_a_review">
                <p class="name_setting">{{user_name}}</p>
                <textarea rows="3" cols="4" placeholder="write a review" class="textarea_Set"
                          wrap="hard" ng-model="teacherReview.review"></textarea>
            </div>
            <div class="clearfix"></div>
            <div style="padding:4px 0 4px 135px;height:44px;">
                <p class="review_set" style="float:left;padding:12px 0 0 0px;"> {{reviews.length}} reviews </p>
                <span style="float:left;padding:12px 0 0 4px;cursor: pointer;" ng-repeat="star in stars track by $index" >
                    	 <i class="fa fa-heart" aria-hidden="true" ng-class="{half_heart:!star.like,full_heart:star.like}" ng-click="getStarCount($index)"></i>
                    </span>
                <button type="button" class="btn sm-btn primary-btn btn-two btnn" data-ng-disabled="postReviewButton" ng-click="postReview()">
                    Post
                </button>
            </div>
        </div><!--image_setting-->
    </div>
    </div>
    <!--box shadow section-->
    <div style="width:100%;height:auto;">
        <img src="assets/images/shadow_image.png" alt="shadow" width="100%">
    </div><!--box-shadow-->
    <!--total review section-->
    <div class="mid_content" ng-if="reviews!=0 && userType">
        <div class="total_review" >
            <p style="font-size: 30px;display:block;">Reviews</p>
            <p style="font-size: 24px;display:block;">Total Reviews: {{reviews.length}}</p>
        </div><!--totlareview-->
        <div id="scrollArea">
        <div ng-repeat="review in reviews track by $index">
            <div class="review_detail">
                <div class="left_view">
                    <div class="profile_set">
                        <img src="{{review.profilePic}}" alt="profile" class="profile_setting" style="cursor: pointer;" ng-click="getReviewedUser(review.userId,review.userType)">
                    </div><!--profile_set-->
                    <div class="profile_detail">
                        <p class="name_set">{{review.userName}}</p>
                        <p class="time_detail">{{review.date | date : "EEEE,MMMM dd,yyyy" }}</p>
                        <span style="float:left; margin-right:8px;">
                         <star-rate count="review.starCount"></star-rate>
                        </span>
                        <p class="time_detail1" ng-init="getUserReviews(review)">{{review.count}} Reviews</p>
                    </div><!--"profile_detail-->
                </div><!--left_view-->
                <div class="right_view">
                    <p ng-bind="review.comment">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                        retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                        Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure
                        terr.Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                        aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                        Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure
                        terr.
                    </p>
                </div><!--right_view-->
            </div><!--review_detail-->
            <div class="clearfix"></div>
            <div style="width:100%;margin-top:15px;">
                <div class="hr_class ng-scope" ng-if="$index!=reviews.length-1">
                </div>
            </div>
            <div class="clearfix"></div>
            <!--first review complete-->
        </div>
        </div>

    </div><!--reviewsec-->

</div><!--content_set-->
