<div >
    <div style="background:#f3f3f3;">
        <div class="fl-left learn_wrap">
            <h1 style="color: #fcb040;">Teach the world and learn from others.</h1>
            <p>
                Seeko provides a platform for learning and teaching. With Seeko's platform, you can learn from others or even teach them! As a student, you will gain access to learning all courses. As a teacher, you will gain access to creating classes, have the ability to provide material for study to students, and can even take live e-classes.
            </p>
        </div>
        <div style="clear:both;"></div>
        <div class="fl-left learn_wrap">
            <img src="assets/images/seeko_image_three.png" alt="img"/>
        </div>
        <div class="fl-left learn_small_wrap">
            <h2 style="text-align: left;">Take live eclasses from social teachers</h2>
            <p>
                Seeko provides a classroom-like feeling for every class attended. Teachers and students can attend all classes from anywhere in the world while still getting the benefit of a classroom environment. This is thanks to our live conferencing module that provides chat functionality.
            </p>
        </div>
        <div class=" fl-left">
            <img src="assets/images/seeko_image_one.png" alt="" />
        </div>
        <div class="fl-left learn_small_wrap">
            <h2 style="text-align: left;">Get paid for eclasses from as teacher</h2>
            <p>
                Seeko pays YOU for every class you teach. Sharing your knowledge on Seeko really pays!
            </p>
        </div>
        <div class=" fl-left">
            <img src="assets/images/seeko_image_two.png" alt="" />
        </div>
        <!--<div class="fl-left learn_small_wrap">-->
            <!--<h2 style="text-align: left;margin: 40px 0;">TAKE LIVE eclasses from social teachers</h2>-->
            <!--<p>-->
                <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class=" fl-left">-->
            <!--<img src="assets/images/seeko_image_two.png" alt="" style="margin-top:92px;"/>-->
        <!--</div>-->
        <!--<div class="fl-left learn_small_wrap">-->
            <!--<h2 style="text-align: left;margin: 40px 0;">TAKE LIVE eclasses from social teachers</h2>-->
            <!--<p>-->
                <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class=" fl-left">-->
            <!--<img src="assets/images/seeko_image_two.png" alt="" style="margin-top:92px;"/>-->
        <!--</div>-->
        <!--second part-->
        <div style="text-align:center;"><button type="button" class="btn std-btn primary-btn btn-two" ng-click="addSignUp()">Become a Teacher </button></div>
<div class="clearfix"></div>

        <div style="clear:both;"></div>
    </div>
</div>