<div class="content_padding_setting">
    <!--Content Area Start-->
    <div class="content">
        <div style="background:#f3f3f3;">
            <div class="fl-left learn_wrap_set">
                <h1 style="color: #fcb040;">Contact Us</h1>
                <p>
                    We're Here to Help! The Seeko team is friendly and available to answer any questions. Feel free to contact us any time!
                </p>
            </div><!--learn_wrap_set-->
            <div style="clear:both;"></div>

            <div class="form_setting  effect2">
                <form class="form-padding" name="userContact">
                    <ul>
                        <li>
                            <h2 style="color:#fcb040;text-align: left;width: 100%;margin-bottom: 15px;">Send us a message</h2>
                        </li>
                        <li>
                            <div class="form_name_set">
                                <div class="fl-left width_set">
                                    <label for="usr" class="fl-left width_25">Name:</label>

                                    <input type="text" class="text-box width_75 header-right"  name="userName" ng-model="user.name" ng-class="{submitted:userContact.submitted}" required/>
                                    <span  ng-show="userContact.user.name.$error.required && userContact.user.name.submitted "></span>

                                </div>
                                <div class="header-right width_set">
                                    <label for="usr" class="fl-left width_25">Email:</label>

                                    <input type="email" class="text-box width_75 header-right" name="email-textbox" ng-model="user.email" ng-class="{submitted:userContact.submitted}" required/>
                                    <span  ng-show="userContact.email-textbox.$error.required && userContact.email-textbox.submitted "></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <!--<li style="width: 50%;margin-top: 15px;">-->
                            <!--<label for="usr" class="fl-left width_25" style="width: 18%;padding-top: 14px;">Subject:</label>-->
                            <!--<div class="custom-select-box mb-15" style="width: 78%;" custom-select="x for x in subjectList | filter: $searchTerm"  ng-model="user.subject" ></div>-->

                            <!--<div class="clearfix"></div>-->
                        <!--</li>-->
                        <li>
                            <div class="mt-15 mb-15">
                                <label for="usr" style="padding:5px 0;"> Message:</label>
                                <textarea rows="7" cols="40" class="resize_text" ng-model="user.message" ng-class="{submitted:userContact.submitted}" required></textarea>
                                <span  ng-show="userContact.user.message.$error.required && userContact.user.message.submitted "></span>
                            </div>
                        </li>
                        <li>
                            <button  type="button" class="btn med-btn  btn-two btn_set" style="margin-bottom:0;" ng-click="sendMessage(user)">Send Message</button>
                        </li>
                        <div class="clearfix"></div>

                    </ul>
                </form>

            </div><!--form_setting-->
            <!--second part-->
            <!--map section-->
            <div style="width:100%;">
                <div class="width_401 fl-left">
                    <h2 class="fl-left">Information</h2>
                    <div class="clearfix"></div>
                    <div style="width:100%;">
                        <div class="width_40 fl-left">
                            <i class="fa fa-map-marker location_map" aria-hidden="true"></i>
                        </div>

                        <div class="width_60 header-right" style="margin-top:10px;font-size:10px;float: left">
                            <p class="mail_font_size">3547 Ventura Blvd #170</p><br>
                            <p class="mail_font_size"> Sherman Oaks, CA 91423</p><br>
                            <!--<p class="mail_font_size">CA 91423</p>-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="width:100%;margin-top:20px;">
                        <div class="width_40 fl-left" >
                            <i class="fa fa-envelope-o message_map" aria-hidden="true"></i>
                        </div>

                        <div class="width_60 header-right" style="margin-top:20px;font-size:10px;float: left">
                            <p class="mail_font_size" style="text-decoration: underline;cursor: pointer" socialshare socialshare-provider="email" socialshare-to="seeko@techdharma.com" socialshare-trigger="click">seeko@techdharma.com</p>

                        </div>
                    </div>
                </div>

                <div class="width_601 header-right">
                    <ng-map default-style="true" center="34.147885,-118.42862" zoom="17">
                        <marker id="foo" position="34.147885,-118.42862"
                                on-click="map.showInfoWindow('bar')">
                        </marker>
                        <info-window id="bar" visible-on-marker="foo">
                            <div ng-non-bindable>
                                <div id="siteNotice"></div>
                                <h1 id="firstHeading" class="firstHeading">Address:</h1>
                                <div id="bodyContent">
                                    <p style="color:white"><b>Reach Us @</b> 13547 Ventura Blvd, #170 , <b>Sherman Oaks, </b>CA 91423
                                        </p>
                                </div>
                            </div>
                        </info-window>
                        </ng-map>
                    <!--<img src="assets/images/map_image.png" alt="" style="height:300px;width:100%;">-->
                </div>
            </div>
            <!--/map section-->

        </div><!---->
    </div><!--content-->
    <!--Content Area End-->
    <div class="clearfix" ></div>
</div>