<div class="calender-wrap1">
    <div>
        <h2>Schedule</h2>


    </div>
<div class="calender_width">
<div class="clander_header">
    <button type="button" class="btn_class_set" ng-click="previous()"><img src="assets/images/video_play_left_icon.png" alt="">
    </button>
    <button type="button" class="btn_class_set1" ng-click="next()"><img src="assets/images/video_play_right_icon.png" alt="">
    </button>
    <h3 style="font-size:25px;padding:11px;color:white;text-align:center;">{{month.format("MMMM, YYYY")}}</h3>
</div>
</div>
<table>
    <tr class="tr_set1">
        <th>Sun</th>
        <th>Mon</th>
        <th>Tues</th>
        <th>Wed</th>
        <th>Thurs</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
<tr class="tr_set" ng-repeat="week in weeks">
    <td  ng-class="{ selected: day.isToday, 'different-month': !day.isCurrentMonth, selected1: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}
        <p ng-if="day.isToday"><span style="font-family: 'Gotham Rounded Book'">6 PM Monday, Wednesday and Friday. Every week.</span></p>
    </td>
</tr>
</table>
</div>


