<div class="login-block-tags1 fl-left mr-44 mb-75" ng-show="showDatePickerTo" >
    <h2 class="head-title-tag1 calendar-nav" >{{calendar2.year}}  <a  class="arrow_tag_left" ng-click="previousYear()" ng-show="calendar2.isPreviousYear"><i class="fa fa-chevron-left fl-left i_hover" aria-hidden="true"></i></a><a  class="arrow_tag_right" ng-click="nextYear()"><i class="fa fa-chevron-right i_hover" aria-hidden="true"></i></a></h2>
    <h2 class="head-title-tag1 calendar-nav" >{{calendar2.monthName}} <a ng-click="previousMonth()" class="arrow_tag_left" ng-show="calendar2.isPreviousMonth"><i class="fa fa-chevron-left fl-left i_hover" aria-hidden="true"></i></a><a ng-click="nextMonth()" class="arrow_tag_right"><i class="fa fa-chevron-right i_hover" aria-hidden="true"></i></a></h2>
    <div class ="tab-row">
        <div class="cell" ng-class="{ unvalid: getPreviousDate(day) }" ng-repeat="day in days track by $index" ng-click="selectDate(day)">{{day}}</div>


    </div>
</div>
