<div class="login-overlay">
<div class="login-wrap">
<div class="login-block-tags  repeat-class" >
    <h2 class="head-title">Repeat <a ng-click="closePopUp()" class="close"><i class="sp-icon cross-icon" aria-hidden="true" style="cursor: pointer"></i></a></h2>
    <form class="form-cont-wrappers border_radius_tag"><a  class="close" ></a>
        <ul>

            <li>
                <div class="form_name_set">
                    <div class="width_30 fl-left" >
                        <label for="usr" class="btn-float label_set">repeats:</label>
                    </div>
                    <div class="width_65 fl-left">

                        <div class="custom_select" style="width:80%" custom-select="x.value as x.name for x in repeatData.availableOptions | filter: {name:$searchTerm} track by x.value"  ng-init="repeatData.repeats=repeatData.availableOptions[0].value" ng-model="repeatData.repeats"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>

            <li ng-show="repeatData.repeats== 'Weekly'">
                <div class="form_name_set" repeat_class_textbox >
                    <div class="width_30 fl-left">
                        <label for="usr" class="btn-float label_set">repeat on:</label>
                    </div>
                    <div class="width_65 fl-left mg-tp-21">
                        <div class="cust-check" ng-repeat="day in dayArray" style="display: inline-block;">
                            <span for="check2" class="week_tag">{{day.abbr}}</span>
                            <input type="checkbox"  style="cursor: pointer" ng-model="day.selected" ng-change="createDaysArray(day)" class="checkbox_tag">

                        </div>
                        <span style="color:red;" ng-if="repeatOn.length==0">{{errorMsg}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <div class="form_name_set">
                    <div class="width_30 fl-left">
                        <label for="usr" class="btn-float label_set">starts on:</label>
                    </div>
                    <div class="width_35 fl-left">
                        <input style="color: #52575c" ng-init="startDate" ng-disabled="true" ng-model="startDate" type="text" class="text-box width_100 header-right mt-5" name="email-textbox" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <div class="form_name_set">
                    <div class="width_30 fl-left">
                        <label for="usr" class="btn-float label_set">ends:</label>
                    </div>
                    <div class="width_65 fl-left pd-21" style="margin-top: 0px;">
                        <div class="radio-block fl-left">
                            <div class="cust-radio">
                                <input type="radio" id="radio01" name="ends" value="never" ng-model="ends" ng-change="hideOccurencesAndDate()">
                                <label for="radio01" class="text_tag width_30-tag pd-0 fl-left"><span><small></small></span>never</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="cust-radio">
                                <input type="radio" id="radio02" name="ends" value="after" ng-model="ends" checked="checked" ng-change="getOccurences()">
                                <label for="radio02" class="text_tag ptb-16 fl-left" style="width: 73px;"><span><small></small></span>after </label>
                                <input type="text" min="1" maxlength="2" ng-disabled="ends!='after'" numbers-only class="text-box width_35 fl-left mt-5" name="email-textbox" ng-model="occurences" />
                                <label for="usr" class="pd-7 label_set width_30-tag ptb-16 text_tag fl-left"> Occurences</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="cust-radio">{{onDate}}
                                <input type="radio" id="radio03" name="ends" checked="checked" value="on" ng-model="ends" ng-change="getOccurenceDate()">
                                <label for="radio03" class="text_tag  fl-left" style="width: 73px;"><span><small></small></span>on</label>
                                <!--<input type="date" style="width:200px;" class="text-box width_35 fl-left  mt-5" name="email-textbox" ng-model="onDate"/>-->
                                <input id="eventFromDate" style="display: initial; margin-top: 12px;width: 80%"type="text"  ng-disabled="ends!='on'" class="text-box"  name="fromDate" ng-model="fromDate" required/>
                                <reoccuring-datepicker for="eventFromDate"/>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <div class="form_name_set">
                    <div class="width_30 fl-left">
                        <label for="usr" class="btn-float label_set">summary:</label>
                    </div>
                    <div class="width_65 fl-left pd-21" ng-init="summary('Daily')" ng-if="repeatData.repeats== 'Daily'">
                        <h5 class="h5_tags" style="display: inline-block;" >Daily</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="showOccurences">, {{occurences}} times</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="ends=='on'">, {{untilDate}}</h5>
                    </div>
                    <div class="width_65 fl-left pd-21" ng-if="repeatData.repeats== 'Every WeekDay(Monday To Friday)'">
                        <h5 class="h5_tags" style="display: inline-block;" ng-init="summary('Weekly On WeekDays')">Weekly On WeekDays</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="showOccurences">, {{occurences}} times</h5>

                        <h5 class="h5_tags" style="display: inline-block;" ng-show="ends=='on'">, {{untilDate}}</h5>
                    </div>
                    <div class="width_65 fl-left pd-21" ng-if="repeatData.repeats== 'Every Monday ,Wednesday ,and Friday'">
                        <h5 class="h5_tags" style="display: inline-block;" ng-init="summary('Weekly On Monday,Wednesday,Friday')">Weekly On Monday,Wednesday,Friday</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="showOccurences">, {{occurences}} times</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="ends=='on'">, {{untilDate}}</h5>
                    </div>
                    <div class="width_65 fl-left pd-21" ng-if="repeatData.repeats== 'Every Tuesday and Thursday'">
                        <h5 class="h5_tags" style="display: inline-block;" ng-init="summary('Weekly On Tuesday,Thursdays')">Weekly On Tuesday,Thursday</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="showOccurences">, {{occurences}} times</h5>
                        <h5 class="h5_tags" style="display: inline-block;" ng-show="ends=='on'">, {{untilDate}}</h5>
                    </div>
                    <div class="width_65 fl-left pd-21" ng-init="getinitialSummary()" ng-if="repeatData.repeats== 'Weekly'">
                        <h5 class="h5_tags" style="display: inline;">{{classSummaryDetail}} </h5>
                        <h5 class="h5_tags" style="display: inline;" ng-show="showOccurences">,{{occurences}} times</h5>
                        <h5 class="h5_tags" style="display: inline;" ng-show="ends=='on'">,{{untilDate}}</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <button type="button" class="file-upload-button-tags2 repeat_class" ng-click="makeClassReoccuring()">Done</button>
            </li>
            <div class="clearfix"></div>

        </ul>
    </form>
</div>
</div>
</div>