<img src="assets/images/red_heart_image.png" ng-if="avgStarCount>0.5">
<img src="assets/images/red_grey_heart.png" ng-if="avgStarCount>=0.1 && avgStarCount<=0.5">
<img src="assets/images/grey_heart_image.png" ng-if="avgStarCount<0.1">

<img src="assets/images/red_heart_image.png" ng-if="avgStarCount>1.5">
<img src="assets/images/red_grey_heart.png" ng-if="avgStarCount>=1.1 && avgStarCount<=1.5">
<img src="assets/images/grey_heart_image.png" ng-if="avgStarCount<1.1">

<img src="assets/images/red_heart_image.png" ng-if="avgStarCount>2.5">
<img src="assets/images/red_grey_heart.png" ng-if="avgStarCount>=2.1 && avgStarCount<=2.5">
<img src="assets/images/grey_heart_image.png" ng-if="avgStarCount<2.1">

<img src="assets/images/red_heart_image.png" ng-if="avgStarCount>3.5">
<img src="assets/images/red_grey_heart.png" ng-if="avgStarCount>=3.1 && avgStarCount<=3.5">
<img src="assets/images/grey_heart_image.png" ng-if="avgStarCount<3.1">

<img src="assets/images/red_heart_image.png" ng-if="avgStarCount>4.5">
<img src="assets/images/red_grey_heart.png" ng-if="avgStarCount>=4.1 && avgStarCount<=4.5">
<img src="assets/images/grey_heart_image.png" ng-if="avgStarCount<4.1">