/*
 Table Of Contents
 1.) Eric Meyer's Reset
 2.) Global Typography
 2.0.1) Global Headings
 2.0.2) Form Elements
 2.0.3) List styles
 2.0.4) General Text Formatting
 2.0.5) Link elements
 2.0.6) Table Elements
 2.0.7) Button Styles
 2.0.8) Sprite Icons
 3.) Site Wide Content
 4.) Header Style
 5.) Footer Style
 ===============================================*/
/*
 1.) Eric Meyer's Reset
 ----------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 1.) Global Typography
 ----------------------------------------*/
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	line-height: 1;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
html {
	font-size: 16px;
}

/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-size: 5.1em;
	color: #fff;
	font-weight: 700;
	margin-bottom: 5px;
}
h2 {
	font-size: 3.6em;
	color: #373737;
	font-weight: 700;
	margin-bottom: 20px;
}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
img {
	height: auto;
	max-width: 100%;
	width: auto;
}

/*
 2.0.3) Form Elements
 -----------------------------*/
select, textarea {

}
input {
	line-height: normal;
}
input[type="text"], input[type="email"] {
	color: #848686;
	font-size: 14px;
	font-weight: 600;
	padding: 13px 45px;
	border-top: 1px solid #dddddd;
	border-bottom: 0;
	box-shadow: none;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
	width: 100%;
	border-left: 0;
}
input:focus, select:focus, textarea:focus, button:focus {
	outline: 0;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	border: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"] {
	-webkit-appearance: none;
	cursor: pointer;
	line-height: normal;
	overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
	color: #999;
	border-color: #ccc;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	position: absolute;
	right: 2px;
	bottom: 8px;
	color: #ff0000;
	font-size: 1.2em;
}
textarea {
	width: 100%;
	text-align: right;
	padding: 17px 20px;
	font-size: 1.8em;
	color: #848686;
	height: 200px;
	margin-bottom: 26px;
	border: 1px solid #ddd;
	font-weight: 600;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
}
::-webkit-input-placeholder {
	color: #999999;
	opacity: 1;
}
:-moz-placeholder {/* Firefox 18- */
	color: #999999;
	opacity: 1;
}
::-moz-placeholder {/* Firefox 19+ */
	color: #999999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999999;
	opacity: 1;
}
/*
 2.0.4) List Styles
 ---------------------------------*/
ul, ol, dl {
	font-size: 100%;
	line-height: 1.5;
}
li, dt {
	line-height: 1.5em;
}
dl {
	margin: 0 0 1em 0;
}
dd {
	margin: 0 0 1em 0.8em;
}
ul {
	list-style-type: disc;
	margin: 0 0 0 0;
}
ol {
	list-style-type: decimal;
	margin: 0 0 1em 0;
}
ul ul, ol ul {
	list-style-type: circle;
	margin-top: 0;
}
ol ol {
	list-style-type: lower-latin;
	margin-top: 0;
}

/*
 2.0.5) General Text Formatting
 -----------------------------------*/
p {
	font-size: 1.8em;
	color: #848686;
	line-height: 1.5;
}
blockquote, cite, q, var, dfn {
	font-style: italic;
}
blockquote {
	background: transparent;
	color: #666666;
}
pre, code, kbd, tt, samp, var {
	font-size: 100%;
}
pre {
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 1.5em 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre, code {
	color: #880000;
}
kbd, samp, var {
	color: #666666;
	font-weight: bold;
}
acronym, abbr {
	border-bottom: 1px #aaa dotted;
	font-variant: small-caps;
	cursor: help;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/*
 2.0.6) Link style
 -------------------------*/
a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}
a:active {
	outline: none;
}
/* 2.0.7) Button Styles
 -------------------------*/

/*
 2.0.8) Sprite Icons
 -------------------------*/

[class^="icon-"], [class*="icon-"] {
	background-image: url(../img/sprite.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border: medium none;
	display: inline-block;
	height: 41px;
	width: 36px;
}
.icon-mic {
	background-position: 2px 0;
}
.icon-web {
	background-position: 0 -37px;
}
.icon-screen {
	background-position: 0 -72px;
	height: 60px;
	width: 60px;
}
.icon-take {
	background-position: 0 -130px;
}
.icon-participants {
	background-position: -2px -166px;
}
.icon-groupchats {
	background-position: -2px -205px;
}
.icon-close {
	background-position: 0 -268px;
	height: 30px;
	width: 38px;
	cursor: pointer;
}
.icon-minimize {
	background-position: 0 -240px;
	height: 30px;
	width: 25px;
	cursor: pointer;
}
.icon-mic2 {
	background-position: -32px -3px;
	width: 30px;
	height: 32px;
}
.icon-webcam2 {
	background-position: -40px -33px;
	height: 32px;
	width: 20px;
}
.icon-prsn {
	background-position: -69px -3px;
}
.icon-prsn2 {
	background-position: -69px -43px;
}
.icon-attach {
	background-position: -71px -85px;
	height: 27px;
	position: absolute;
	top: 8px;
	left: 0;
	cursor: pointer;
}

.icon-send {
	background-position: -69px -112px;
	position: absolute;
	top: 0;
	right: 8px;
	cursor: pointer;
}
.icon-send2{
	  background-position: -69px -155px;
	  cursor: pointer;
}
.icon-srh {
	background-position: -82px -236px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: 15px;
    width: 20px;	
}
.icon-webcam3 {
	 background-position: -118px 1px;
	 width: 22px;
}
.icon-mic3 {
    background-position: -71px -255px;
    height: 32px;
    width: 30px;
}
.icon-clock {
    background-position: -118px -39px;
    height: 16px;
    width: 18px;
    vertical-align: middle;
}
.icon-pause {
    background-position: -108px -60px;
    width: 44px;
    cursor: pointer;
}
.icon-on {
    background-position: -110px -103px;
    height: 30px;
}
.icon-hand {
	 background-position: -111px -143px;
}
.icon-join {
      background-position: -106px -201px;
    border-right: 1px solid hsl(0, 0%, 100%);
    height: 36px;
    vertical-align: middle;
    width: 44px;
}
.icon-close2{
	background-position: -121px -185px;
    height: 16px;
    width: 16px;
}
.icon-drop {
    background-position: -74px -206px;
    height: 25px;
}
.icon-point {
    background-position: -118px -237px;
    display: block;
    height: 24px;
    margin: 0 auto;
    text-align: center;
    width: 25px;
}
.icon-draw {
    background-position: -110px -262px;
    height: 22px;
    width: 28px;
}
.icon-erase {
    background-position: -140px -4px;
    height: 23px;
}
.icon-text {
    background-position: -138px -28px;
    height: 24px;
}
.icon-color {
    background-position: -148px -59px;
    height: 26px;
}
/* Containers
 ----------------------------------------------------------------------------------------------------*/
.container {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding: 0 30px;
}
/* `Clear Floated Elements
 ----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
 3.) Site Wide Content
 ------------------------------*/
.text-center {
	text-align: center;
}
.dis-blk {
	display: block;
}
.fl-lt {
	float: left;
}
.fl-rt {
	float: right;
}
.bold-text {
	font-weight: 700 !important;
}
.pos-rel {
	position: relative;
}
/*
 4.) Header Styles
 ------------------------------*/

.header-wrap {
	width: 629px;
	margin: 0 auto;
}
.header-wrap ul {
	background: #4c4b4b;
	border-radius: 0 0 40px 40px;
	overflow: hidden;
	padding: 11px 60px;
}
.header-wrap li {
	float: left;
	margin-right: 26px;
}
.header-wrap li:last-child {
	margin-right: 0;
}
.header-wrap li a, .header-wrap li a span {
	display: block;
	text-align: center;
	font-size: 10px;
	color: #fff;
}
.header-wrap li a {
	padding: 15px 0;
}
.header-wrap li a em {
	height: 60px;
	width: 60px;
	background: #fff;
	border-radius: 100%;
	border: 2px solid #f8ae40;
	display: block;
	padding: 8px 0;
}
.header-wrap li a.selected {
	padding: 0;
}
.header-wrap li a.selected em {
	height: 86px;
	margin: 0 -10px;
	width: 86px;
	background: #fcb040;
}
.header-wrap li a.selected span {
	font-size: 12px;
}
/*
 5.) Footer Styles
 ------------------------------*/

