.header-wrap {
	margin-bottom: 84px;
}
.chat-blog {
	width: 300px;
	border: 1px solid #e1e1e1;
	float: left;
	margin-right: 35px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
}
.chat-blog-wrap {
	width: 981px;
	float: right;
}
.blog-tittle {
	font-size: 16px;
	color: #ffffff;
	padding: 10px 10px 14px 21px;
	font-weight: 600;
	background: #04ce9b;
	position: relative;
}
.clode-sym {
	position: absolute;
	right: 0;
	top: 0;
}
.mic-webcam {
	background: #ebebeb;
	padding-bottom: 7px;
	position: relative;
}
.pers-img {
	border-radius: 100%;
	float: left;
	height: 59px;
	overflow: hidden;
	text-align: center;
	width: 59px;
}
.chats-wrp {
	padding: 17px 35px 13px 0;
}
.pers-comm {
	float: right;
	width: 200px;
}
.pers-comm span {
	word-wrap: break-word;
	color: #333333;
	font-size: 12px;
	line-height: 17px;
	padding: 7px 10px;
	background: #f4f4f4;
	display: block;
	position: relative;
}
.pers-comm span:after {
	left: -7px;
	position: absolute;
	top: 15px;
	border-top: 5px solid transparent;
	border-right: 10px solid #f4f4f4;
	border-bottom: 5px solid transparent;
	content: "";
}
.pers-comm em {
	font-size: 10px;
	color: #999999;
}
.opp-reply span {
	word-wrap: break-word;
	color: #161616;
	display: inline-block;
	font-size: 12px;
	padding: 7px 21px;
	width: 126px;
	position: relative;
	background: #93ffe4;
}
.opp-reply span:after {
	border-bottom: 5px solid hsla(0, 0%, 0%, 0);
	border-left: 10px solid #93ffe4;
	border-top: 5px solid hsla(0, 0%, 0%, 0);
	content: "";
	position: absolute;
	right: -6px;
	top: 7px;
}
.opp-reply {
	margin-right: -5px;
	overflow: hidden;
	padding: 20px 5px 0 0;
	text-align: right;
}
.opp-reply em {
	font-size: 10px;
	color: #999999;
	display: block;
	margin-top: 2px;
}
.chats-wrp2 .pers-comm span {
	background: #fff6ea;
}
.type-comment {
	position: relative;
}
.ngsb-wrap {
	height: 358px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track {
	border-radius: 0;
	background: #e1e1e1;
}
.ngsb-wrap .ngsb-scrollbar {
	right: -5px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
	background: #04ce9b;
}
.chat-blog2 .blog-tittle {
	background: #fcb040;
}
.chat-blog2 .opp-reply span {
	background: #ffd18d;
}
.chat-blog2 .opp-reply span::after {
	border-left: 10px solid #ffd18d;
}
.chat-blog2 .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
	background: #fcb040;
}
.chat-blog:last-child {
	margin-right: 0;
}
.chat-blog3 .blog-tittle {
	background: #5b5b53;
}
.search-inp {
	padding: 10px 15px;
	background: #ebebeb;
	position: relative;
}
.search-inp input {
	padding: 5px 30px;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	background: #fff;
	border: 0;
	height: 30px;
	border-radius: 6px;
}
.pers-name {
	float: right;
	width: 185px;
	padding: 12px 0;
	position: relative;
}
.pers-name .mic-webcam {
	position: absolute;
	right: 0;
	background: none;
	top: 8px;
}
.pers-name span {
	font-size: 14px;
	color: #333333;
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}
.pers-name em {
	display: block;
	font-size: 14px;
	color: #fcb040;
	font-weight: 500;
}
.chat-blog3 .chats {
	padding: 10px 15px;
}
.group-img li {
	display: inline-block;
	width: 46%;
}
.pers-img.groups {
	border-radius: 0;
	width: 62px;
	height: 65px;
}
.pers-name em.add-in-gp {
	font-size: 10px;
	color: #999999;
	display: block;
}
.chat-blog3 .chats:nth-child(even) {
	background: #f3f3f3;
}
.chat-blog3 .chats:nth-child(odd) {
	background: #f7f7f7;
}
.chat-blog3 .ngsb-wrap {
	height: 390px;
}
.connecting-peo {
	float: left;
	width: 349px;
	min-height: 197px;
	background: url(../img/img-07.png) no-repeat 0;
	margin-top: 18px;
	position: relative;
}
.people-sec {
	padding: 126px 0 40px 14px;
}
.inner-sym {
	text-align: right;
}
.opp-person {
	bottom: 2px;
	position: absolute;
	right: 10px;
}
.online-sym {
	position: absolute;
	bottom: 0;
	left: 0;
}
.chat-doubt-wrap {
	float: right;
	width: 362px;
}
.attend-doubt {
	margin-right: 6px;
	padding: 31px 15px 0;
	margin-bottom: 22px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.attend-doubt span.close-it {
	position: absolute;
	right: -20px;
	top: 5px;
	cursor: pointer;
}
.attend-doubt span {
	display: block;
	font-size: 14px;
	color: #000000;
	position: relative;
	padding-left: 46px;
	line-height: 16px;
}
.attend-doubt span i {
	position: absolute;
	top: 0;
	left: 0;
}
strong {
	font-weight: bold;
}
.btn {
	background: hsl(151, 64%, 42%);
	border-radius: 4px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 12px;
	margin-right: 7px;
	padding: 9px 0;
	text-align: center;
	width: 65px;
}
.btn.secondary {
	background: #fcb040;
}
.btn-sec {
	padding: 27px 0 17px;
}
.join-chat {
	background: #04ce9b;
	border-radius: 5px;
}
.join-chat span {
	color: #ffffff;
	padding-left: 30px;
	font-size: 14px;
}
.share-btn {
	position: absolute;
	top: 7px;
	right: 10px;
}
.dropdown {
	background: hsl(0, 0%, 100%);
	position: absolute;
	right: 0;
	z-index: 9;
	border: 1px solid #fdd08c;
	top: 5px;
}

.dropdown a {
	font-size: 10px;
	color: #9c9b9b;
	padding: 0 30px 0 15px;
	display: block;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.dropdown a:hover {
	background: #fdd08c;
	color: #5b5b53;
	position: relative;
}
.drp-wrap {
	position: relative;
	display: none;
}
.drop-arrow {
	position: absolute;
	right: 23px;
	top: 2px;
	z-index: 10;
}
.drp-wrap.visible {
	display: block;
}
.aside-wrp {
	left: 40px;
	position: fixed;
	top: 111px;
	width: 62px;	
	z-index: 99;
	
}
.fixed-menu {
	border: 1px solid #ebebeb;
	border-top: 11px solid #5b5b53;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 13px;
	background: #fff;
}
.fixed-menu li {
	margin-bottom: 12px;
	padding: 8px 0;
	text-align: center;
	position: relative;
}
.fixed-menu li span {
	display: block;
	font-size: 10px;
	color: #616159;
	line-height: 1;
}
.fixed-menu li a {
	display: block;
}
.fixed-menu li.active span {
	color: #fcb040;
}
.fixed-menu li:after{
	position: absolute;
	bottom:2px;
	right:5px;
	height: 7px;
	width: 7px;
	content: "";
	background: url(../img/corn.png) no-repeat;
}
.fixed-menu li.active:after{
	display: none;
}
.chat-blog3 .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
	background: #fcb040;
}

#wrapper {
	min-width: 1124px;
	background: url(../img/bg.png)no-repeat center center;
}
