<div class="content_set" ng-cloak="">
    <div class="mid_content">
        <spinner-loader ng-show="showspin"></spinner-loader>
        <section class="middle_section">

            <div class="imagesection" ng-repeat="class in dashboardClassesTrending track by $index" ng-if="showBoxView!='fromJedi'">
                <div class="box_Setting11">
                    <div class="images_setting1" style="background: url('{{class.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;"></div>
                    <!--<img ng-src="" alt="image" >-->
                    <div class="class_title" >
                        <p class="texting2"><strong>{{class.classData.className}}</strong></p>
                        <p class="texting1" >jedi: {{class.classData.teacherName}}</p>
                        <p class="texting1">Attendees: {{class.classData.studentId.length}} </p>
                        <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline;">{{class.classData.summary}}
                        </span></p>
                        <div class="when_hover1" ng-show="hover">{{class.classData.summary}}</div>

                        <span  class="star"  ng-init="getRating(class.classData.avgStarCount)">
                            <star-rate count="class.classData.avgStarCount"></star-rate>
                    </span>
                        <span class="star-avg-count">{{class.classData.avgStarCount}}</span>
                        <div class="clearfix"></div>
                        <ul class="popup-btn" style="margin:0 !important;">

                            <li class="btn_edit_set" >
                                <a  class="sure-btn-gr" style="width:100%;"ng-init="showEdit=false" ng-click="showEdit=!showEdit" >Invite</a>
                                <div class="edithoverOne" ng-show="showEdit" >

                                    <!--<i class="icon-close-black close_set" ng-click="showEdit=false"></i>-->
                                    <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                    <div class="clearfix"></div>
                                    <!--<form >-->
                                        <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                        <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                            <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                        <!--</button>-->
                                    <!--</form>-->
                                    <div class="clearfix"></div>
                                    <div>
                                        <ul style="position: absolute;top: 4px;left: 12px;">

                                            <li style="margin: 20px 1px 0 0;">
                                                <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                            </li>
                                            <li style="margin: 20px 1px 0 0;">
                                                <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                            </li>
                                            <li style="margin: 20px 1px 0 0;">
                                                <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                            </li>
                                            <li style="margin: 0 1px 0 0;">
                                                <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" style="position: absolute;top: 33%;right: -38px;" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="btn_width_Set">
                                <a class="cool-btn-gr cool-btn-gr_padding" style="width:100%;" ng-click="getClassDetail(class)">Class Detail</a>
                            </li>

                        </ul>
                    </div><!--class_title-->
                </div><!--box_setting1-->




            </div><!--imagesection-->




            <div class="imagesection" ng-repeat="class in dashboardClassesTrending track by $index" ng-if="showBoxView=='fromJedi'">
                                <div class="box_Setting11">
                                    <div class="images_setting1" style="background: url('{{class.userData.profile.profilePic}}') no-repeat center center;background-size: cover;cursor: pointer;" ng-click="getClassDetail(class)"></div>
                                    <!--<img ng-src="" alt="image" >-->
                                    <div class="class_title" >
                                        <p class="texting2"><strong>Jedi: {{class.userData.profile.firstName +' '+ class.userData.profile.lastName}}</strong></p>
                                        <p class="texting1" style="margin-top: 6px;">Experience: {{class.userData.profile.teacherProfile.experience}}</p>
                                        <p class="texting1" style="margin-top: 6px;">Total Classes: {{class.userData.myTeachingClasses.classIds.length}}</p>
                                        <!--<p class="texting1">When: <span style="text-decoration: underline;cursor: pointer;" ng-mouseover="hover=true" ng-mouseleave="hover=false">{{class.classData.summary}}</span></p>-->
                                        <div class="when_hover1" ng-show="hover">{{class.classData.summary}}</div>
                                        <div class="when_hover1" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>
                                        <span class="star " >
                                          <star-rate count="class.userData.avgStarCount"></star-rate>
                                    </span>
                                        <span class="star-avg-count">{{class.userData.avgStarCount}}</span>
                                        <div class="clearfix"></div>
                                        <ul class="popup-btn" style="margin:0 !important;margin-top: 6px !important;">
                
                                            <li class="invite_class_et" style="margin:0 !important;" >
                                                <a  class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit" >Invite</a>
                                                <div class="edithoverOne" ng-show="showEdit" >
                
                                                    <!--<i class="icon-close-black close_set"style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                                    <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                                    <div class="clearfix"></div>
                                                    <!--<form >-->
                                                        <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                                        <!--<button type="button" class="search-btn_set" style="color:#808080;background-color: white; right: 13px"  ng-disabled="inviteeEmail.length<=0">-->
                                                            <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                                        <!--</button>-->
                                                    <!--</form>-->
                                                    <div class="clearfix"></div>
                                                    <div>
                                                        <ul style="position: absolute;top: 14px;left: 12px;">
                
                                                        <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                                <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                                            </li>
                                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                                <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                                            </li>
                                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                                <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                                            </li>
                                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                                <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                
                                            </li>
                                            <li class="btn_width_Set">
                                                <a  class="cool-btn-gr cool-btn-gr_padding"  style="width:100%;" ng-click="getTeacherProfile(class)">Profile</a>
                                            </li>
                                        </ul>
                                    </div><!--class_title-->
                                </div>
                                <!--box_setting1-->
                            </div>



        </section><!--middle_section-->

     

    </div><!--mid_content-->

   
   

    <div class="clearfix" style="margin-bottom: 25px;"></div>

    <div style="text-align:center;" ng-if="loadMore">
        <button class="lodeMore btn uplode pink "  ng-click="loadMoreFn()">Load More</button>
    </div>
   
    <div class="hr_class"></div>

</div><!--content_set-->


