<style>
    .video-js {
        width: 100%;
        /*width: 287px;*/
        height: 215px;

    }
</style>

<div class="content_padding_setting_class_detail">
    <spinner-loader ng-show="showspin"></spinner-loader>
    <div class="top_content">
        <div class="total_review">
            <p style="display:block;" ng-bind="class.data.data.classData.className">Fashion Feast</p>
            <p class="p_setting "><a href=""></a>
                <span style="color:#fcb040; cursor: pointer;" ng-click="viewByCategory(class.data.data.classData.category.grandParentCategoryName,'grandParentCategoryName')">{{class.data.data.classData.category.grandParentCategoryName}} </span>
                <!--<span style="color:#fcb040" >&#8250;&nbsp;{{class.data.data.classData.category.parentCategoryName}}</span>-->
                <span style="color:#fcb040;cursor: pointer;" ng-click="viewByCategory(class.data.data.classData.category.categoryName,'categoryName')" >&#8250;&nbsp;{{class.data.data.classData.category.categoryName}}</span>

            </p>
        </div><!--totlareview-->
    </div>
    <div class="clearfix"></div>
    <div class="body_setting">
        <div class="div_set_center1">

            <div class="div_setting1" style="position: relative;">
                    <div class="image_setting1">
                        <div  class="embed-responsive embed-responsive-16by9 " >
                            <youtube-video  class="embed-responsive-item" video-url="class.data.data.classData.classYoutubeLink" player="bestPlayer" ></youtube-video>
                        </div>
                        <div class="play-video" style="top: 49%;right: 464px;" ng-show="onPlayStop">
                        </div>

                    </div><!--image_setting-->
                    <div class="content_setting_second_class_detail">
                        <div class="div_setting_second1">
                            <div class="tooltip" ng-click="getTeacherProfile(class.data.data.classData.teacherId)">
                                <h2 style="color:#fcb040;text-decoration:underline;text-align:left;cursor: pointer;">Teacher: {{class.data.profile.userData.profile.firstName}}</h2>

                                <span class="tooltiptext">
                    	<div class="left_view">
                	<div class="profile_set1">
                    	<img ng-src="{{class.data.profile.userData.profile.profilePic}}" alt="profile" class="profile_setting">
                    </div><!--profile_set-->
                    <div class="profile_detail">
                    	<p class="name_set" ng-bind="class.data.profile.userData.profile.firstName">Jenny</p>
                        <!--<p class="time_detail" ng-bind="class.data.profile.userData.profile.description">Fashion Designer</p>-->
                        <p class="time_detail" ng-if="class.data.profile.userData.profile.description!=undefined" ng-bind="class.data.profile.userData.profile.description">Fashion Designer</p>
                        <p class="time_detail" ng-if="class.data.profile.userData.profile.description==undefined" >Not Mentioned</p>

                    <!--<p class="time_detail1" ng-bind="class.data.profile.userData.profile.experience">Experience:2.5 years</p>-->
                        <p class="time_detail1" ng-if="teacherExperience!='0/0'">Experience:{{teacherExperience}} years</p>
                        <p class="time_detail1" ng-if="teacherExperience=='0/0'">Experience:Not Mentioned</p>
                    </div><!--"profile_detail-->
                </div>
                    </span><!--tootltip-->
                            </div>
                                <div class="content_setting">
                                    <p class="p_setting" style="font-family: 'Gotham Rounded'">Signed Up:
                                        <span style="font-family: 'Gotham Rounded Book'">{{class.data.data.classData.studentId.length}} padawan's</span>
                                    </p>
                                </div>
                                <div class="content_setting">
                                        <p class="p_setting" style="font-family: 'Gotham Rounded'">When: <span style="font-family: 'Gotham Rounded Book';">{{class.data.data.classData.summary}}</span></p>
                                </div>
                            <div class="content_setting">
                                    <p class="p_setting" style="font-family: 'Gotham Rounded'">Time: <span style="font-family: 'Gotham Rounded Book';" ng-bind="getClassTime(class.data.data.classData.timeDuration)">5:00 pm to 6:30pm</span></p>
                            </div>

                            <div class="content_setting2 content_setting2_inline" >
                                <button type="button" class="btn sm-btn primary-btn btn-two sm-btn2" style="min-width: 103px;" ng-init="showEdit=false" data-ng-click="selectInvite();showEdit=!showEdit">
                                    Invite
                                </button>
                                <div class="edithoverOne editHover_class_detail" ng-show="showEdit"  >

                                    <!--<i class="icon-close-black close_set" style="cursor: pointer;" ng-click="showEdit=false"></i>-->
                                    <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                    <div class="clearfix"></div>
                                    <!--<form >-->
                                        <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                        <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                            <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                        <!--</button>-->
                                    <!--</form>-->
                                    <div class="clearfix"></div>
                                    <div style="margin-bottom: 15px;margin-top: 15px;text-align: center;">
                                        <span style="text-align: center;position: absolute;top: 22px;left: 10px;">

                                            <span style="margin: 8px 3px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.data.data.classData.className}}" socialshare-url="{{class.data.data.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                            </span>
                                            <span style="margin: 8px 3px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.data.data.classData.className}}" socialshare-url="{{class.data.data.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                            </span>
                                            <span style="margin: 8px 3px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.data.data.classData.className}}" socialshare-url="{{class.data.data.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                            </span>
                                            <span style="margin: 8px 1px 0 0;cursor: pointer">
                                                <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" style="cursor: pointer;vertical-align: middle;" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.data.data.classData.className}}" socialshare-body="{{class.data.data.classData.classYoutubeLink}}" >
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <button ng-if="isLogin" type="button" ng-class='{button_disabled:favouriteText==="Added as favourite"}' data-ng-disabled="favouriteText=='Added as favourite'" class="btn sm-btn primary-btn btn-two sm-btn2 sm_second_btn" data-ng-click="setFavourites(class.data.data._id)">
                                    {{favouriteText}}
                                </button>

                            </div>
                            <div class="div_padding_star content_setting">
                                <div style="font-size: 18px;" class="span_size_class_detail">
                                    <div>
                                        <star-rate count="class.data.data.classData.avgStarCount"></star-rate>
                                    </div>
                                    <div style="margin-top: 3px;font-family: 'Gotham Rounded Book';">&nbsp;{{class.data.data.classData.avgStarCount}}</div>
                                    <div class="review_set span_size3" style="padding-left: 18px;padding-top: 4px;font-family: 'Gotham Rounded Book';"> {{class.data.data.classData.reviews.length}} reviews </div>
                                </div>    
                            </div>
                                </div><!--div_setting_second-->
                                </div><!--content_setting_second1-->

            </div><!--div_setting1-->
        </div><!--div_set_center-->
        <div class="clearfix"></div>
        <div class="text_float descSet">
            <div class="detail_class" ng-bind-html="class.data.data.classData.description"></div>

        </div><!--text_float-->
        <div class="clearfix"></div>

        <div style="float:left;" ng-show="(startButton==false) && (isAttend==false)">

            <button type="button" ng-class='{button_disabled:JoinButton == "Joined"}' data-ng-disabled="JoinButton == 'Joined'"class="btn sm-btn primary-btn btn-two sm-btn1" ng-click="joinClass(class)" >
                {{JoinButton}}
            </button>
            </div>

            <div style="float:left;" ng-show="(startButton==false) && (isAttend==true)">
                <button type="button" class="btn sm-btn primary-btn btn-two sm-btn1" ng-click="attendClass(class.data.data._id,class.data.data.classData.className)" >
                    In Session - Join
                </button>
           </div>

        <div style="float:left;" ng-show="startButton">
            <button  type="button" class="btn sm-btn primary-btn btn-two sm-btn2 start_class_width" data-ng-click="startClass(class.data.data._id,class.data.data.classData.className)">
                {{start}}
            </button>
        </div>

        <div class="clearfix"></div>
    </div> <!--body_setting-->
    <div style="clear:both;"></div>
    <div class="hr_class_second" style="margin: 17px 0 17px 0;" ></div>
    <div class="document_set" ng-show="class.data.data.classData.classDocument.length>0 || class.data.data.classData.classImageVideo>0">
        <h2 style="color:#fcb040;text-align:left;margin-bottom:5px;">Class Documents</h2>
        <div ng-if="credential.length>0" class="content_setting" ng-repeat="x in credential track by $index">
            <div style="float:left;">
                <p class="detail_class">{{$index+1}}:&nbsp;</p>
            </div>
            <div style="float:left;" >
                <p style="text-decoration:underline;" class="detail_class" ><a style="line-height:1.2;color: #646464;font-family:'Gotham Rounded Book';" href="" ng-click="getCredential(x.classDocUrl)">{{x.classDocName}}</a></p>
            </div>
        </div>

    </div><!---->
    <div class="hr_class_second"  style="margin: 26px 0 17px 0;"></div>

    <div class="mid_content">

        <section class="middle_section">
            <div class="clearfix">
                <h2 class="title_set" style="color:#fcb040;margin-bottom: 4px;">Previously Recorded Classes</h2>
                <div class="viewall_set">
                    <h5 class="head_set">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" style="margin-bottom:0px !important;margin-right: 0px;">
                        <button type="button" class="btn prev-btn" ng-click="getPrevClasses()">
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button type="button" class="btn next-btn"  ng-click="getNextClasses()">
                            <i class="icon-next-btn"></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div ng-show="showNoRecording"><p style="position: relative;top: 25px">Sorry you have no Recorded Classes.</p>
                <div class="hr_class_second"  style="margin: 26px 0 17px 0;"></div>
            </div>

            <div class="imagesection" ng-show="dataLength>0" ng-repeat="record in recordingClassData track by $index">
                <div class="box_Setting1 box_shadow" >

                    <!--<p class="para_set"> Happened On: Monday Jan 5th @ 6 PM</p>-->
                    <p class="para_set"> Happened On: {{record.classDate}}</p>
                    <!--<img src="assets/images/image_five.jpg" alt="image" class="images_setting images_setting_padding">-->
                    <div class="play-video" style="top:48%" ng-click="pauseOrPlay($event,record,$index)" ng-show="record.showPlayButton">
                        <a><img src="assets/images/play-video.png" alt="play-video"> </a>
                    </div>
                    <video  id="video{{$index}}" class="video-js" preload="auto"
                            poster="{{record.classImgUrl}}" data-setup="{}">
                        <!--<source src="https://seekoprofilepic.s3-us-west-2.amazonaws.com/5959ec55c02a540a08c020b1.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJAB7WSPI3OCFDRHA%2F20170705%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20170705T074630Z&X-Amz-Expires=900&X-Amz-Signature=535725927c7ffe2124752d4e236b96adfda92b56c44c8606f31314fa7336a7fc&X-Amz-SignedHeaders=host" type='video/mp4'>-->
                        <source data-ng-src="{{record.urlLink}}" type='video/mp4'>

                    </video>
                    <div>
                        <div class=" buttonstar_set" style="padding: 11px 0;">
                            <span style="float:right;font-size: 5px;margin-top: -6px" class="span_size_class_detail">
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                                <star-rate count="record.starCount"></star-rate>
                              </span>
                            <div style="width: 50%;float: left;">
                            <!--<p class="texting" style="font-size: 12.5px !important;">jedi:MATHtech</p>-->
                                <p class="texting" style="font-size: 12.5px !important;">jedi: {{record.classTeachName}}</p>
                            <p class="texting" style="font-size: 12.5px !important;position: relative;top: 16px;">{{record.attendingClass}} Padawans</p>

                            </div>
                        </div><!--text-->
                        <div class="buttonstar" style="margin-top: 10px;">
                            <div class="clearfix">

                            </div>
                            <ul class="popup-btn" style="margin:0 !important;">
                                <li style="margin:0 !important;" ng-click="pauseOrPlay($event,record,$index)">
                                    <a  class="cool-btn-gr">Play</a>
                                </li>
                                <li style="margin:0 !important;">
                                    <a  class="sure-btn-gr">Share</a>
                                </li>
                            </ul>
                        </div><!--buttons-->
                    </div>

                </div><!--box_setting1-->


                <!--<div class="box_Setting2 box_shadow">-->
                    <!--<p class="para_set"> Happened On: Monday Jan 5th @ 6 PM</p>-->
                    <!--<img src="assets/images/image_two.jpg" alt="image" class="images_setting images_setting_padding">-->
                    <!--<div class="play-video" style="top:48%">-->
                        <!--<a href="#"><img src="assets/images/play-video.png" alt="play-video"> </a>-->

                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="buttonstar_set" style="padding: 11px 0;">-->
                            <!--<span style="float:right;font-size: 16px;" class="span_size_class_detail">-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                              <!--</span>-->
                            <!--<div style="width: 50%;float: left;">-->
                                <!--<p class="texting" style="font-size: 12.5px !important;">jedi:MATHtech</p>-->
                                <!--<p class="texting" style="font-size: 12.5px !important;position: relative;top: 16px;">89Padawans</p>-->

                            <!--</div>-->
                        <!--</div>&lt;!&ndash;text&ndash;&gt;-->
                        <!--<div class="buttonstar" style="margin-top: -23px;">-->
                            <!--<div class="clearfix">-->

                            <!--</div>-->
                            <!--<ul class="popup-btn" style="margin:0 !important;float: right;">-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a  class="cool-btn-gr">Play</a>-->
                                <!--</li>-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="sure-btn-gr">Share</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash;buttons&ndash;&gt;-->
                    <!--</div>-->

                <!--</div>&lt;!&ndash;box_setting2&ndash;&gt;-->


                <!--<div class="box_Setting3 box_shadow">-->
                    <!--<p class="para_set"> Happened On: Monday Jan 5th @ 6 PM</p>-->
                    <!--<img src="assets/images/image_three.jpg" alt="image" class="images_setting images_setting_padding">-->
                    <!--<div class="play-video" style="top:48%">-->
                        <!--<a href="#"><img src="assets/images/play-video.png" alt="play-video"> </a>-->

                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="buttonstar_set" style="padding: 11px 0;">-->
                            <!--<span style="float:right;font-size: 16px;" class="span_size_class_detail">-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                              <!--</span>-->
                            <!--<div style="width: 50%;float: left;">-->
                                <!--<p class="texting" style="font-size: 12.5px !important;">jedi:MATHtech</p>-->
                                <!--<p class="texting" style="font-size: 12.5px !important;position: relative;top: 16px;">89Padawans</p>-->

                            <!--</div>-->
                        <!--</div>&lt;!&ndash;text&ndash;&gt;-->
                        <!--<div class="buttonstar" style="margin-top: -23px;">-->
                            <!--<div class="clearfix">-->

                            <!--</div>-->
                            <!--<ul class="popup-btn" style="margin:0 !important;float: right;">-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="cool-btn-gr">Play</a>-->
                                <!--</li>-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="sure-btn-gr">Share</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash;buttons&ndash;&gt;-->
                    <!--</div>-->

                <!--</div>&lt;!&ndash;box_setting3&ndash;&gt;-->

                <!--<div class="box_Setting4 box_shadow">-->
                    <!--<p class="para_set"> Happened On: Monday Jan 5th @ 6 PM</p>-->
                    <!--<img src="assets/images/image_four.jpg" alt="image" class="images_setting images_setting_padding">-->
                    <!--<div class="play-video" style="top:48%">-->
                        <!--<a href="#"><img src="assets/images/play-video.png" alt="play-video"> </a>-->

                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="buttonstar_set" style="padding: 11px 0;">-->
                            <!--<span style="float:right;font-size: 16px;" class="span_size_class_detail">-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                              <!--</span>-->
                            <!--<div style="width: 50%;float: left;">-->
                                <!--<p class="texting" style="font-size: 12.5px !important;">jedi:MATHtech</p>-->
                                <!--<p class="texting" style="font-size: 12.5px !important;position: relative;top: 16px;">89Padawans</p>-->

                            <!--</div>-->
                        <!--</div>&lt;!&ndash;text&ndash;&gt;-->
                        <!--<div class="buttonstar" style="margin-top: -23px;">-->
                            <!--<div class="clearfix">-->

                            <!--</div>-->
                            <!--<ul class="popup-btn" style="margin:0 !important;float: right;">-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="cool-btn-gr">Play</a>-->
                                <!--</li>-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="sure-btn-gr">Share</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash;buttons&ndash;&gt;-->
                    <!--</div>-->

                <!--</div>&lt;!&ndash;box_setting4&ndash;&gt;-->

                <!--<div class="box_Setting5 box_shadow">-->
                    <!--<p class="para_set"> Happened On: Monday Jan 5th @ 6 PM</p>-->
                    <!--<img src="assets/images/image_five.jpg" alt="image" class="images_setting images_setting_padding">-->
                    <!--<div class="play-video" style="top:48%">-->
                        <!--<a href="#"><img src="assets/images/play-video.png" alt="play-video"> </a>-->

                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="buttonstar_set" style="padding: 11px 0;">-->
                            <!--<span style="float:right;font-size: 16px;" class="span_size_class_detail">-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                              <!--</span>-->
                            <!--<div style="width: 50%;float: left;">-->
                                <!--<p class="texting" style="font-size: 12.5px !important;">jedi:MATHtech</p>-->
                                <!--<p class="texting" style="font-size: 12.5px !important;position: relative;top: 16px;">89Padawans</p>-->

                            <!--</div>-->
                        <!--</div>&lt;!&ndash;text&ndash;&gt;-->
                        <!--<div class="buttonstar" style="margin-top: -23px;">-->
                            <!--<div class="clearfix">-->

                            <!--</div>-->
                            <!--<ul class="popup-btn" style="margin:0 !important;float: right;">-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="cool-btn-gr">Play</a>-->
                                <!--</li>-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="sure-btn-gr">Share</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash;buttons&ndash;&gt;-->
                    <!--</div>-->

                <!--</div>&lt;!&ndash;box_setting5&ndash;&gt;-->

                <!--<div class="box_Setting6 box_shadow">-->
                    <!--<p class="para_set"> Happened On: Monday Jan 5th @ 6 PM</p>-->
                    <!--<img src="assets/images/image_six.jpg" alt="image" class="images_setting images_setting_padding">-->
                    <!--<div class="play-video" style="top:48%">-->
                        <!--<a href="#"><img src="assets/images/play-video.png" alt="play-video"> </a>-->

                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="buttonstar_set" style="padding: 11px 0;">-->
                            <!--<span style="float:right;font-size: 16px;" class="span_size_class_detail">-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: #f26436;"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                            <!--<i class="fa fa-heart" aria-hidden="true" style="color: rgba(0, 0, 0, 0.13);"></i>-->
                              <!--</span>-->
                            <!--<div style="width: 50%;float: left;">-->
                                <!--<p class="texting" style="font-size: 12.5px !important;">jedi:MATHtech</p>-->
                                <!--<p class="texting" style="font-size: 12.5px !important;position: relative;top: 16px;">89Padawans</p>-->

                            <!--</div>-->
                        <!--</div>&lt;!&ndash;text&ndash;&gt;-->
                        <!--<div class="buttonstar" style="margin-top: -23px;">-->
                            <!--<div class="clearfix">-->

                            <!--</div>-->
                            <!--<ul class="popup-btn" style="margin:0 !important;float: right;">-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="cool-btn-gr">Play</a>-->
                                <!--</li>-->
                                <!--<li style="margin:0 !important;">-->
                                    <!--<a class="sure-btn-gr">Share</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash;buttons&ndash;&gt;-->
                    <!--</div>-->

                <!--</div>&lt;!&ndash;box_setting6&ndash;&gt;-->
            </div><!--imagesection-->
        </section><!--middle_section-->
    </div><!--mid_content-->

    <div class="clearfix" style="margin-bottom: 40px;"></div>

    <!--calender setting-->
    <div class="clearfix"></div>


    <div class="calender-wrap1">
        <div>
            <h2>Schedule</h2>
        </div>
        <div class="calender_width">
            <div class="clander_header">
                <button type="button" class="btn_class_set" ng-click="previousMonth()" ><img src="assets/images/video_play_left_icon.png" alt="">
                </button>
                <button type="button" class="btn_class_set1" ng-click="nextMonth()" ><img src="assets/images/video_play_right_icon.png" alt="">
                </button>
                <h3 style="font-size:25px;padding:11px;color:white;text-align:center;">{{calendar.monthName}} {{calendar.year}}</h3>
            </div>
        </div>
        <div>

            <div class="cells1">Sun</div>
            <div class="cells1">Mon</div>
            <div class="cells1 selected1">Tues</div>
            <div class="cells1">Wed</div>
            <div class="cells1">Thurs</div>
            <div class="cells1">Fri</div>
            <div class="cells1">Sat</div>

            <div class="cells" ng-class="{ unvalid: day.isDisabled ,selected: day.isSelected}" ng-mouseover="isSelected=true" ng-repeat="day in days track by $index" >{{day.day}}
                <p class="calendar_summary"><span ng-if="day.isSelected==true">{{day.summary}}</span></p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!--write a review-->
    <div class="writereview">
        <div ng-if="!isMyClass && isLogin">
        <div class="div_setting1">
            <div class="image_setting2">
                <div class="write_review_image">
                    <img ng-src="{{profilePic}}" alt="image" style="margin: 6px;padding:10px 0 0 0;max-width: 75%">
                </div>
                <div class="write_a_review">
                    <p class="name_setting">{{userName}}</p>
                    <textarea rows="3" cols="4" placeholder="write a review" class="textarea_Set"
                              wrap="hard" ng-model="classReview.review"></textarea>
                </div>
                <div class="clearfix"></div>
                <div style="padding:4px 0 4px 119px;height:44px;">
                    <p class="review_set" style="float:left;padding:12px 0 0 0px;"> {{reviews.length}} reviews </p>
                    <span style="float:left;padding:12px 0 0 4px;cursor: pointer;"  ng-repeat="star in stars track by $index" >
                        	 <i class="fa fa-heart" aria-hidden="true" ng-class="{half_heart:!star.like,full_heart:star.like}" ng-click="getStarCount($index)"></i>
                        </span>

                    <button type="button" class="btn sm-btn primary-btn btn-two btnn" data-ng-disabled="postReviewButton" ng-click="postReview(class.data.data._id,class.data.data.classData.teacherId,class.data.data.classData.className);">
                        Post
                    </button>
                </div>
            </div><!--image_setting-->
        </div>
        </div>
        <div>

            <!--/write a review-->
            <!--box shadow section-->
            <div style="width:100%;height:auto;">
                <img src="assets/images/shadow_image.png" alt="shadow" width="100%">
            </div><!--box-shadow-->
            <div class="clearfix" style="margin-bottom: 25px;"></div>

            <!--total review section-->
            <div  class="mid_content" ng-if="reviews!=0">
                <div class="total_review" >
                    <p style="font-size: 30px;display:block;">Reviews</p>
                    <p style="font-size: 24px;display:block;">Total Reviews:  {{reviewsCount.length}} </p>
                </div><!--totlareview-->
                <!--<div id="scrollArea">-->
                    <div id="">
                    <div  ng-repeat="review in reviews track by $index">
                    <div class="review_detail">
                        <div class="left_view">
                            <div class="profile_set" >
                                <img ng-click="getReviewedUser(review.userId,review.userType)" ng-src="{{review.profilePic}}" alt="profile" class="profile_setting" style="cursor: pointer;">
                            </div><!--profile_set-->
                            <div class="profile_detail">
                                <p class="name_set" ng-bind="review.userName">Sussy Markin</p>
                                <p class="time_detail">{{review.date | date : "EEEE,MMMM dd,yyyy"}}</p>
                                <span style="float:left;font-size: 16px;" class="span_size_class_detail">
                                    <star-rate count="review.starCount"></star-rate>
                              </span>
                                <p class="time_detail1" ng-init="getUserReviews(review)">&nbsp;&nbsp;{{review.count}} Reviews</p>
                              </div><!--"profile_detail-->
                        </div><!--left_view-->
                        <div class="right_view">
                            <p ng-bind="review.comment">
                                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
                                mi, qui irure terr.Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt
                                tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg
                                carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                                sweater eu banh mi, qui irure terr.
                            </p>
                        </div><!--right_view-->
                    </div><!--review_detail-->
                    <div class="clearfix"></div>
                    <div class="hr_class_second" ng-if="$index!=reviews.length-1">

                    </div>
                    <div class="clearfix"></div>
                    <!--first review complete-->
                </div>
                    <div style="text-align:center;" ng-if="reviewsCount.length>10">
                        <button class="btn" ng-click="loadMore()" >Load More</button>
                    </div>
                </div>

                <!--3rd review complete-->
            </div><!--reviewsec-->

        </div><!--content_set-->
    </div>

    <!--calender setting end-->
    <!--write a review-->

</div>

