<div class="content_set" ng-cloak="">
    <div class="mid_content">
        <spinner-loader ng-show="showspin"></spinner-loader>
        <section class="middle_section">
            <div class="clearfix">
                <h2 class="title_set">Trending:</h2>
                <div class="viewall_set">

                    <h5 class="head_set hoverset" style="cursor: pointer;" ng-click="viewAllTrending()" ng-style="textClr" ng-mouseover="changeCssOnHover()" ng-mouseleave="changeCssOnLeave()">View All</h5>

                    <div class="btn primary-btn next-prev-wrap" ng-class="{'btnDisable':trendingData.length < 6}" style="margin-bottom:0px !important;">
                        <button ng-disabled="trendingData.length < 6" type="button" class="btn prev-btn"ng-click="getPrevClasses('trending')" >
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button ng-disabled="trendingData.length < 6" type="button" class="btn next-btn" ng-click="getNextClasses('trending')" >
                            <i class="icon-next-btn"></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div class="imagesection" ng-repeat="class in dashboardClassesTrending track by $index" ng-if="dashboardClassesTrending.length>0">
                <div class="box_Setting11">
                    <div class="images_setting1" style="background: url('{{class.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;cursor: pointer;" ng-click="getClassDetail(class)"></div>
                    <!--<img ng-src="" alt="image" >-->
                    <div class="class_title" >
                        <p class="texting2"><strong title="{{class.classData.className}}">Title: {{class.classData.className}} </strong></p>
                        <p class="texting1" >jedi: {{class.classData.teacherName}}</p>
                        <p class="texting1">Signed Up: {{class.classData.studentId.length}} </p>
                        <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline;cursor: pointer">{{class.classData.summary}}
                        </span></p>
                        <div class="when_hover1" ng-show="hover">{{class.classData.summary}}</div>
                        <div class="when_hover1" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>

                        <span  class="star"  ng-init="getRating(class.classData.avgStarCount)">
                            <star-rate count="class.classData.avgStarCount"></star-rate>
                    </span>
                        <span class="star-avg-count">{{class.classData.avgStarCount}}</span>
                        <div class="clearfix"></div>
                        <ul class="popup-btn" style="margin:0 !important;">

                            <li class="invite_class_et" style="margin:0 !important;" >
                                <a  class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit" >Invite</a>
                                <div class="edithoverOne" ng-show="showEdit" >

                                    <!--<i class="icon-close-black close_set crossIcon"style="cursor: pointer" ng-click="showEdit=false">x</i>-->
                                    <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                    <div class="clearfix"></div>
                                    <!--<form >-->
                                        <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                        <!--<button type="button" class="search-btn_set" ng-disabled="inviteeEmail.length<=0">-->
                                            <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                        <!--</button>-->
                                    <!--</form>-->
                                    <div class="clearfix"></div>
                                    <div>
                                        <ul style="position: absolute;top: 14px;left: 12px;">

                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>
                            <li class="btn_width_Set">
                                <a class="cool-btn-gr cool-btn-gr_padding" style="width:100%;" ng-click="getClassDetail(class)">Class Detail</a>
                            </li>

                        </ul>
                    </div><!--class_title-->
                </div><!--box_setting1-->
            </div>
            <div class="imagesection" ng-if="dashboardClassesTrending.length<1" style="position: relative;top: 20px;"> There is no trending classes in this category right now. </div><!--imagesection-->
        </section><!--middle_section-->
    </div><!--mid_content-->
    <div class="clearfix" style="margin-bottom: 25px;"></div>
    <div class="hr_class"></div>
    <!--2nd mid content-->
    <div class="mid_content">

        <section class="middle_section">
            <div class="clearfix">
                <h2 class="title_set">Live Now:</h2>
                <div class="viewall_set">
                    <h5 class="head_set" style="cursor: pointer;" ng-click="viewAllLive()" ng-style="textClr1" ng-mouseover="changeCssOnHover1()" ng-mouseleave="changeCssOnLeave1()">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" ng-class="{'btnDisable':liveData.length < 6}" style="margin-bottom:0px !important;">
                        <button type="button" class="btn prev-btn" ng-disabled="liveData.length < 6" ng-click="getPrevClasses('liveNow')" >
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button  type="button" class="btn next-btn" ng-disabled="liveData.length < 6"  ng-click="getNextClasses('liveNow')" >
                            <i class="icon-next-btn"></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div class="imagesection" ng-repeat="class in dashboardClassesLive track by $index" ng-if="dashboardClassesLive.length>0">
                <div class="box_Setting11">
                    <div class="images_setting1" style="background: url('{{class.classData.classImageVideo[0].classDocUrl}}') no-repeat center center;background-size: cover;cursor: pointer;" ng-click="getClassDetail(class)"></div>
                    <!--<img ng-src="{{class.classData.classImageVideo[0].classDocUrl}}" alt="image" class="images_setting1">-->
                    <div class="class_title" >
                        <p class="texting2"><strong>Title: {{class.classData.className}}</strong></p>
                        <p class="texting1" >jedi: {{class.classData.teacherName}}</p>
                        <p class="texting1">Signed Up: {{class.classData.studentId.length}}</p>
                        <p class="texting1" ng-mouseover="hover=true" ng-mouseleave="hover=false">When: <span style="text-decoration: underline;cursor: pointer">{{class.classData.summary}}</span></p>
                        <div class="when_hover1" ng-show="hover">{{class.classData.summary}}</div>
                        <div class="when_hover1" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>
                        <span class="star " >
                            <star-rate count="class.classData.avgStarCount"></star-rate>
                    </span>
                        <span class="star-avg-count">{{class.classData.avgStarCount}}</span>
                        <div class="clearfix"></div>
                        <ul class="popup-btn" style="margin:0 !important;">

                            <li class="invite_class_et" style="margin:0 !important;" >
                                <a  class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit" >Invite</a>
                                <div class="edithoverOne" ng-show="showEdit" >

                                    <!--<i class="icon-close-black close_set"style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                    <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                    <div class="clearfix"></div>
                                    <!--<form >-->
                                        <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                        <!--<button type="button" class="search-btn_set" style="color:#808080;background-color: white;right: 13px"  ng-disabled="inviteeEmail.length<=0" >-->
                                            <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                        <!--</button>-->
                                    <!--</form>-->
                                    <div class="clearfix"></div>
                                    <div>
                                        <ul style="position: absolute;top: 14px;left: 12px;">

                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px"  socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>
                            <li class="btn_width_Set">
                                <a  class="cool-btn-gr cool-btn-gr_padding"  style="width:100%;" ng-click="getClassDetail(class)">Class Detail</a>
                            </li>
                        </ul>
                    </div><!--class_title-->
                </div><!--box_setting1-->


            </div><!--imagesection-->
            <div class="imagesection" ng-if="dashboardClassesLive.length<1" style="position: relative;top: 20px;"> There is no live classes in this category right now. </div><!--imagesection-->
        </section><!--middle_section-->
    </div><!--mid_content-->
    <!--/2nd mid content-->
    <div class="clearfix"></div>
    <div class="hr_class"></div>
    <div class="mid_content">

        <section class="middle_section">
            <div class="clearfix">
                <h2 class="title_set">Top Jedi's:</h2>
                <div class="viewall_set">
                    <h5 class="head_set" style="cursor: pointer;" ng-click="viewAllJedis()" ng-style="textClr2" ng-mouseover="changeCssOnHover2()" ng-mouseleave="changeCssOnLeave2()">View All</h5>
                    <div class="btn primary-btn next-prev-wrap" ng-class="{'btnDisable':classData.length < 6}" style="margin-bottom:0px !important;">
                        <button type="button"  class="btn prev-btn" ng-disabled="classData.length < 6" ng-click="getPrevClasses('teacher')" >
                            <i class="icon-prev-btn"></i>
                        </button>
                        <button type="button" class="btn next-btn" ng-disabled="classData.length < 6" ng-click="getNextClasses('teacher')" >
                            <i class="icon-next-btn"></i>
                        </button>
                    </div>
                </div><!--viewall_set-->
            </div><!--clearfix-->
            <div class="imagesection" ng-repeat="class in dashboardClasses track by $index">

                <div class="box_Setting11">
                    <div class="images_setting1" style="background: url('{{class.userData.profile.profilePic}}') no-repeat center center;background-size: cover;cursor: pointer;" ng-click="getClassDetail(class)"></div>
                    <!--<img ng-src="" alt="image" >-->
                    <div class="class_title" >
                        <p class="texting2"><strong>Jedi: {{class.userData.profile.firstName +' '+ class.userData.profile.lastName}}</strong></p>
                        <p class="texting1" style="margin-top: 6px;">Experience: {{class.userData.profile.teacherProfile.experience}}</p>
                        <p class="texting1" style="margin-top: 6px;">Total Classes: {{class.userData.myTeachingClasses.classIds.length}}</p>
                        <!--<p class="texting1">When: <span style="text-decoration: underline;cursor: pointer;" ng-mouseover="hover=true" ng-mouseleave="hover=false">{{class.classData.summary}}</span></p>-->
                        <div class="when_hover1" ng-show="hover">{{class.classData.summary}}</div>
                        <div class="when_hover1" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>
                        <span class="star " >
                          <star-rate count="class.userData.avgStarCount"></star-rate>
                    </span>
                        <span class="star-avg-count">{{class.userData.avgStarCount}}</span>
                        <div class="clearfix"></div>
                        <ul class="popup-btn" style="margin:0 !important;margin-top: 6px !important;">

                            <li class="invite_class_et" style="margin:0 !important;" >
                                <a  class="sure-btn-gr" style="width:100%;" ng-init="showEdit=false" ng-click="showEdit=!showEdit" >Invite</a>
                                <div class="edithoverOne" ng-show="showEdit" >

                                    <!--<i class="icon-close-black close_set"style="cursor: pointer" ng-click="showEdit=false"></i>-->
                                    <i class="fa fa-times-circle-o" aria-hidden="true" style="cursor: pointer;float: right;color: white;padding: 2px" ng-click="showEdit=false"></i>
                                    <div class="clearfix"></div>
                                    <!--<form >-->
                                        <!--<input type="text" name="search_text" value="" class="search-text_set" placeholder="Type your friends email id" ng-model="inviteeEmail" style="FONT-FAMILY: GOTHAM ROUNDED BOOK;FONT-SIZE:12PX;">-->
                                        <!--<button type="button" class="search-btn_set" style="color:#808080;background-color: white; right: 13px"  ng-disabled="inviteeEmail.length<=0">-->
                                            <!--<i class="fa fa-search" aria-hidden="true" socialshare socialshare-provider="email" socialshare-to="{{inviteeEmail}}" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}"></i>-->
                                        <!--</button>-->
                                    <!--</form>-->
                                    <div class="clearfix"></div>
                                    <div>
                                        <ul style="position: absolute;top: 14px;left: 12px;">

                                        <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                            </li>
                                            <li style="margin: 8px 1px 0 0;cursor: pointer">
                                                <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>
                            <li class="btn_width_Set">
                                <a  class="cool-btn-gr cool-btn-gr_padding"  style="width:100%;" ng-click="getTeacherProfile(class)">Profile</a>
                            </li>
                        </ul>
                    </div><!--class_title-->
                </div>
                <!--box_setting1-->
            </div><!--imagesection-->
            <div class="imagesection" ng-if="dashboardClasses.length<1" style="position: relative;top: 20px;"> There is no top jedi's in this category right now. </div><!--imagesection-->

        </section><!--middle_section-->
    </div><!--mid_content-->
    <div class="clearfix"></div>
    <!--<hr style="margin: 30px 0 45px 0;">-->
    <!--create class-->

    <!--/createclass-->
</div><!--content_set-->
