
<div style="background: #f3f3f3;" class="content_set" >
    <spinner-loader ng-show="showspin"></spinner-loader>
    <div style="margin-top: 0px;" class="circle-operate-icons radio_icon" >


        <div class="cust-radio" style="float:left;font-size: 21px;margin-right:20px;">
            <input type="radio" id="radio01" value="all" name="radio" ng-model="choice" ng-change="getCalendarByChoice()">
            <label for="radio01"><span><small></small></span></label>
            All Classes
        </div>
        <div class="cust-radio" style="float:left;font-size: 21px;margin-right:20px;" ng-show="userType">
            <input type="radio" id="radio02" value="teach" name="radio" ng-model="choice" ng-change="getCalendarByChoice()">
            <label for="radio02"><span><small></small></span> </label>
            Classes I'm Teaching
        </div>
        <div class="cust-radio" style="float:left;font-size: 21px;" >
            <input type="radio" id="radio03" value="attend" name="radio" ng-model="choice" ng-change="getCalendarByChoice()">
            <label for="radio03"><span><small></small></span> </label>
            Classes I've Attended
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="calender-wrap1">
        <div>
            <h2>Schedule</h2>
        </div>
        <div class="calender_width">
            <div class="clander_header">
                <button type="button" class="btn_class_set" ng-click="previousMonth()" ><img src="assets/images/video_play_left_icon.png" alt="">
                </button>
                <button type="button" class="btn_class_set1" ng-click="nextMonth()" ><img src="assets/images/video_play_right_icon.png" alt="">
                </button>
                <h3 style="font-size:25px;padding:11px;color:white;text-align:center;">{{calendar.monthName}} {{calendar.year}}</h3>
            </div>
        </div>
        <div>

                <div class="cells1">Sun</div>
                <div class="cells1">Mon</div>
                <div class="cells1 selected1">Tues</div>
                <div class="cells1">Wed</div>
                <div class="cells1">Thurs</div>
                <div class="cells1">Fri</div>
                <div class="cells1">Sat</div>

            <div
                 class="cells" ng-class="{ unvalid: day.isDisabled ,selected: (isSelected && day.classes.length>0)}"  ng-disabled="day.isDisabled" ng-repeat="day in days track by $index" ng-click="isSelected=!isSelected">{{day.day}}
                <h3 class="classes1" ng-show="day.classes.length>0"><strong class="font_weight">{{day.classes.length}}</strong> Classes</h3>

                <div ng-class="{calendar_triangle:day.isLeft,calendar_triangle_right:day.isRight}" ng-show="day.classes.length>0 && isSelected"></div>
                    <div ng-class="{calender_hover:day.isLeft, calender_hover_right: day.isRight}" ng-show="day.classes.length>0 && isSelected" ng-click="$event.stopPropagation();">


                    <div>
                        <!--hoversection-->

                        <!--<a  class="close-btn1" ng-click="isSelected=false"><i class="fa fa-times" aria-hidden="true"></i></a>-->
                        <a  class="close-btn1" ng-click="isSelected=false"><img src="assets/images/cross_icon_black.png" alt="image"></i></a>

                        <div class="box1"  ng-repeat="class in day.classes">
                            <h5 style="float: left;padding-top: 2px;color:white;">{{class.classData.fromDate | date : "EEEE M/dd/yyyy "}}</h5>
                            <h5 style="float: right;padding-top: 2px;color:white;" ng-bind="getClassTime(class.classData.timeDuration)"></h5>
                            <div class="class1" style="position: relative;">
                                <img src="{{class.classData.classImageVideo[0].classDocUrl}}" alt="image" class="hover_image">
                                <div class="hover_class_title">
                                    <p class="texting2" ><strong>{{class.classData.className}}</strong></p>
                                    <p class="texting1">jedi: {{class.classData.teacherName}}</p>
                                    <p class="texting1">Attendees: {{class.classData.studentId.length}}</p>
                                    <p class="texting1" ng-mouseleave="hover=false" ng-mouseover="hover=true">When: <span style="text-decoration: underline;cursor: pointer">{{class.classData.summary}}</span></p>
                                    <div class="when_hover1" style="bottom: 91px;left:191px;width: 190px;" ng-show="hover">{{class.classData.summary}}</div>
                                    <div class="when_hover1" style="bottom: 91px;left:191px;width: 190px;" ng-show="hover && class.classData.reoccuringClasses">{{"Occurs Every"+ class.classData.summary}}</div>

                                    <span style="float:left;margin: 1px 0;font-size: 14px;">
                                        <star-rate count="class.classData.avgStarCount"></star-rate>
                                    </span>
                                    <span class="star-avg-count-cal">{{class.classData.avgStarCount}}</span>
                                    <div class="clearfix"></div>
                                    <ul class="popup-btn" style="margin:0 !important;display:inline-block;">

                                        <li class="btn_edit_setting">
                                            <a class="sure-btn-gr sure-btn-gr_inline"  ng-init="showEdit=false" ng-click="showEdit=!showEdit;">Invite</a>
                                            <div class="edithover_calendar" ng-show="showEdit" >

                                                <i class="icon-close-black close_set" ng-click="showEdit=false"></i>

                                                <div class="clearfix"></div>
                                                <form>
                                                    <input type="text" name="search_text" value="" class="search-text_set" style="font-size: 12px;font-family: 'Gotham Rounded Book'"placeholder="Type your friends email id">
                                                    <button type="button" class="search-btn_set">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                                <div class="clearfix"></div>
                                                <div>
                                                    <ul>
                                                        <li style="margin: 8px 1px 0 0;">
                                                            <i href="#" socialshare socialshare-provider="twitter" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon tw-link"></i>
                                                        </li>
                                                        <li style="margin: 8px 1px 0 0;">
                                                            <i href="#" socialshare socialshare-provider="facebook" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" socialshare-via="276324179413046" socialshare-type="feed" class="social-icon fb-link"></i>
                                                        </li>
                                                        <li style="margin: 8px 1px 0 0;">
                                                            <i href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{class.classData.className}}" socialshare-url="{{class.classData.classYoutubeLink}}" class="social-icon ln-link"></i>
                                                        </li>
                                                        <li style="margin: 0 1px 0 0;">
                                                            <img src="assets/images/mail_icon.png" alt="" height="41px" width="41px" style="position: absolute;top: 47%;right: 19px;" socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="{{class.classData.className}}" socialshare-body="{{class.classData.classYoutubeLink}}" >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="btn_width_Setting">
                                            <a  class="cool-btn-gr cool-btn-gr-inline"  ng-click="getClassDetail(class)">Class Detail</a>
                                        </li>
                                    </ul>
                                </div><!--class_title-->
                            </div><!--class1-->
                        </div><!--box1-->
                        <!--/hoversection-->
                    <!--</div>-->
                        </div>
                        </div>



            </div>



        <!--</div>-->
    </div>
        <div class="clearfix"></div>
</div>
</div>
