
<div class="login-overlay">
    <div class="login-wrap ">
        <h2 class="head-title">Login <a  class="close" ><i class="sp-icon cross-icon" style="cursor: pointer" ng-click="removeClass()"></i></a></h2>
        <form id="login"class="form-cont-wrapper" name="loginForm" style="overflow: auto;" ng-enter="login()">
            <ul class="form_ul">
                <li>
                    <input  type="text" class="text-box Modal_text-box" placeholder="Email Id" ng-pattern="/^[A-Za-z0-9._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{2,4}/"  name="email" ng-change="onChange()" data-ng-model="loginField.email" required/>
                    <span ng-show="!loginForm.email.$error.required" style="color:#ff353b">
                    <span style="color:#ff353b;font-size: 14px" ng-show="loginForm.email.$error.pattern" data-title="Not valid email!">
                                 Not Valid Email!
                    </span>
                        </span>
                </li>
                <li>
                    <input type="password" class="text-box Modal_text-box"  placeholder="Password" name="password"  ng-change="onChange()" data-ng-model="loginField.password"required />
                <span ng-show="loginForm.password.$error.required"></span>
                </li>
                <li class="forgot-pass">
                    <a href="#" data-ng-click="resetPassword()">Forgot Your Password ?</a>
                </li>
                <li>
                    <button type="button" class="login-button" ng-disabled="loginForm.email.$error.required||loginForm.password.$error.required || loginForm.email.$error.pattern" data-ng-click="login()" style="position: relative" >
                        Login<div ng-show="buttonLoader" style="position: absolute;background: rgba(198, 204, 210, 0.6);width: 100%;height: 100%;top: 0;z-index: 1"><span class="fa fa-refresh fa-spin" style="float: left;margin-left: 155px;margin-top: 10px;"></span></div>
                    </button>
                    <span ng-show="errorMsg"
                          style="line-height: 20px;font-size: 14px;text-align: center;color: #e5392f;font-family: 'Gotham Rounded Book'; display: block;margin-top: 13px"><strong>Invalid Login</strong>
                    </span>
                </li>
                <li>
                    <span class="divider">or</span>
                </li>
                <li>
                    <button type="button" class="login-fb" data-ng-click="loginWithFacebook()"style="position: relative">
                        <i class="sp-icon icon-fb"></i> Login with <span>facebook
                        <div ng-show="buttonLoaderTwo" style="position: absolute;background: rgba(198,204,210,0.6);width: 100%;height: 100%;top: 0;left:0;z-index: 1"><span class="fa fa-refresh fa-spin" style="float: left;margin-left: 170px;margin-top: 10px;"></span></div>
                    </span>
                    </button>
                </li>
                <li>
                    <google-plus-signin clientid="191894381063-1dgiiihcqe318f8gc4gtqvlb8u01aap8.apps.googleusercontent.com" autorender="false" customtargetid="googleSignup1">
                    <button type="button" class="login-gmail" id="googleSignup1">
                        <i class="sp-icon icon-gplus"></i> Login with <span>gmail</span>
                    </button>
                        </google-plus-signin>
                </li>
                <li>
                    <span class="create-acc">Don't have an account ?<a href="#" data-ng-click="createAccount()"> Create One !</a></span>
                </li>
            </ul>
        </form>
    </div>
</div>
