<div class="login-overlay">
    <div class="login-wrap " >
<div class="reset-pass fl-left mb-75" style="margin-top: 25%" >
    <h2 class="head-title">Reset Password<a href="#" class="close" data-ng-click="closeResetPassword()"><i class="sp-icon cross-icon"></i></a></h2>
    <form class="reset-pass-form form-cont-wrapper">
        <ul class="form_ul">
            <li>
                <input type="text" class="text-box Modal_text-box" placeholder="EMAIL ID" name="email-textbox" data-ng-model="resetPasswordMailId"/>
            </li>
            <li>
                <button type="button" class="sign-button login-button" data-ng-click="confirmPasswordReset()">
                    Reset
                </button>
            </li>
        </ul>
    </form>
</div>
        </div>
</div>